[2020-05-07 07:15] danielcondemarin commented on #236
The function size will increase depending on how many server side rendered pages you have. Unfortunately next's serverless target doesn't dedup common dependencies across page bundles, which is why they've introduced a new target, the `serverless-trace` which I will be adding pretty soon to the project. It still outputs page bundles but common dependencies in the node_modules are marked as externa

[2020-05-07 09:19] Belco90 commented on #308
Same here, I can't see the custom name yet.

[2020-05-07 10:03] mertyildiran commented on #236
@danielcondemarin OK, let me rephrase what I said:

With serverless function, I mean: `pages/post/[id].js`

and with page, I mean:
[code]

If there are 500 posts in the database, I can deploy the website successfully. But if there are 4000 posts in the database then I get `RequestEntityTooLargeException` and deployment fails.

So I don't see any relation between `node_modules` or webpack and the n

[2020-05-07 11:15] danielcondemarin commented on #236
@mertyildiran I understand now. They're all prerendered static pages. They *should not* end up in the lambda@edge artefact.
Could you check your `.serverless_nextjs/default-lambda` folder. It shouldn't have html pages in it. Same goes for `.serverless_nextjs/api-lambda`

[2020-05-07 12:18] mertyildiran commented on #236
@danielcondemarin there are no HTML files but in `.serverless_nextjs/default-lambda` there are tons of prerendered JSON files. I think they don't suppose to be there?

[2020-05-07 12:22] mertyildiran commented on #236
@danielcondemarin I think we should add a control like `!isJSONPage` to [here](https://github.com/danielcondemarin/serverless-next.js/blob/d6e375baddad3a3e901641db168fcab8632582b0/packages/lambda-at-edge/src/build.ts#L129-L130).

[2020-05-07 13:13] danielcondemarin commented on #236
Good catch! You're right they shouldn't be there.

This only became an issue after `getStaticProps` was introduced.

[2020-05-07 16:41] ratul-srit commented on #308
any update on this? I am also getting same problem when running command
`npx serverless`

[2020-05-07 19:37] DanielOrtel opened #392 "Missing Cache-Control header on /public assets"
**Describe the bug**
Deployed with latest serverless-nextjs and checked my pagespeed results, and I'm seeing none of the public assets being cached(the last one is actually the recaptcha image from google, not one of my own):
![PageSpeed_Insights](https://user-images.githubusercontent.com/19431728/81336354-dd062500-90b1-11ea-9810-866aab1e0f01.png)

I've checked the S3 bucket, and Cache-Control is

[2020-05-07 22:08] #386 closed

[2020-05-07 22:20] markkdev commented on #392
Having this issue as well.

[2020-05-07 22:53] danielcondemarin commented on #392
Hi folks 👋

I don't think we've ever had a cache control on `public/` assets. I think the optimal solution here would be to allow users to pass their own cache control for `public/`. For example:

[code]

Let me know if you want to take a stab at it and I'll happily guide you and review a PR 🙌

[2020-05-07 23:43] lone-cloud opened #393 "Some .js assets are not being compressed"
**Describe the bug**
I'm on the latest everything. Tried a couple of deploys 30 minutes ago with a fairly simple project. Chrome auditing tools are telling me that a lot of large .js files, as well as the page itself, are being served without compression.

**Expected behavior**
All .js assets should be compressed.

**Screenshots**
<img width="605" alt="1" src="https://user-images.githubusercontent

[2020-05-07 23:54] danielcondemarin commented on #393
Could you share your cloudfront distribution compression settings (you can grab them from the aws console) and also the file urls that are not being compressed please

[2020-05-08 00:06] hoboman313 commented on #393
The files are all from the *_next/static/chunks* directory:
https://d1wmsk5f1w320f.cloudfront.net/_next/static/chunks/eb8d877c86bf32638b771805672dc53733ba04f3.09ed8e5c1b99a3f42b52.js
https://d1wmsk5f1w320f.cloudfront.net/_next/static/chunks/commons.fc508143ea0d583ac5f7.js
https://d1wmsk5f1w320f.cloudfront.net/_next/static/chunks/framework.126679bf45d7d49475d8.js

As you can see, they're missing th

[2020-05-08 03:01] lone-cloud commented on #393
Tested again now and it fixed itself. The performance score is the high 90s ¯\_(ツ)_/¯

[2020-05-08 03:01] #393 closed

[2020-05-08 10:22] DanielOrtel commented on #392
Oh, my bad, I thought based on this old issue #139 that this was the expected behavior, but apparently I misunderstood things.

I have some other work I need to take care of, but I can try to take a stab at it during the weekend.

[2020-05-08 10:43] danielcondemarin commented on #53
Closing this as local dev won't be supported going forwards, that will be left to next.js dev tooling

[2020-05-08 10:43] #53 closed

[2020-05-08 10:44] danielcondemarin commented on #93
Closing this as local dev won't be supported going forwards, that will be left to next.js dev tooling

[2020-05-08 10:44] #93 closed

[2020-05-08 14:50] danielcondemarin commented on #392
Great! Let me know if you need any help / guidance

[2020-05-09 15:18] #392 closed

[2020-05-09 18:35] Arditc commented on #170
I'm trying to do have a wild card instead of www
E.g.
domain: ["*", "example.com"]
However this going to https://example.com doesn't work anymore.
Any ideas on how to get the wild card to work?

[2020-05-09 21:14] danielcondemarin commented on #198
This should be possible to do now. Check https://github.com/danielcondemarin/serverless-next.js/blob/master/README.md#custom-cloudfront-configuration for more info.

[2020-05-09 21:14] #198 closed

[2020-05-09 21:16] danielcondemarin commented on #375
The PR @stan-sack is now merged and published. Please see https://github.com/danielcondemarin/serverless-next.js/blob/master/README.md#custom-cloudfront-configuration for more info.

[2020-05-09 21:16] #375 closed

[2020-05-09 21:17] danielcondemarin commented on #373
This is now possible to do by adding your own cache behaviours to CloudFront. Check https://github.com/danielcondemarin/serverless-next.js/blob/master/README.md#custom-cloudfront-configuration for more info!

[2020-05-09 21:17] #373 closed

[2020-05-09 21:20] danielcondemarin commented on #297
https://github.com/danielcondemarin/serverless-next.js/pull/282 has now been merged 🎉  Closing.

[2020-05-09 21:20] #297 closed

[2020-05-09 21:22] danielcondemarin commented on #274
This shouldn't be an issue anymore. You can now further customise the cloudfront distribution. Please see https://github.com/danielcondemarin/serverless-next.js#custom-cloudfront-configuration

[2020-05-09 21:22] #274 closed

[2020-05-09 21:24] danielcondemarin commented on #229
Closing this. You can now cache SSR pages adding a CloudFront cache behaviour, see https://github.com/danielcondemarin/serverless-next.js#custom-cloudfront-configuration.

For the static / public directory caching see https://github.com/danielcondemarin/serverless-next.js#public-directory-caching

[2020-05-09 21:24] #229 closed

[2020-05-11 04:04] SarKurd opened #396 "All builds are suddenly failing due to recent changes"
All our building are failing because of the recent changes to lambda-at-edge package.

How do we lock the version? i have locked the version of serverless-next.js in my package.json but it doesn't work.

[code]

**the state file**
[code]

Most recent version i tested that was working was `1.9.8`, i need to be able to lock it to that version

[2020-05-11 04:29] SarKurd commented on #396
Silly me, you can do it in the yml file. but still there is a bug with the new versions.

[2020-05-11 04:29] #396 closed

[2020-05-11 08:46] victorhqc commented on #198
Fantastic!!

[2020-05-11 12:33] marianogappa commented on #396
@SarKurd could you share some context on this? We might be experiencing the same problem, and we haven't fixed it yet.

[2020-05-11 13:12] alexjfno1 commented on #327
Hi @SavageWilliam

I have a similar question too. Have you made any progress on this?

I'd like to have multiple Next.js apps all being served under the same domain. For example:

- `example.com/products`
- `example.com/checkout`
- `example.com/account`

I haven't found a way to do this with `serverless-next` yet.

[2020-05-11 13:13] teajoon commented on #225
@danielcondemarin

Every deployment using github actions makes a cloudfront and two lambdas.
Is there anyway to block making new cloudfront and lambda?

[2020-05-11 13:38] danielcondemarin commented on #396
Hi folks, I'll be looking at why this happens tonight. In the meantime you can pin the version of serverless-next.js:

[code]

[2020-05-11 14:14] SavageWilliam commented on #396
Our production cloudfront distribution broke due to queryStrings suddenly not being forwarded. I believe it were the changes here

https://github.com/danielcondemarin/serverless-next.js/commit/e7bed6aa8d0a8f7fd332e1d0c37d8dc67ec3aa65#diff-04c6e90faac2675aa89e2176d2eec7d8R128

package json:
` "serverless-next.js": "^1.9.10",`

Our serverless.yml was:

[code]

Updated to:

[code]

in order to fix

[2020-05-11 14:20] SavageWilliam opened #397 "queryString forwarding stopped - recent "allow custom configuration for Cloudfront" PR broke our Cloudfront distribution"
Our cloudfront distribution recently broke due to queryStrings suddenly not being forwarded.  (Resulting in getInitialProps `ctx.query` always being empty object). This forwarding behaviour was previously configured through aws GUI when we initially set it up and wasnt changed. However a deploy today suddenly switched the forwarding off due to it not being specified in our `serverless.yml`. (we we

[2020-05-11 18:13] SarKurd commented on #396
@marianogappa that's what i did, for now i stick with 1.9.8, i know it's working.

[2020-05-11 19:53] danielcondemarin commented on #396
@SarKurd Do you mind sharing your `serverless.yml`? I wasn't able to replicate this issue.

[2020-05-11 22:45] SarKurd commented on #396
Here the config for both Serverless.yml and serverless.js files, it's a liitle messy but works for us :)

[code]

serveless.js

[code]

[2020-05-12 09:43] marianogappa commented on #396
@danielcondemarin our issue is well described by this issue's title, but it's actually this one: https://github.com/danielcondemarin/serverless-next.js/issues/397

[2020-05-12 11:15] rrooding commented on #380
If I can also help speed along things, let me know!

[2020-05-12 11:49] danielcondemarin commented on #380
@rrooding @thiagozf Thanks for offering to help 🙏
There are a couple of issues I'd like to have fixed for serverless-components v2 release. More specifically https://github.com/danielcondemarin/serverless-next.js/issues/397 and https://github.com/danielcondemarin/serverless-next.js/issues/378.
There may be other things to do, I'll update on this thread 👍

[2020-05-12 14:09] johard opened #398 "lambda catch all route bug"
{
  "errorType": "Runtime.MalformedHandlerName",
  "errorMessage": "'sls-next-build/handla/docs/[...slug].render' is not a valid handler name. Use absolute paths when specifying root directories in handler names.",
}

I get this error when deploying next.js to a lambda.

Works when developing local

next: 9.4.0
serverless-nextjs-plugin: 2.4.11

[2020-05-12 18:48] tyler-ground commented on #398
Can you re-check the version you have installed?  The latest version of this plugin is 1.12.0-alpha.0

Do you possibly have the old retired one?

[2020-05-12 19:36] lone-cloud commented on #397
Not related to the issue, I'm just curious why you're setting `NODE_ENV: production`. AFAIK, you shouldn't need it unless you're running express.js in your lambda or something.

[2020-05-13 06:05] johard commented on #398
https://www.npmjs.com/package/serverless-nextjs-plugin im runing the plugin not the https://www.npmjs.com/package/serverless-next.js

[2020-05-13 09:30] mattdell commented on #316
Yeah we're wondering about this as well. Can we return it without base64 encoding?

[2020-05-13 09:54] mattdell opened #399 "Deploy component without CloudFront"
**Is your feature request related to a problem? Please describe.**

We currently use the `serverless-nextjs-plugin` project and want to swap over to the `serverless-next.js` component so that we can keep up to date with Next (now on v9.3).

We use a non-cloudfront version to create feature branches on pull request completion before then promoting to a cloudfront version with a known name (test, qa

[2020-05-13 10:40] danielcondemarin commented on #399
Hey @mattdell ! Welcome back 😄

In future I would definitely like to support API Gateway + AWS Lambda, especially now after the new HTTP API were released. This will probably will result in a rewrite of `serverless-nextjs-plugin`.

However my focus right now is in upgrading to Serverless Components V2 using the Lambda@Edge Cloudfront architecture.

Deployments (aside from the first one) are super

[2020-05-13 14:27] pedropinheiro75 opened #400 "Error with the sls remove command"
Firstly I`m very gratefull for work done in this Serverless Component.

**Describe the bug**

I`m facing an issue when I try to remove the AWS components created following this example:
 * [Multiple Instance Environment ](https://github.com/danielcondemarin/serverless-next.js/tree/master/packages/serverless-component/examples/multiple-instance-environment)

Executing the command `sls remove --stag

[2020-05-13 18:48] lone-cloud opened #401 "Should follow the Next.js environment variable file pattern"
**Is your feature request related to a problem? Please describe.**
https://nextjs.org/docs/basic-features/environment-variables#exposing-environment-variables

The .env file has the least precedence and should have its variables be overriddable by .local and environment-specific files. The build produced by running `npx serverless` with this component currently ignores all .env* files other than .

[2020-05-13 19:47] okarlsson commented on #312
This is probably related to the application being served with Lambda@Edge. When a user requests your website it will be rendered by a lambda in a AWS region close to that user. The resulting CloudWatch logs will then get generated in that region.

I'm located in Sweden and got logs for my requests in the eu-west-2 region (London). So try looking for logs in the region closest to you! 📍 🙂

AWS has

[2020-05-13 20:05] danielcondemarin commented on #312
Closing this as it now has been answered.

[2020-05-13 20:05] #312 closed

[2020-05-14 00:16] tyler-ground commented on #398
In that case I recommend posting in https://github.com/danielcondemarin/serverless-next.js/issues as this is a different project than the one you are having issues with.

[2020-05-14 04:09] medv commented on #401
Have a look at:
https://github.com/danielcondemarin/serverless-next.js/tree/master/packages/serverless-component/examples/multiple-instance-environment

It's not the same, but I am using this successfully, saving manual intervention.

[2020-05-14 06:05] wabi91 commented on #361
I think that i have a similar issue, my github aciton workflow show errors like this
[code]

But, it's okay with staging .env file becuz i already deployed once then it have made a `.serverless` file, that's why workflow with production env makes trouble.

Is there any way to seperate staging dev and prod?

[2020-05-14 15:05] mbogdan0 opened #402 "Feature of uploading files to S3"
I'm trying to make a feature of uploading files to S3, so they would be available at the same domain name as my site is.

I need to dynamically upload files (users of site allowed to do it) and I suppose files should be placed at `/public` folder.

I'm not sure I'm doing it right way. I have an endpoint placed in `/pages/api/` and it looks like

[code]

It really creates file test.txt in public fo

[2020-05-14 22:14] danielcondemarin commented on #402
@mbogdan0 The reason why it's not available is because Lambda@Edge keeps a manifest of which public files are uploaded at build time. So adding more stuff to that folder in S3 is not picked up.

Instead, you can use CloudFront for this:

# serverless.yml

myNextApplication:
  component: serverless-next.js
  inputs:
    cloudfront
      origins:
        - url: /images
          pathPatterns:

[2020-05-14 22:14] #402 closed

[2020-05-14 22:29] danielcondemarin commented on #355
Hi folks, I've just merged support for `getStaticPaths` (with fallback: false) and _possibly_  also support for getServerSideProps to master although I haven't tested this last part.
Please let me know if someone could do a bit of testing on this before I release as stable.

[2020-05-14 22:40] cameron-martin opened #403 "serverless returns 0 exit code when next build fails"
**Describe the bug**
When the next.js build fails, the `serverless` cli still returns a zero exit code. This is particularly troublesome on CI, where the build output is read less frequently.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new next.js app.
2. Set up serverless-next.js with the following config:
[code]
3. Make a modification to the app to make the build fail, for exa

[2020-05-14 23:17] Negan1911 commented on #355
Hey @danielcondemarin I could test it in a couple of projects, is this pushed into an alpha release on npm? Or should I just pull from github

[2020-05-15 06:42] nodermatt opened #404 "Serverless deploy throws config not found error"
**Describe the bug**
I followed the  [nextjs tutorial](https://www.serverless.com/learn/tutorial/deploying-nextjs-on-aws/) and couldn't deploy the app to AWS, the console showed an error "serverless config file was not found" (see more below)

**To Reproduce**
Steps to reproduce the behavior:
1. Create project
[code]
2. install dependencies
[code]
3. login to AWS with serverless
[code]
4. Add .env

[2020-05-15 07:24] danielcondemarin commented on #404
Hi @nodermatt I suspect this is version 2 of serverless components which still isn't supported, that's currently being worked on. Could you post your `serverless.yml`?

[2020-05-15 07:31] danielcondemarin commented on #403
This sounds like an issue with the serverless CLI.
Could you raise in: https://github.com/serverless/components ?

[2020-05-15 07:34] mbogdan0 commented on #402
@danielcondemarin thank you for your reply!
I have tried it but it doesn't work for me.

When I add `cloudfront` field in my _serverless.yml_ file, an error occurs

[code]

I tried to reinstall `serverless` package (globally)
I tried to run `serverless` command through `npx`
I tried to remove `node_modules` and reinstall packages
Nothing helps.

When I remove `cloudfront` field, everything is ok.

[2020-05-15 09:12] danielcondemarin commented on #402
Oh no, this may. have been because cloudfront: was missing a colon(:) ! on the yaml. I've corrected the example above. Please try again 🙂

[2020-05-15 09:14] danielcondemarin commented on #355
Thanks a lot @Negan1911 . I'll get it deployed to an alpha release today!

[2020-05-15 10:24] mbogdan0 commented on #402
@danielcondemarin

Thank you, but unfortunately now it throws other error:
[code]

[2020-05-15 11:54] danielcondemarin commented on #402
Mmh @gehan any idea what may be causing this? I suspect the expandRelativeUrls S3 origin feature isn’t working as expected.

[2020-05-15 11:55] marcfielding1 commented on #355
@danielcondemarin Are you free for a quick chat about this, please find my LI here: https://www.linkedin.com/in/marc-fielding-a8bb3293/

I mentioned you guys in GCS connect talk I was doing yesterday, I really, really want us to commit to using this since it'll change the way we do eCommerce.

[2020-05-15 14:45] adonig commented on #399
For our use-case it would be beneficial to be able to deploy lambda-only and manually manage a CloudFront distribution. Our distribution also serves a blog and currently we use a Python script to deploy the website and then fix the origins and behaviors using boto3. This is something we probably could fix by configuring that stuff in `serverless.yml` but in the end that's functionality we don't wa

[2020-05-15 15:22] codeurge commented on #400
@danielcondemarin We observed these same errors intermittently on remove at different parts of the remove process. We were able to resolve the issue by reverting a change in a prior commit; on the `remove()` function we changed the `Promise.all` back to three separate await(s).

The reason for this is that upon reviewing the @serverless/domain package, it makes calls to `getDistributionConfigByDom

[2020-05-15 21:52] danielcondemarin commented on #404
Yep just confirmed this is the case. Follow https://github.com/danielcondemarin/serverless-next.js/issues/380 for updates on when V2 will be supported.

Also just make sure you're `serverless.yml ` has the following structure:

[code]

That should automatically opt you in V1 and not V2. The subtle difference between components V1 and V2 is the `yourAppName` part is missing in V2 yamls.

[2020-05-15 21:52] #404 closed

[2020-05-15 22:50] danielcondemarin commented on #355
@Negan1911 and anyone else who can test I've now published `serverless-next.js@1.12.0-alpha.2`. Also added to our examples `examples/blog-starter` 🎉 straight [from next's repo](https://github.com/zeit/next.js/tree/canary/examples/blog-starter) and works like a charm.

[2020-05-16 02:29] Negan1911 commented on #355
@danielcondemarin Only have to say something: Works incredibly awesome, seriously! I'm on the early steps of building my own startup with a cofounder, and our UI deployments are based on this library, as soon as we get a better budget that doesn't depend on my monthly salary I would definitively come back and done. Thanks for maintaining this library!

[2020-05-16 02:48] marklawlor commented on #401
@medv That works, but since the most recent release of NextJS (9.4) there is first class support for .env files with an opinionated approach (.env* vs .env*.local)

It would be nice for this library to include this feature as new NextJS developers who start using this library would expect the same behaviour.

[2020-05-16 02:58] SarKurd commented on #355
@danielcondemarin tested both `examples/blog-starter` and `examples/with-loading(getServerSideProps)`, both working great.
Thanks for implementing this

[2020-05-16 15:54] lone-cloud commented on #355
I just redeployed a newish project with the new alpha and I see some improvements, but the dynamic routes don't seem to be being pre-fetched correctly. My assumption was that it's supposed to be working with the alpha.

To be more specific we have dynamic paths for "products". The alpha fixed the fetching of "/_next/data/hash/products.json" which was failing in 1.11.5, but the pre-fetching is fail

[2020-05-16 19:58] marcfielding1 commented on #355
@Negan1911 Heh us two, I don't think I've been this excited about something since the first release of Doom.

[2020-05-17 21:58] danielcondemarin commented on #236
Hi folks 👋

Some good news, I've managed to get the new `serverless-trace` working on serverless-next.js! It means node_modules are not bundled anymore within the page bundles generated by `next build`. Instead `node_modules` are treated as externals (in webpack) therefore the page bundles don't contain duplicated dependencies code.
There are still some optimisations I could make, like compressing

[2020-05-18 06:33] hnprashanth opened #406 "Error: ENOENT: no such file or directory, stat '.next/prerender-manifest.json'"
**Describe the bug**
New alpha push breaks the deployment with error - [Error: ENOENT: no such file or directory, stat '.next/prerender-manifest.json']

**To Reproduce**
Steps to reproduce the behavior:
This problem started ever since 1.12.0-alpha.2 was published

**Additional context**
If anyone faces this issue, make sure you pin the component version to stable version - 1.11.5

`component: serv

[2020-05-18 06:37] danielcondemarin commented on #406
@hnprashanth What version of next.js are you using?

[2020-05-18 06:39] hnprashanth commented on #406
@danielcondemarin 9.0.8

[2020-05-18 14:51] thiagozf commented on #236
@danielcondemarin Thank you for this awesome feature! I've tested `serverless-next.js@1.12.0-alpha.4` with a large(ish) application and the default lambda size went from 23.1 MB down to 4.0 MB. However, I had to do some minor tweaks to get it working.

PS.: I'm not sure if I should open separate issues, so I'll just report the said tweaks below.

**1. next.config.js is not normalized**
There is a

[2020-05-18 18:23] danielcondemarin commented on #406
@hnprashanth Could you try updating to next `9.3.0` or greater?

[2020-05-18 20:10] danielcondemarin commented on #236
@thiagozf Great write up! Thanks a lot for feeding back your findings!

Good catch! That should be an easy fix, although I'm more inclined to go for a solution where serverless-next.js deals with the target so users don't even need to specify it. The `now-next` builder implements that [here](https://github.com/zeit/now/blob/ce07084184bbd4d99f456644a5810d6c6f10f04e/packages/now-next/src/create-serv

[2020-05-18 20:30] thiagozf commented on #236
1. Agree, it is better if we don't need to specify it.

2. Initially, I thought that changing it to `process.cwd()` would be enough to fix it too, but there is a "problem": chunks are going to be copied to `.serverless_nextjs/<lambda>/[packages/<package>/].next/serverless` (instead of `.serverless_nextjs/<lambda>/.next/serverless`) and the Next build references them with something like `../serverl

[2020-05-18 20:47] danielcondemarin commented on #236
`path.relative` should help here. Something along the lines of:

[code]

[2020-05-19 10:18] Belco90 commented on #236
I ran into this issue this morning. I updated the project [as Daniel mentioned with latest alpha version](https://github.com/danielcondemarin/serverless-next.js/issues/236#issuecomment-629866977) but something else is failing now.

The deployment seems to work fine, but when I check the actual webapp I get a 503 error. This is what I'm getting in CloudWatch:

[code]

I'm little bit lost after this

[2020-05-19 10:31] Belco90 commented on #236
Additionally, I can see this warning in the console only when installing last serverless-next.js alpha:

[2020-05-19 12:32] Podders commented on #308
@danielcondemarin aparently a newer version of @serverless/aws-lambda has been released requiring 'significant' configuration changes according to this comment: https://github.com/serverless-components/aws-lambda/issues/11#issuecomment-613449792

Although it may be just me but it still seems to be using and older version when pulled from npm, are we missing some kind of resolution here or do we ne

[2020-05-19 13:00] stan-sack opened #408 "Forwarding "Host" header breaks static-pages"
I've just started forwarding the `Host` header through CloudFront because I want my pages to know their own domain when they are being rendered on the server. I've found that this causes pre-rendered pages behind `static-pages/...` to break because the request now has an invalid signature due to the host header being changed.

I was able to fix this by explicitly setting the header in the default-

[2020-05-19 17:14] SpicyPete commented on #289
`made the initial deploy using AWS credentials for a different account by accident`
Does this mean we need to use the same AWS credentials for all developers doing deployments?

[2020-05-19 18:52] danielcondemarin commented on #308
@Podders There is a newer version of aws-lambda but is not compatible with this project (or any other V1 serverless-component). I am currently working on upgrading, once that's done the new aws-lambda component can be used. Also the new components won't be published to NPM. The new version of serverless components has its own registry.
See https://github.com/danielcondemarin/serverless-next.js/iss

[2020-05-19 21:41] danielcondemarin commented on #236
@thiagozf I've just pushed a fix that should solve the issue you were seeing in your monorepo setup. Could you test using `@serverless-next.js@1.12.0-alpha.5` please?

@Belco90 I suspect it may also fix the issue you encountered. I've also pushed a fix for the misleading peer dep warning 👍

[2020-05-20 08:15] Belco90 commented on #236
@danielcondemarin Thanks, amazing work! I'll try to check it at some point this week.

[2020-05-20 11:59] Podders commented on #308
@danielcondemarin That'll teach me for not paying attention, time for some reading!

And thanks :)

[2020-05-20 12:17] gehan commented on #402
Hm yes perhaps - something probably didn't play nicely when the other PR was merged. Will look at this soon!

[2020-05-20 16:30] vdev9 commented on #355
@danielcondemarin when will you merge serverless-next.js@1.12.0-alpha.2 !!

[2020-05-20 19:17] danielcondemarin commented on #408
Good catch @stan-sack. I'm pretty sure is safe (probably best) to manually set the header when forwarding to S3. Feel free to PR 🙏 and I'll get it reviewed and merged ASAP.

[2020-05-20 20:25] mcxolani commented on #406
also just started happening on my project without any upgrades or new installs

[2020-05-20 20:28] danielcondemarin commented on #406
@mcxolani if you don’t pin a version number for serverless-next.js in your version yaml serverless will pull whatever is latest published on NPM. Check the installation on the README page which recommends pinning a version number.

Also this issue would only happen if you’re using next.js under 9.3.0

[2020-05-21 00:39] teajoon opened #409 "Every deployment using github actions or circleci makes a cloudfront and two lambdas"
I am using github actions as CI.
However, every deployment using github actions or circleci makes a cloudfront and two lambdas in different with local deployment.
Local deployment does not make lambdas and a cloudfront.

Is there anyway to block making new cloudfront and lambda?

- serverless.yml
[code]

[2020-05-21 02:31] medv commented on #409
If I understand correctly, your CI keeps making new CloudFront distributions and new Lambdas instead of altering existing ones? If so, you need to make sure your .serverless folder is checked into git if you have already deployed from your computer (so your CI can use this existing state to update infrastructure). If you have not deployed from your computer and rely on your CI to do the first and

[2020-05-21 02:55] medv commented on #355
Works well for us with `next@latest` and `serverless-nextjs@1.12-alpha.5`

However `getServerSideProps()` causes a 403 from S3 on `data/hash/pagename.js` before routing to the page using this function, which gets caught by next.js and causes a hard window refresh on the new route.

[2020-05-21 03:34] OFranke commented on #311
Sorry @danielcondemarin, didn’t check my mentions. I’d be happy to take care of that. Will take me some time though but I am working on a production infrastructure that’s definitely going to be optimized regarding cost of hosting at some point. Right now I just hosted the nextjs app as ECS Container via cdk which is for sure not the best way to do.

[2020-05-21 11:24] teajoon commented on #409
@medv
Thanks for your help!
I solved this problem to remove ".serverless/*" from gitignores.
Thanks again

[2020-05-21 11:25] #409 closed

[2020-05-21 11:27] toastable-nz opened #410 "Determine hostname to use based on environment"
This is not a bug or a feature request, but a query.

I am using [`isomorphic-unfetch`][1] to retrieve and post data from our Api routes. As a result, I [must provide an absolute url][2]. The following works fine on my local machine were I am running my Api on `localhost:3000`.

[code]

My deploy target is configured to use a custom domain (https://my.subdomain.nz). However, I could choose to depl

[2020-05-21 11:30] hadynz opened #411 "Determine hostname to use based on environment"
This is not a bug or a feature request, but a query.

I am using [`isomorphic-unfetch`][1] to retrieve and post data from our Api routes. As a result, I [must provide an absolute url][2]. The following works fine on my local machine were I am running my Api on `localhost:3000`.

[code]

My deploy target is configured to use a custom domain (https://my.subdomain.nz). However, I could choose to depl

[2020-05-21 11:30] toastable-nz commented on #410
Closing as I posted under the wrong username.

Re-posted here https://github.com/danielcondemarin/serverless-next.js/issues/411

[2020-05-21 11:30] #410 closed

[2020-05-22 10:17] plumdog commented on #311
Something to beware regarding this is https://github.com/aws/aws-cdk/issues/3463

Each CDK asset contributes 3 parameters, and there's a maximum of 60 in a Cloudformation stack, so that's a limit of 20.

This puts some constraints on the one-lambda-per-page architecture, until that issue is solved. I think the answer here is probably to wait for CDK to resolve that limitation. However, in the mean

[2020-05-22 10:39] danielcondemarin commented on #311
@plumdog The architecture I am planning to go for is using [Lambda@Edge and CloudFront](https://github.com/danielcondemarin/serverless-next.js/blob/master/README.md#architecture). That should be well under the limit of CloudFormation resources. Yes it means all server side rendered pages in one Lambda but that’s fine, the next.js team released a new build target optimised for this use 🙂
Later on I

[2020-05-22 11:44] plumdog commented on #311
@danielcondemarin What build target is this? Only "server" and "serverless" are listed here https://nextjs.org/docs/api-reference/next.config.js/build-target and I am hopeful it could help with my API Gateway + Lambda assets problem.

[2020-05-22 13:04] SarKurd commented on #411
You can use NODE_ENV and determine the baseUrl.

in next.config.js add this

[code]

[2020-05-22 18:38] mcxolani commented on #406
@danielcondemarin works fine, thanks

[2020-05-22 18:53] lone-cloud commented on #355
Sorry for the extra noise, but I wasn't linking properly to dynamic routes in the scenario outlined in my previous comment. >_< That part works perfectly well for me now.
I can confirm @medv 's findings. I'm experiencing the same 403 issue for pages that use getServerSideProps(). It's easier to spot if you turn on "Preserve log" in your dev tools network tab.

[2020-05-22 19:51] danielcondemarin commented on #311
The target is still experimental, you can see the PR for it [here],(https://github.com/zeit/next.js/pull/8246). That's probably why is not listed in the docs.
Although is experimental is actually what Vercel Now uses under the hood as you can see [here](https://github.com/zeit/now/blob/master/packages/now-next/src/index.ts#L807).
The difference between "serverless" and "serverless-trace" is that t

[2020-05-23 01:54] hadynz commented on #411
Thanks @SarKurd. Simple and effective. I've used this solution for now.

The ideal solution I was looking is to figure out the URL from the `serverless.yml` file by parsing and reading the `inputs/domain` value. But this is good for now.

[2020-05-23 04:51] #411 closed

[2020-05-23 05:01] patricktyndall commented on #355
I'm seeing the 403 refresh for `getStaticProps` as well (`1.12-alpha.5`), thanks for this!

[2020-05-23 13:51] omjokine commented on #398
I ran in to the same issue when tried to implement catch-all route: after the deployment, reloading catch-all routes caused 404. I know that serverless-components plugin is out there and it'd fix this issue, but because of the lag of stages I think it is still better to stick with this old version. Or at least I haven't figured out how to deploy numerous feature branches to same AWS account.

Anyh

[2020-05-23 16:54] Avratz commented on #355
There is support for getStaticPaths with fallback true?

[2020-05-23 18:36] malimccalla commented on #207
Im having an issue with this too. Locally files in `public/img` are being loaded but after building the project and dpeloying they are not working.

[2020-05-23 21:03] quietgopher opened #414 "I'm hitting typescript errors when running serverless-next.js but not when I run locally"
**Describe the bug**
When developing locally using nextjs (running the UI and also eslint), my build works fine.  When I run serverless, I hit different type errors.  I have a tsconfig.json and have some .eslintrc rules.

**To Reproduce**
I'm fine sharing more if needed.  I'm guessing there is a simple configuration issue I'm missing to get this to work properly.

# serverless.yaml
[code]

**Expec

[2020-05-24 07:03] hadynz commented on #328
@uclaeamsavino @krzysztof-miemiec How do you work around the different local paths referenced in the `.serverless` folder?

Does the serverless cli actually ignore them? Or did you have to look at setting up aliases, or ensuring that all developers on your teams and environments are using the same path?

[2020-05-24 09:06] kenberkeley commented on #236
I tried `serverless-next.js@1.12.0-alpha.6` and got `Cannot find module XXX` as @Belco90 got

[2020-05-24 09:09] jpbourgeon commented on #280
Hi

I have the exact same issue. Nothing works, wether with a key authorized by admin group or @dvanwinkle / @hnprashanth inline strategies. It doesn't work programmaticaly from the SDK or manually from the console either which makes me think that it's more an AWS issue...

There are similar unanswered threads in AWS S3 forum on the same topic. I filed an issue in AWS support. I'll keep you posted

[2020-05-24 20:59] danielcondemarin commented on #414
@quietgopher What error are you seeing? What's your directory structure, tsconfig.json etc.? If you could provide a repro that would be far easier for me to look into.

[2020-05-24 21:00] danielcondemarin commented on #408
Solved in https://github.com/danielcondemarin/serverless-next.js/pull/412

[2020-05-24 21:00] #408 closed

[2020-05-24 21:00] danielcondemarin commented on #406
Closing this as it should work fine on Next 9.3.0 or above.

[2020-05-24 21:00] #406 closed

[2020-05-25 00:05] kenberkeley commented on #236
I added my "copy node_modules" logic next to

https://github.com/danielcondemarin/serverless-next.js/blob/57142970b08e6bc3faf0fc70749b3b0501ad7869/packages/lambda-at-edge/src/build.ts#L191-L198

And ... it took forever to deploy... Because... all the files were uploaded one by one instead of zip 😂😂😂

I realised it because AWS sent me an email:

![image](https://user-images.githubusercontent.com/13

[2020-05-25 01:07] uclaeamsavino commented on #328
Each dev has their own unique copy of the .serverless folder, which never gets checked in.

[2020-05-25 01:13] kyun opened #415 ".serverless and .serverless_nextjs should be included on .gitignore?"
I wonder `.serverless` and `.serverless_nextjs` should be ignored or not.

because if I add `.serverless` to `.gitignore` and I pull my project to another PC, I can't deploy it on another PC.

I can see `CNAMEAlreadyExists` Error Code only.

So, now I don't add `.serverless` to `.gitignore` but I am a nervous little bit because I don't know it is fine.

If I should `.serverless` with `.gitignore`,

[2020-05-25 01:19] kenberkeley commented on #236
Update: the Lambda@Edge will be deployed to N. Virginia (us-east-1) so that we can upload zip there.

[2020-05-25 02:46] hadynz commented on #328
That would mean that the only way to deploy to a particular environment will have to be from the chosen CI/CD environment (e.g. GitHub actions) as the `.serverless` folder that is stored in S3 will always have match code paths?

[2020-05-25 02:48] medv commented on #415
I should include .serverless in your repository until the serverless framework removes the need for this.

[2020-05-25 03:17] zynkn commented on #415
@medv you mean `.serverless` has no credential information which should be private?

[2020-05-25 04:31] medv commented on #415
It just contains resource definition and their ARNs. You also don't need to include `.next` and `.serverless_nextjs` folders as they are just the result of a build, so will be re-generated on each build. The `.serverless` folder contains all your infrastructure ARNs, so it's important to include it for other machines to be able to resume deploying to the existing resources.

[2020-05-25 04:39] drake-jin commented on #415
Has any solution to commit without AWS resources's arns?
I think it's little nervous about that.
As you know as `terraform` state can manage(upload) on AWS s3 bucket.
So, I wonder there Is a solution like terraform case on the serverless framework.

[2020-05-25 04:47] medv commented on #415
There are other recent issues here that demonstrate how to put `.serverless` into s3 and sync it during CI step.

[2020-05-25 04:52] drake-jin commented on #415
@medv Oh Yes, I didn't think about that.
That's solution fit on @zynkn @drake-jin .
It's awesome what manage `.serverless state` on S3 bucket If it were created
Thanks.

[2020-05-25 07:56] danielcondemarin commented on #236
@kenberkeley That's exactly what it does. It finds what's actually required by the pages to server side render and require's those. You don't need to manually zip & upload node_modules.

Could you expand which node_module is missing and how is being used?

[2020-05-25 07:59] kenberkeley commented on #236
@danielcondemarin All, including the very basic `react`...
There is only `next-aws-cloudfront` in the `node_modules`...

[2020-05-25 08:01] danielcondemarin commented on #236
What's your serverless.yml like? Make sure you specify the alpha version for this to work:

[code]

[2020-05-25 08:03] kenberkeley commented on #236
Yes, I did that.

[code]

[2020-05-25 08:05] danielcondemarin commented on #236
And just one more check, did you specify experimental-serverless-trace in your `next.config.js` ?

[code]

I'm hoping to make this automatically handled by the component but for now you need to specify it.

[2020-05-25 08:06] kenberkeley commented on #236
@danielcondemarin
Yes, I did that as well...

[2020-05-25 08:09] danielcondemarin commented on #236
I'll take a look later but with that configuration I would expect it to copy the node_modules. Also, if you could provide a simple repro that would be great 🙏

[2020-05-25 08:13] kenberkeley commented on #236
By the way, I am using Yarn workspace (monorepo)...

[2020-05-25 09:11] teajoon opened #416 "How to apply lambda layer"
I am finding a way to seperate the api lambda files.
Since the api file size is over 69905067 bites, it cannot be deployed now, even though i used prune, the size is over 69905067 bites.

Is there anyone who can tell me how to apply the lambda layer in serverless-next.js?

[2020-05-25 09:27] danielcondemarin commented on #416
@teajoon Lambda layers are not supported in Lambda@Edge as of today. However, there is some ongoing work to dramatically reduce the size of the artefact being deployed. See https://github.com/danielcondemarin/serverless-next.js/issues/236 for more details.

[2020-05-25 09:27] #416 closed

[2020-05-25 09:42] josephrequillart opened #417 "How to setup 301 redirects"
Hello,

Hi recently migrate my react app to next.js using this awesome repo for deploying it on my domain. I just have trouble to setup 301 redirects from my old blog (example.com/blog/post) to my new blog (blog.example.com/post).

I would like to know what is the best way to setup 301 redirects in the cloufront distribution deployed with serverless-next. I found this interesting [aws blog post](h

[2020-05-25 13:01] danielcondemarin commented on #417
@josephrequillart You should be able to do this by using your own custom cloudfront configuration. For example:

[code]

Note that this is only available on the latest alpha version. Is not documented very well but happy to help you throw to get something working. Hopefully we can document an example under the [examples/](https://github.com/danielcondemarin/serverless-next.js/tree/master/packages/

[2020-05-25 14:04] cuckoointernet commented on #236
@danielcondemarin  Thanks for your contribution mate! I've ran into the request issue in my project when I added 1 too many pages.

Your method seems to work, I get a clean upload however I seem to be getting weird rendering issues, it looks like the SSR version goes up clean without any issue (disabling javascript shows the page rendering correctly) then as soon as the injected javascript is exec

[2020-05-25 14:11] danielcondemarin commented on #236
I'd appreciate if

I need more information to give you an answer. If you provide a simple reproduction of the problem in a repo I will be able to easily replicate and fix it. Some of these issues require a lot of context to be debugged, e.g. deploying in a monorepo or not, next.config being used etc.
The more info I get when you find an issue the sooner I can fix it and we can get this feature out

[2020-05-25 14:12] cuckoointernet commented on #236
Yeah totally, I'll get something up for you this afternoon.

[2020-05-25 14:37] marcin-piela commented on #378
Is there any workaround (to implement in app) without waiting for new package version?

[2020-05-25 23:58] maddoxnelson commented on #417
I have been struggling with this exact problem for a couple weeks now, really pumped to hear there's a solution!

[2020-05-26 06:28] josephrequillart commented on #417
@danielcondemarin it work perfectly fine! Thanks a lot for your awesome work.

[2020-05-26 07:40] krish-dev commented on #236
Thanks, @danielcondemarin that you consider for `experimental-serverless-trace` support.

I'm getting a couple of issues

1. `503 ERROR` for my `index` route which is an `SSR` enabled page. However, it works perfectly for `optimized` route which is an `SSG` page.
2. Lambda not generated for dynamic Catch all routes (`products/[...magento_route].jsx`)

Below I'm sharing details of the configuration

[2020-05-26 07:58] SarKurd commented on #417
@danielcondemarin would appreciate an example on how to configure next-offline, in the official nextjs example they use custom routes RFC https://github.com/zeit/next.js/issues/9081

Would love to help me rewrite the route for this example
https://github.com/zeit/next.js/blob/canary/examples/with-next-offline/next.config.js

Or @josephrequillart can share his configuration

[2020-05-26 09:21] ashbuilds commented on #357
For now I found the work around by changing default path of server-worker in `next.config.js` config to `public`

[code]

[2020-05-26 09:45] hadynz commented on #328
If anyone is interested in a GitHub action workflow that uses @krzysztof-miemiec's solution check out [this gist][1] that works well for me.

[1]: https://gist.github.com/hadynz/b4e190e0ce10e5811cb462920a9c678f

[2020-05-26 12:36] cuckoointernet commented on #236
Sorry I didn't come through with an example, I figured out the issue when I was creating the sample. Basically, if you use a headless cms such as contentful or prismic, make sure you load as staticProps over initialProps, the changeover of this within next happened during development so wasn't picked up till now. Still have some investigation to get to the bottom of why this was happening exactly,

[2020-05-26 14:22] krish-dev commented on #236
@danielcondemarin adding more observations to my previous comment.

Also, I have a few [Dynamic imports](https://nextjs.org/docs/advanced-features/dynamic-import#with-no-ssr) with no SSR, which generates some chunks in case of the target as `experimental-serverless-trace`. I found these file inside `./next/serverless` directory. which is also not uploaded to AWS. shared the tree below for ref.

[c

[2020-05-26 16:51] uclaeamsavino commented on #328
@hadynz = that's basically what our buildspec.yml looks like.

[2020-05-26 19:26] tyler-ground commented on #415
Yeah, putting it in a remote file store is the way to go. In github actions, I S3 copy before deploy then S3 copy back after.

This has the problem of parallel deployments conflicting but it may not matter as I've re-deployed with slightly out of date infrastructure config and it still worked.

[2020-05-26 21:53] danielcondemarin commented on #417
@SarKurd I'm not familiar with the example but looks like you should be able to do the same as I suggested above.
Rather than using the default cache behaviour, it would be more efficient to create a new cache behaviour for `/service-worker` path and define the `viewer-request` lambda for that only. However that's not supported at the moment. In future I will be adding first class support for rewr

[2020-05-27 05:24] krish-dev commented on #236
Probably got the catch. Please ref to In [this section](https://github.com/danielcondemarin/serverless-next.js/blob/master/packages/lambda-at-edge/src/build.ts#L108-L124) of `lambda-at-edge` package
[code]
not all the cases `next.config.js` returns simple `json`. NextJS allows to write custom webpack configuration in this file. As my case this returns function. Because I have complex setup like th

[2020-05-27 05:47] medv commented on #203
Just implemented a CI/CD pipeline (was experimenting with this component from my machine until now). Removed all my previous infrastructure and wanted to deploy it all during CI/CD with syncing a brand new .serverless folder that was kicked off from CI/CD.

Failed on first build using `serverless-next.js@1.12.0-alpha.6` with `S3 Transfer Acceleration is not configured on this bucket`.

[2020-05-27 06:03] krish-dev commented on #236
**Solution:**
I might be wrong, But let me know what do you think about this.
I check the code of `now-next` package. They are not checking which target has been set by the user because now 2.0 is for serverless only. They simply set [`target = 'experimental-serverless-trace'`](https://github.com/zeit/now/blob/master/packages/now-next/src/create-serverless-config.ts#L52) by checking `ExperimentalT

[2020-05-27 13:29] josephrequillart commented on #417
Here are the steps I followed to solve this issue.

- Deployed my next app using serverless-next
- Created a lambda in us-east-1 region (I did this directly in the aws console). Here is my index.js inspired from this [aws blog post](https://aws.amazon.com/blogs/networking-and-content-delivery/handling-redirectsedge-part1/) :
[code]
- Then attached trust relationship in IAM for my lambda function t

[2020-05-27 13:54] GraemeAllanBryce commented on #415
This [document](https://www.serverless.com/blog/serverless-components-ga/) from the CEO of serverless includes the statement

Does this mean that the .serverless folder no longer requires to be part of the repository?

It is mentioned in the docs of this project that serverless were working on a solution to store state - I assume that the above link was the announcement of this event!

[2020-05-27 14:02] danielcondemarin commented on #415
That is correct, however, to benefit from this the nextjs component needs to be upgraded to use the new serverless components version which introduced some breaking changes. I have already started working on the upgrade and should have more info on that soon.

[2020-05-27 16:50] GraemeAllanBryce commented on #415
It may also be a valuable option for some folks to be able to specify an s3 bucket to store the state files and then simply recover this at the start of each deploy.

This is an approach I have seen taken elsewhere and is reported to work well.

G

Graeme Bryce
+44 (0) 7745 056933

graeme.bryce@gmail.com

[2020-05-27 20:18] thiagozf commented on #236
@danielcondemarin Sorry for the late reply. Sadly, I don't think `path.relative` works for my use case because it will resolve to something like `../../node_modules`, while the files should be placed into `./node_modules`. To solve this, we probably need to identify if the file belongs to a module and, if so, arbitrarily copy it into `./node_modules`. `@zeit/node-file-trace` doesn't output this in

[2020-05-27 23:04] SarKurd commented on #417
@josephrequillart thanks, i don't know how to create it in serverless components too. We can't use AWS console in production in our company, everything has to be coded, would appreciate if someone help

[2020-05-28 02:30] medv commented on #417
We just have a monorepo of several services, one of which is this component and others use the vanilla serveress.yml syntax to deploy surrounding infrastructure (namely database migrations and scheduled data sync lambdas to fetch from external apis and update our databases). It's up to you how to orchestrate it all together, there are some solutions. For now I just deploy them in parallel in CI/CD

[2020-05-28 03:38] medv commented on #417
Thought I would include a very naive example using gitlab ci, I just had a quick hack on it yesterday so don't judge ;)

.gitlab-ci.yml
[code]

services/data/.gitlab-ci.yml
[code]

services/front/gitlab-ci.yml
[code]

[2020-05-28 08:06] ajhaining commented on #355
Hello everyone,

Great work on this component so far, we're also really excited to start using it and so far its been great.

I'm not 100% caught up on the functionality being introduced, but I do know that S3 returns 403 instead of 404 when trying to access an object without the `s3:ListBucket` permission.

The [bucket policy set by the aws-cloudfront serverless component](https://github.com/serv

[2020-05-28 08:13] medv commented on #355
@ajhaining the 403 is more to do with this components parity with `next@^9.3`, but your information also helped explain to me why it's not a 404.

[2020-05-29 13:30] peniakoff opened #419 "Only build the package command (without deploying and resources creating)"
**Is your feature request related to a problem? Please describe.**
I would like to use Serverless Next.js component only for building Lambda@Edges and all resources (.serverless_next directory and more) without deploying stuff (like a domains, buckets, etc.). It will be the best solution if all cloudformation templates (I mean templates for AWS) were prepared already before.

**Describe the soluti

[2020-05-29 16:44] thiagozf opened #420 "Static pages are published to S3 without cache control"
**Describe the bug**
The serverless component is not preventing clients (e.g. browsers) from caching static pages locally.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy a Next.js app with a static page (say `index.ts` -> `index.html`, for example)
2. Open developer tools and monitor network requests
3. Access the page with it's CloudFront distribution URL
4. Refresh the browser
5. S

[2020-05-31 21:18] danielcondemarin commented on #236
Hi folks,

Here is an update:

I've just published `1.12.0-alpha.7` which now handles the build target automatically for users. You don't need a `next.config.js` anymore to specify the build target. To opt into `experimental-serverless-trace` you just need to:

[code]

I've updated the [main README](https://github.com/danielcondemarin/serverless-next.js#inputs) with some details.

Next up I'll be

[2020-06-01 04:49] krish-dev commented on #236
Thanks @danielcondemarin for this wonderful update. This is what I exactly mentioned in my last comment. Please ignore my previous comments as those are not relevant anymore more as you did the fix into `serverless-next.js@1.12.0-alpha.7` version.

I'm encountered with another `Internal server error` issue if we use dynamic import from `next/dynamic` which is generates some chunks. If we are opt-o

[2020-06-01 14:07] krish-dev opened #423 "Old static file not deleted from s3 bucket"
**Describe the bug**
Old static file does remain into s3 bucket every time redeploy. Which is leading to the unnecessary size increase of s3 bucket.

**To Reproduce**
just redeploy the existing app.

**Expected behavior**
all old assets should clean before uploading to the s3 bucket.

**Screenshots**
![83416882-f72bec80-a43e-11ea-9351-d017d11a39d1](https://user-images.githubusercontent.com/7298557

[2020-06-01 14:26] medv commented on #423
There's a case to be made here for stale sessions that might've started before deployment that would still be requesting 2nd newest hash, so perhaps keeping x oldest is more appropriate?

[2020-06-01 18:49] danielcondemarin commented on #423
I'd like to find a solution to this that doesn't block / add time to the main deploy command. This sounds like a good candidate for a cron type of job.

[2020-06-02 02:21] CyrilleFormont opened #424 "zip file oversize, can't be uploaded to AWS"
**Describe the bug**
I'm facing a 404LambdaFunction issue due to the oversize of the zip file.
My zip file is about 70mo, unzipped it became 270mo.

The project is using typescript.

It doesn't contain any assets as they are all on S3, moreover I excluded, in the serverless.yaml, all unecessary file.

[code]

Each page is about 13mo and looks like the following:
- home.js 1ko
- home.original.js 13

[2020-06-02 03:04] krish-dev commented on #423
This is true that many developers may want to keep the old data into s3. I think a configuration into a serverless.yml file will be useful whether they want to keep old data or not. Also, I'm thinking if it is possible to enable versioning for both Lambda & S3. So, that we can del old version by keeping last 4 or 5.

[2020-06-02 03:23] CyrilleFormont commented on #424
Just figuring that out the thread : https://github.com/danielcondemarin/serverless-next.js/issues/236#issuecomment-558512823 was the best answer

[2020-06-02 05:32] krish-dev commented on #357
@ashbuilds absolutly we can use `public` dir,  In that case, service-worker might get installed successfully. But as the request not get routed through lambda so service worker will not get valid permission (`AccessDenied`) while accessing the internal js file and it will lead to following issue

[code]
![Screenshot 2020-06-02 at 10 16 21 AM](https://user-images.githubusercontent.com/7298557/83482

[2020-06-02 11:14] thiagozf commented on #420
Closed by #421

[2020-06-02 11:14] #420 closed

[2020-06-02 12:24] thiagozf commented on #236
Sure, here it is: https://github.com/thiagozf/sls-trace-monorepo

[2020-06-02 12:25] thiagozf commented on #236
@danielcondemarin Here it is: https://github.com/thiagozf/sls-trace-monorepo.

[2020-06-02 13:33] krish-dev commented on #236
Finally, I got the catch. While using  `next/dynamic`, it generates some chunks.

**Point 1**
The chunks directly get copied from `.next/serverless` dir to `.serverless_nextjs/default-lambda/.next/serverless`. [In this line](https://github.com/danielcondemarin/serverless-next.js/blob/master/packages/lambda-at-edge/src/build.ts#L120) you only exclude `pages` from copy to `default-lambda`. You shoul

[2020-06-02 21:56] thiagozf commented on #236
@danielcondemarin @krish-dev: when the `serverless` target is used, Next.js build guarantees that there will be no dynamic chunks. They use [this plugin](https://github.com/vercel/next.js/blob/v9.4.4/packages/next/build/webpack-config.ts#L954) to bundle them into the parent chunk (page). However, using `experimental-serverless-trace` target, this doesn't happen. Is this correct? Can someone create

[2020-06-03 02:17] krish-dev commented on #236
Exactly. Only `experimental-serverless-trace` will generate chunks into separate file.

Solution is pretty much simple, `node-file-trace` returns all file list which needs to include into lambda bundle and chunks are available into that list. Only we need copy these file to root directory of `default-lambda` package (not within `.next` dir

[2020-06-03 13:45] krish-dev commented on #236
Hi @danielcondemarin

I did some modification and its works for me. Please :pray: review the [PR](https://github.com/danielcondemarin/serverless-next.js/pull/426#issue-427210127) and let me know, what do you think.

[2020-06-03 13:52] krish-dev commented on #236
sorry @thiagozf I didn't notice you already created PR for the same fix.

[2020-06-03 13:56] thiagozf commented on #236
@danielcondemarin I've submitted PR #425 that should fix both chunks and monorepo issues by using `.next/serverless` as the base path when calculating the file destination. All my apps are running fine with the new target now :fire::rocket:

@krish-dev Hey! I think we were working at the same thing at the same time.

[2020-06-03 21:57] danielcondemarin commented on #236
@thiagozf @krish-dev Thank you both for the amazing contributions to this issue.

I've now merged & published https://github.com/danielcondemarin/serverless-next.js/pull/425 in `1.12.0-alpha.8`. If you are both happy with this release I'll be closing this issue and getting this stuff into stable ASAP 🚀
Thanks 🙏

[2020-06-04 01:09] lone-cloud commented on #378
So I quite literally did what @danielcondemarin suggested in his previous comment and the 404 status is now being returned correctly. I have not noticed any regressions with the change. However, it is still being rendering in the _error template instead of the 404 one. I assume this has never worked for this project before and will require work.

Commit here: https://github.com/lone-cloud/serverle

[2020-06-04 06:30] krish-dev commented on #236
Thanks, @danielcondemarin for the new release. Works like a champ 👍 . great work @thiagozf 🙌

[2020-06-04 07:56] marcin-piela commented on #355
It's not a problem with S3 permissions, when we have getServerSideProps then we cannot redirect  requests .eg `https://CLOUDFRONT-ID.cloudfront.net/_next/data/BUILD-ID/page.json` to S3 cause that request has to be handled by Lamdba@Edge - so we need to implement it - alpha version definitely doesn't handle it - it responses with 500 :(

[2020-06-04 08:53] krish-dev commented on #236
I just want to mention one observation. the deployment time highly increased. Previously my total lambda bundle size was around 50 MB (using `serverless-next.js@1.9.10`) and static assets nearly 4.3 MB. Total deployment time was near about 4 min (including build time). However, currently, the total lambda bundle down to 17 MB (using traced enabled) and static assets are the same as previously. But

[2020-06-04 11:53] thiagozf commented on #236
Hey @krish-dev, sorry to hear that. My build time in a large(ish) app has increased some seconds, but the deploys are faster. Has this started after my PR? By build generation, you mean the Serverless Component build or the Next.js build? Can you deploy your app with the `serverless --debug` and confirm that it is the `"Packaging lambda code from ..."` or `"Uploading <your lambda name> lambda code

[2020-06-05 09:37] Qubica commented on #355
Can someone tell me if preview mode is implemented?

[2020-06-05 13:24] krish-dev commented on #357
Hi @danielcondemarin

As you mentioned in [this comment](https://github.com/danielcondemarin/serverless-next.js/pull/426#issuecomment-638404600). I did some analysis on that. I used `serverless-next.js@1.12.0-alpha.8` to deploy the application and after that, I created the following configuration directly into AWS CloudFront console just for testing whether its working or not. Yes, It worked perfe

[2020-06-05 16:09] krish-dev commented on #357
**Update on top of previous comment**

[code]
looks like this function works perfectly
[code]
however, now I'm getting this error

[code]

[2020-06-05 19:35] wis commented on #185
source: https://aws.amazon.com/blogs/aws/new-provisioned-concurrency-for-lambda-functions/

[2020-06-05 21:25] drizzef opened #428 "Dynamic routing(Client side routing) always run Lambda function"
**Describe the bug**
Hi,
I'm using serverless-next.js version 1.9.10.

I don't know if it is a bug nor a feature.

We are using dynamic routing with Link tag as explained in their docs: https://nextjs.org/docs/routing/introduction#linking-between-pages

In the development environment, the first request is creating an SSR request and afterward, every click on the components that we wrapped in the L

[2020-06-06 04:54] krish-dev commented on #357
**Updated 2 on top of the previous comment**
used this configuration.
[code]
Just add a log before `const cloudFrontOutputs = await cloudFront({...});`

here is the log.
[code]

error
[code]

[2020-06-07 02:21] kenberkeley commented on #236
It seems that `1.12.0-alpha.8` is yet to support monorepo (I am using Yarn workspace). The workaround is `npm install` in the scoped package and then run `serverless` to deploy.

[2020-06-07 08:58] danielcondemarin commented on #355
Hi folks 👋 I've [now implemented](https://github.com/danielcondemarin/serverless-next.js/pull/429) `getServerSideProps` support. This fixes the issue that @lone-cloud and @medv noticed when getting a 403 from S3.
It is available on `serverless-next.js@1.13.0`. Please try it out and feedback 🙏

@Qubica Preview mode isn't supported yet. From the proposal described there are 2 missing parts to be imp

[2020-06-07 10:32] krtkeyan opened #430 "Static HTML Pre-rendered pages are not cached in Cloudfront"
**Describe the bug**
Whenever I request for html file inside static-pages, cloudfront hits the origin and returns Miss-From-Cloudfront header. Not sure it was a expected behaviour, hitting origin each time for a static html and having higher TTFB.

**To Reproduce**
Request for any html inside static-pages, inspect the response header for the html. I have been using out of box solution provided

**

[2020-06-07 12:52] danielcondemarin commented on #424
@CyrilleFormont you're using the [serverless-nextjs-plugin](https://github.com/danielcondemarin/serverless-next.js/tree/master/packages/serverless-plugin) which I'm not maintaining anymore. See https://github.com/danielcondemarin/serverless-next.js#getting-started for how to use the serverless component instead. `useServerlessTraceTarget` will only work with the component, not the plugin.

[2020-06-07 12:52] #424 closed

[2020-06-07 13:40] eenagy commented on #336
This issue cannot be duplicate of itself, it was mostly likely closed by mistake. Please reopen it. @danielcondemarin

[2020-06-07 13:42] danielcondemarin commented on #336
Sorry! I actually meant a duplicate of https://github.com/danielcondemarin/serverless-next.js/issues/236

[2020-06-07 13:57] danielcondemarin commented on #430
@krtkeyan This hasn't been implemented yet, but you are correct, it makes sense for serverless-next.js to do this out of the box.

A solution I have in mind is to:

- [Set HTML pages](https://github.com/danielcondemarin/serverless-next.js/blob/master/packages/s3-static-assets/src/index.ts#L60) cache control to `public, max-age=0, s-maxage=86400, must-revalidate`. This will prevent the page from be

[2020-06-07 19:24] lone-cloud commented on #428
Can you verify that you're <Linking> to your dynamic pages using `as` and not simply relying on `href`?

[2020-06-07 19:26] thiagozf commented on #236
@kenberkeley Do you have a minimum repro? I was able to get it working in a monorepo setup.

[2020-06-07 19:52] lone-cloud commented on #355
Nice! I can confirm that it fixes the 403 issue that I've been seeing on SSR'ed pages.

[2020-06-07 20:07] thiagozf commented on #430
@danielcondemarin I agree. Vercel's Edge Network works exactly like this. I'm happy to submit a PR. We would need to invalidate all paths (`/*`) after a new deployment, right? On #421 I was worried about some weird corner-case scenarios, like a client hitting a cached page on CF before the invalidation, then moving to another page that was not cached, but `public, max-age=0, s-maxage=86400, must-r

[2020-06-07 20:14] Arditc opened #433 "Question: How to use helmet with nextjs"
Hi,
I'm trying to figure out how to use helmet[Helmet](https://www.npmjs.com/package/helmet)  with nextjs serverless component, however I couldn't find any docs relating to this. Any support or advice?

The reason for wanting to use it is because when running webpageTest I get a very low score with security (no HSTS for example) and I believe using helmet will help reduce the security issues.

Man

[2020-06-07 20:27] danielcondemarin commented on #430
@thiagozf A PR would be super appreciated thank you!
In terms of invalidation I think /* is probably OK.
If this turns out not to be viable for whatever reasons, we could just invalidate the static page routes.

[2020-06-07 22:08] #401 closed

[2020-06-08 01:36] kenberkeley commented on #236
Only scoped packages are included in the `node_modules` which will be deployed.

![image](https://user-images.githubusercontent.com/13287948/83985280-ea961f80-a97b-11ea-9413-1bbf8a907437.png)

[2020-06-08 07:41] krish-dev commented on #357
I did more analysis on the issue and it looks like the issue is related to `serverless-components/aws-cloudfront`  [ issue #18 ](https://github.com/serverless-components/aws-cloudfront/issues/18) and PR [#19](https://github.com/serverless-components/aws-cloudfront/pull/19)  is already there.

It's creating the same id for the same origin's different relative path.

[code]
For this configuration.
[

[2020-06-08 09:17] stan-sack opened #434 "Host header is set to s3 bucket on some dynamic pages"
**Describe the bug**
I'm logging the the next.js request context and seeing the host header is being set to my S3 bucket: `host: '<my-static-bucket>.s3.amazonaws.com',`. This is in the cloudwatch logs which means that the header is being overridden for some dynamic pages. I've been trying to debug it but I can't tell for sure yet where the bug is. This doesn't happen for all pages.

**Expected beh

[2020-06-08 11:39] Arditc commented on #170
Bump!

[2020-06-08 11:46] stan-sack commented on #434
Ive just confirmed that the host is not being overridden with `addS3HostHeader`. It looks like the s3 host is set in the event payload. Do we have control over that?

[2020-06-08 12:02] danielcondemarin commented on #434
@stan-sack That seems like intended behaviour from https://github.com/danielcondemarin/serverless-next.js/pull/412/files.
I'd be very surprised if the host is set to S3's domain in the event payload. Could you add a bit more details of your findings? logs etc.

[2020-06-08 12:21] stan-sack commented on #434
The intention of my PR was to have this behaviour when the page is served from S3. I dont think we should have the S3 header when we're hitting the lambda. It should just be the host header that we're getting from cloudfront.

[2020-06-08 12:25] stan-sack commented on #434
I'm logging the event payload and i think it is:

`console.log(event.Records[0].cf.request.headers["host"]);` gave the following output:
`[ { key: 'Host', value: '<static-s3-bucket>.s3.amazonaws.com' } ]`

[2020-06-08 12:49] stan-sack commented on #434
Ah I got it. Its because the default cloudfront behaviour is not merged with any that your pass in. I had the following:
[code]

and the behaviour I described is a result of the `host` header not being forwarded on `/test`.

Sorry for the hassles. I'm literally the one person that shouldn't be asking about this lol.

[2020-06-08 12:49] #434 closed

[2020-06-08 14:28] krtkeyan commented on #430
@danielcondemarin That's great. I was just thinking of things need to make next.js work in serverless and this package saves me a lot.

I had a another issue thought to mention it. The S3 bucket defaults to us-east-1. Since I am hitting the origin from my edge location in India, I was getting a larger TTFB. When I tried to change my bucket in Mumbai origin, I got access denied when I hit the cloud

[2020-06-08 14:42] thiagozf commented on #430
@danielcondemarin Hey! Created draft PR #435 to handle this issue. Can you review it and let me know your thoughts about the implementation details?

@krtkeyan With #435, you will only hit the origin if the file is not cached on the edge. Is this a problem?

[2020-06-08 14:50] danielcondemarin commented on #430
@krtkeyan I have plans to add another input to the component `s3BucketRegion` which can be passed to the S3 component as `region` [here](https://github.com/danielcondemarin/serverless-next.js/blob/master/packages/serverless-component/serverless.js#L180). Let me know if you'd like to PR it 👍

[2020-06-08 14:57] thiagozf commented on #236
@kenberkeley This is happening because the component uses `process.cwd()` as the base path for `node-file-trace` and [any files/folders above the base are ignored in the listing and analysis](https://github.com/vercel/node-file-trace#base).

@danielcondemarin Can we have the base path for `node-file-trace` as a component input, which defaults to `process.cwd()`?

[2020-06-08 15:06] krtkeyan commented on #430
Cool @danielcondemarin . Would love to. Between I could get some time at end of this week would do this.

[2020-06-09 02:49] krish-dev commented on #236
Hey @thiagozf sorry for the delayed response. it's working perfectly, probably that day I had the internet connectivity issue, tested full process with BitBucket Pipeline and it increased few second only which is expected.

[2020-06-09 09:09] drizzef commented on #428
Hi,
I saw that @danielcondemarin push a code of version 1.13.0 that fixes the issue with getServerProps.
It seems that I won't using getServerProps because I already have an API and this makes another hop for me.

You can close this issue. Thanks!

[2020-06-10 06:53] joemclo opened #436 "204 api lambda responses fail aws cloudfront validation due to body property inclusion"
**Describe the bug**

When returning a status code of 204 in the response of a next api route, AWS lambda at edge raises an validation error `Response Contains a Body and Specifies 204 (No Content) for Status` due to the presence of the body property in the response object.

**To Reproduce**

Take an example next api handler
[code]
The res object with be transformed into a lambda at edge response

[2020-06-11 09:21] owain-stratton opened #438 "Error page served when navigating to `/index.html` route"
**Describe the bug**
The served site from AWS no longer trims `/index.html` from the domain as it used to, and is now returning `_error.js`. Previously I didn't experience this issue and the `/index.html` route would be replaced with the root domain.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://d14obvdd2huy34.cloudfront.net
2. see the `crna` default landing page
3. Go to htt

[2020-06-11 20:37] #378 closed

[2020-06-11 20:37] #436 closed

[2020-06-12 08:52] standingdreams opened #440 "Error: Cannot find module 'next/dist/next-server/server/node-polyfill-fetch'"
While deploying a Next.js app to AWS using Serverless, I get a 503 error. When I drill down into the logs, I find the error I'm recieving is `Error: Cannot find module 'next/dist/next-server/server/node-polyfill-fetch'`.

 I've tried uninstalling and reinstalling. I was using the latest version of Next. I tried to downgrade to 9.3.4. I've tried to downgrade Serverless Next.js. I've tried downgradi

[2020-06-12 10:31] fean opened #441 "Throttling: Rate exceeded when deploying in CI/CD"
**Describe the bug**
We have a simple Next.js app. It has two pages and no API  lambda's at this moment. Deploying it locally works like a charm.

When we moved it to our Gitlab CI pipeline. It started throwing the following error consistently:
[code]

This is a masked representation of our serverless.yml file:
[code]

The CI runner uses the `node:12-alpine` docker image to run the deployment.

**

[2020-06-12 11:04] aidan-ayala commented on #441
+1

[2020-06-12 11:08] danielcondemarin commented on #441
Hi 👋
Could you do something along these lines to find which API call is getting throttled?
https://aws.amazon.com/premiumsupport/knowledge-center/cloudtrail-rate-exceeded/

[2020-06-12 11:15] aidan-ayala commented on #441
Here's my serverless.yml. Happens on both CI and locally after running `serverless --stage=staging`

`myAppName:
  component: serverless-next.js`

[2020-06-12 11:19] vkeskinen commented on #441
Could it be the ongoing IAM issue (at least for us it is affecting all our serverless deployments with error `rate exceeded`):

https://status.aws.amazon.com/

[2020-06-12 11:43] danielcondemarin commented on #441
Thanks @vkeskinen that seems like the culprit. I’ll close this and feel free to reopen if its not resolved after Iam status is green.

[2020-06-12 11:43] #441 closed

[2020-06-12 12:03] danielcondemarin commented on #440
Hi could you post your `serverless.yml` as well?

[2020-06-12 12:06] #430 closed

[2020-06-12 12:23] standingdreams commented on #440
@danielcondemarin Hello. Please see below:

**serverless.yml**
[code]

[2020-06-12 14:16] aidan-ayala opened #442 "Error "InvalidRequest: S3 Transfer Acceleration is not configured on this bucket""
**Describe the bug**
When running `serverless` i get "InvalidRequest: S3 Transfer Acceleration is not configured on this bucket" as an error.

I have checked the S3 bucket, it as S3 Transfer Acceleration enabled.

I get the same error when running with the flag `serverless --no-aws-s3-accelerate`

Here is my serverless.yml

`
myAppName:
  component: serverless-next.js
  inputs:
    nextConfigDir:

[2020-06-12 14:21] #442 closed

[2020-06-12 14:21] aidan-ayala commented on #442
duplicate, my bad.

[2020-06-12 14:59] aidan-ayala commented on #209
@danielcondemarin has this been handled?

[2020-06-12 17:46] lone-cloud commented on #440
This sounds like the new fetch polyfill they shipped with 9.4: https://nextjs.org/blog/next-9-4#improved-built-in-fetch-support. I am not sure why it's breaking for you now, but I imagine #431 could fix your issue. Note that it hasn't been released yet. You can test it by cloning this repo locally, building it like is described in CONTRIBUTING.md then pointing to its local path in your serverless.

[2020-06-12 21:52] standingdreams commented on #440
@lone-cloud Am I correct in assuming that [version 1.14.0-alpha.0](https://github.com/danielcondemarin/serverless-next.js/releases/tag/serverless-next.js%401.14.0-alpha.0) has the branch you mention above in it?

[2020-06-12 21:54] danielcondemarin commented on #414
I'm closing, feel free to reopen if you are still having this issue and please provide the info above.

[2020-06-12 21:54] #414 closed

[2020-06-12 21:55] danielcondemarin commented on #436
A fix should be available in: `serverless-next.js@1.14.0-alpha.0` 🥳 Let me know if you are still having issues.

[2020-06-12 21:56] danielcondemarin commented on #430
This is now available in: `serverless-next.js@1.14.0-alpha.0` 🥳 the static pages will be cached for 31 days and invalidated on every deploy. Credits to @thiagozf 🙌

[2020-06-12 22:02] lone-cloud commented on #440
Yes, I'm fairly confident (I didn't create the release) that's the case.

[2020-06-12 22:26] standingdreams commented on #440
@lone-cloud I'm getting the same error with the release and with the branch.

[2020-06-12 22:32] danielcondemarin commented on #440
@standingdreams Could you try using `useServerlessTraceTarget` documented in the inputs?
Also could you post your next.config.js

[2020-06-12 22:50] standingdreams commented on #440
@danielcondemarin: please see below.

**next.config.js**

[code]

[2020-06-13 08:40] danielcondemarin commented on #354
An invalidation is being created now on every deployment. See https://github.com/danielcondemarin/serverless-next.js#static-pages-caching for details.

[2020-06-13 08:40] #354 closed

[2020-06-13 10:59] standingdreams commented on #440
@danielcondemarin When I add `useServerlessTraceTarget`, i get the following error:
[code]

[2020-06-13 11:44] danielcondemarin commented on #440
I've had intermittent reports of `InvalidRequest: S3 Transfer Acceleration is not configured on this bucket` before but haven't got to the bottom of it. Under your bucket `Properties` can you see acceleration enabled?
![image](https://user-images.githubusercontent.com/1122442/84567879-9f14b480-ad73-11ea-81de-289238ae6ca7.png)

[2020-06-13 19:34] lone-cloud commented on #308
@danielcondemarin since v1 of @serverless/aws-lambda is not being supported anymore, can we switch to use a fork that incorporates the lambda name fix: https://github.com/serverless-components/aws-lambda/pull/16/files
That would help to close out this issue until #380 is done.

[2020-06-14 01:54] standingdreams commented on #440
@danielcondemarin Yes. It's enabled.

[2020-06-14 18:11] lone-cloud commented on #438
Note that as of the latest alpha, the 404.html page will be returned instead.
What you're suggesting is a relatively simple change to this loop in the default-lambda router: https://github.com/danielcondemarin/serverless-next.js/blob/master/packages/lambda-at-edge/src/default-handler.ts#L49
I'm not convinced that this is a needed change and I don't see many sites work this way (ex. github, youtube

[2020-06-14 18:22] lone-cloud commented on #433
https://github.com/vercel/next.js/tree/canary/examples/with-react-helmet ? You probably want to use next/head instead. I'm not sure what this has to do with security or https though.

[2020-06-14 19:07] Arditc commented on #433
Hi,
Thanks for the link, however when reading about `react helmet` seems to be something completely different and not linked to security headers 😔

[2020-06-14 19:44] danielcondemarin commented on #433
@Arditc It is not currently supported however I'd love to add support for it. In theory it shouldn't be too difficult assuming we can get [Helmet](https://github.com/helmetjs/helmet) working with plain Node `req: http.IncomingMessage` and `res: http.ServerResponse`.

Support for this would need to be added somewhere [here](https://github.com/danielcondemarin/serverless-next.js/blob/master/packages

[2020-06-14 20:31] danielcondemarin commented on #236
Could we not follow symlinks to solve this instead? Similar to what `now-next` does - https://github.com/vercel/vercel/blob/master/packages/now-next/src/utils.ts#L521.

[2020-06-15 20:05] lone-cloud opened #446 "404 errors don't get rendered correctly by the api-lambda"
404s don't get rendered correctly for API routes. This is supposed to be handled by the _error.js, but that returns 502 for me with a CloudWatch message from cloudfront: "ERROR Validation error: The Lambda function returned an invalid json output, parsed json should be an object type."

^ Actually to get to that point took a workaround. You would normally see a 503 for 404'ed /api routes (in serve

[2020-06-16 04:50] eenagy commented on #440
@standingdreams are you using yarn workspace?

[2020-06-16 13:06] lukemarshdv opened #447 "pages-manifest not found. Check if `next.config.js` target is set to 'serverless"
I know this issue has been closed a couple of times but I've run through the steps to fix and I'm still having the same issues. Any help would be really appreciated!

I'm running the `serverless` command in AWS codebuild and I have `target: "serverless"` as stated in the docs. This is the error I'm seeing:
`pages-manifest not found. Check if `next.config.js` target is set to 'serverless`

I've lis

[2020-06-16 13:09] standingdreams commented on #440
@eenagy No, just NPM. Do you think Yarn would produce different results?

[2020-06-16 13:20] eenagy commented on #440
@standingdreams no, it's not related to yarn, but having using [workspace](https://classic.yarnpkg.com/en/docs/workspaces/) on my side, I have a similar issue when node_modules is not deploying correctly.

[2020-06-16 20:07] danielcondemarin commented on #446
Yeah just replicated this.

I disagree with that point. I think it should return a statusCode: 404 maybe with an empty JSON object. vercel seems to return a `code`and a `message`: https://vercel.com/api/123/456

[2020-06-16 20:14] lone-cloud commented on #446
OK, makes sense. Shouldn't be hard to do. I can put out a PR for this later.

[2020-06-16 20:33] danielcondemarin commented on #447
@lukemarshdv Could you try using `@1.14.0` please?

[2020-06-16 20:44] owain-stratton commented on #438
Ah ok, was there a reason the change was introduced that broke this? No I agree, it doesn't feel standard as you say those sites return `404` errors for `/index.html`. However this was working and is now not.

[2020-06-16 21:04] lukemarshdv commented on #447
@danielcondemarin Thank you so much for responding so quickly!
I'm still getting the same issue as before but I can give you some more information that might be of some use:

The deploy works on my machine when I run it and it took around 10 mins on first deploy

[2020-06-16 21:11] danielcondemarin commented on #447
If you have many pages and your build takes long could you try `useServerlessTraceTarget` from https://github.com/danielcondemarin/serverless-next.js#inputs. .It's a new build target I'm working on, I'm interested to see how it compares.

In terms of Codebuild what error do you get there?

[2020-06-16 21:12] lukemarshdv commented on #447
I will try that first thing in the morning and let you know the results. Thanks again!

[2020-06-16 21:26] lukemarshdv commented on #447
@danielcondemarin I tried it just now and I get the same error. Local build on my machine took ~90 seconds this time though which is an improvement

[2020-06-16 21:44] danielcondemarin commented on #447
Could you try putting a simple repro I can take a look at? I appreciate you have a large app. but having a way for me to reproduce the issue will speed things up.

[2020-06-17 06:25] danielcondemarin commented on #438
@owain-stratton It was unintended for that to work and untested. Also in terms of routing is important this project behaves in the same way the next server does, which returns a 404 for /index.html

[2020-06-17 06:26] #438 closed

[2020-06-17 07:45] lukemarshdv commented on #447
I think I may be out of my depth creating a simple repro here!

The setup that's being used is Github/Travis/Terraform/AWS CodeBuild and it might take me quite a while to set all those things up for you to be able to reproduce the issue!

[2020-06-17 08:59] mjtodd opened #450 "Question: How to use with serverless.com ci/cd"
I'm trying to work out how this should be setup with a ci/cd pipeline.

Do those pipelines support components, and if so, how would parameters defined in the deployment profile for my different stages get passed through as next.js build time environment variables?

For my backend projects I would just pass through as param references e.g.  ${param:API_URL}, so I was hoping that could be passed thr

[2020-06-17 14:42] lukemarshdv commented on #447
Hi @danielcondemarin I have managed to deploy finally! This was the config setting I used:

[code]

[2020-06-17 15:10] danielcondemarin commented on #447
Great 👍🏻 I’ll be closing this then.

[2020-06-17 15:10] #447 closed

[2020-06-17 19:01] #446 closed

[2020-06-18 03:53] dan-turner commented on #450
Yes would be interested to know this too.  Even just how to integrate with the serverless.com dashboard.

Simply running `serverless` does indeed seem to deploy the app, but it doesn't appear in my serverless.com dashboard despite having specified an org and app:

[code]

[2020-06-18 03:55] #363 closed

[2020-06-18 14:11] standingdreams commented on #440
@danielcondemarin @lone-cloud @eenagy
I've isolated the issue to when `getInitialProps` or `getServerSideProps` are being used on a page. I've tried both and if I remove either from my homepage, the site loads with no issue. I've tested it returning hard coded values and it still does not properly load the homepage. I have not attempted to use `getStaticProps` but don't need that.

[2020-06-18 18:57] lone-cloud commented on #280
cloudfront:CreateInvalidation was also added as a required permission a couple of weeks ago. I think this list of permissions should live in the README.

[2020-06-19 04:34] lone-cloud opened #453 "feature: allow definining env variables to be set on each lambda"
The goal of this feature is to ease the continuous deployment process by allowing the secret values to be set as environment variables per lambda. This will allow the component's users to not have to rely on building the env variables (stored in .env files) into the app bundle which may encourage storing API secrets in repos.

Example:

Secret keys are set to environment variables TOP_SECRET_KEY1

[2020-06-19 07:07] rafinskipg commented on #9
We would also be happy to have this

[2020-06-19 22:06] #280 closed

[2020-06-20 18:34] lone-cloud commented on #450
@mjtodd
build.env only sets the environment variables for when the build is run to create the lambda code. This does not cause the env variables to be built into your bundle. I do not yet know of a use-case for this config.
This leaves you with only bad options until #453 gets released as you have to generate stage-specific .env* files prior to running a deploy.
Here's the script I'm using for CD

[2020-06-20 18:42] lone-cloud commented on #450
@dan-turner that will not work currently. The next.js component will need to be rewritten using v2 of serverless components framework: https://github.com/serverless/components I'm not sure how far along Daniel has gotten with it, but it looks like it could be a massive amount of work.

[2020-06-20 18:56] lone-cloud commented on #440
Yes, that makes sense as the polyfill in your stack trace would only be loaded on the server. If you don't define those functions, your code will not be rendered on the server.
I suspect you might be able to solve your issue by deleting your _error.js. The error seems to originate from there, but _error.js does not get used post-deploy (create a 404.js instead).
I don't believe anyone will be able

[2020-06-20 19:07] lone-cloud commented on #453
As I look into it further, I believe build.env was used to provide this functionality in the past. Do envs get built into your bundle if you provide them in the next.config.js? This is not the recommended way to handle things anymore according the docs.

[2020-06-21 02:28] pbteja1998 opened #454 "Getting 403 errors on some of the POST requests"
**Describe the bug**
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML><HEAD><META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<TITLE>ERROR: The request could not be satisfied</TITLE>
</HEAD><BODY>
<H1>403 ERROR</H1>
<H2>The request could not be satisfied.</H2>
<HR noshade size="1px">
This distribution is not configu

[2020-06-21 10:04] katspaugh opened #455 "Nothing happens when deploying"
This is most likely some misconfiguration on my part but I can't figure out what exactly is wrong. Is there a verbose mode?

My `serverless.yml`:
[code]

When running `serverless`, it just displays a timer and nothing happens for 45 min and more:
[code]

I see it has created an S3 bucket and uploaded the Next app to it. No Lambdas or CloudFronts were created though.
Some sort of logging and progre

[2020-06-21 17:07] danielcondemarin commented on #455
@katspaugh Can you run `serverless --debug` and paste the output here please. That should give the necessary info to figure out where is going wrong.

[2020-06-21 17:09] danielcondemarin commented on #454
@pbteja1998 Is it an HTTP Post to a next API route?

[2020-06-21 17:11] pbteja1998 commented on #454
@danielcondemarin No, the POST request is to a backend Node Server.

[2020-06-21 17:12] pbteja1998 commented on #454
Everything was working till yesterday

[2020-06-21 17:13] danielcondemarin commented on #454
Where do you host this backend node server? I don't see how it has anything to do with serverless-next.js unless I'm missing something,

[2020-06-21 17:17] danielcondemarin commented on #453
@lone-cloud Unfortunately Lambda@Edge does not support environment variables. This will probably change in future as AWS should add support for it at some point.

That's exactly the case. That's why we added support for build-time Next.js env. configuration using `build.env`.

There may be some work to be done to better support the next 9.4 env release using `dotenv` but not sure what that would l

[2020-06-21 17:17] pbteja1998 commented on #454
It's hosted on AWS Lightsail. I don't know if it has anything to do with Serverless-NextJS. But the error says that there is some cloud front error. Hence opened an issue. My backend has no relation with cloud front.

[2020-06-21 17:27] katspaugh commented on #455
Thanks Daniel!

It's created an S3 and IAM roles successfully and seems to be hanging on the lambda creation step:

[code]
Is it supposed to deploy a single lambda for all pages or a lambda for each page? Because I know the entire zipped app is more than 90 MB. Which is bigger than a single lambda can hold.

[2020-06-21 17:31] danielcondemarin commented on #455
SSR pages to one Lambda, API pages to a separate one.

Check a couple of things,

- First that the aws user you are using for deploying has the permissions listed [here](https://github.com/danielcondemarin/serverless-next.js#aws-permissions), especially the lambda creation ones as it seems to be getting stuck there.

- If the above is fine, then try setting `useServerlessTraceTarget: true` in your

[2020-06-21 17:56] katspaugh commented on #455
Awesome, with `useServerlessTraceTarget` it worked like a charm! Thanks a lot!
Do you want me to leave this issue open? I guess it would be good to show an error when it cannot deploy a lambda.

[2020-06-21 17:58] danielcondemarin commented on #455
Let's close this one for now. I intend to make the serverless trace the default target hopefully soon 👍

[2020-06-21 17:58] #455 closed

[2020-06-21 18:04] #308 closed

[2020-06-21 18:14] danielcondemarin commented on #455
Out of interest, how many server side rendered pages do you have and how long did it take to deploy?

[2020-06-21 18:29] katspaugh commented on #455
34 pages, 297s.

I'm actually wondering how it managed to condense the 90 MB distribution into a 6.6 MB Lambda. Magic!

[2020-06-21 18:38] danielcondemarin commented on #455
Just one more thing if you don't mind, how much time it takes to run `next build`? I'm trying to figure out how long it took to package the ssr pages and deploy. There are a few optimisations I'm planning to do that should shave off some time.

Take a look 👀  at https://github.com/danielcondemarin/serverless-next.js/pull/405

[2020-06-21 18:45] katspaugh commented on #455
After deleting the `.next` folder, it took:
[code]

[2020-06-21 20:13] lone-cloud commented on #453
Very interesting. I did not realize that was a limitation.

I think the best course of action now is to have more documentation in the README to outline the next.config.js requirement as it is no longer standard. Next 9.4 revamped the way that env variables (https://nextjs.org/blog/next-9-4#new-environment-variables-support) should be provided and this was a big source of confusion for me when int

[2020-06-21 20:13] #453 closed

[2020-06-21 21:07] lone-cloud commented on #355
Hey @danielcondemarin, haven't heard from you regarding the new development stuff in a bit.
I absolutely want fallback support, preview mode and serverless component GA upgrade :). I am willing to commit time to work on the implementation. I am looking for your guidance (roadmap?) here, so that we don't start duplicating work.

[2020-06-21 21:41] danielcondemarin commented on #355
@lone-cloud It would make sense to tackle `getStaticPaths + fallback: true` next and previewMode last, once the foundation is there.

I'm currently looking into upgrading to serverless components GA. I'd be happy for you to take over this, thanks for that!

To support `fallback: true` you'll need to implement the following workflow:

![image](https://user-images.githubusercontent.com/1122442/85235

[2020-06-21 22:20] DanielOrtel opened #456 "Getting a constant error, "cannot delete lambda function, because it is replicated""
**Describe the bug**
So far, when setting `name:defaultLambda`, nothing happened, so the function name was assigned the default value of random numbers. This appears to have been fixed in a recent version, so newer deploys name the function appropriately, but now the deploy process tries to delete the replicated functions directly, which it cannot do, due to the way aws sets up replicated function

[2020-06-21 22:55] DanielOrtel commented on #456
Temporarily addressed this by removing `name:defaultLambda` and deleting the named functions. But this should still be addressed.

[2020-06-22 01:39] lone-cloud commented on #456
You're actually running the latest alpha that was released earlier today if you're experiencing this error.
The latest version of the aws-lambda component (that we're not using yet) requires manual deletion on renames too: https://github.com/serverless-components/aws-lambda/blob/master/src/serverless.js#L49
I'm not sure how to improve this experience.

[2020-06-22 04:03] lone-cloud commented on #355
Has step 1 been done already?
As I start looking at how now-next handles these things, I noticed that the pre-rendered manifest is not typed correctly. It's now this: https://github.com/vercel/vercel/blob/master/packages/now-next/src/utils.ts#L807 This type holds the logic for much of this work. It also shows that we need to start thinking about https://nextjs.org/blog/next-9-4#incremental-static-

[2020-06-22 06:25] teajoon opened #457 "javascript heap size error while deploying."
There is an error to deploy in new versions. - 1.14.0, 1.15.0-alpha.0
I used 1.12.0-alpha.6 version. And i checked the new version in release tab.
But it makes error like bottom unlike 1.12.0-alpha.6
**I enlarged the heap size as much as i can(12gb). However there was same error.**
I don't know what is different in 1.14.0, 1.15.0-alpha.0. But I hope it will work well in new version.

[code]

[2020-06-22 09:08] danielcondemarin commented on #355
Nope. Only the `origin-request` is attached. You'd need to add another entry for `origin-response` to the same lambda fn.

No objections, it simplifies things. We can document which version of next is required for it to work.

That one will be tricky to implement. We could discuss it separately after this RFC is completed.

[2020-06-22 10:15] emiliedebra commented on #292
Is there a reason this was closed?

[2020-06-22 10:42] emiliedebra opened #458 "Question: Is there a way to add a resource policy without having to manually create it in AWS Console?"
Versions used:
`serverless-next.js`: v1.15.0-alpha.0
`next`: v^9.4.0

I am wanting to restrict my serverless Next.js app by IP address on AWS.

Previously with `serverless-nextjs-plugin` you could simply add a resource policy in the `serverless.yml` like so:

[code]

Is there a way to do this with `serverless-next.js component` without having to manually create the resource policy arn?

[2020-06-22 12:29] DanielOrtel commented on #456
The issue isn't really that it requires manual deletion, it's that it doesn't properly register the new function to the cloudfront distribution, so the whole deploy fails halfway.

And regarding my versioning: I'm not sure what is going on with this package, but my yarn.lock, is specifically 1.12.0:

[code]

Seeing the same thing in the actual package in the `node_modules` folder. This isn't the f

[2020-06-22 14:00] lone-cloud commented on #456
Yeah, the version that you define in your package.json is not what gets used by serverless. Feel free to refer to the readme.

[2020-06-22 14:30] katspaugh opened #459 "Cookies shouldn't be forwarded for static files"
_Edit_: I'm completely rewriting the original issue.

Static file routes on CloudFront get created with the Query String and Cookies being forwarded to the S3 origin. This renders caching inefficient. Let's change it to not forward anything. I'd be happy to send a PR if you point me to where the config is in the code.

[2020-06-22 15:02] lone-cloud commented on #457
I would first try the latest versions. How did you increase the heap size? Did you try passing `max-old-space-size=4096` arg to the build via `build.args`?

[2020-06-22 15:11] lone-cloud commented on #397
I just realized that the bug you're talking about is right here: https://github.com/danielcondemarin/serverless-next.js/blob/master/packages/serverless-component/serverless.js#L414
The forward config always get overridden if you provided defaults.forward. I'll get a PR out to fix it.

[2020-06-22 16:04] SarKurd commented on #292
I didn't think Daniel would like to add this, i believe this will makes things much easier if they do.

I'll reopen it.

[2020-06-22 16:26] DanielOrtel commented on #456
OOh, right, I forgot about that, I need to set the version in the serverless.yml.

[2020-06-22 20:17] danielcondemarin commented on #292
Have you checked https://github.com/danielcondemarin/serverless-next.js#aws-permissions ? You can add a policy input to the component:

[code]

[2020-06-22 20:41] danielcondemarin commented on #459
@katspaugh Could you pin a version number as recommended in https://github.com/danielcondemarin/serverless-next.js#getting-started? That will make sure is not up to serverless which version of the component to pick. Try using `@1.14.0` which is latest stable published.

[2020-06-23 00:34] SarKurd commented on #292
@danielcondemarin Currently i wrote above code in the serverless.js file to create the policy and attach it to the yml file, i was hoping this plugin just let us extend the roles instead.

Not a big deal but would be nice to have this and let us attach any extra inline policy we need
https://github.com/serverless-components/aws-iam-role#4-configure (i know it's for V2 but something like this would

[2020-06-23 02:19] teajoon commented on #457
i tried like this.
[code]

[2020-06-23 02:25] lone-cloud commented on #457
I don't think that would work as `next build` would be forked as a new process and it wouldn't have the increased memory size. I haven't tried it, but the solution might be to provide the `build.args` input as `['build', '--max-old-space-size=4096']` in the serverless.yml

[2020-06-23 08:04] TuuZzee opened #461 "Error: Source and destination must not be the same. When using useServerlessTraceTarget"
This is most likely some misconfiguration on my part but I can't figure out what exactly is wrong. I reported this issue with a comment on [#405](https://github.com/danielcondemarin/serverless-next.js/pull/405) but I believe it's more appropriate to create a bug report. Let me know if this isn't the right way :)

**Describe the bug**
When running `serverless` with the Inputs `useServerlessTraceTar

[2020-06-23 08:15] teajoon commented on #457
Thanks for guide. However It also makes same error.
My inputs is like this.

[code]

[2020-06-23 09:50] emiliedebra commented on #458
As an FYI,
I have attempted to add another component into the `serverless.yml` as suggested here: https://github.com/danielcondemarin/serverless-next.js#my-component-doesnt-deploy
Such as:

[code]

However I get the following error:
`Error: Component "serverless/aws-iam-role" was not found on NPM nor could it be resolved locally.`
I get a similar error for the example you put in the above link.

F

[2020-06-23 10:13] katspaugh commented on #459
Thanks! I did but it didn't help. Serverless was previously picking the 1.15.0-alpha.0.

[2020-06-23 14:33] kevinswarner commented on #9
I use this with AWS with great success and would enjoy having it for Google Cloud. My preference would be to deploy to Cloud Functions and Cloud Storage. I have seen some deploy to App Engine, but I would like to see the approach mirror the AWS approach as much as possible.

[2020-06-23 16:52] lone-cloud commented on #457
I'm not sure if that way works. How about:
[code]

[2020-06-23 22:00] #397 closed

[2020-06-23 22:19] danielcondemarin commented on #461
@TuuZzee Could you post your directory structure? i.e. Are you in a monorepo and from which directory you are running `next build`.

[2020-06-24 02:22] TuuZzee commented on #461
It's a monorepo for this project, here is the current directory and file structure structure:
[code]
I am running the next build from the root of the project.
I have the following scripts in the `package.json` file:
[code]

[2020-06-24 11:01] DanielOrtel commented on #456
Closing this, since it was an accidental usage of an alpha build.

[2020-06-24 11:01] #456 closed

[2020-06-24 11:24] DanielOrtel opened #463 "Is there any way to remove `www` as the default subdomain, or have a redirect policy when accessing the root domain?"
**Is your feature request related to a problem? Please describe.**
We're recently had a weird issue, both with CORS and with user login on our site(example.com for this example). The issue came from the fact that our site is normally accessible as `https://example.com` and no redirects happen, but when someone tries to access as either `http://example.com` or `www.example.com`, they gets redirecte

[2020-06-24 12:28] teajoon commented on #457
@lone-cloud

Thanks for reply.
I put the code u guided, and it makes another error, like this.
[code]

I founded this error message in other issue #447
The isssue is closed with version 1.14.0. However, I think it is still going on.

My current serverless.yml file is like this.
[code]

[2020-06-24 23:47] epicfaace commented on #304
@barrysteyn any thoughts on this?

[2020-06-25 00:49] lone-cloud opened #465 "feature: pull in @serverless/domain into serverless-next.js to be able to configure it better"
That library is hiding various important configuration that should be exposed to the users of serverless-nextjs. Note that it doesn't appear that, that @serverless/domain is being maintained anymore: https://github.com/serverless-components/domain

Proposal:
- pull in @serverless/domain. Note that this will obliterate the code coverage % as that library comes with no tests.
- update the MinimumPro

[2020-06-25 05:11] lone-cloud commented on #463
I see that this feature has been requested multiple times now. Ex. #192
I'll close and address this in the solution for #465

[2020-06-25 05:11] #463 closed

[2020-06-25 05:13] lone-cloud commented on #192
Will be addressed with #465

[2020-06-25 05:13] #192 closed

[2020-06-25 08:38] #167 closed

[2020-06-25 15:43] teajoon opened #467 "pages-manifest not found. Check if `next.config.js` target is set to 'serverless'"
I know it is closed via other issue. #447
However, in my case, i am still watching the error while deploying.
My serverless.yml file is like this.
[code]

I think "--max-old-space-size=8192" makes this error.
But I have to put the build option since there is an javascript heap size error while deploying.
If I remove "args: ['build', '--max-old-space-size=8192']", pages-manifest error is not occure

[2020-06-25 15:44] teajoon commented on #457
It is close since it is solved with build option(--max-old-space-size=8192),
But it makes another error, so i made a new issue.

[2020-06-25 15:44] #457 closed

[2020-06-25 16:09] lone-cloud commented on #467
How long does your build take before failing with that error? It's highly unusual to be running out of heap space in the first place, so I'm trying to understand what makes your app different. How many pages are in your app?

What happens if you add the `useServerlessTraceTarget: true` input?

[2020-06-25 19:59] EugeneDraitsev commented on #208
Looks like it fixed in `^2.5.2-alpha.0`

[2020-06-26 00:36] teajoon commented on #467
It is about 80 pages.
I am migrating from angular+SSR to nextjs+SSR.

[code]
I put the code, but the error is still going on..
If u need to see my project, i can send u an invitation.

[2020-06-26 03:24] lone-cloud commented on #465
The implementation turned out slightly different than was originally planned: #466  The goal was to allow for greater flexibility with configurations.
Also a new "verbose" input is planned to be added for easier debugging.

[2020-06-26 07:48] katspaugh commented on #459
I've compared the [CloudFront.yml](https://github.com/danielcondemarin/serverless-next.js/blob/master/packages/serverless-plugin/resources/cloudfront.yml#L54) in this project and an [example template from AWS docs](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/quickref-cloudfront.html), and it's seems correct.
Something must be changing this config in the code?

[2020-06-26 08:14] medv commented on #459
@katspaugh that example is from the serverless-plugin, which is different to serverless-next.js component.
This might help? https://github.com/danielcondemarin/serverless-next.js#custom-cloudfront-configuration

[2020-06-26 08:31] katspaugh commented on #459
I see. To clarify, I'm arguing that cookies shouldn't be forwarded in the default configuration.

[2020-06-26 15:21] lone-cloud commented on #467
You'll have to read the README yourself and conduct your own debugging.
The pages-manifest is created only for serverless-type builds. You should ensure that `next build` runs correctly for your project and that the manifest file is generated in the .next directory. The serverless-nextjs build runs it in the same way. An upcoming PR #466 adds a new "verbose" input that will may offer some insight

[2020-06-26 15:24] lone-cloud commented on #450
Questions = answered. Closing as no follow up.

[2020-06-26 15:24] #450 closed

[2020-06-26 15:30] lone-cloud commented on #357
That aws-lambda's been abandoned for a while now, which is why it's a part of the project now. Feel free to create the PRs to fix your issues here.

[2020-06-26 15:54] lone-cloud commented on #459
I'm pretty confident that you're looking to make is here: https://github.com/danielcondemarin/serverless-next.js/blob/master/packages/serverless-component/serverless.js#L231
It sounds like you want to add:
[code]

[2020-06-26 17:58] hoonio commented on #289
I had the same issue too. The fix for me was to `serverless logout`. I attempted to deploy using serverless cli before to another app created via Serverless dashboard (which is tied to a different IAM user I presume)

[2020-06-26 22:05] #459 closed

[2020-06-26 22:55] mrowles commented on #334
I would still very much like this feature :)

[2020-06-27 02:10] katspaugh commented on #459
Thank you, @lone-cloud!

[2020-06-27 08:31] yellowtailfan opened #469 "access denied on CloudFront website after setting bucketRegion"
**Describe the bug**
When I set the bucketRegion to ap-southeast-2, I got an access denied page when I visited the CloudFront URL.

**To Reproduce**
Steps to reproduce the behavior:

1. Run `npx create-next-app` and change directory into the project folder
2. Add `serverless.yml` to the project folder
3. Run `sls`
4. Wait for the AWS CloudFront console to show the new distribution has finished dep

[2020-06-27 08:59] yellowtailfan commented on #469
I made a simple change to the sample website text and ran `sls` to deploy the change and got access denied again. The deployment had stripped the region name back out of the CloudFront origin. I put it back in and the sample website works again including the text change.

So it seems the work around has to be reapplied after each `sls`.

[2020-06-28 04:55] lone-cloud opened #470 "feature: redirect to the supported domain type when using the input domainType = www/apex"
This is meant to cover the case when deploying to a www/apex domain and using the input "domainType"  = "www" or "apex". Currently there is no redirect to the unsupported domain.
The domainType input was added with https://github.com/danielcondemarin/serverless-next.js/pull/466

The 301 redirect will live in the lambda code and will 301 to the supported www/apex domain when a request comes in for

[2020-06-28 16:03] #465 closed

[2020-06-28 21:35] lone-cloud commented on #469
Hey, thanks for the report and your observations are on point. https://github.com/serverless-nextjs/serverless-next.js/blob/master/packages/serverless-component/serverless.js#L197 needs to be fixed and the bucketUrl below it. Right now it defaults it to s3 (us-east) instead of being region-specific.

[2020-06-29 19:21] lukemarshdv opened #473 "Using useServerlessTraceTarget with nextConfigDir causes a 503 in Cloudfront"
serverless-next.js `v14.0`
next.js `v.9.3.1`

I have `useServerlessTraceTarget: true`
My next.config.js is in a different directory to the serverless.yml file so I'm using `nextConfigDir: ../../../`

I'm getting a 503 error on cloudfront when i deploy:

[code]

[2020-06-29 20:04] lukemarshdv commented on #473
I have removed useServerlessTraceTarget and everything is working but I think there might be an issue with it

[2020-06-30 03:57] bitfrost opened #475 "next-aws-cloudfront is referenced via requires in various places after package rename to @sls-next/next-aws-cloudfront"

[2020-06-30 09:44] TuuZzee commented on #461
I try to use the `useServerlessTraceTarget: true` with a basic NextJS project to make to make sure it's coming from my project, it worked fine all fine. So I added the packages and files/folders structure incrementally in hope of finding the root cause. I was able to add all the pkgs and files/folders structure with no issue.
All worked fine until I copied files via the *Finder* from mac OS. At th

[2020-06-30 09:46] danielcondemarin commented on #461
@TuuZzee If you provide a simple reproduction of the problem in a repo I can access that would be greatly appreciated. I'll take a look at it asap.

[2020-06-30 10:28] TuuZzee commented on #461
I have made a boilerplate here: https://github.com/TuuZzee/boilerplate-NextJS based on this issue. Just need to run the usual `npm install` and add a `.env` file. I get the error on it as well, hope this helps.

[2020-06-30 15:25] lukemarshdv commented on #185
@danielcondemarin there's been chat about adding vpc configuration to this and it looks like the aws-lambda package now supports it. The question is - will it work?

[2020-06-30 15:43] bitfrost commented on #475
Example: https://github.com/serverless-nextjs/serverless-next.js/blob/master/packages/lambda-at-edge/src/build.ts#L174

[2020-06-30 19:22] danielcondemarin commented on #475
@bitfrost Just pushed a fix for this and deployed. Could you try using this config and close if it works?

[code]

[2020-06-30 20:24] danielcondemarin opened #477 "RFC - Using an existing CloudFront distribution"
### Problem

Currently you can’t reuse an existing CloudFront distribution when deploying your Next.js application with `serverless-next.js`
This is a pretty common use case for many users that need a single CloudFront distribution as a gateway to different applications (e.g. multiple Next.js frontends), proxies etc.

### Proposal

Add a new input to `serverless-next.js` to pass an existing distri

[2020-06-30 20:33] bitfrost commented on #475
I do not have a full serverless app setup  (I  am using the cdk and a set of these packages directly).   The issue is fixed for me though.  Thank you!

[2020-06-30 20:33] #475 closed

[2020-06-30 20:35] danielcondemarin commented on #475
Oh I'm curious now, I'd love  to add CDK support! Let me know if you'd like to contribute on that :)

[2020-06-30 20:47] bitfrost commented on #475
Once I get it fully working / and generic enough I would love to. Once I have something worth sharing I will ping you.

[2020-06-30 22:15] tyler-ground opened #478 "Error: Cannot find module '@sls-next/next-aws-cloudfront'"
**Describe the bug**
When deploying serverless I am suddenly getting the above error

**To Reproduce**
Deploy project

**Expected behavior**
Successful deploy

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**

- OS: OSX
- Version: 1.15.0-alpha.2

[2020-06-30 22:17] lone-cloud commented on #478
Have you tried using the latest `component: "@sls-next/serverless-component@1.15.0-alpha.4"`?

[2020-06-30 22:18] tyler-ground commented on #478
small tweak, I had an up arrow in package.json so I think it's actually running "1.15.0-alpha.2"

[2020-06-30 22:18] tyler-ground commented on #478
@lone-cloud oh, the latest on npm is alpha.2

[2020-06-30 22:19] lone-cloud commented on #478
We very recently switched package names. The latest is here: https://www.npmjs.com/package/@sls-next/serverless-component

[2020-06-30 22:20] tyler-ground commented on #478
ohhhhhhh,  THANKS!

[2020-06-30 22:21] tyler-ground commented on #478
Can we add a pointer to the NPM page to the new package?

[2020-06-30 22:22] lone-cloud commented on #478
A question for @danielcondemarin

[2020-06-30 22:22] tyler-ground commented on #478
Downgrading to 1.14.0 did fix this, I assume the latest alpha will fix it as well :)

[2020-06-30 22:22] tyler-ground commented on #478
spoke too soon, downgrading did not fix it, going to try alpha 4

[2020-06-30 22:27] tyler-ground commented on #478
still failing, going to see where the bug is.

[2020-06-30 22:33] danielcondemarin commented on #478
I am planning to deprecate it once the latest alpha is graduated to stable.

[2020-06-30 22:36] tyler-ground commented on #478
Okay, I made an error when I tried the new package (needed to update the name in serverless.yml). Deploying again

[2020-06-30 22:38] tyler-ground commented on #478
Deployment Succeeded!

TLDR: If you are hitting this error switch to the new package path (and also update serverless.yml)

[2020-06-30 22:39] #469 closed

[2020-06-30 22:48] #478 closed

[2020-07-01 03:46] medv commented on #185
Lambda@Edge will not allow VPC or provisioned concurrency - if you consider that they live at 160+ edge locations then VPC not being allowed makes sense, and provisioned concurrency set to 1 would give you something like a $700 bill if it was allowed.

[2020-07-01 05:19] wis commented on #185
@medv true.
cold start time is the biggest issue with Lambda@Edge rendering, edge locations being geographically closer to the client saves from 100ms to 300ms (due  to ([in part](https://royal.pingdom.com/theoretical-vs-real-world-speed-limit-of-ping/)) speed of light in fiber-optics) but the cold start time is easily double that.
I currently use this component, which I think is awesome itself*,

[2020-07-01 06:56] medv opened #479 "Trailing slashes on root pages return 404"
**Is your feature request related to a problem? Please describe.**
Accessing root pages with a trailing slash (often how links get formatted in applications and sites we push them out to) returns the 404 page.

**Describe the solution you'd like**
I can see that Next@9.4.5, which is currently in canary, solves or at least addresses this problem, so hopefully this is something that can be maintaine

[2020-07-01 13:40] muthuridennis opened #480 "Started getting the Error: Cannot find module '@sls-next/next-aws-cloudfront'"
**Describe the bug**
My deployments have been working well on AWS being ran by code build. Today I suddenly got an error for my builds on two separate AWS instances with the error:

[code]

**Expected behaviour**
Ideally the deployment should give a success and output the cloudfront link.

**Additional context**
I haven't had any package related issue with the package and I'm running using the fol

[2020-07-01 14:14] supergoteam-andy commented on #480
I've started experiencing this issue in my CI in the last 2 days.

[2020-07-01 14:25] muthuridennis commented on #480
Could be tied to a commit made on their package.json. I saw that an update was made 19 hours ago.

[2020-07-01 14:25] danielcondemarin commented on #480
Hi folks, please pin the version number in your `serverless.yml` [like it states in the README](https://github.com/serverless-nextjs/serverless-next.js#getting-started). For example:

myNextApplication:
  component: "serverless-next.js@1.9.5"

[2020-07-01 14:34] muthuridennis commented on #480
Thanks it works.

Must be a new config from when I plugged in the package into my project. I followed the docs when they were at this state: https://github.com/serverless-nextjs/serverless-next.js/blob/ed2b3beda852a3ed55789d167cb378cdbe690d53/README.md. Haven't had a need to look at them since then.

[2020-07-01 14:34] #480 closed

[2020-07-01 14:41] supergoteam-andy commented on #480
Same for me, I have had it without the version based on those docs.

Pinning the version has resolved for me. Thanks!

[2020-07-01 15:05] danielcondemarin commented on #480
Yeah that changed a while back and is now via the serverless.yml how you pin a version number. Also just for visibility to people landing into this issue, I've renamed the package to `@sls-next/serverless-component` to keep everything under @sls-next but that's till on alpha. Once it makes it to stable I'll deprecate the `serverless-next.js` npm package.

[2020-07-01 15:20] Shadrack1701 opened #481 ""Error: Cannot find module '@sls-next/next-aws-cloudfront'" when running serverless with serverless-next.js"
When either local or it github actions our serverless command now always fails when deploying with the error:
 Error: Cannot find module '@sls-next/next-aws-cloudfront'

For me to reproduce this I can run npx serverless in github pipeline or locally.

To deploy the next js application to aws stack.

Here is the error from github, same as what I get locally:
[code]
Here are my dependencies in my pa

[2020-07-01 15:22] danielcondemarin commented on #481
Duplicate of https://github.com/serverless-nextjs/serverless-next.js/issues/480

[2020-07-01 15:22] #481 closed

[2020-07-01 15:23] Shadrack1701 commented on #481
@danielcondemarin thanks for the quick response!  Sorry I didn't see that one.

[2020-07-01 15:56] lone-cloud commented on #479
The immediate solution would indeed be to fork this project and merge #448 in. You can then deploy from local serverless-components (look at CONTRIBUTING.md for reference).
I see a PR was merged for Next 9.4.5 to add ```experimental: {
    trailingSlash: true,
  },```. I see this was only implemented to be read on the next-server and not something that would be reflected in the manifests (AFAIK) w

[2020-07-01 20:21] danielcondemarin commented on #479
I'd normally recommend holding off merging until it becomes stable. Having said that if someone wants to take a stab and start putting together a PR go for it 👍

[2020-07-01 22:58] jeffmarshall commented on #480
I don't know what to put in my serverless.yml. All I have is `component: serverless-next.js` under myApp, and I don't seem to have a serverless-next package installed. Also, the instructions on serverless.com say this:

[code]

How do I find the version of serverless-next that I should pin it to in my serverless.yml?

[2020-07-02 00:14] Arditc commented on #254
Hi,
Is there any updates on this?
Because I'm facing the issue where I'm using domain.com cloud front to direct to s3 bucket (to redirect to www) and www.domain.com to go to the serverless nexjs application.

[2020-07-02 01:10] msimonc opened #483 "Previously deployable, Cannot find module '@sls-next/next-aws-cloudfront'"
Local dev is working,

1.15.0-alpha.0 - 1.15.0-alpha.2

w/ or w/o "next build"

sls:
(After 10+ seconds)

{
  code: 'MODULE_NOT_FOUND',
  requireStack: [
    '/Users/mark/.serverless/components/registry/npm/serverless-next.js@1.15.0-alpha.2/node_modules/@sls-next/lambda-at-edge/dist/build.js',
    '/Users/mark/.serverless/components/registry/npm/serverless-next.js@1.15.0-alpha.2/node_modules/@sls-

[2020-07-02 01:41] lone-cloud commented on #483
Its been renamed, bring in the new component by name like:
`component: "@sls-next/serverless-component@1.15.0-alpha.4`

[2020-07-02 02:53] Shadrack1701 commented on #480
It seems like to resolve this issue we have to go to at least 1.14.0 ...

Which at that version I can't get the names of the lambdas to be set correctly as it looks like that pull request was in 1.15.0-alpha.0

Am I correct in these assumptions?  Any idea if there can be a 1.14.1 release with the name fix or any idea when the cloudfront package issue in the 1.15.0-alpha series will be resolved?

T

[2020-07-02 03:26] #483 closed

[2020-07-02 04:04] alan345 commented on #480
it worked for me by replacing

[code]
to
[code]

[2020-07-02 09:10] develop-stuartohare opened #484 "useServerlessTraceTarget - Style class names are mismatched when deployed using this flag"
Hi, I'm experiencing some problems when deploying using the useServerlessTraceTarget flag in my serverless.yml.

"@material-ui/core": "^4.11.0",
"next": "^9.4.4",
"serverless": "^1.73.1",
"serverless-next.js": "1.15.0-alpha.0",

When running locally, material-ui classNames - for example "makeStyles-test-1",  are correctly represented in the rendered style elements as head->style-> .makeStyles-test

[2020-07-02 10:58] Trandel commented on #419
:+1:

[2020-07-02 12:01] medv commented on #479
Ah of course! That bit about the separation between server and manifest routing makes sense. Thanks @lone-cloud

We're heading to production in a few days for ~3000 users/hour. This component has been absolutely instrumental in helping us achieve this in a sane way. Thank you both for the effort. I'm hoping we can ignore the trailing slashes for a few days yet, but this will definitely come back t

[2020-07-02 12:44] lukemarshdv opened #486 "Use existing S3 bucket"
Firstly, let me say thank you for this plugin. It has saved me a lot of time!

I would like the ability to use an existing bucket as our cdn already contains a bunch of other assets.

Is this something that would be possible?

[2020-07-02 13:03] dmsolutionz commented on #480
Just be aware 1.9.5 is 5 minor versions behind... Suggest using 1.14.0 or 1.15.0-alpha.1(last known good before breaking changes)

[2020-07-02 15:44] lone-cloud commented on #486
Have you tried using the "bucketName" input? https://github.com/serverless-nextjs/serverless-next.js#inputs

[2020-07-02 15:46] lone-cloud commented on #484
Have you already followed https://material-ui.com/styles/advanced/#next-js ?

[2020-07-02 17:59] lukemarshdv commented on #486
@lone-cloud yes that’s what I’m using but i get an error that the bucket could not be deleted when deploying

[2020-07-02 18:26] lone-cloud commented on #479
My plan was to leave this one for you :)

From what I see, it will not be copy/pasta of #448, but similar.
This is the Next-side of the implementation for this task: https://github.com/vercel/next.js/pull/13333
The driving force for this feature will be whether the `experimental.trailingSlash=true` value is set in the deploying Next.js project's `next.config.js`. As the lambdas are stateless, you

[2020-07-02 18:31] lone-cloud commented on #486
Have you also tried setting the "bucketRegion" input to match the region of your bucket?

[2020-07-02 19:43] #142 closed

[2020-07-03 02:37] #428 closed

[2020-07-03 03:48] medv commented on #479
Perfect, I'll have a hack next week. Thanks for the info!

[2020-07-03 03:55] lone-cloud commented on #473
I would try testing it again with the latest version of Next.js. If that still doesn't work, I suspect that there might be a bug related to "nextConfigDir: ../../../". Ideally you want to have useServerlessTraceTarget set to true and this component will default to this value being true in the future.

[2020-07-03 08:47] TuuZzee commented on #461
Any luck with the repo I provided ?

I am not sure I understand which `Source and destination` this error is referring to. It's not building pages under the `.serverless_nextjs/default-lambda`, I am guessing that could be what this is about.

I tried removing all non essentials files from the project to see if that affect anything(things like editor config files etc...), but it doesn't change the

[2020-07-03 08:49] danielcondemarin commented on #461
Thanks for the repro! I've not had a had a chance to look into it but I'm hoping to get some time this weekend.

[2020-07-04 14:26] danielcondemarin commented on #236
@kenberkeley I had a look at your repo.zip example and an option could be to move `"deploy": "serverless"` from the client/ package.json to the monorepo root. You would need to do this in combination with `nextConfigDir: packages/client` documented in the inputs.

[2020-07-04 14:32] danielcondemarin commented on #473
@lukemarshdv Can you share your directory structure please? And from which directory you run `serverless`?

The `cwd` from which the `serverless` command is run is set as the [base path for node-file-trace](https://github.com/vercel/node-file-trace#base). That means dependencies seating "above" that directory aren't resolved. For example:

[code]

Only node_modules from `dir2` will be resolved. I

[2020-07-04 15:55] danielcondemarin commented on #461
@TuuZzee I haven’t been able to reproduce the issue using the repro. Are there any specific steps  I need to take?

[2020-07-04 22:27] kenberkeley commented on #236
@danielcondemarin 🙏🙏🙏

[2020-07-05 15:55] stephanschubert opened #489 "Can't pin the component's version in `serverless.yaml`"
[code]

I tried installing it...

[code]

My `serverless.yaml`:

[code]

[2020-07-05 16:16] medv commented on #489
Use this: `@sls-next/serverless-component@1.15.0-alpha.4`

[2020-07-05 16:19] stephanschubert commented on #489
@medv I tried that first but no luck:

[code]

[2020-07-05 16:25] medv commented on #489
Is your internet connection all good? Here it is live on npm https://www.npmjs.com/package/@sls-next/serverless-component and I'm using it about 5 times a minute at the moment all day.

[2020-07-05 16:26] stephanschubert commented on #489
@medv I wondered about that too but I can browse the web and install NPM packages.. no prob.

[2020-07-05 16:31] stephanschubert commented on #489
D'oh. I ran `npm config get registry` and saw it was still using a custom one from another project. My bad.

[2020-07-05 16:31] #489 closed

[2020-07-05 19:45] stephanschubert commented on #479
I just ran into that issue too. Reloading `/some-page/` works locally with `next@9.4.5-canary.28` and `experimental: { trailingSlash: true }` but fails when deployed.

[2020-07-05 20:02] danielcondemarin commented on #479
@medv If you are interested I'll add you to our contributors slack channel! DM me on [twitter](https://twitter.com/dcondemarin) for an invite.

[2020-07-06 09:08] develop-stuartohare commented on #484
Hi, thanks for the reply.

Yes I have followed the documentation as per the link provided.

I can deploy without using the useServerlessTraceTarget flag and classnames in style tag and in components/elements are in sync. But deploying with useServerlessTraceTarget : true they are not.

I'm testing this against a very simple codebase with _app.js/_document.js & index.js pages and no next.config.js.

[2020-07-06 09:09] ivanpetrushev opened #490 "serverless can't find package from a pinned version"
**Describe the bug**
According to [README](https://github.com/serverless-nextjs/serverless-next.js/blob/master/README.md#getting-started) we must pin the serverless-next.js version like:
[code]

However, from some time ago pinning version doesn't work. Last I was able to pin:

And after this something in the package name changed (serverless-next.js => @sls-next/serverless-component) and the new na

[2020-07-06 09:11] ivanpetrushev commented on #490
Silly me... "@sls-next/serverless-component@1.15.0-alpha.5" != "@sls-next/serverless-component@{1.15.0-alpha.5}"

[2020-07-06 09:11] #490 closed

[2020-07-06 20:00] andrewgadziksonos commented on #440
I'm also using yarn workspaces and was able to reproduce this error on dynamic routes.  The fix was to add this to my `package.json` file in specific nextjs package in my monorepo

[code]

[2020-07-06 23:02] promediacorp opened #491 "Error: CloudFront input failed validation. Could not find next.js pages for "viewerCertificate""
When attempting to add an ACM certificate to the CloudFront distribution, getting the error after deploying:

_Error: CloudFront input failed validation. Could not find next.js pages for "viewerCertificate"_

Here is the serverless.yaml:

[code]
I do see the cloudfront distribution updating in the console, but that cert does not get added in fails with the above message.

The reason I am going dow

[2020-07-07 03:57] SarKurd commented on #491
Serverless-next.js uses V1 of AWS-cloudfront component which doesn't support aliases and viewerCertificate (unfortunately a dead project) many asked in the issues list

here the V1 component.
https://github.com/serverless-components/aws-cloudfront

For my project i currently do it manually in the AWS console

[2020-07-07 07:06] medv commented on #479
@danielcondemarin yep definitely, can't message you there it seems (don't use twitter other than having an account - might be restricted from messaging for this reason), so send me a link through github or to my [twitter](https://twitter.com/medv) and I'll jump in.

[2020-07-07 08:55] lone-cloud commented on #491
aws-cloudfront was already pulled into this project. We can make any changes to it in here. Also that lib is not being used to set the viewerCertificate as you would think.

@promediacorp you inputs are not correct. It's not obvious in this case, but try:
[code]

[2020-07-07 08:57] lone-cloud commented on #479
serverless-nextjshq.slack.com
Will delete later.

[2020-07-07 13:47] promediacorp commented on #491
i tried that format, it successfully deploys with no errors this time, but does not add the cert to the distribution.

how would one go about point a domain in a different aws org account to the cloudfront distribution? i

[2020-07-07 15:51] lone-cloud commented on #491
Actually it wouldn't yet work on version 14 that you're using. Try with this component "@sls-next/serverless-component@1.15.0-alpha.5".
The domain should be in the same aws org account afaik.

[2020-07-08 11:10] adonig commented on #480
Would it make sense by default to use the version installed locally?

[2020-07-08 11:43] bhall2001 commented on #328
Based on some of the ideas here, I've now deployed 2 websites with a GitHub Actions process that deploys to both a staging and production environment using standard GitHub practices. It's working quite well and as a result I've created a repo that demonstrates how I set it all up.

At a high level when you commit to the master branch, "staging" is deployed while creating a release by tagging a com

[2020-07-08 12:58] promediacorp commented on #491
@lone-cloud updated the component, but still get Error: Domain was not found in your AWS account. The domain hosted zone is an another account in the same org.

[2020-07-08 13:19] stary71 commented on #480
What if I have "serverless-next.js": "^1.7.0" in package.json
but
"serverless-next.js": {
      "version": "1.11.2",
...
in package-lock.json? What version is better to pin there?

[2020-07-08 13:30] andrewgadziksonos commented on #355
Hello @lone-cloud and @danielcondemarin!

I would like to offer my support to this repo and help contribute to its code base.  Wasn't sure what the best way was to contact you both so please forgive me if this wasn't the proper avenue.   I've read the contribute readme and I'm fully setup and ready to go.  Let me know what I could tackle, or help tackle.

Thanks,

Andrew

[2020-07-08 13:47] danielcondemarin commented on #355
@andrewgadziksonos Appreciate the help, thanks! Could you send me a DM on [twitter](https://twitter.com/dcondemarin) and I'll add you to our contributors channel.

[2020-07-08 14:59] lukemarshdv commented on #486
@lone-cloud I added createAssetBucket to inputs and it worked perfectly. I added a debug but it didn't show me anything useful!

[2020-07-08 15:07] lukemarshdv commented on #473
@danielcondemarin Sorry it's taken me a while to get back to you! I was busy releasing our code into production. Your plugin has made this possible - thank you!

Here is my directory structure:

[code]

I've set my `nextConfigDir` to `../../../`

The reason we have a setup like this is that we have multiple applications (each requiring different cloudfront settings)

[2020-07-08 16:33] lone-cloud commented on #473
The fix is pretty simple based on what Daniel wrote, you just need to correct the path to nodeFileTrace in two places in this file: https://github.com/serverless-nextjs/serverless-next.js/blob/master/packages/lambda-at-edge/src/build.ts#L153

Instead of doing that I recommend flattening out your config directory to keep .serverless in S3 and to populate a single serverless.yml using env vars durin

[2020-07-08 17:47] andrewgadziksonos commented on #355
@danielcondemarin It says you can't be messaged directly.  Here's my [twitter](https://twitter.com/z0oks)

[2020-07-08 17:59] lukemarshdv commented on #473
I agree the pattern I’m using isn’t ideal but we have many origins and behaviours which differ for each application. We used to use terraform to populate these in Cloudfront but this plugin means I can’t use terraform anymore. if I could use this and continue to use terraform it would simplify the serverless files

[2020-07-08 20:08] OisinOKeeffe commented on #192
@lone-cloud thanks for your work on #465 , however, I think @mursky is looking for an option to rewrite domain.com to www.domain.com.

@amursky I've achieve this as follows:
- create a lambda function the the following:
`exports.handler = async (event) => {
  // (1)
  const request = event.Records[0].cf.request;

  // (2)
  if (request.headers.host[0].value === 'domain.com') {
    // (3)
    retur

[2020-07-08 20:14] lone-cloud commented on #192
I documented the prefer way to do this that will work with the new domainType input: https://github.com/serverless-nextjs/serverless-next.js#i-was-expecting-for-automatic-subdomain-redirection-when-using-the-domaintype-wwwapex-input
It's a one time setup per domain. I don't think you really want to do this redirecting with lambdas.

[2020-07-08 20:16] OisinOKeeffe commented on #192
Ahh, I didn't see that when I reviewed the readme. Might be an idea to link to this in the domainType description somehow.

Thanks again!

[2020-07-09 22:23] danielcondemarin opened #492 "Pass existing CloudFront Distribution ID to aws-cloudfront"
Currently the [aws-cloudfront](https://github.com/serverless-nextjs/serverless-next.js/tree/master/packages/aws-cloudfront) component only supports creating new CloudFront distributions.

In order to support the [RFC - Using an existing CloudFront distribution](https://github.com/serverless-nextjs/serverless-next.js/issues/477) aws-cloudfront would need to allow passing an existing distribution ID

[2020-07-09 22:56] danielcondemarin opened #493 "S3 307 errors on initial deploy for buckets outside us-east-1"
**Is your feature request related to a problem? Please describe.**

When doing the first deployment of my app using any bucket region other than `us-east-1` it takes a while for my app to be available. For example:

[code]

On initial deploy 307 errors are received from the CloudFront distribution. This is because buckets provisioned outside us-east-1 take time for their DNS to propagate. See an i

[2020-07-10 08:25] rrooding opened #494 "BasePath support"
I'm trying to use the Next.js basePath option (https://github.com/vercel/next.js/issues/4998) with serverless-next.js but I'm having some problems.

Please let me know if I'm missing something but as far as I can see this is not supported yet.

I am happy to contribute a PR but would like to discuss the implementation first. My suggestion is to read the basePath setting from the next.config.js fil

[2020-07-10 18:49] andrewgadziksonos commented on #493
https://github.com/serverless-nextjs/serverless-next.js/pull/495

[2020-07-11 09:00] botond-veress opened #496 "Public asset throws 403 SignatureDoesNotMatch when bucket region is not N. Virginia"
**Describe the bug**
I use this lib for a while now, and it always worked like a charm. Good job guys!

But lately, I noticed on new projects that public assets (favicon, robots.txt, basically anything in the public folder) cannot be loaded because I get a Cloudfront/S3 SignatureDoesNotMatch error. I couldn't find anybody reporting the same issue so I started digging deeper.

**To Reproduce**
Step

[2020-07-11 09:17] danielcondemarin commented on #496
Thanks for reporting @botond-veress !

Could you post your `serverless.yml` as well? We got a PR in progresss here (https://github.com/serverless-nextjs/serverless-next.js/pull/495) that may also fix this if my last suggestion in [this comment ](https://github.com/serverless-nextjs/serverless-next.js/pull/495#issuecomment-656894152) is implemented.

[2020-07-11 09:20] danielcondemarin commented on #496
Also to get the project working locally for you [this](https://github.com/serverless-nextjs/serverless-next.js/blob/master/CONTRIBUTING.md) should help.

[2020-07-11 09:22] botond-veress commented on #496
Thanks for the fast reply @danielcondemarin.

Here is the serverless.yml:

[code]

Btw, I followed the CONTRIBUTING guide but as I said the `yarn` fails, because during postinstall the lerna exec fails to install aws-sdk:

[code]

[2020-07-11 09:26] danielcondemarin commented on #496
Mmh that same error has happened on CI before a few times, never for me locally though. Probably worth starting by bumping the aws-sdk in the packages that is being used and see if that fixes it?

[2020-07-11 09:52] botond-veress commented on #496
@danielcondemarin I opened a tiny PR so this can fixed until https://github.com/serverless-nextjs/serverless-next.js/pull/495 gets merged.

[2020-07-11 10:20] #496 closed

[2020-07-11 10:23] danielcondemarin commented on #496
I've just published @sls-next/serverless-component@1.15.1 with your PR

[2020-07-11 10:58] danielcondemarin commented on #494
@rrooding A couple of thoughts from me on the approach:

- Rather than reading from the next.config.js file its easier to read from `.next/routes-manifest.json` which contains the `basePath` property.

- I'm not sure you actually need to a new directory in the s3 bucket. As long as the CloudFront cache behaviour maps `<basePath>/_next/static/*` -> s3 _next/static/* should be OK I think. Only sayin

[2020-07-11 13:07] jsphkhan opened #499 "Example folder?"
Sorry to open this as an issue, but I was looking for examples as you had mentioned in the ReadMe.

`See examples/dynamodb-crud for an example Todo application that interacts with DynamoDB.`

Kindly help me with the examples.

@danielcondemarin Thank you for this amazing component. I have started to move my infrastructure from traditional Docker, EC2 hosted containers to Lambda's. So this componen

[2020-07-11 13:58] danielcondemarin commented on #499
@jsphkhan You can find the examples/ [here](https://github.com/serverless-nextjs/serverless-next.js/tree/master/packages/serverless-component/examples). Should probably link to them in the README 🙂

Improving the docs would be great. I like the sound of something like Docusaurus. I've not set this up before but happy for you to start a PR to get things started and  I'll help wherever I can 👍

[2020-07-11 14:06] jsphkhan commented on #499
@danielcondemarin Thanks. I shall set it up in some time and create a PR. Thank you for responding back.
Meanwhile, I will create a PR for updating the ReadMe with examples link.

[2020-07-11 16:06] zoozalp commented on #480
1.14.0 works okay on macos but not on amazon linux 2 running on docker. So in order to let my jenkins handle deployments to aws, I had to downgrade to 1.9.5 for the time being.

I hope a fixed version will be released soon.

[2020-07-11 23:15] danielcondemarin commented on #480
Version pinning doesn't work through package.json. Make sure you use the serverless.yml for that as I suggested in my comment.

@zoozalp Can you try `@sls-next/serverless-component@1.15.1` ?

[2020-07-12 00:07] dbartholomae commented on #311
Any progress here? This topic affects me as well and I might have some time to help with a PR or two :)

[2020-07-12 08:01] zoozalp commented on #480
I was using serverless.yml as suggested in previous replies, not package.json file.

Pinning serverless-next.js@1.15.1 gives me error -> Error: Component "serverless-next.js@1.15.1" was not found on NPM nor could it be resolved locally.

However pinning @sls-next/serverless-component@1.15.1 gives me another error -> InvalidParameterValueException: Lambda was unable to delete arn:aws:lambda:us-east

[2020-07-12 09:29] zoozalp commented on #480
Thank you @danielcondemarin , it worked nicely after deleting existing cloudfront distribution and lambdas.

[code]

[2020-07-12 18:44] bradders opened #502 "Question: Is it possible to set a custom Role name?"
Is it possible to set a role name (similar to naming the lambda function and bucketName). I've run a bunch of test deployments and I now have a tonne of roles that are named after resource IDs. The same happened for buckets and lambda functions, but this was solved by adding `runtime.defaultLambda` and `bucketName`. I'm not that well versed in IAM/AWS so not even sure if this is doable/possible.

[2020-07-13 01:46] bradders commented on #502
For context, I'm looking at hooking up the serverless deploy into a bitbucket pipeline so it deploys on every commit to a certain branch, but if I do that I'll have a bunch of randomly named roles and cloudfront instances that aren't needed/used anymore.

[2020-07-13 02:16] ytwguru opened #503 ""Code storage limit exceeded" error occurs after multiple builds."
**Describe the bug**
Each build adds a new version.  Lambda has a limit of 75GB for Function and layer storage.  Once you run out of space on AWS you get the "Code storage limit exceeded" error.

**To Reproduce**
Run multiple builds.

**Expected behavior**
You run out of space

**Desktop**
- OS: Debian
- Version: Buster

**Suggestion**

Implement `versionFunctions: false` option for component.

[2020-07-13 10:07] frontend-twentysixdigital commented on #450
I've just spoken with serverless.com chat support about their support of components and got this response:

_"The author of the next js component has told us he is still working on the required update for that component. Unfortunately, when it comes to components not created by us there is very little us I can do besides suggest perhaps creating an issue on the components issues section to start a

[2020-07-13 10:08] minlare commented on #450
I've just spoken with serverless.com chat support about their support of components and got this response:

_"The author of the next js component has told us he is still working on the required update for that component. Unfortunately, when it comes to components not created by us there is very little us I can do besides suggest perhaps creating an issue on the components issues section to start a

[2020-07-13 10:15] danielcondemarin commented on #450
First of all, I'd like to clarify that you can implement a CI / CD pipeline using this project as documented in the [FAQ](https://github.com/serverless-nextjs/serverless-next.js#cicd-a-new-cloudfront-distribution-is-created-on-every-ci-build-i-wasnt-expecting-that).
I appreciate it isn't ideal though, hence why I am prioritising upgrading to Serverless Components GA over other features. I can't co

[2020-07-13 10:44] stephanschubert commented on #479
@medv Is there anything I can do to help?

[2020-07-13 11:40] jfacchini opened #504 "Cannot find module '@sls-next/next-aws-cloudfront' with serverless-next.js@1.14.0"
**Describe the bug**
Since this morning, we're not able to deploy our application due to a missing module `Cannot find module '@sls-next/next-aws-cloudfront'`

We've faced this problem in the past and fixed like described here: https://github.com/serverless-nextjs/serverless-next.js/issues/480#issuecomment-652450945
This has worked for some time but today we're back to the same issue.

As I unders

[2020-07-13 12:48] thomasdissert commented on #504
We are having the same issue on version 1.12.0-alpha.6 since today.

[2020-07-13 13:06] danielcondemarin commented on #504
Do you have `serverless-next.js` in your package.json deps? If you do could you remove it and try again?

[2020-07-13 13:50] jfacchini commented on #504
Hi @danielcondemarin, thanks for your quick reply.

Effectively we had `serverless-next.js` as a dependency in `package.json`.
Unfortunately, removing the dependency is still giving me the same error.

[2020-07-13 14:37] thomasdissert commented on #504
Sadly, removing it doesn't work for us either.

[2020-07-13 14:40] danielcondemarin commented on #504
Although I'll try to get to the bottom of the problem please try updating to the latest stable published:

[code]

There shouldn't be breaking changes.

[2020-07-13 15:21] katspaugh commented on #504
I'm also having this, and pinning to 1.15.1 unfortunately didn't help.

[2020-07-13 15:38] danielcondemarin commented on #504
I've just tested and using,

[code]

works fine for me. Note the package name change now under an org `@sls-next/`

[2020-07-13 16:09] jfacchini commented on #504
Thanks @danielcondemarin this is effectively working for us with `1.15.1` and as far as we're not yet in production that's easy to change.

Hopefully you'll be able to find out what's the problem for the older versions.

🤞

[2020-07-13 16:18] danielcondemarin commented on #504
Unfortunately there was a breaking change introduced [here](https://github.com/serverless-nextjs/serverless-next.js/commit/42b20409655a9ce123a5591eba0e2f6fb6c0acb9) accidentally. I suspect serverless is picking a version of `@sls-next/lambda-at-edge` that isn't compatible with the package `serverless-next.js`. This isn't an issue with `@sls-next/serverless-component` because its up to date.

Like

[2020-07-13 16:18] #504 closed

[2020-07-13 16:24] danielcondemarin commented on #503
AWS Lambda@Edge only supports a numbered version, not for $LATEST or aliases as [documented by AWS](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/lambda-requirements-limits.html).

You can probably use https://github.com/lumigo/SAR-Lambda-Janitor to clean up older published versions. I'll close this issue as the `versionFunctions: false` proposal is not possible, but feel free

[2020-07-13 16:24] #503 closed

[2020-07-13 16:26] danielcondemarin commented on #499
Merged in https://github.com/serverless-nextjs/serverless-next.js/pull/500

[2020-07-13 16:26] #499 closed

[2020-07-13 16:29] katspaugh commented on #504
Thanks Daniel, it does work with `@sls-next/serverless-component@1.15.1`. Sorry, I totally missed the name change.
Could that you found the root cause!

[2020-07-13 20:06] Harrisonkamau commented on #504
I'm getting the same issue:
Nextjs - `v9.4.4`
Node - `v8.11.2`

Here's my `serverless.yml`
[code]

[2020-07-13 21:15] lucas-varela opened #505 "@sls-next/serverless-component has an invalid "main" property on package.json"
When trying to deploy, I'm facing this issue:

![screenshot](https://i.imgur.com/JMZMGvs.png)

The "main" entry point on `@sls-next/serverless-component@1.15.1` is set to `dist/src/component.js`, but the `src` directory doesn't exist there:

![screenshot](https://i.imgur.com/4XoZf0Q.png)

The setup I use is a bit different from the usual, though, because I created a package that wraps the nextjs s

[2020-07-13 21:15] danielcondemarin commented on #467
@teajoon Any luck with this? Have you tried using the latest version of the project? `@sls-next/serverless-component@1.15.1`

[2020-07-13 21:53] danielcondemarin commented on #505
Could you try using `@sls-next/serverless-component@1.15.2-alpha.0`.
I've pushed [a fix](https://github.com/serverless-nextjs/serverless-next.js/commit/96d510d3e21f6fe84c02425f2c8c6f311b90665f) for the `main` property that was broken when we moved over to Typescript.

[2020-07-14 08:11] Harrisonkamau commented on #504
I resolved the above error by using version `12.18.2` of Node.js

[2020-07-14 11:41] thomasdissert opened #506 "Can't successfully update deployment because sls gets stuck"
**Describe the bug**

I'm trying to update my deployment by running `sls --debug` and it inconsistently results in being stuck after the `Uploading ... lambda code` log line. Then it just continues to count the seconds as seen in the screenshot below.

My serverless.yml for that stage is in the `deployment/deployment_dev` directory and there are other deployment directories for the different stage

[2020-07-14 12:04] shoNagai commented on #461
I have the same problem.
I'm also using `useServerlessTraceTarget`.
When I debugged `fs-extra` , the file pointed out was `package.json`.

<img src="https://user-images.githubusercontent.com/22911189/87422450-a00b6100-c613-11ea-8235-89955e66e85b.png" width="300px">

[code]

Is there a solution such as exclude?

[2020-07-14 13:27] lucas-varela commented on #505
Updating to `@sls-next/serverless-component@1.15.2-alpha.0` did work, but another problem occurred:

![screenshot](https://i.imgur.com/dcbWwgR.png)

After some debugging, I found that the problem is caused by @serverless/core itself, which doesn't support CommonJS modules. Manually rewriting `dist/component.js` to use Node's `module.exports` works, but I believe that changing this is out of questi

[2020-07-14 13:28] #505 closed

[2020-07-14 13:30] lucas-varela commented on #505
Updating to `@sls-next/serverless-component@1.15.2-alpha.0` did work, but another problem occurred:

![screenshot](https://i.imgur.com/KsRbLgr.png)

After some debugging, I found that the problem is caused by @serverless/core itself, which doesn't support CommonJS modules. Manually rewriting `dist/component.js` to use Node's `module.exports` works, but I believe that changing this is out of questi

[2020-07-14 19:21] danielcondemarin commented on #461
@shoNagai Could you post your app directory structure? Include as much detail as you can please 🙂

[2020-07-15 01:35] shoNagai commented on #461
@danielcondemarin Thank you.
The current directory is as follows.

[code]

Here is the main script.（package.json）

[code]

[2020-07-15 08:18] thomasdissert commented on #473
I'd actually like to try this, but I'm having Issues that the serverless environment variables aren't resolved. Can you help me with that?

My serverless.yml:
[code]

This only results in the serverless command trying to create a `user-portal-${env.NODE_ENV}` deployment without resolving the env-variable which then breaks with an Error: `Forbidden: Invalid credentials or this AWS S3 bucket name ma

[2020-07-15 08:30] thomasdissert commented on #473
Nevermind, I found out that it's not possible to concatenate strings with environment variables.

[2020-07-15 14:34] thomasdissert commented on #506
Update: It looks like my problems are somehow connected to using `nextConfigDir`. I've now restructured my repository to sync the .serverless files into S3 and then wrote a serverless.yml using environment variables for different stages. That way it is working for me at least for now.

[2020-07-15 15:10] #506 closed

[2020-07-16 07:49] krish-dev commented on #504
I was using the pinned way of the version of 1.13.0 like this `component: serverless-next.js@1.13.0` but encountered the same issue. Currently, I updated it by a new version with a `component: "@sls-next/serverless-component@1.15.1"` and the issue gets resolved but it requires creating new CloudFront distribution, not work with existing.

I have noticed one thing while I'm dedicatedly used 1.13.0

[2020-07-16 07:57] danielcondemarin commented on #504
Do you know what's causing it to create a new distribution? I didn't expect that happening.

[2020-07-16 08:23] krish-dev commented on #504
Yes, I can share the failed log with you. Maybe you can understand the cause of it.

Here is my configuration
[code]
Here is the log
[code]

One minor observation, in lambda functions id previously it was random string but now it is the same as `inputs:name:` Attached the screenshot.

![Screenshot 2020-07-16 at 1 49 19 PM](https://user-images.githubusercontent.com/7298557/87645835-ae6c9080-c76b-11

[2020-07-16 08:56] danielcondemarin commented on #504
Good spot. If you take out the `name` does it work? We fixed a while back the aws-lambda name not being set correctly.

[2020-07-16 10:04] krish-dev commented on #504
I have not tried to remove the name as the configuration was the same for while we are using 1.13.0 version.

I will try and let you know.

[2020-07-16 10:12] danielcondemarin commented on #504
I suspect this issue would happen for any users that had set the `name` input which wasn't actually working before [this PR was](https://github.com/serverless-nextjs/serverless-next.js/pull/445) merged.

Now that it is working, then the `aws-lambda` component will try deleting the lambdas that were previously created using an autogenerated name and create new ones with the `name` defined via the i

[2020-07-16 10:39] krish-dev commented on #504
@danielcondemarin

Yes with `@sls-next/serverless-component@1.15.1` and without `name` it worked.

[2020-07-16 10:44] danielcondemarin commented on #504
That's great news.

For other people landing on this issue, TL;DR is:

- If you want to use the `name` input, you'll need to let serverless-next.js create a new CloudFront distribution. This is an unfortunate consequence of the limitations around deleting lambda@edge functions.

- Otherwise remove the `name` input and you should be able to continue using `@sls-next/serverless-component`.

[2020-07-16 11:24] danielcondemarin commented on #502
Sounds like this https://github.com/serverless-nextjs/serverless-next.js#cicd-a-new-cloudfront-distribution-is-created-on-every-ci-build-i-wasnt-expecting-that would help?

[2020-07-16 11:24] lukemarshdv opened #512 "403 when using bucketName and assetPrefix"
I have an existing s3 bucket and when I deploy it is successfully uploading all the assets but they are all returning a 403.

When I select the bucket and make it public the assets are successfully returning a 200 but when I deploy again the assets return a 403.

Im using @sls-next/serverless-component@1.15.1

thanks in advance!

[2020-07-16 11:31] danielcondemarin commented on #512
Could you check if your bucket has [this policy](https://github.com/serverless-nextjs/serverless-next.js/blob/0222baade277b1607c9ffd80f322b2a105975833/packages/aws-cloudfront/lib/grantCloudFrontBucketAccess.js) attached?

`serverless-next.js` makes content in S3 private and only accessible from CloudFront by default. I've not made it configurable so far because I haven't had any reasons.

[2020-07-16 11:32] lukemarshdv commented on #512
@danielcondemarin thank you for responding so fast! Yes it does have that policy

[2020-07-16 19:08] danlake commented on #334
This is something we also really need. Heavy reliance on tags for, amongst other things, billing and reports. Guidance would be appreciated.

[2020-07-17 12:40] scon-io commented on #512
When I visit the site after deployment, all assets like `https://some.cloudfront.net/_next/static/...` responses 307 status code.

And then my browser try to get `https://my-s3-bucket.s3.ap-northeast-2.amazonaws.com/_next/static/...` of all my 307 assets. It returns 403.

[2020-07-19 09:36] danielcondemarin commented on #493
Fixed by https://github.com/serverless-nextjs/serverless-next.js/pull/495

[2020-07-19 09:36] #493 closed

[2020-07-19 09:38] danielcondemarin commented on #512
@lukemarshdv Using an existing bucket isn't supported. You can use `bucketName` to configure which bucket name to use.
Could you elaborate why you need to use an existing bucket as opposed to letting serverless-next.js create one for you?

[2020-07-19 09:39] danielcondemarin commented on #502
I'm going to be closing this. You can't set a custom role name as of today although this may be introduced in future.

In terms of having multiple distributions and roles being created look at https://github.com/serverless-nextjs/serverless-next.js#cicd-a-new-cloudfront-distribution-is-created-on-every-ci-build-i-wasnt-expecting-that for possible solutions.

[2020-07-19 09:39] #502 closed

[2020-07-19 09:44] danielcondemarin commented on #399
Have you taken a look at https://github.com/serverless-nextjs/serverless-next.js/tree/master/packages/lambda-at-edge ? It builds the `.serverless_nextjs` artefact with the code necessary in Lambda@Edge. It is completely agnostic from serverless.yml or serverless components.

[2020-07-20 08:51] maddygoround opened #516 "Loading the @sls-next/serverless-component component programmatically throws error"
**Describe the bug**
When we are trying to load the component in one of our serverless-components, we see an error occurred

**To Reproduce**
Steps to reproduce the behavior:

   ```const slsDeploy = await this.load("@sls-next/serverless-component");```
   ```return await slsDeploy(inputs);```

**Additional context**

[2020-07-20 08:52] danielcondemarin commented on #516
Hey 👋🏼 Could you try using the latest alpha?

[2020-07-20 09:46] maddygoround commented on #516
@danielcondemarin changing to alpha did improve but started getting a new error.

`TypeError: childComponent is not a constructor`

We are also a new error which is as below

`ENOENT: no such file or directory, open /Users/Documents/learning/example-frontend-next-js/src/node_modules/acorn-numeric-separator/dist/acorn-numeric-separator.js.map`

Tried the code with specifying the component alias sep

[2020-07-20 10:06] maddygoround commented on #516
Got it working.

The package.json "main" entry location needs to be change from `dist/compoenent.js` to `./serverless.js`

Changing` "main": "dist/component.js"` to` "main": "./serverless.js"` in package.json got it working.

[2020-07-20 11:50] danielcondemarin commented on #516
Great stuff, you mind PRing the fix? I'll get it published tonight.

[2020-07-20 13:34] jakubjafra commented on #400
I'm facing the same issue; using `@sls-next/serverless-component@1.15.1` on Mac - with a similar setup as above multi-stage deployment scenario. Is there any known workaround for this issue?

[2020-07-20 13:38] maddygoround commented on #516
@danielcondemarin Sure.

[2020-07-20 14:04] stephanschubert opened #517 "Add Contribution Guidelines"
I forked and cloned the repo to take a stab at a PR but I can't seem to get the project set up:

I tried `yarn` and `npm run packages-install` but it fails everytime with an error like this:

[code]

I'm aware this may be a problem on my side (I haven't used `yarn` for some years) but a step-by-step guide to creating a PR would be nice to remove the guesswork.

**EDIT** Full log:

[code]

[2020-07-20 15:40] maddygoround commented on #517
Same here

[2020-07-20 19:08] justcoding121 opened #518 "Support for Origin Groups Failover"
**Problem**
When there is an outage in the home bucket region, S3 buckets won't be able to server cache miss from cloud front.

**Solution**
A solution to this problem is to use orgin group failover cluster.
https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Introduction.html

**Alternatives I've considered**
For now, I was able to use orgin group for two static file behaviours in

[2020-07-20 19:33] plorencrstit commented on #324
I have the same problem. It is a blocker when the plugin can not detect if the deployment (domain) already has been set.

[2020-07-20 19:36] andrewgadziksonos commented on #492
Implemented in https://github.com/serverless-nextjs/serverless-next.js/pull/508

[2020-07-20 19:36] #492 closed

[2020-07-21 00:39] isaquebc commented on #208
Same here
`serverless.yml`
[code]

`handler.js`

[code]
`error`
[code]

[2020-07-21 04:18] medv commented on #324
This issue is documented in the readme - you need to make sure you keep your `.serverless` folder between deploys. If you are using multiple machines then set up a simple CI/CD process triggered by a merged pull request that syncs it from and back to an S3 bucket and do not deploy from your machine.

[2020-07-21 06:03] plorencrstit commented on #324
Ok. I don't want to have `.serverless.` in repository. As I understand I can use this example: https://gist.github.com/hadynz/b4e190e0ce10e5811cb462920a9c678f

How about this PR: https://github.com/serverless-nextjs/serverless-next.js/issues/477
When can it be merged?

[2020-07-21 07:49] maddygoround opened #520 "Preparing and deploying apis on lambda-edge with other react frameworks."
Using the capability for building the serverless API, one can include the same API structure in other react frameworks like create-react-app and can build and prepare the APIs for lambda-edge deployment with there choice of react framework.

I would go ahead and ask if we can support other react framework deployment all together with the way we do nextJS but seeing that the work here is entirely f

[2020-07-21 07:51] #516 closed

[2020-07-21 14:16] mattdell commented on #316
Any thoughts on this @danielcondemarin?

[2020-07-21 17:46] mattdell commented on #316
Just to add @danielcondemarin, I'm getting this as a response from one of my `/api` endpoints in NextJS.

[code]

It should be a JSON response, but I can't seem to decode it to anything resembling JSON to save my life. I've tried decoding it from base64 and from gzipped base64 using `zlib` (looking at next-aws-cloudfront.js) and it's just jibberish.

Can the API just return JSON?

[2020-07-21 18:13] danielcondemarin commented on #316
I can't replicate this. I've just put together a simple api endpoint that works,

![image](https://user-images.githubusercontent.com/1122442/88090828-0f3e0380-cb86-11ea-9e36-10d239e57ddd.png)

[code]

Could you give more details about your api endpoint, code etc. that may help track this down?

[2020-07-22 05:08] #486 closed

[2020-07-22 11:58] mattdell commented on #316
Thanks very much for looking into this @danielcondemarin. You're right, a simple lambda response returns just fine.

We are using Apollo Server to connect to GraphQL. We've done some more investigation and this seems to be around using persisted queries in Apollo Server. If we disable persisted queries then it works. If we enable persisted queries then it doesn't work. We can't disable persisted q

[2020-07-22 16:12] mattdell commented on #316
@danielcondemarin one thing you might be able to help explain is what's going on in this `responsePromise` method.

Taking the simple example above it enters the method with text as a json string parameter

[code]

Which then gets written with `res.write` and then it continues on.

Tthe `response.body` is a Buffer but then gets base64 encoded and gzipped into

[code]

So the response will be writt

[2020-07-22 16:15] danielcondemarin commented on #316
@mattdell Could you DM me [here](https://twitter.com/dcondemarin). I'll invite you to our slack workspace.

[2020-07-22 16:21] danielcondemarin commented on #517
@stephanschubert I suspect this may be fixed by @maddygoround 's PR https://github.com/serverless-nextjs/serverless-next.js/pull/519. You mind trying again on master?

[2020-07-22 16:22] danielcondemarin commented on #520
@maddygoround This goes outside the scope of the project that has been only focused on Next.js so far. Could you elaborate more on how the create-react-app example would work?

[2020-07-22 18:30] stephanschubert commented on #517
@danielcondemarin Yep, it works now. I'll close the issue.

[2020-07-22 18:30] #517 closed

[2020-07-23 03:44] nicovalencia commented on #312
@danielcondemarin I've gone through every single region, and still cannot find the log group.

I created a test event directly in the Lambda UI and it created the log group was created and logged properly. Subsequent errors/events through the actual application **are still not logging** to this group though.

I even opened up the permissions completely:

[code]

Still not logging. Any suggestions

[2020-07-23 05:45] medv commented on #324
Yes that's correct. I don't think that PR will bypass the requirement for keeping state as there are other resources created during the deployment of this component, not just CloudFront.

[2020-07-23 07:52] jaypeng2015 commented on #236
@danielcondemarin I am having this similar issue with mono repo so I also tried to deploy from the root. However I get this error at the end:
[code]

Our serverless.yml looks like:

[code]

I also tried to understand what the destination looked like and it was:

[code]

Could you please help to understand what's happening here?

[2020-07-23 11:16] ivoreis commented on #380
Hi @danielcondemarin, are any other issues blocking this that need help?

[2020-07-23 13:58] mattdell commented on #400
Also getting this.

[code]

[2020-07-23 18:00] nicovalencia commented on #184
What we ended up doing was using AWS Secrets Manager, since you can request from Lambda@Edge. Downside is having to make a region-specific request to get the secrets from the Lambda, but works as a stop-gap for now.

[2020-07-24 14:57] skycremaschinin opened #521 "Add WAF support to cloudfront distribution"
**Is your feature request related to a problem? Please describe.**
there's no way to put a WAF in front of cloudfront distro

**Describe the solution you'd like**
Just create an optional input variable such as

web_acl_id

and attach it to cf distro.

waf configuration should be managed externally.

[2020-07-24 19:04] elendirx commented on #311
We used serverless framework heavily at work and it served us well, but `serverless-components` looks more like a desperate monetization attempt with no real benefit.

I would like to create similar architecture with CDK. Where to start? Should I just pick up the [old branch](https://github.com/serverless-nextjs/serverless-next.js/tree/aws-cdk-support) or do we have more recent code?

[2020-07-26 08:43] robertwt7 opened #522 "404 not found on accessing root (index.html)"
**Describe the bug**
Hey guys,

I'm gonna be honest with you, I just started playing with AWS for 2 months. Still very new to everything, so probably its just a dumb mistake (sorry!).

Came across this repo and tried to deploy 1 today. Really love the work!

I'm not sure if this is a bug that's been fixed, but I think I choose a stable version of your version (not the alpha one)

[code]

**To Repr

[2020-07-26 11:23] robertwt7 commented on #522
I assume that from this code:
[code]

It always returns `pages/404.html`, however I'm not really sure how to debug with this. Even after i did `console.log` every uri and redeploy to cloudFront, it doesn't go in CloudWatch...

[2020-07-27 00:58] andycmaj commented on #49
also running into this with a moderately sized nextjs app.

[2020-07-27 01:00] Bathlamos opened #523 "Catch-all routes aren't parsed properly"
**Describe the bug**
Using a catch-all route with format [`[[...paramName]].tsx`](https://nextjs.org/docs/routing/dynamic-routes#optional-catch-all-routes) leads to a path-to-regexp error when deploying

**To Reproduce**
1. Using a Next.js project set-up with a minimal `serverless.yml` file (as per the README), add a file named `[[...template]].tsx` under pages. A minimal Next.js page can be used

[2020-07-27 07:02] danielcondemarin commented on #523
[Optional catch all routes](https://nextjs.org/docs/routing/dynamic-routes#optional-catch-all-routes) haven't been implemented, only plain catch-all routes are currently supported.

[2020-07-27 07:50] ivanpetrushev commented on #440
Hey, guys. I am getting the same with:
"next": "^9.4.4",
"@sls-next/serverless-component@1.15.0-alpha.5"

workspaces.nohoist doesn't help much. If I open the deployed Lambda function code, visually it looks the same as before.
The only file in /node_modules is `/node_modules/@sls-next/next-aws-cloudfront/index.js`

I am doing `yarn insall` before deploying with `serverless --debug`

serverless.yml

[2020-07-27 12:16] mattdell opened #524 "How to set individual TTL times (Min TTL, Max TLL, Default TTL)?"
Following the docs in the Readme there is a section about how to set the `ttl`

[code]

Cloudfront actually has the options for setting min, max, and default ttl times in the UI:

<img width="1080" alt="Screenshot 2020-07-27 at 13 10 17" src="https://user-images.githubusercontent.com/2536442/88540334-a2ee5480-d00a-11ea-8793-14abc71a015a.png">

How would I go about setting the Max TTL **only** to 3

[2020-07-27 12:24] mattdell commented on #316
For some reason this is working if I return `text` rather than `respnse.body` in the `responsePromise`

[code]

Compare with https://github.com/serverless-nextjs/serverless-next.js/blob/12da1de31855b68b9addef801ec21dffd3202a21/packages/lambda-at-edge-compat/next-aws-cloudfront.js#L223-L237

Could `text` be used instead of `response.body`? It seems to work for my situation coming back from Apollo S

[2020-07-27 13:24] tapjay commented on #323
I'm also encountering this, @paulolramos were you able to make progress?

[2020-07-27 13:36] robertwt7 commented on #479
Hey Guys, is this related to #522?

I tried to not normalise the uri because I realise that slash is replaced with `/index` and my nonDynamic manifest does not have `/index`. But it still won't return my index.html i'm super confused

[code]

[2020-07-27 19:12] tyler-ground commented on #111
Did this end up going anywhere?  Cloudflare's announcements today are pretty compelling.  Especially their claims on lambda cost reductions... and they are arguably even more distributed than AWS is.

[2020-07-27 23:30] fredericocurti commented on #522
I'm having the exact same issue. If it helps figuring it out, I've added serverless-next.js to a app that didn't had the _app.tsx file which worked fine, but to my other app with _app.tsx i'm also getting 404s at index

[2020-07-27 23:35] robertwt7 commented on #522
Huh.. its the same, my app has `_app.js` as well. But i'm not sure if that's the issue, I thought `normaliseURI` is replacing `/` with `/index` which doesn't exist in my manifest. However changing the lambda to not use `normaliseURI` still gives me 404

[2020-07-28 00:40] tapjay commented on #323
In case anyone is encountering this issue, https://github.com/serverless-nextjs/serverless-next.js/pull/443 is currently in review which will hopefully provide a temporary workaround.

[2020-07-28 05:16] revvi commented on #323
I am having the same issues. Using the code in #443, I can pass the accelerate issue. However it presents new issue on access denied on creating CloudFront distribution. I am submitting the case to AWS Support to lift up the limit first.

[2020-07-28 12:57] robertwt7 commented on #522
![image](https://user-images.githubusercontent.com/15647967/88668123-8eeb4580-d125-11ea-98f0-c639422203f8.png)

Okay.. I just realise that the lambda does not invoke if i'm just accessing the domain straightaway. It only invokes whenever I put a custom route `/abc`, `/test`, `/index`. It doesn't get called if I don't put anything from the domain

`mydomain.com` -> doesn't trigger lambda

[2020-07-28 13:12] fredericocurti commented on #522
Can you try deploying it again? I've cleared my AWS resources with aws-nuke and after deploying it again today it's back to working fine for some reason.

[2020-07-28 14:00] zoozalp commented on #522
I'm having the same problem. Once it's in 404 page, links to / works just fine. Unfortunately I can't risk using aws-nuke right now. Problem started after upgrading nextjs to 9.5 last last night.

[2020-07-28 23:33] robertwt7 commented on #522
Yeah I might try to clear it up tonight and re-deploy.

My nextjs version is  `"next": "v9.4.5-canary.32"`, what's yours @fredericocurti ?

[2020-07-29 00:40] lone-cloud commented on #522
serverless-next.js needs to be updated to work with Next.js 9.5, but it sounds like you're on the right path with your fix.
I rewrote this serverless-next.js the way I think it should have been done in a separate library (can find from my profile). I very recently fixed this exact issue.

[2020-07-29 09:53] ivanpetrushev opened #525 "CloudFront 502: The Lambda function returned invalid json: The json output is not parsable"
**Describe the bug**
Hello, guys.

The Default Lambda@Edge for the deployed distribution returns json that CloudFront does not understand.

**To Reproduce**
When I visit https://xxxxxx.cloudfront.net/page/home I get this output:

[code]

It is weird that CloudFront Monitoring for that Lambda reports 100% success rate.
If I go check the logs (in the edge region Lambda was executed for me), I can't

[2020-07-29 12:16] fredericocurti commented on #522
@robertwt7 I downgraded manually to 9.4.4 and that seems to be working fine for now

[2020-07-29 13:13] robertwt7 commented on #522
Ah i got it now

After downgrading to next `v9.4.4` I realise that the index.html page is moved to `public/index.html` instead of `static-pages/index.html`

Thus this line won't work. Still doesn't answer why root url doesn't get logged though. Just went pass through it straightaway

[code]

[2020-07-29 15:14] nicovalencia commented on #312
I heard back from Amazon AWS support, and it turned out to be an issue with the Lambda function link to CloudWatch Logs. When clicking the CloudWatch link within the Lambda interface, it will now show log groups, even if you switch through each region that Lambda@Edge may have run through.

If you go into CloudFront interface, click the distribution, then go to metrics, and select your Lambda func

[2020-07-30 11:19] yellowtailfan commented on #469
It looks like this is still an issue in 1.15.1. And according to your PR comment (https://github.com/serverless-nextjs/serverless-next.js/pull/474#issuecomment-652077380), it depends on an upstream fix in the cloudfront component?

[2020-07-30 11:22] danielcondemarin commented on #469
@yellowtailfan this should be fixed in @sls-next/serverless-component@1.16.0-alpha.0. Could you try that? I'll look at promoting it to stable this week.

[2020-07-30 11:51] yellowtailfan commented on #469
Great, that does seem to be including the region in the CloudFront origin now, thanks!

[2020-07-30 21:40] #316 closed

[2020-07-31 15:09] mattdell commented on #316
Confirmed fixed with `1.16.0-alpha.1`

Fine work @danielcondemarin! 🎉

[2020-08-01 01:40] agad commented on #111
I don't have code immediately available but we do this, its not difficult.  Basically, in your worker, you construct a POST request to the lambda function and then call it as you would any other remote URL.  You do not need the API Gateway for this but you do need a nat gateway to translate external network to internal network.  You will also need AWS4 to sign the request.  You should bundle all t

[2020-08-01 10:34] danielcondemarin commented on #525
@ivanpetrushev Can you provide a simple repro?

[2020-08-01 11:23] bodrovphone commented on #85
The only affect of `serverless remove` command for me was that it set cloudfront distribution as `disabled`.
Shouldn't the command kill all AWS resources associated with the app?

[2020-08-01 16:09] #522 closed

[2020-08-01 16:14] danielcondemarin commented on #522
This should be fixed now in `@sls-next/serverless-component@1.16.0` 🎉

[2020-08-01 17:06] zoozalp commented on #522
it works! thank you 💯

[2020-08-02 19:49] loukmane-issa commented on #383
I faced the same issue, and I got my setup working by creating a new Serverless Component extending serverless-nextjs. This setup is a good working workaround for me, as it also would fit in the context of a CI. Here is how I achieved it:

Create a ```serverless.js``` file:

[code]

As you can see, the default function is reproducing the same behaviour as ```serverless-next.js``` component ([Link]

[2020-08-03 03:46] medv commented on #524
Yeah this is relevant to us as well. I was meant to put some time into this when I have a chance but haven't had the opportunity yet. It's still on my list (that's currently still growing from the other end, ouchie)

[2020-08-03 03:50] medv commented on #312
Hey this was really annoying, I would just go to CloudWatch directly and find the appropriate Log Group. Amazing if you kicked off the fix on the AWS side!

[2020-08-03 11:01] mattdell commented on #400
I have now found that if I run it 3 times it works, getting a different error message each time. 🤷🏻‍♂️

[2020-08-03 18:07] myriky commented on #400
same here.

[code]

[code]

any ideas?

[2020-08-03 19:27] Yalian commented on #304
bump

[2020-08-04 02:31] yamitzky commented on #296
+1, because Lambda@Edge has disadvantage:

- Creating new CloudFront environment takes too long. It is difficult to deploy a new environment per branch such as amplify console.
- It is hard to know when deploying to Edge was actually completed.

[2020-08-04 07:51] rrooding commented on #494
I was on holiday, but just got to fixing the last failure, if you could have a look at it again 👍

[2020-08-04 10:40] frontend-twentysixdigital opened #529 "503 Error - Cannot find module 'cookies' - when using 'next-redux-cookie-wrapper'"
**Describe the bug**
Getting a 503 error when deploying to AWS cloudfront using [next-redux-cookie-wrapper](https://github.com/bjoluc/next-redux-cookie-wrapper).

Related CloudWatch log:

[code]

I have tried installing `cookies` as a dependency and also including it in my app (without actually using it) without success.

_The app runs fine if I swap out `next-redux-cookie-wrapper` for `next-redux

[2020-08-04 16:16] mattdell opened #530 "Can't concatenate in serverless.yml"
I'm currently migrating from the plugin to the component.

In my existing serverless.yml I am able to do this sort of thing:

[code]

But in the component if I do this

[code]

Then it doesn't seem to concatenate.

Also with the lambda names:

[code]

In that case I just get the STAGE variable without the `-front-end` added on.

If the syntax works in the old serverless.yml I'm surprised it doesn'

[2020-08-04 21:59] jschimmoeller commented on #461
I am running into the same issue:
C:\Users\jschi\projects\sr-web>yarn test
yarn run v1.22.4
warning ..\..\package.json: No license field
$ ncp .test-next.config.js next.config.js && ncp test-serverless.yml serverless.yml
$ serverless

  error:
  Error: Source and destination must not be the same.
    at C:\Users\jschi\.serverless\components\registry\npm\@sls-next\serverless-component@1.15.1\node_m

[2020-08-04 22:05] jschimmoeller commented on #461
here is my dir tree since  you have been asking others the same thing:

-   .gitignore
-   .local-next.config.js
-   .prod-next.config.js
-   .test-next.config.js
-   next.config.js
-   next.config.original.1596577128335.js
-   package.json
-   prod-serverless.yml
-   README.md
-   serverless.yml
-   test-serverless.yml
-   yarn-error.log
-   yarn.lock
-
----components
-   -   acctAdminGroups.js
-

[2020-08-04 22:06] jschimmoeller commented on #461
`

-   .gitignore
-   .local-next.config.js
-   .prod-next.config.js
-   .test-next.config.js
-   next.config.js
-   next.config.original.1596577128335.js
-   package.json
-   prod-serverless.yml
-   README.md
-   serverless.yml
-   test-serverless.yml
-   yarn-error.log
-   yarn.lock
-
----components
-   -   acctAdminGroups.js
-   -   acctArticles.js
-   -   acctClasses.js
-   -   acctNotificatio

[2020-08-04 22:13] jschimmoeller commented on #461
`
│   .gitignore
│   .local-next.config.js
│   .prod-next.config.js
│   .test-next.config.js
│   next.config.js
│   next.config.original.1596577128335.js
│   package.json
│   prod-serverless.yml
│   README.md
│   serverless.yml
│   test-serverless.yml
│   yarn-error.log
│   yarn.lock
│
├───components
│   │   acctAdminGroups.js
│   │   acctArticles.js
│   │   acctClasses.js
│   │   acctNotification

[2020-08-04 22:14] jschimmoeller commented on #461
│   .gitignore
│   .local-next.config.js
│   .prod-next.config.js
│   .test-next.config.js
│   next.config.js
│   next.config.original.1596577128335.js
│   package.json
│   prod-serverless.yml
│   README.md
│   serverless.yml
│   test-serverless.yml
│   yarn-error.log
│   yarn.lock
│
├───components
│   │   acctAdminGroups.js
│   │   acctArticles.js
│   │   acctClasses.js
│   │   acctNotifications.

[2020-08-05 12:03] mattdell commented on #399
Just to update, we are now using the component and it fits our use case. Deploys take between 2-5 minutes.

[2020-08-05 12:03] #399 closed

[2020-08-05 18:43] jschimmoeller commented on #461
@danielcondemarin i found the issue that is causing this error for my deployment.  I have an api that  uses html-validator.  In my code if i comment out the require line (below);  i no longer get the error.

const validate_html = require("html-validator");

I will be trying other stuff to get around this issue since I do need to  validate an html snippet / string passed in via this api call.

than

[2020-08-06 00:03] dan-turner commented on #450
@danielcondemarin is there an open issue for this (upgrading to Serverless Components GA) I can follow?

[2020-08-06 01:38] nodabladam commented on #355
I am testing this out and noticed that the `https://CLOUDFRONT-ID.cloudfront.net/_next/data/BUILD-ID/page.json` doesn't have cache headers so each user seems to get `x-cache: Miss from cloudfront`.  Could/should the files served from _next/data have some header like `"cache-control": "public,max-age=30672000,immutable"` set on them so it serves a bit faster?

[2020-08-06 06:39] medv commented on #530
Unfortunately I think you have to store the whole string in your environment file.

[2020-08-06 10:51] asterikx commented on #311
@danielcondemarin the link doesn't work anymore. I'm very interested in this too. Is there any progress?

[2020-08-06 18:01] jlemrond commented on #164
Ran into this issues as well.  Found the cause though for my error, anyone reading this may have a similar issue.

I had changed the `bucketName` in the `serverless.yml` file.  The component would successfully create the new bucket with the correct name, however, when it would go to list then objects that call was being made to the old bucket which my new API key did not have access too.

[code]

[2020-08-07 03:41] tyler-ground opened #532 "Per API Route Caching TTL"
**Is your feature request related to a problem? Please describe.**
Currently we can cache specific non-api routes but an attempt to set a ttl for a specific API route results in the error "Error: Setting custom cache behaviour for api/ route "/api/blah/*" is not supported"

**Describe the solution you'd like**
Allow TTL and other Cache Customizations per API.  A couple of my APIs would work well w

[2020-08-07 07:27] ivanpetrushev commented on #525
@danielcondemarin no, sorry, it is pretty convoluted app. I investigated further and it seems if there is any error rendering React, it will result in this ugly 502 CloudFront lambda error.

By "any error" I mean for example if the website renders fine in local browser, but there are any errors in the browser console. If there is anything red - the deployment lambda will break. This includes the m

[2020-08-07 10:37] danielcondemarin commented on #525
Without more details, ideally a repro I'm afraid I can't help here.

[2020-08-07 10:37] #525 closed

[2020-08-07 19:44] joebanks10 commented on #207
I noticed that removing the cloudfront behavior rule for the `static/*` path pattern fixes the issue. Is there a way to prevent this rule to be written @danielcondemarin ?

[2020-08-09 05:38] thchia commented on #355
@danielcondemarin is there progress on supporting the `fallback: true` use case? If not I don't mind attempting this. I would like to clarify a few things though:

- Logic to respond to a request for `/blog/hello` with `/blog/[slug].html` has not been implemented yet right?
  - I believe the most efficient way to do this in when handling the HTML pages/public files? Currently the logic checks for

[2020-08-09 17:13] danielcondemarin commented on #207
There isn't a way right now to prevent it from being added. I am tempted to remove it completely but that would be a breaking change. I think is worth looking into how the Next.js server does this and do the same. Maybe if the static folder is present add the `static/*` cache behaviour otherwise don't.

[2020-08-09 21:30] danielcondemarin commented on #355
I've not had time to look into the `fallback: true` implementation. Happy for you to PR and I'll help where I can 👍

Pre-rendered dynamic routes should work fine. Are you seeing any issues?

To check if there is a fallback page from the origin-request handler you'd need a roundtrip to S3 as the lambda function doesn't have any fallback HTML pages in the deployment artefact. The flow I proposed is

[2020-08-10 10:29] zhicong opened #537 "Retrieving dynamic subdomain from request headers?"
Hi, I've worked with Next.js but am new to Serverless, so huge props for enabling someone like me to deploy with Serverless so quickly!

My site serves content based on the subdomain. I am trying to extract the subdomain from the host in `req.header` in `getServerSideProps()`. However, it seems that the host is overridden to the S3 host instead. `req.headers.host` gives me `my-bucket.s3.amazonaws.

[2020-08-10 15:41] niz11 commented on #208
Same here.
Using "serverless-nextjs-plugin"

# serverless.yml
[code]

[2020-08-10 16:30] joebanks10 commented on #207
That sounds good to me! Or a config option works too. For an immediate workaround, we're migrating static files to a new folder (e.g.`public/assets`) to avoid the conflict. Thanks!

[2020-08-10 20:11] asterikx commented on #311
I checked the link again, and today it works. Weird.

Anyways @danielcondemarin let me know if you need any help with the CDK stuff.

I have seen the `NextjsConstruct` [here](https://github.com/serverless-nextjs/serverless-next.js/blob/aws-cdk-support/packages/cdk/NextjsConstruct.ts) (I'll probably define my own, since I need additional origins for API GW, AppSync, and my CMS).

To generate the ha

[2020-08-11 02:48] msimonc opened #539 "Lerna project 404 on page reload"
Refactored my project using Lerna.
page reloads to all subroutes work.   (http://.../about)
`<Link href="/"> works.`
local dev works.
but page reloads without subroutes get the NextJS 404 page.   (http://...)

yarn recognizes that it is in a Lerna project so
In the client src folder, overwriting yarn.lock with the known working version, then "yarn" then deploy reproduces.

Deploying exact project

[2020-08-11 07:54] benjipott commented on #49
this plugin merge all bundle in one file that don't be minified , so the size of my bundle for each pages is very big and 💥  the lamda size limitation

[2020-08-11 10:56] FergusMcGlynn opened #540 "Allow deployment to regions other than us-east-1"
**Is your feature request related to a problem? Please describe.**
My organisation's AWS accounts can only create services in region eu-west-1. We can't create resources in us-east-1. This is preventing me from using this tool. When I run `serverless`, I get the following error:

```AccessDeniedException: User: arn:aws:<my AWS account details> is not authorized to perform: lambda:GetFunctionConfig

[2020-08-11 11:09] futuraprime opened #541 "Next 9.5 redirection features not working"
**Describe the bug**
I'm trying to use the new redirection features in Next 9.5, but they don't seem to work with Serverless-Next.js. Specifically, [trailing slashes](https://nextjs.org/blog/next-9-5#optional-trailing-slash-in-urls) and [redirects](https://nextjs.org/blog/next-9-5#redirects). Are these not supported yet?

**To Reproduce**
I've added these options to `next.config.js`:

[code]

**Ex

[2020-08-11 12:03] FergusMcGlynn commented on #540
Actually, it appears that Lambda@Edge only supports Lambdas in the us-east-1 region. The restriction is outlined [in the CloudFront documentation](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/lambda-requirements-limits.html#lambda-requirements-cloudfront-triggers). It states:

`You can add triggers only for functions in the US East (N. Virginia) Region`.

Therefore there's pr

[2020-08-11 12:03] #540 closed

[2020-08-11 12:56] benjipott commented on #523
@danielcondemarin any idea if that will be plan ?

[2020-08-11 18:50] jamiechong commented on #461
Seems like other projects have been hit by this issue: https://github.com/apache/cordova-android/issues/692
culprit? https://github.com/jprichardson/node-fs-extra/issues/657

[2020-08-12 05:17] dphang commented on #461
I was also facing the same issue and spent some time to debug what's happening. It seems to originate from: https://github.com/serverless-nextjs/serverless-next.js/blob/d0a630035cab10e6ff70c5706f16c8564227630c/packages/libs/lambda-at-edge/src/build.ts#L106-L128.

I am not too familiar with the code, but it looks like it's copying`node_modules` into lambda handlers when serverlessTraceTarget is ena

[2020-08-12 07:13] jamiechong commented on #461
Great work @dphang. I had traced the problem to build.js also, but didn't get much further. I can confirm that your solution fixes my build also. For my cases, the error was happening for files in the `public` folder:
The error thrown from `fs-extra` happens when:
`src: /Users/chongjam/Sites/catalog-pages/app/public/locales/en/pdp.json`
`dest: /Users/chongjam/Sites/catalog-pages/app/public/locales

[2020-08-12 07:41] dphang commented on #484
I'm also using MaterialUI with this target and found the same issue - class names are mismatched.

For example, I have a search bar with class `makeStyles-searchBar-14`, but the CSS uses `jss14`. But after doing a client-side navigation, e.g going to another page the style gets fixed.

I guess it has something to do with that `_document.js` file (in https://material-ui.com/styles/advanced/#next-js

[2020-08-12 11:19] mattdell commented on #530
This doesn't seem right.

You can see in the official Serverless Components documentation here that there is string concatenation in the yaml file: https://github.com/serverless/components#variables

[code]

There is also an example of string concatenation in the serverless-nextjs-plugin yaml file here: https://github.com/serverless-nextjs/serverless-next.js/tree/master/packages/deprecated/serverl

[2020-08-12 14:11] thchia commented on #355
@danielcondemarin thanks for the feedback - I am working on this.

[2020-08-12 18:04] dphang commented on #236
@jaypeng2015 there is a separate thread on this: https://github.com/serverless-nextjs/serverless-next.js/issues/461, I posted my findings. For me it was because it was somehow trying to copy my `ts/tsx` files from `src` and `pages` into the Lambda handler folder, my quick workaround was to add a check to `build.js` to only skip copying files except those that are in `node_modules`.

[2020-08-12 18:39] nodabladam commented on #236
I am trying out `useServerlessTraceTarget` and getting AccessDenied loading pages:
[code]
Is there something obvious I might have done wrong or could try?

[2020-08-12 22:52] jaypeng2015 commented on #236
In my example, I've found out the reason was because of yarn workspace.

- apps
   -  web
       - src
       - next.config.js
       - .serverless_nextjs
- packages
   - foo
      - index.js

if the package is in root node_modules and is required in /apps/web, nodeFileTrace can find it then copyLambdaHandlerDependencies will copy it into /apps/web.
However if the package is a local private packag

[2020-08-12 23:07] dphang commented on #484
I think I figured out the problem, thanks to a semi-related issue in MaterialUI: https://github.com/mui-org/material-ui/issues/17423.

Turns out I had to set `NODE_ENV=production` in my `.env` file so when Next builds (e.g via Serverless), it can set this as an env variable. Then MaterialUI uses it to determine whether to use the `productionPrefix` (by default it's `jss`) when generating class nam

[2020-08-13 12:34] axelolsson commented on #203
Wanted to add that this is still an issue as of `1.15.1` for fresh deploys.

Like the others above the subsequent deploys fixes the issue.

Error message if it helps:
[code]

[2020-08-13 23:34] jaypeng2015 commented on #454
The issue is because of the cloudfront settings:
The following source code shows  `allowedHttpMethods: ["HEAD", "GET"]` cannot be overwritten.
[code]

[2020-08-14 08:53] teemuniiranen commented on #375
I didn't understand from the documentation how to do this. I tried with:
[code]

[2020-08-14 08:56] teemuniiranen commented on #524
I didn't understand from the documentation how to change these. I tried to change the default static files ttl:
[code]

[2020-08-14 10:23] teemuniiranen opened #542 "Documentation about changing default TTL configuration for "static/*" is not clear enough"
I didn't understand from the documentation how to change the default TTLs for static files. I would like to change only the TTL for static path or even better to define sub path under static path to have a different value (for example /static/user to have lower TTL). I tried to change the default static files TTL this way:
[code]
Can I define only the values I would like to change or do I need to

[2020-08-14 10:32] pavinthan opened #543 "Custom routes rewrites not working"
Custom routes rewrites not working in Serverless Next.js At The AWS Edge

**To Reproduce**
Steps to reproduce the behavior:

1. Add some rewrites in next.config.js
[code]

2. Deploy the Next.js app with
[code]

3. POST to `/api/login` response is `403 ERROR The request could not be satisfied.`
5. GET `/api/user` response is next.js success response code with `404 This page could not be found.`

**

[2020-08-14 15:23] asterikx commented on #383
I'm experiencing this as well. I'm using serverless trace mode, and like @loukmane-issa I think this is not related to next-i18next. Getting 404  when entering the bare domain in in the URL bar. When navigating to `/` via on-site links an my site, everything works.

[2020-08-14 15:38] asterikx commented on #383
@loukmane-issa I'm copying the locales to `default-lambda/locales` (in my next config I have `localePath: path.resolve('./locales')`. Translation works fine so far, however I do see error messages in the browser console:

[code]

You have the locales in `public/locales`, so they are uploaded to S3 as well? I'm not sure where the locales belong in this architecture, Lambda@Edge only or bot Lambda@E

[2020-08-14 19:22] jessicachenfan opened #545 "Using serverless-next-js plugin and unable to set runtime to nodejs in pageConfig"
**Describe the bug**
I'm using the serverless-next-js plugin in my serverless.yml file and I am trying to rewrite the runtime for the pages to nodejs since by default it is set to python ie:

[code]
for reasons not related to this plugin. I am trying to rewrite the runtime like this:
[code]

but I see that the runtime is still set to python for all the lambdas for the pages.

**Expected behavior**

[2020-08-14 22:51] dphang commented on #545
I think you are using the old way (https://www.npmjs.com/package/serverless-nextjs-plugin) which is using vanilla Serverless Framework.

I used it briefly but don't remember that there's a way to set the runtime in the `custom` block. I think you need to update this block to:

[code]

to

[code]

BTW, why not use the new way which is using Serverless components? I think the old way is deprecated n

[2020-08-14 23:56] danielcondemarin commented on #355
Props to @thchia for adding getStaticPaths `fallback: true` support 🙌
This is currently available on alpha `@sls-next/serverless-component@1.17.0-alpha.5`. Please try it and feedback 🙏

[2020-08-15 00:23] devcshort commented on #543
@pavinthan According to the [feature list](https://github.com/serverless-nextjs/serverless-next.js#features)

Rewrites are currently not supported

[2020-08-15 03:58] Bathlamos commented on #365
I would also benefit from this: while it makes sense to have the page lambdas be deployed on Lambda@Edge, having the API lambdas be deployed on normal lambdas would allow adding them to VPCs which would ease access to other protected AWS resources.

[2020-08-15 12:23] asterikx opened #547 "Very high cold start times"
**Describe the bug**
I'm experiencing `Invocation` times of more than 7 seconds for cold lambdas. Subsequent invocations take ~250ms.

I'm using the `@sls-next/lambda-at-edge@1.6.0-alpha.0` package with serverless trace mode and deploy the lambdas/public resources using CDK. My (zipped) bundle size is 6.9MB.

First invocation:
<img width="1076" alt="Screenshot 2020-08-15 at 13 57 21" src="https://