[2019-03-06 07:57] dev-chulbuji opened #3 "Update example next.config.js"
example have to get serverless target
[code]

here is error stack
[code]

[2019-03-06 08:12] danielcondemarin commented on #3
@dev-chulbuji Thanks for reporting! The example was using an old version of the plugin so I've updated it. The newer version automatically sets the target to "serverless" for you 👍

[2019-03-06 08:12] #3 closed

[2019-03-07 13:06] sja opened #4 "S3 Upload does not work"
In my next.js.config I have
[code]

But on deployment, the bucket cannot be created:
[code]

I tried some combinations: Without preexisting bucket, after creating it manually and after setting it to public. Any ideas?

EDIT:
My serverless.yml has the following plugins:
[code]

[2019-03-07 13:18] danielcondemarin commented on #4
Can you confirm if your AWS profile or API user has upload permissions to S3? More specifically `s3:PutObject` permissions.

[2019-03-07 13:19] sja commented on #4
Yes, s3:* on * resources

[2019-03-07 13:23] sja commented on #4
[code]

Strange, really seems to be a permission thing.

[2019-03-07 13:29] sja commented on #4
I also don't understand why the README says I should not create the bucket and if I delete it, I get this:
[code]

[2019-03-07 13:53] sja commented on #4
Ok, the bucket will be created if I change your index.js#109 (`uploadStaticAssets()`) with removing the negation. This will skip generating the upload promises. So it's sth like a race condition. Then the bucket is created.
When I then change that back I can deploy and your code uploads the assets.

[2019-03-07 17:25] danielcondemarin commented on #4
The bucket is optional, only tries provisioning one if you pass a bucket
URL in the assetPrefix. I’ll try replicating this issue tonight.
On Thu, 7 Mar 2019 at 13:53, Sebastian Janzen <notifications@github.com>
wrote:

[2019-03-07 20:42] danielcondemarin commented on #4
The bucket is only created on the first initial creation of the stack. It has the same limitation that the ServerlessDeploymentBucket has.
That is because when the stack is updated your Lambdas are deployed as part of the update ... at that point your API GW and Lambdas already serve traffic but the upload of the assets hasn't finished.
Just make sure you don't delete the bucket after is created.

[2019-03-07 20:46] danielcondemarin commented on #4
@sja I couldn't reproduce the permission issue that you reported. Did you get to the bottom of it?

[2019-03-12 13:03] vgrafe opened #5 "static `getInitialProps` triggers page flash"
When debugging locally, using `getInitialProps` to provide initial props to a page, the client side app seems to not get anything out of it. When reloading a page, the desired props will be passed to render, then shortly after the page will render as if no props were set.

A console error will be output in the browser : "Warning: Text content did not match."

[2019-03-12 20:07] danielcondemarin commented on #5
Hi @vgrafe Can you provide an example where this can be reproduced? I tried something really basic like this and seems to work fine:

[code]
// http://localhost:3000/about?name=batman

[2019-03-12 21:12] vgrafe commented on #5
Ok, I found the cause of the bug. I might be doing something wrong when adding `@zeit/next-typescript`.

I know it is not related to your plugin but I'll leave steps to repro here to explain:
1- `npm i @zeit/next-typescript --save`
2- change `next.config.js` to the following:
[code]
3- `npm run dev`

You'll observe the flash described initially. I might be missing on something when adding ts to my

[2019-03-12 21:19] vgrafe commented on #5
Alright, for whoever runs into that, here's the correct code for the config file:

[code]

[2019-03-12 22:23] vgrafe commented on #5
Apologies. This solves TS but breaks CSS.

[2019-03-12 22:28] danielcondemarin commented on #5
@vgrafe How does it break CSS?

[2019-03-13 01:32] vgrafe commented on #5
With that config, CSS is not loaded when navigating to a page through a next `Link`.
But once on such a page, reloading the browser refreshed the page with styles. Navigating away then back show that the styles are still loaded.

[2019-03-13 14:10] vgrafe commented on #5
[Here is a repo for better illustration.](https://github.com/vgrafe/nbi)

I found out the right way to combine plugins, but CSS loading still has some issues: the `import` statement loading the css file does not seem to work when the page is navigated to. As soon as the page is loaded directly (or reloaded), the css is applied for the remaining lifetime of the webapp.

[2019-03-13 19:20] danielcondemarin commented on #5
@vgrafe Unfortunately I don't think the Next Links will work properly with API gateway stages in the base path, e.g. https://kw0e2oks0a.execute-api.us-east-1.amazonaws.com/dev/about, https://kw0e2oks0a.execute-api.us-east-1.amazonaws.com/dev/.
There is an open Feature Request in next to support this: https://github.com/zeit/next.js/issues/4998.
I'm looking into workarounds but for now you could tr

[2019-03-14 16:58] vgrafe commented on #5
Sorry I was not clear - the issue happens when working locally, with `yarn dev`/`npm run dev`. I am aware of the problem with the api basepath, which is only resolved if mapped to a domain at this time.

[2019-03-14 17:23] danielcondemarin commented on #5
In that case you will be better off raising the issue in the nextjs repo. When you run yarn dev in your example the plugin is not doing anything, instead just a normal next build happens. The plugin kicks in only when you run serverless deploy or serverless package commands.

[2019-03-15 10:20] sja commented on #4
No, I just did what I described with forcing your code to first execute the CloudFormation to add the bucket and then uploading. I think the Access Denies is related to the non-existing bucket.

[2019-03-15 16:46] danielcondemarin commented on #4
In that case will be closing this, like I said in my previous comment the bucket is only created the first time serverless provisions the stack. Is not re-created on stack updates, therefore you shouldn't delete the bucket after stack creation.

[2019-03-15 16:46] #4 closed

[2019-03-15 18:57] vgrafe commented on #5
Sounds good! Thank you for your help.

[2019-03-15 18:57] #5 closed

[2019-03-16 21:37] danielcondemarin opened #8 "Azure deployments"
Opening this issue to gauge how much interest there is in supporting azure in the plugin. More details will be added if / when development is started.

[2019-03-16 21:39] danielcondemarin opened #9 "Google Cloud deployments"
Opening this issue to gauge how much interest there is in supporting google in the plugin. More details will be added if / when development is started.

[2019-03-19 14:13] romainquellec opened #10 "Build CLI then deploy"
I'm trying to use your plugin with my current project : https://github.com/CuistotduCoin/front
I'm using Typescript, and I need to build before deploying. Can you divide your current deploy phase into two phases : build (like next build but custom) then deploy ?

Alternative : (three steps)
- Use custom build from next (With requirements for 2nd step (dir, ect))
- Rewrite Handlers
- Deploy

Thanks

[2019-03-19 14:51] danielcondemarin commented on #10
Would something like this work?:

[code]

https://serverless.com/framework/docs/providers/aws/cli-reference/deploy#deployment-from-a-pre-packaged-directory

This approach wouldn't work right now but is something I could fix relatively easy.

[2019-03-19 16:57] romainquellec commented on #10
What I'm doing right now (will look a bit closer with more time :D) :
- Next build
- Serverless package
- Serverless deploy --package .serverless

At this point, I dont remember if "serverless package" is also building or not.
One pain point is : Right now, I cant see what Serverless package "do" because files are compressed.

Will look tonight and tomorrow. Maybe, that's just me and I'm worried t

[2019-03-19 17:16] danielcondemarin commented on #10
The approach I suggested won't work right now when using the plugin. I have to make some changes for that to work. Should have it working relatively soon.

[2019-03-19 17:17] romainquellec commented on #10
👍

[2019-03-19 17:23] romainquellec opened #11 "Serverless Package and final artifact"
With my current project : https://github.com/CuistotduCoin/front

If I do this : serverless package
In .serverless/serverless-ssr.zip contain everything in the directory. I think it should only contain "sls-next-build". This is a bug, right ?

If not, what I'm doing wrong ?

[2019-03-19 17:27] danielcondemarin commented on #11
Excluding stuff is up to the user. The plugin only makes sure that the page handlers are always **included**.

I would normally exclude everything, for example:

[code]

[2019-03-19 17:28] romainquellec opened #12 "serverless-sentry & serverless-nextjs-plugin"
Is serverless-nextjs-plugin compatible with serverless-sentry ?
If not, how can we modify handlers to add the sentry layer.

(Sorry for the spam with issues 🙃)

[2019-03-19 17:28] romainquellec commented on #11
That's what I do.

[2019-03-19 17:34] danielcondemarin commented on #12
You're keeping me very busy! haha.

From the top of my head, I can't see why it wouldn't be compatible. I would put the serverless-nextjs-plugin first in the list:

[code]

[2019-03-19 17:49] romainquellec commented on #12
The sentry plugin require to add a layer around the lambda, so I guess, we need to do that for each handlers :

[code]

[2019-03-19 18:29] romainquellec opened #13 "Build time for CircleCI"
I'm using Circle CI for deploying my site.
Right now, "serverless package" is very long compared to "next build".

With config.optimization.minimize = false on next.config.js (to minimize next part)
Next build : Done in 37.92s.
serverless package : Done in 761.15s.

Its maybe related to https://github.com/danielcondemarin/serverless-nextjs-plugin/issues/11

[2019-03-19 18:43] romainquellec opened #14 "Basic assets for index"
robots.txt, manifest.json, or browserconfig.xml needs to be at the root of the site (index page).
How do we serve these files ?

[2019-03-20 01:39] justinwhall opened #15 "Example should be target: severless"
[Next Config](https://github.com/danielcondemarin/serverless-nextjs-plugin/blob/master/examples/basic-next-serverless-app/next.config.js) should be `target:serverless` no?

Also, `npm run dev` doesn't work really right now. May want to remove that script for now to climate confusion. However... What are you doing for a dev server? Right now, I'm maintaining two different servers essentially.

1) E

[2019-03-20 10:11] romainquellec commented on #11
Right now, .serverless/serverless-ssr.zip is 226 Mo.
I'm almost at the limit fixed by AWS.

[2019-03-20 10:31] romainquellec opened #16 "NextStaticAssetsS3Bucket - assets already exists."
Error in Circle CI :
[code]

![image](https://user-images.githubusercontent.com/1150703/54677641-9c40fa80-4b03-11e9-87ac-b19b04da18cf.png)

I deleted the stack, and the bucket doesnt exist before deployment.

[2019-03-20 10:34] romainquellec commented on #16
My current next config :
[code]
I see in AWS :
![image](https://user-images.githubusercontent.com/1150703/54677859-1a050600-4b04-11e9-803a-7c4a1982664a.png)

[2019-03-20 10:40] romainquellec commented on #11
What I did, (i dont know if this is correct) :
[code]

[2019-03-20 12:52] danielcondemarin commented on #16
Bucket names [must be unique](https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingBucket.html) globally. I've just checked and "assets" is taken already. You'll need a different bucket name.

[2019-03-20 13:29] romainquellec commented on #16
"assets" is taken already.
Thanks ! But taken by what ?

[2019-03-20 13:36] danielcondemarin commented on #15
Thanks for reporting @justinwhall
I've updated the example to use `target: serverless`.
Also, `npm run dev` should work fine now. Wasn't working before because it was trying to use the assets from S3.

[2019-03-20 13:50] danielcondemarin commented on #16
You can add dots in your bucket name which kind of acts like a subdomain, for example:
[code]
It wouldn't be related to your main domain though, which is why the bucket provisioned by the plugin allows CORS, so you can host the pages on a different domain.

[2019-03-20 14:05] romainquellec opened #17 "Number or resources > 200"
Finally deploying my project en AWS, I've got this :
[code]

I dont know this error. FWI, I've got 37 pages.

[2019-03-20 14:09] romainquellec commented on #16
So, as an improvements, it should be possible with serverless to create a subdomain, create the bucket, and link the bucket to the subdomain, so we can use it in next ?
If so, can you make this an improvement ?

[2019-03-20 14:30] romainquellec commented on #17
I'm looking at serverless-nested-stack, but it seems incompatible with serverless-nextjs-plugin

[2019-03-20 15:06] romainquellec commented on #17
[code]
Seems right. Dont know if we are supposed to do that

[2019-03-20 15:15] romainquellec opened #18 "Files in buckets on Windows"
For local testing, I'm using windows.
The files in the bucket for the assets seems broken :
![image](https://user-images.githubusercontent.com/1150703/54695976-408a6780-4b2b-11e9-9968-e93f41ca50a1.png)

I will try with CircleCI, but it seems that Windows env. doesnt like the filenames.

[2019-03-20 15:16] romainquellec commented on #17
Trying some options with serverless-plugin-split-stacks, but the lambdas are not deployed.
Maybe, I'm using the plugins wrong.

[2019-03-20 15:18] justinwhall commented on #15
YA! I did notice the `assetPrefix`, even with removing that a route like `http://localhost:3000/post/9/` does not work while in dev which is expected as Next doesn't know about that route.

[2019-03-20 16:12] romainquellec opened #19 "Issue with Lambda : path not correct"
Deployment on Windows :

![image](https://user-images.githubusercontent.com/1150703/54700254-eee5db00-4b32-11e9-9a1b-16fb30762a80.png)

The path generated is sls-next-build\account.render, it should be :
sls-next-build/account.render

[2019-03-20 16:24] romainquellec commented on #19
When fixed, I've got this on compatLayer : l14
[code]

CompatLayer l14
[code]

[2019-03-20 16:27] romainquellec commented on #19
FYI, this is when I test like that :

![image](https://user-images.githubusercontent.com/1150703/54701486-63ba1480-4b35-11e9-8335-65cf77d123b5.png)

[2019-03-20 20:45] danielcondemarin commented on #15
Ah you're right. Right now the best I can think of is using `serverless-offline`, which will make the routing work, but then for local development is not great because HMR won't work. Will leave this open and look over the weekend what can be done 👍

[2019-03-20 21:02] danielcondemarin commented on #10
Just tested tonight the following:

[code]
I thought it wouldn't but actually **does** work fine. You can have any custom build steps before running `serverless deploy --package ...`

[2019-03-20 21:25] danielcondemarin commented on #11
Seems to work fine for me:

![image](https://user-images.githubusercontent.com/1122442/54720039-4f3a4400-4b56-11e9-9c45-74085f10f3f1.png)

`serverless-ssr.zip` is 30M, mostly the page bundles generated by `next`.

If you unzip `serverless-ssr.zip` what do you get?

[2019-03-20 21:51] justinwhall commented on #15
^^ Yar! `serverless-offline` works great. But no HMR.

Regardless, plugin works great. Brings parody top client/SSR `query.foo`. Nice work here.

[2019-03-20 22:00] danielcondemarin commented on #13
Not sure I can do much about this tbh.

I'm seeing:

107 seconds - next build
188 seconds - serverless package

Macbook Pro
Intel Core i7 2.2GHz
Memory: 16GB

Maybe some of the suggestions here https://github.com/serverless/serverless/issues/4263 can help.

[2019-03-21 09:04] romainquellec commented on #11
On windows :
[code]
I get exactly your result.
But with :
[code]
I get everything (build, pages, components, .serverless, ect)

[2019-03-21 09:43] romainquellec commented on #13
FYI, on CircleCI with 20 pages
![image](https://user-images.githubusercontent.com/1150703/54743992-0b7f2300-4bc6-11e9-92a0-2a4a23de0995.png)

[2019-03-21 10:44] romainquellec opened #20 "CORS with bucket"
Loading assets with bucket is broken on last Chrome :
see : https://www.chromestatus.com/feature/5629709824032768

![image](https://user-images.githubusercontent.com/1150703/54747257-b1369000-4bce-11e9-94a0-56b52fcce879.png)

[2019-03-21 10:50] romainquellec commented on #20
Maybe related to the url of bucket :
https://s3-eu-west-1.amazonaws.com/ ... works
https://s3.amazonaws.com/ doesnt

[2019-03-21 11:06] romainquellec commented on #15
One solution I can think of is using assetPrefix only in production using phase : https://github.com/zeit/next.js#custom-configuration

[2019-03-21 11:13] romainquellec commented on #20
So yes, bucket must contain region.

[2019-03-21 11:16] romainquellec commented on #20
As you know, I'm not very happy with the bucket solution right now.
Do you know if this is possible to upload assets in another bucket not related to the ssr stack ?

If so, this asset can be created in Route53, CloudFront, and get a real url like assets.EXAMPLE_Domain.com.

[2019-03-21 11:17] romainquellec commented on #18
Its definitelyrelated to Windows. It's working like a charm on CircleCI

[2019-03-21 11:29] romainquellec commented on #20
Another way I can think of is adding a layer in index.js handling static file as express do it.
Something similar as
[code]

[2019-03-21 12:04] danielcondemarin commented on #16
I'm thinking of adding support for a new plugin config key `assetsBucketName`:

[code]

Then in your `next.config` you can have:

[code]

That way you can have your own subdomain as a CNAME of the bucket as described [here](https://docs.aws.amazon.com/AmazonS3/latest/dev/VirtualHosting.html#VirtualHostingCustomURLs).
It would only work over HTTP though, without SSL.

[2019-03-21 12:07] danielcondemarin commented on #18
I've not tested the plugin in Windows at all. I would happily accept a PR with any fixes for Windows.

[2019-03-21 15:07] justinwhall commented on #15
This won't help with HMR during development though?

[2019-03-22 09:28] romainquellec commented on #15
I shoud ! In dev (next dev), assetPrefix is unset, so it loads the assets as usual and in prod, it load the asset generated by the plugin.

[2019-03-22 13:36] romainquellec commented on #10
Well, actually, there is a pain point :
sls package does create a zip. (logical yes :D)

If you want a specific script to modify a handler between package & deploy phase, you have to unzip, make your modification, zip again.

Ideal steps will be :
- Build (create a dir "sls-next-build" with all the handlers)
- Custom phase (Optional)
- Package (zip all this)
- Deploy

[2019-03-22 13:38] romainquellec commented on #18
I'm using CircleCI a lot, but I can improve Windows support. 👍

[2019-03-22 13:41] romainquellec commented on #13
One way to fix that is to decompose "sls package" into different steps (mainly, next build and createHandlers).
This way, all CI's won't break.

[2019-03-22 14:21] romainquellec opened #21 "How to handle 404 with custom page"
everything in title :)

[2019-03-23 17:09] danielcondemarin commented on #21
@romainquellec This should be possible now in v1.3.0 🎉 . See https://github.com/danielcondemarin/serverless-nextjs-plugin#custom-404-error-page for details

[2019-03-23 17:09] #21 closed

[2019-03-24 19:25] danielcondemarin commented on #16
This is now available on v1.3.1 👍 https://github.com/danielcondemarin/serverless-nextjs-plugin#hosting-static-assets

[2019-03-24 19:25] #16 closed

[2019-03-24 19:34] danielcondemarin commented on #20
You should be able to do this now by using the plugin config `assetsBucketName`  😀 https://github.com/danielcondemarin/serverless-nextjs-plugin#hosting-static-assets

[2019-03-24 19:47] danielcondemarin commented on #11
I've updated the docs and examples to use `./**` as it works both on windows and other OSes.

Are you happy for this to be closed and just use `./**` ?

[2019-03-24 21:00] romainquellec commented on #11
👍

[2019-03-24 21:00] #11 closed

[2019-03-24 22:40] bduff9 commented on #14
I also have this question, but specifically for favicon and service-workers.  Service workers especially have to be at the root and cannot be hosted from a secondary site so would appreciate whatever guidance/suggestions you might have.

[2019-03-25 09:42] danielcondemarin commented on #14
Morning folks, I'll be looking at this next and hopefully add some working examples 👍

[2019-03-25 17:15] romainquellec commented on #20
👍

[2019-03-25 17:15] romainquellec commented on #17
FYI, I think this is the most important issue right now, as 30 is not a big number for pages.

[2019-03-25 21:37] danielcondemarin commented on #17
@romainquellec It's definitely on my radar.
Seems like it **might** be addressed in the serverless framework itself: https://github.com/serverless/serverless/issues/3411

If you don't need function versioning you can switch it off:
[code]
That's 37 *less* resources.

Also, I will look into why `serverless-plugin-split-stacks` or nested-stacks doesn't work with the plugin.

[2019-03-26 13:02] mdstaff opened #22 "local S3 buckets with serverless-offline"
Hello,

I really enjoy using your serverless plugin.  Would it be possible to setup local S3 image hosting with a plugin like https://github.com/ar90n/serverless-s3-local?

I'd be happy to help contribute to this repo towards that end.  Looking forward to your response.

[2019-03-26 19:35] danielcondemarin commented on #22
@mdstaff Glad to hear you're enjoying using the plugin!

From a quick glance, I can't see why it wouldn't work, I've not tried `serverless-s3-local` myself but had a look at the src and seems to integrate with `serverless-offline` which is supported by this plugin.

Did you try using both plugins together in your serverless app?

[2019-03-27 16:07] sja opened #23 "Read /pages subdirs"
I think the `lib/getNextPagesFromBuildDir.js` does not read the subdirs for pages. Maybe its a good idea to do so, because next suppurts this.

[2019-03-28 12:47] danielcondemarin commented on #23
So, you're right. Seems like something like this doesn't work:

`pages/blog/hello-world.js` -> handled as `/blog/hello-world`

[2019-03-28 15:48] bushmango opened #24 "No file matches include / exclude patterns"
I'm getting a  No file matches include / exclude patterns error on the example app while trying to deploy from Windows. Ideas?

[code]

[2019-03-30 19:57] #23 closed

[2019-03-31 16:30] danielcondemarin commented on #24
Reopening until https://github.com/danielcondemarin/serverless-nextjs-plugin/pull/26 is merged

[2019-03-31 23:59] danielcondemarin commented on #24
@bushmango v1.5.0 should now have support for windows 👍

[2019-03-31 23:59] #24 closed

[2019-04-01 00:00] danielcondemarin commented on #19
@romainquellec I've added support for windows on v1.5.0 👍

[2019-04-01 00:00] #19 closed

[2019-04-01 00:01] danielcondemarin commented on #18
Now v1.5 supports Windows 🎉

[2019-04-01 00:01] #18 closed

[2019-04-01 04:12] barrysteyn opened #27 "ENOENT: no such file or directory, open 'sls-next-build/_error.compat.js'"
I get the following error when I try use this plugin: `ENOENT: no such file or directory, open 'sls-next-build/_error.compat.js'`

Here is a stack trace:
[code]

[2019-04-01 07:15] sja opened #28 "feat: gzip s3"
Hi!
Would a PR be merged which compresses some assets by mime type (*/text, css, svg) before uploading to s3? The upload config then has two options: The `encoding`- and the `content-type`-header. Thats all. To configure this, I suggest a flag in `serverless.yaml` with a bool to enable this (what should be the default?) and a list to override the mime types.

What do you think?

[2019-04-01 08:02] danielcondemarin commented on #27
What version of the plugin are you using? Also, can you provide a simple repro and I’ll have a look, thanks!

[2019-04-01 17:15] barrysteyn commented on #27
Hi @danielcondemarin. Sure thing. I have created a private GitHub repo and given you access. Unfortunately, I can't make the code public, but I did get permission to share it with you. Look for the `feat/serverless-lambda-deploy` branch. Ask me any questions if you would like.

[2019-04-01 21:22] bushmango opened #29 "feat: deploy static files in the static directory to s3"
The next static files deploy correctly, but the files in the special next directory /static don't get copied to either aws or to the s3 bucket.

It would be nice to also copy /static/** to the s3 bucket

[2019-04-01 21:51] danielcondemarin commented on #27
Cheers for the repro example. So, seems to be a bug when the `serverless.yml` isn't in the same directory as `next.config.js`. A workaround in your example would be to move `serverless.yml` to the `client` folder and set `nextConfigDir` to `./`.
I'll keep the issue open until the bug is fixed 🙂

[2019-04-01 21:52] barrysteyn commented on #27
Oh darn 😔. That may not be easy...

But thank you so much. Also thank you for your effort.

On Mon, Apr 1, 2019 at 2:51 PM Daniel <notifications@github.com> wrote:

--

Barry Steyn
Blog <http://doctrina.org> LinkedIn <http://ca.linkedin.com/in/barrysteyn>
GitHub <https://github.com/barrysteyn>

[2019-04-02 08:34] Jole83 commented on #29
You can use serverless-s3-sync for that.

[2019-04-02 09:52] romainquellec opened #31 "Hosting static assets : using custom bucket"
I'm using this :

[code]

with (in next.config.js)
[code]
Looking at the bucket on AWS, its empty ! I deleted the stack and let serverless re-create it, but no change.

You can look the repo here : https://github.com/CuistotduCoin/front

Console SLS :
[code]

[2019-04-02 10:26] romainquellec commented on #20
Closing this for : https://github.com/danielcondemarin/serverless-nextjs-plugin/issues/31

[2019-04-02 10:26] #20 closed

[2019-04-02 21:09] barrysteyn commented on #27
Great! Can you publish this? Thank you very much.

[2019-04-02 21:20] bushmango opened #32 "Multiple react versions killing hooks"
With npm ls react, I get two different versions:

cowsayify-v3@3.0.0 /home/sbushman/dev/cowsayify-v3/client
├── react@16.8.6
└─┬ serverless-nextjs-plugin@1.5.0
     └── react@16.8.4

I think serverless-nextjs-plugin should have a peer dependency instead of a direct dependency to react.

I get a hook error when deploying that I have mismatched react version

[2019-04-02 21:55] danielcondemarin commented on #32
You’re right. Happy to accept a PR for that 😁 otherwise I’ll look at it later this week

[2019-04-02 22:15] bushmango opened #33 "css modules aren't being built? or css is being excluded?"
when I build normally I get css chunks, but when I deploy using this plugin, none of my css files get deployed and they don't appear on the .next directory locally.

Because of this not all of my styles get deployed

[2019-04-02 22:37] bushmango commented on #33
Looks like it may be because I had my dev server running in a different directory, checking now...

[2019-04-02 22:39] bushmango commented on #33
Yup this one was my fault

[2019-04-02 22:39] #33 closed

[2019-04-03 07:18] danielcondemarin commented on #27
Sorry didn’t mean to close, will publish today or tomorrow 👍🏻

[2019-04-03 08:25] sja commented on #29
Hmm, I cannot see that feature on `serverless-s3-sync`. Only caching headers are supported. Where do you have that info from?

[2019-04-03 08:52] mekwall opened #34 "Support for custom source directory"
I am using TypeScript and want to put all pages and components in a `./src` directory. This works fine with Next.js by simply adding `src` as the last argument to any `next` cli command (such as `next build src`) but I can't figure out how to get it to work with this plugin.

[2019-04-03 11:29] Jole83 commented on #29
You can use it like this e.g :
plugins:
  - serverless-nextjs-plugin
  - serverless-offline
  - serverless-s3-sync

custom:
  s3Sync:
    - bucketName: static-files
      bucketPrefix: assets/ # this is prefix that you can set so it doesn't override if you use same bucket like in assetPrefix
      localDir: static # this is local directory where your static files are
      acl: public-read # optio

[2019-04-03 11:31] sja commented on #29
I'm sorry, I had my ticket in mind #28 which is about gzipped upload.

[2019-04-03 11:55] mattdell opened #35 "Not loading /_next path"
I got this integrating onto my site, but have replicated it in the example app.

Steps to reproduce

Using Serverless v1.40.0

* Clone this repo
* `$ cd examples/basic-next-serverless-app/`
* `$ yarn`
* `$ npx serverless offline`
* See lots of messages in the console such as `Serverless: GET /_next/on-demand-entries-ping (λ: notFoundErrorPage)`

<img width="682" alt="Screenshot 2019-04-03 at 12 50

[2019-04-03 12:01] mattdell commented on #35
Correction:

The above is still assuming an `assetPath` prefix. I don't want to use an S3 bucket for assets as I don't (yet) have a need for it.

So if I remove the prefix from next.config.js I get the same as above but 404 instead of 403.

[2019-04-03 15:23] romainquellec opened #36 "CodeSandBox example"
I'm trying to create a sandbox for a bug with next-seo with serverless.
I don't know if there is a starter point, but I tried this :
https://codesandbox.io/embed/l2n6mq54p7

If someone is good with Codesandbox, maybe it can help beginners.

[2019-04-03 15:28] romainquellec commented on #35
Right now, this plugin doesn't embed assets except using a S3 bucket.
I think @danielcondemarin will add a feature for this with bucket offline (serverless-s3-local or something similar).

FYI, right now, on production, you NEED a bucket for files is "_next/static".

[2019-04-03 15:45] mattdell commented on #35
Ok, fair enough if that's how it works at the moment. I'll give it a go with a bucket name.

[2019-04-03 15:47] falconmick commented on #27
Hi @danielcondemarin can confirm I have this issue too.

My project structure is as follows:

/PROJECT/source/app/next.config.js
/PROJECT/serverless/serverless.yml

I setup my nextConfigDir to be:

[code]

Would be great if this worked!

[2019-04-03 16:02] falconmick commented on #35
@romainquellec is there a built in way to Serverless-Offline to emulate s3? Otherwise it kinda makes it really hard to use `sls offline`

[2019-04-03 17:09] romainquellec commented on #35
@falconmick I think so. I didnt test it myself, but try serverless-s3-local

[2019-04-03 17:46] falconmick commented on #35
Yeah damn I thought that might be needed. Too bad there isn’t a native solution built into offline

[2019-04-03 21:42] danielcondemarin commented on #35
Currently using serverless-offline for local development is very limited, as in, you don't get HMR or the static files uploaded to local S3 or a local server etc. This has been briefly discussed in https://github.com/danielcondemarin/serverless-nextjs-plugin/issues/15

Ideally, when running `npx serverless-offline` alongside this plugin you have:
- Static assets hosted in some local server
- HMR w

[2019-04-04 11:22] danielcondemarin commented on #28
Would it not be better to add CloudFront support? It already has compression etc. plus another benefits like custom domains for the assets bucket etc.

[2019-04-04 11:35] danielcondemarin commented on #36
@romainquellec Just forked your sandbox https://codesandbox.io/s/3qpvmj7r91 and seems to work. Not entirely sure but your version of `serverless-offline` might have been outdated. Try reinstalling and restart the sandbox

[2019-04-04 12:53] romainquellec commented on #36
Thanks ! The sandbox is working like a charm. Maybe, you should link it the readme ?

[2019-04-04 13:32] bushmango commented on #32
Opened: https://github.com/danielcondemarin/serverless-nextjs-plugin/pull/37

[2019-04-04 14:08] christemple opened #38 "Development experience for app that uses API Gateway authorisation?"
My question is mainly centred around the development experience of building a serverless app using the [Serverless Framework](https://serverless.com/) and Next.JS 8 for AWS, but with API Gateway authorisation.

Assume I'm building a page to login and one that requires you to be logged in:

`pages/login.js`
`pages/profile.js   // requires log in`

So when running Serverless with https://github.com/

[2019-04-04 15:33] romainquellec commented on #31
FYI, the bucket is created, but empty. I have no idea why, and how this is different from the assetBucket (looking at the code).

[2019-04-04 21:21] danielcondemarin commented on #38
Hi @christemple, thanks for your detailed explanation.

You're absolutely right. At the moment there isn't a proper way to do local development and benefit from both `serverless-offline` capabilities, such as features like authorizers, custom page routes etc. and `nextjs` development server features, like HMR.

There are some related issues like https://github.com/danielcondemarin/serverless-nextj

[2019-04-05 00:11] aheimlich opened #39 "Add support for HTTP HEAD method"
For parity with Next.js's built in server.

[2019-04-05 02:35] aheimlich opened #40 "Use Cache-Control: immutable for files in /_next/static"
Next.js's built in server adds a `Cache-Control: immutable` HTTP header to certain files within `/_next/static`. It would be cool if this plugin could do that as well. It would also be nice to have a config option that would apply `Cache-Control: immutable` to other files/directories within `/_next/static`.

Relevant code:

- [Cache-Control header](https://github.com/zeit/next.js/blob/ed1207f78a94

[2019-04-05 06:32] danielcondemarin commented on #40
@aheimlich This makes perfect sense! I would happily accept a PR for the first part (the next cached paths).
As for the config option I'd prefer to leave that out for now and keep the plugin options to a minimum, and get the default behaviour first closer to next's built in server.

[2019-04-05 07:14] danielcondemarin commented on #32
This should now be fixed in https://github.com/danielcondemarin/serverless-nextjs-plugin/releases/tag/v1.5.1 🎉

[2019-04-05 07:14] #32 closed

[2019-04-05 07:17] danielcondemarin commented on #27
Hi folks, I've released today https://github.com/danielcondemarin/serverless-nextjs-plugin/releases/tag/v1.5.1. This should fix @barrysteyn issue but a `nextConfigDir` like @falconmick would still not work right now. Basically right now only works if `nextConfigDir` is at the same level as `serverless.yml` or on a subdirectory.
Will keep this open until @falconmick's usecase also works.

[2019-04-05 07:40] danielcondemarin commented on #36
I’ll look at polishing it a bit more and add it later 👍🏻

[2019-04-05 07:40] #36 closed

[2019-04-07 18:03] #39 closed

[2019-04-07 18:07] danielcondemarin commented on #39
Thanks for reporting! This should now be working on v1.5.2 🎉

[2019-04-08 12:12] ematipico opened #44 "Configure multiple URLs to be served by the same page (file)"
Hi, I am new to this plugin and to the `serverless` ecosystem, so maybe this is not the best place to ask this question.

My use case is that I have a page that serves different URLs. Let's call the page `content.js` which is the real file. How can I setup `serverless.yml` in order to handle different URLs? For example
- `blog/{url}` => rendered by `content.js`
- `meetings/{url}` => rendered by `c

[2019-04-08 13:25] ematipico commented on #44
I found out how!

[code]

[2019-04-08 13:25] #44 closed

[2019-04-08 14:51] danielcondemarin commented on #44
Yep, that's exactly how to do it 👍

[2019-04-08 15:19] jonathanwelton opened #45 "Serverless deploy fails due to an existing s3 bucket"
After the initial deploy, subsequent deploys fail since the assets S3 bucket already exists.

Is there any extra configuration required in my Serverless .yml file to make Cloud Formation aware of the bucket state?

[2019-04-08 15:47] kpaduch opened #46 "Route path returns 404 for nested folder with an index.js file."
First of all, thanks for making this awesome serverless plugin!
I guess this is more of a question since I may be doing something wrong, but my `pages` directory looks like the following:
[code]

In each of the subdirectory's index.js file, I export the corresponding page.
When deploying, 4 functions are created:

- `/home`
- `/home/home`
- `/about`
- `/about/about`

The single nested routes retur

[2019-04-08 15:56] danielcondemarin commented on #45
Sounds like you are trying to provision 2 different stacks with the same bucket name.
The bucket is only created on the initial deploy of the serverless stack, you shouldn't need any extra configuration. Can you provide a repro?

[2019-04-09 08:30] jonathanwelton commented on #45
Sorry it's not in a public repo...but I can include the configuration files below (with the application name replaced):

**serverless.yml**
`service: application

provider:
  name: aws
  runtime: nodejs8.10
  stage: ${opt:stage, 'test'}
  region: eu-west-1
  memorySize: 128
  logRetentionInDays: 1
  timeout: 10

plugins:
  - serverless-nextjs-plugin

custom:
  serverless-nextjs:
    nextConfigDir:

[2019-04-09 09:56] danielcondemarin commented on #45
You don't need `assetsBucketName: "${self:provider.stage}-application"` in the `serverless.yml`. The plugin will see that your `assetPrefix` is an amazon s3 url and will provision with the correct name.
Not sure if that fixes the problem but is a good start :-)

[2019-04-09 17:18] danielcondemarin commented on #46
Are you sure about this? I've created a simple repro [here](https://github.com/danielcondemarin/repro) for:
[code]
and `next` builds both `/blog` and `/blog/blog`.

I'm assuming you only want `/blog` right? If that's the case you have 2 options:
[code]
or
[code]

I wouldn't recommend having your structure because next will try and map any js file under `pages/` to a route, which explains why it bu

[2019-04-09 18:53] kpaduch commented on #46
Hmm interesting, I updated my packages and seems I was using an old version of next that allowed for that type of structure, but now I do see the double nested routes. I will restructure, thanks for the help anyway. Good to close this issue

[2019-04-09 18:53] #46 closed

[2019-04-10 12:34] sja commented on #28
You're right.

[2019-04-10 19:13] sja commented on #31
Same here, using 1.5.2

[2019-04-11 22:46] danielcondemarin commented on #31
Hi @romainquellec @sja Sorry for not picking this up earlier, just published v1.5.3 with a fix for this!

[2019-04-11 22:46] #31 closed

[2019-04-12 12:40] sja commented on #45
I've the same. My `assetsBucketName` is `${self:provider.stage}-app` because my `assetPrefix` is `https://static.staging.app.com`, which is a cloudformation distibution.

[2019-04-12 12:54] sja commented on #45
I think my situation was that I worked with 1.5.2 where s3 upload did not work, now changed to 1.5.3 and some S3 operations were added which confuses the handling.

So to start (at S3) from beginning, I deleted the bucket and again started a deployment. Now I get that error:

[code]

The Template is:
[code]

[2019-04-12 20:57] bushmango opened #47 "Deployment issues with s3 buckets"
Trying to deploy to a s3 bucket that doesn't exist yet

next config
[code]

It reports that it found a bucket

[code]
Then it errors out because the bucket does not exist. No bucket is created in s3
[code]

If I create the bucket first, it complains that the bucket already exists!

[2019-04-13 12:06] willbamford opened #48 "Question about multiple Lambda code bundles and cold boot times"
At the moment this plugin creates a single code bundle with all of the handler functions as separate files within e.g. `my-app.zip` with `homepage.js` and `product.js` in the zip.

However, I thought one of the main reasons that Next.js created a Lambda per function was so that Lambda code bundle size could be kept to a minimum thus improving cold boot times? I.e. might have expected `my-app-homep

[2019-04-13 18:31] danielcondemarin opened #49 "Feature: Create separate deployment artifacts per page lambda"
## Motivation

Currently, all the page bundles are deployed as part of a single deployment artifact. While each page lambda only require at runtime the bundle it needs, it would be more efficient to create separate artifacts.

## Proposal

Using `package: individually: true` create separate deployment artifacts per page function.
https://serverless.com/framework/docs/providers/aws/guide/packaging#

[2019-04-13 18:38] danielcondemarin commented on #48
The lambda, at runtime **only requires** a single page bundle, regardless of what's inside the deployment artifact. I think this is what makes most of the difference compared to the more traditional monolith approach which at runtime serves all the pages.
However, you're right there could be separate deployment artifacts per Lambda each with the separate page bundles, which in theory should improv

[2019-04-13 18:38] #48 closed

[2019-04-13 18:48] willbamford commented on #48
Yes, I saw that only a single require was used per page - I can see how this should have a big impact. Instinctively it feels like the size of each bundle should also affect cold start but interestingly this article suggests that it does not https://read.acloud.guru/does-coding-language-memory-or-package-size-affect-cold-starts-of-aws-lambda-a15e26d12c76

Thanks for raising the feature 👍

[2019-04-13 18:52] danielcondemarin commented on #48
Yeah read the same article! I do however feel like the individual artefacts make more sense, especially considering it's easy to implement and shouldn't affect anything else, so will have a look when I get a chance 👍

[2019-04-14 11:17] victorhqc commented on #28
I'm having some issues with Cloud-front as it caches the headers sent from the client as well. This is important in my website as I need those to either render the mobile or desktop website. By caching those results the website incorrectly renders a website depending on the cached headers, not the real ones being sent.

I know that this could be solved by having a different domain for mobile, like

[2019-04-15 08:17] sja commented on #49
I would like to have sth like a marker to add fns to a blacklist where the next assets are added. Not a whitelist becaus I think most of the apps incude more pages than separate functions. If so, I would have different repos. Maybe with tags or so.

[2019-04-15 11:54] danielcondemarin commented on #47
@bushmango Did you add the `assetPrefix` to `next.config.js` after the initial creation of the `serverless` stack?
The bucket can't be added after the serverless stack was provisioned the first time. The bucket has to be created as part of the initial deployment. Wouldn't make sense to create on stack update because your Lambda will update / point to the new code without the static assets uploaded

[2019-04-15 11:58] danielcondemarin commented on #45
@sja the bucket has to be created as part of the initial deployment of the serverless stack. You can't delete the bucket and rely on it being created again for you on update. It only works the first time you run `serverless deploy` when the stack is created for the first time.

[2019-04-16 07:26] kjvenky commented on #45
Can the documentation be improved on this? I am facing similar issue and no clue why it keeps happening.

[2019-04-16 07:29] danielcondemarin commented on #45
@kjvenky I’m planning to add some validation that checks if the bucket has been deleted after the initial stack creation. I believe serverless does the same for the ServerlessDeploymentBucket. I’ll also update the docs 👍🏻

[2019-04-16 09:14] ulysset commented on #14
Hey!
Any news?

[2019-04-16 10:02] danielcondemarin commented on #14
Sorry this has taken me long, I'm hoping I can have it working this week. I'm planning on having API Gateway act as a proxy to S3. Then in the plugin you can map routes to static assets in S3. Will try and get a Proposal in a PR between today or tomorrow!

[2019-04-16 14:42] ulysset commented on #14
No worries, your library saved me tons of time already!
Were you hesitating using serverless-s3-local?
Because currently, all the static assets (img, favicon...) don't work when using serverless-offline and in production? The files in the static directory don't move into the S3 Bucket for the moment correct?

[2019-04-16 14:55] danielcondemarin commented on #14
I might end up using `serverless-s3-local` for local development when using this plugin, however, that's another piece of work.
You're correct, files under the `static/` directory don't get uploaded to S3.

However, this issue goes beyond uploading `static/` to S3. Is also about being able to route static assets like `robots.txt`, service workers etc. at the root of the application:
E.g.:
`https:/

[2019-04-16 14:59] ulysset commented on #14
That would be amazing!
Thank you @danielcondemarin 🙌🙌🙌

[2019-04-16 20:48] danielcondemarin opened #51 "Feature: Improved page and static resources Routing"
## Motivation

Currently there are no routing capabilities for static assets. For example, you can't have `/robots.txt`, `/browserconfig.xml` or maybe a service worker `/sw.js`.
Also, although the custom routing for pages works and is flexible it can be quite verbose to declare:

[code]
That is just for a custom post page route: `post/{slug}`.

# Proposal

1 - Upload `static/` directory contents t

[2019-04-16 20:52] danielcondemarin commented on #14
FYI - Opened the official feature proposal to this here: https://github.com/danielcondemarin/serverless-nextjs-plugin/issues/51.

[2019-04-17 13:01] ulysset commented on #51
That looks very practical, can't wait to try it out!

So by default, it will upload/sync everything that is in /static dir to the Bucket? Like if I put an image (e.g. logo.png) in the /static dir it will be automatically available at this uri : https://123.execute-api.us-east-1.amazonaws.com/dev/logo.png ?
Or do I need to specify the src and path for every single asset from the /static dir?

[2019-04-17 13:51] danielcondemarin commented on #51
Yes.

No. However, you would be able to access the image via the bucket url:

[code]

`https://s3.amazonaws.com/mybucket/static/logo.png`

The static routes are for resources that you need hosted in the main URL, such as `/robots.txt`, etc.

Having said that, I could setup API GW to also proxy any requests to /static to the bucket, e.g.

`https://123.execute-api.us-east-1.amazonaws.com/dev/static/

[2019-04-17 14:06] ulysset commented on #51
Yes you are right it's better like you said, I was mixing in my head the bucket URL and the API GW URL...
Can't wait to try it out 😉

[2019-04-17 16:16] JAStanton opened #52 "Is it possible to have other handlers/functions as well?"
Is it possible to serve nextjs as it's layed out in the example, but to have additional handlers, say nested under `/api/` url structure so that I can have my entire app + api live in one project?

I am new to this, but I expected something like this to work:

`serverless.yml`
[code]

`index.js`
[code]

But instead I just get my react 404 page.

[2019-04-17 16:26] danielcondemarin commented on #52
@JAStanton I would also expect something like that to work. Can you share the output from `serverless deploy` or `serverless offline`? It should say which lambdas and routes got built

[2019-04-17 16:33] JAStanton commented on #52
[code]

[2019-04-17 16:34] JAStanton commented on #52
@danielcondemarin thanks for looking into this :)

[2019-04-17 17:12] danielcondemarin commented on #52
@JAStanton just tested this (https://x364ep68vb.execute-api.us-east-1.amazonaws.com/dev/api/) and seems to work fine when you deploy it to AWS.
Also from the [AWS docs](https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-method-settings-method-request.html):

So `/api/{proxy*}` would take precedence over `/{proxy*}`. This seems like an issue in `serverless-offline`.

[2019-04-17 17:42] JAStanton commented on #52
Interesting, also as an aside @danielcondemarin it looks like in your example your assets aren't loading? I get the same behavior locally with serverless-offline, wasn't sure if this was also an issue with serverless-offline, but then I saw you deployed and it's still not working? Is this broken too?

[2019-04-17 18:40] willbamford opened #53 "Local development / interoperability with now.json routes?"
Wondering if it would be possible to generate Serverless routes from those in `now.json` or vice-versa?

Related, do you know how I could map `/a` and `/b` to the same page handler (but not `/c`)?

In *now.json*:
[code]

I.e. looking to achieve the same within the plugin config.

Maybe this is a Serverless question but struggling to find answers from their documentation.

[2019-04-17 19:49] danielcondemarin commented on #52
@JAStanton In my example I didn't use the assetPrefix option documented [here](https://github.com/danielcondemarin/serverless-nextjs-plugin#hosting-static-assets), if I did it would have worked fine. Locally with serverless-offline does not work though, there are a few issues opened already about supporting local development mode with assets, HMR support etc. but haven't had a chance to look at th

[2019-04-17 19:55] JAStanton commented on #52
@danielcondemarin Gotcha, seems like supporting local dev is pretty important, is everyone just deploying and testing it after it's been deployed? That's too painful for me :)

Either way, thanks for answering my questions. I appreciate the time you put into this issue!

I think we can chalk this up to yet another issue with supporting the serverless-offline plugin.

I'm fine with anyone closing t

[2019-04-17 20:56] danielcondemarin commented on #52
@JAStanton local dev is definitely pretty important and in the top of my list. However, you only really need serverless-offline now if using custom page routes or you're using some other special api gateway feature when rendering the pages and want to test that locally. Otherwise, using normal `next dev` is perfectly fine.
I'm going to close this issue and set myself a reminder to bring up in the

[2019-04-17 20:56] #52 closed

[2019-04-17 21:56] JAStanton commented on #52
Thanks @danielcondemarin !

[2019-04-18 15:27] barrysteyn commented on #51
This is great @danielcondemarin and is exactly what I need.

[2019-04-23 10:01] mattdell commented on #28
Is there an issue to track the progress of adding cloudfront support then?

I'm happy with just S3 gzip support. Simple and effective.

[2019-04-23 11:58] danielcondemarin commented on #28
@mattdell It might take a while before I can take a look at supporting CloudFront.

@sja / others interested. I'm happy to accept a PR for this, but first let's get an example serverless.yml with the new options.

[2019-04-23 17:59] willbamford commented on #53
Looks like this https://github.com/revskill10/next-routes-middleware does something similar but in this case generating `now.json` routes.

I'm going to try and experiment a little bit. Will post back...

[2019-04-24 16:46] mattdell commented on #45
Or at least delete the S3 bucket as part of the `serverless remove` command.

I run into this if I need to remove a development stack and then try to deploy it again.

[2019-04-25 09:43] mattdell opened #55 "Cannot use deploymentBucket in serverless.yaml"
I want to keep my serverless deployments in one bucket, as supported by [the serverless.yaml docs](https://serverless.com/framework/docs/providers/aws/guide/serverless.yml)

When I add

[code]

I get the following error and stack trace:

[code]

The unhappy code lives in addS3BucketToResources.js: in serverless-nextjs-plugin/lib.

It's not clear to me what's happening, but somehow `cf` becomes und

[2019-04-26 06:47] willbamford commented on #53
So, I created a quick hack to extract routes from `serverless.yml` and convert to Express routes:

*routes.js*
[code]

*server.js*
[code]

To run locally (with HMR etc.):
[code]

I've deleted the `now.json` which I was using for local dev, and now using the above so that I can try out serverless locally without creating duplicate routes.

[2019-04-27 15:51] danielcondemarin commented on #29
Hi folks, just released v1.6.0 which adds supports for a new staticDir option, you can now point to a directory and will be uploaded to the bucket for you. More details here: https://github.com/danielcondemarin/serverless-nextjs-plugin#hosting-static-assets

[2019-04-27 15:51] #29 closed

[2019-04-27 15:54] danielcondemarin commented on #51
FYI - just merged static directory upload support in https://github.com/danielcondemarin/serverless-nextjs-plugin/pull/54. Next will be looking at the routing (step 2 from the list above).

[2019-04-29 17:11] mekwall commented on #12
This is more about adding support for custom handlers since that will automatically support Sentry and any other library that requires you to wrap your handlers. I very much look forward to that feature myself because I am looking at adding cache to a server-side rendered React app and I need to be able to wrap with my own handler to do that.

I might be able to contribute to make it happen but ne

[2019-04-29 21:33] danielcondemarin commented on #12
@mekwall Would be great if you can contribute to this 🙏

Here is a proposed API, let me know your thoughts:

[code]

The plugin still is responsible for the finalised handler that the page lambda uses:

### When `customHandler` is provided

[code]

[code]

For example, `serverless-sentry` handler might look like:

[code]

Or `AWS-X-Ray`:

[code]

### When `customHandler` isn't provided

No differe

[2019-04-30 03:57] Prefinem commented on #47
I am also running into this issue.

[code]

I have tried these different options
* new stack, assetPrefix defined with a non existent bucket
* new stack, assetsBucketName defined with a non existent bucket
* existing stack, assetPrefix defined with a non existent bucket
* existing stack, assetsBucketName defined with a non existent bucket

[code]

And with an existent bucket
* new stack, assetPref

[2019-04-30 06:57] mekwall commented on #12
@danielcondemarin I like it! Will open a PR soon for review.

[2019-04-30 19:19] #12 closed

[2019-05-02 14:40] ulysset opened #58 "Allow pages names to have a length greater than 64."
Hi,
Thanks again for this super cool library.
Currently when I create a page with the name `/co2-emissions-per-capita` it maps to a Lambda function with the name : `tsp-data-portal-v2-client-production-co2-emissions-per-capitaPage` which is longer than 64 characters so sls won't upload it :
[code]
For the moment I can just rename my service with a shorter name so that it leaves space for page nami

[2019-05-02 16:02] KylePalko commented on #45
To get this to work I had to create the S3 bucket with Serverless first:

[code]

Before I could deploy this I had to comment out `assetsBucketName: '***BUCKET_NAME***'` in the `Serverless.yml` file and `assetPrefix: 'https://s3.amazonaws.com/***BUCKET_NAME***'`in the `next.config.js` file.

After I successfully deployed the S3 bucket using Serverless I uncommented the lines above and deployed aga

[2019-05-03 22:06] aheimlich commented on #51
FYI, zeit/next.js#7213 landed recently, which impacts Step 2 and Step 3

[2019-05-04 20:12] Vadorequest commented on #51
Indeed, `/public` seems like the way to go, especially now that it's officially supported by Next.js
It may even make step 2-3 unneeded? @danielcondemarin FYI

Haven't tried it out, but looks like it should handle gracefully/automagically everything in `/public`. Not sure if it will be compatible with serverless though, but it should if it's handled by Next.js itself.

With a bit of luck, the only

[2019-05-04 20:21] Vadorequest commented on #17
Doesn't seem like the Serverless framework will tackle the issue anytime soon, I'm not really confident about that. (issue opened in 2017, and still not sure about the right approach, seems that AWS could provide a solution but no ETA either)

Just thinking out of the box, maybe for this kind of need the serverless approach isn't the right one, and a "one route to handle them all" should be consid

[2019-05-04 21:32] danielcondemarin commented on #51
@aheimlich @Vadorequest AFAIK https://github.com/zeit/next.js/pull/7213 only works for next `target: server`. For serverless deployments, hosting and routing of any assets have to be done outside of next. In the case of this plugin S3. I could in the future adopt this convention of a `/public` folder, but I don't think it adds any value outside the proposal above.

[2019-05-04 21:45] Vadorequest commented on #51
Ah, indeed. I missed that, that wasn't explicit. Too bad, but you're right, your proposal fits the need.

I wonder if the s3 bucket is created by default or must be explicitly listed, that's not mentioned in 1)
I also wonder if a default routing shouldn't be considered, basically any file in `/static` could be automatically served in 2), what do you think? Seems odd to add static files that should

[2019-05-04 22:11] Vadorequest opened #59 "Questions - Developer Experience with this plugin"
I have a few questions regarding the stability and production-ready usage of this plugin. I'm  concerned overall about the Developer eXperience, basically the ability to debug, develop locally, how does the local env matches the production env, but also about performances and cold starts.

I've been using Next since v5, and I'm currently running v5 in production, powered by Express, which powers N

[2019-05-04 23:14] danielcondemarin commented on #51
The bucket is not created by default. It can be provided either via next.config `assetPrefix` field or the plugin config value `assetsBucketName` as documented [here](https://github.com/danielcondemarin/serverless-nextjs-plugin#hosting-static-assets).

I think that will encourage using the api gateway to route static assets that could be requested directly from the S3 bucket url. You would be payi

[2019-05-05 00:05] Vadorequest commented on #51
I'm not sure that's a bad thing though. It makes getting started and test things easier (better DX), as long as the feature behaviour is properly documented (warning about cost, how/why it should be used) then I don't see the point for not automating it. In the end, it's the developer's choice.

What matters is to educate the choice, but I don't see how making it harder to implement something so t

[2019-05-05 00:25] danielcondemarin commented on #59
Those are all really good points / concerns. Hopefully I can address them below:

Currently the best developer experience would be to just use `next dev`. However, this doesn't work if your app setup goes outside the defaults, for example, if you have custom page routes in the api gateway, custom authorisers etc. That would only be supported locally by `serverless-offline`. This plugin is compatib

[2019-05-05 08:34] Vadorequest commented on #59
Thank you very much for the fast & detailed feedback.

It's hard to get HMR working with serverless-offline, I know because I've tried with Next5, and failed. I wouldn't know where to start though. I remember I had tried to ignore the _hmr routes and re-route them to be handled by Next.js, but that was a blind attempt at fixing something I didn't know how the internals.

About warmup, it's not cri

[2019-05-05 12:16] chris--jones commented on #8
I am interested

[2019-05-05 15:59] danielcondemarin commented on #59
A good starting point with HMR would be to check how `now dev` implements it and hopefully use some ideas from there.
I agree that warmups might not be necessary, not seen any benchmarks of next 8 serverless on a Lambda but should be easy to measure. [This](https://zeit.co/blog/serverless-ssr) benchmark talks about 13.94ms avg cold time for React ssr which sounds great. Obvs this doesn't measure t

[2019-05-05 16:31] danielcondemarin commented on #51
I'm still not convinced api gateway is designed for this. Sounds more like a job for S3 (better yet with CloudFront). Having said that api gateway has binary support and behind the scenes comes with its own cloud front distribution so it might be fine to do this. In any case, the work in this PR is more focused in simply supporting root hosted resources such as `/robots.txt` etc. and if anything d

[2019-05-05 16:34] danielcondemarin commented on #51
FYI - https://github.com/zeit/next.js/pull/7220 adds native support for dynamic routing client side which is perfect for `serverless` usage. I'll create a separate feature request for this 🎉

[2019-05-06 08:23] romainquellec commented on #17
@Vadorequest I dont think this plugin should go on this "one route to handle them all" because you can do that pretty easily by yourself with a single lambda with next build. (https://github.com/romainquellec/boilerplate/tree/e72c9a162507519fe8667b8c7d6b3c7b11e59ab5)

[2019-05-06 15:22] romainquellec opened #61 "Custom handler isn't build"
When you add a custom handler like this :
[code]
After build phase, the handler isnt transform as pages are. I think this should be the custom behavior.

Alternative : add the custom packages in the final artifact, but I think first option is the best.

[2019-05-07 11:14] mekwall opened #62 "serverless-nextjs-plugin/utils/s3/upload.test.js included in package"
For some reason the `serverless-nextjs-plugin/utils/s3/upload.test.js` file always gets included in the package. I haven't found anything specific in `serverless-nextjs-plugin` so I believe this might be a bug with serverless itself.

[2019-05-07 11:17] danielcondemarin commented on #61
Hi @romainquellec, not sure what do you mean by transformed?  The custom handler is included in the deployment zip artifact.

[2019-05-07 11:36] danielcondemarin commented on #58
I'm not a fan of using a hash for the page name as this will affect discoverability of the page functions.

The default lambda name is `{serviceName}-{stage}-{pageName}`. A solution would be to provide a config key in the plugin which allows you to change the name prefix:

For example:

[code]
Which would result in shorter lambda function names:
`tsp-production-co2-emissions-per-capitaPage`

This

[2019-05-07 11:53] mekwall commented on #61
I think I understand what he means, that `raven` and `serverless-sentry-lib` aren't added to the bundle automatically.

You need to ensure that `raven` and `serverless-sentry-lib` packages and their dependencies are included in your package by adding them to your (not) exclude.

My config looks like this:
[code]
Note that I'm using a monorepo and most packages are hoisted to the root. Only the pac

[2019-05-07 11:57] romainquellec commented on #61
@mekwall Exactly that. :D

[2019-05-07 12:00] mekwall commented on #61
Another solution is to create a sub-package inside your package, that only has `raven` and `serverless-sentry-lib` in its `package.json` and then add the node_modules directory from that package to your (not) exclude.

[2019-05-07 12:33] ulysset commented on #58
Thanks again @danielcondemarin
This seems nice!
Your solution is way better than a hash indeed.

[2019-05-07 14:26] mekwall opened #64 "Question: How to add server-side cache?"
Trying to figure out how to add SSR cache. Is it possible with the custom handler or does it need some changes?

[2019-05-07 16:48] mdonahue-dd commented on #64
+1
I am also interested in an example of how to add SSR.

[2019-05-07 17:08] meebix commented on #64
I am also interested in seeing an example of SSR with dynamic routing.

[2019-05-07 23:19] barrysteyn opened #65 "Question: How can I use serverless variables inside nextconfig"
For example, I want to name the assetPrefix with my stage variable:

[code]
The question is: How would I import the stage variable into my next config

[2019-05-08 06:47] danielcondemarin commented on #61
@romainquellec Did any of the solutions above worked for you? Including the node_modules you need as @mekwall suggested sounds sensible.
Automatically including dependencies of the custom handler I think goes beyond the scope of the plugin.

[2019-05-08 15:54] romainquellec commented on #61
I didnt try.
Imo, The handle should be treated as pages are. There are no reason the handle shouldnt be optimized  with webpack.

(Also, sometimes, when you include a package with serverless (as @mekwall suggested), the other packages needed for the included package arent automatically included)

[2019-05-08 16:16] mekwall commented on #61
@romainquellec If you create a sub-package, with its own package.json you just run `npm install` in the sub-package and then include the node_modules from the sub-package in your serverless config. That way you get all of the dependencies you need.

And I kind of agree with @danielcondemarin that this might be out of scope for this plugin to bundle all of it. Maybe if there's a way to hook into Ne

[2019-05-10 14:16] Xiphe opened #67 "Support pages with similar names"
Given I have two nested pages
 - `pages/one/foo.js`
 - `pages/two/foo.js`

And I want to provide different [custom page routing](https://github.com/danielcondemarin/serverless-nextjs-plugin#custom-page-routing) configurations for these

Then I expect to write my custom pageConfig like this:

[code]

But only the page file is used as a name, so I can not provide different configs for these.

I'd pr

[2019-05-10 14:19] Xiphe commented on #67
Might also be fixed by new api proposed in https://github.com/danielcondemarin/serverless-nextjs-plugin/issues/51

[2019-05-10 14:24] Xiphe opened #68 "make nextConfigDir optional"
I'd propose to use `./` as default for nextConfigDir and make the plugin work ootb without providing any configuration (unless you need it).

[2019-05-10 14:29] Xiphe commented on #59
I managed to get `serverless-offline` support by starting a next server on a seperate port and proxy all requests to it. HMR works by redirecting the requests directly to the next server.

[2019-05-10 15:59] danielcondemarin commented on #68
This is a good idea 💡. Feel free to PR if you’re interested 🙏

[2019-05-10 16:04] danielcondemarin commented on #67
@Xiphe feel free to PR! This would be great. If there is any overlap with https://github.com/danielcondemarin/serverless-nextjs-plugin/issues/51 we’ll sort it.

[2019-05-11 16:57] danielcondemarin commented on #51
Pleased to say this is now released in https://github.com/danielcondemarin/serverless-nextjs-plugin/releases/tag/v1.8.0 🎈 🎉 . I've also updated the `examples/` using the new API. Please try it out and feedback if something doesn't work, thanks 🙏

[2019-05-11 16:57] #51 closed

[2019-05-11 16:59] danielcondemarin commented on #14
Closing as this has been released in https://github.com/danielcondemarin/serverless-nextjs-plugin/releases/tag/v1.8.0 🎉 . See https://github.com/danielcondemarin/serverless-nextjs-plugin/#hosting-static-assets for details.

[2019-05-11 16:59] #14 closed

[2019-05-11 17:02] danielcondemarin commented on #45
Hi folks, can you try [v1.8.0](https://github.com/danielcondemarin/serverless-nextjs-plugin/releases/tag/v1.8.0) and let me know if this is still an issue? I did a few changes to how the S3 bucket is provisioned that might have fixed this.

[2019-05-11 17:03] danielcondemarin commented on #47
Closing as duplicate of https://github.com/danielcondemarin/serverless-nextjs-plugin/issues/45

[2019-05-11 17:03] #47 closed

[2019-05-11 17:05] danielcondemarin commented on #55
Hi @mattdell can you try again with [v1.8.0](https://github.com/danielcondemarin/serverless-nextjs-plugin/releases/tag/v1.8.0). I did some changes around how the S3 bucket is managed that might have fixed this.

[2019-05-13 06:36] danielcondemarin opened #69 "Monorepo"
**Motivation**

The plugin is growing on complexity which could be mitigated by splitting into separate npm modules some of the functionality. This will allow for more code reusability and hopefully make it easier to contribute to the project.

**Proposal**

Use [lerna](https://github.com/lerna/lerna) fixed versioning mode to version the monorepo packages.

As a starting point there will be 2 pack

[2019-05-13 06:44] danielcondemarin commented on #69
**Motivation**

The plugin is growing on complexity which could be mitigated by splitting into separate npm modules some of the functionality. This will allow for more code reusability and hopefully make it easier to contribute to the project.

**Proposal**

Use [lerna](https://github.com/lerna/lerna) fixed versioning mode to version the monorepo packages.

As a starting point there will be 2 pack

[2019-05-13 10:59] Xiphe commented on #67
awesome! closing since https://github.com/danielcondemarin/serverless-nextjs-plugin/issues/51 is released now

[2019-05-13 10:59] #67 closed

[2019-05-13 11:04] danielcondemarin commented on #67
As an FYI - I'm still planning to support `pageConfig` which still doesn't use the new page identifiers `one/foo`, `two/foo` etc. That would be the breaking change which I'll do at some point later. For now the routes configuration covers most cases where you need custom `pageConfig`.

[2019-05-13 12:28] Xiphe commented on #67
Ah, good to know. I'll see if the current change fixes the situation for me and might provide a PR if not. Thanks!

[2019-05-13 13:53] #68 closed

[2019-05-13 15:06] romainquellec opened #71 "update to 1.8.0 / Cannot read property 'events' of undefined"
When I update for 1.8.0, I've got this error :
[code]

Complete config here : https://github.com/CuistotduCoin/front

Do I have to delete the stack before updating ?

[2019-05-13 19:50] Prefinem commented on #45
Still getting an error.

Using an already created bucket

[code]

Using a new bucket (non-existant)
[code]

next.config.js file
[code]

serverless.yml
[code]

[2019-05-13 19:52] Prefinem commented on #45
For the existing bucket, it looks like you upload and then still add the bucket to the CloudFormation resources. (this might not be a feature though)

It looks like for non existant s3 buckets, the upload of assets is happening before the CloudFormation is finished creating all the resources.

[2019-05-13 20:15] danielcondemarin commented on #71
Which version of `serverless` are you using? Wonder if is related to https://github.com/serverless/serverless/issues/6117 🤔

[2019-05-13 20:40] Prefinem commented on #45
Just tested with a different hook for `this.uploadStaticAssets` and didn't have any issues

[code]

[2019-05-14 06:43] romainquellec commented on #71
I will try with 1.41.1 today

[2019-05-14 12:20] romainquellec commented on #71
apparently 1.42.3 fixed that

[2019-05-14 12:20] #71 closed

[2019-05-14 12:35] romainquellec opened #73 "Static files (robots.txt,...) error : PermanentRedirect"
[code]

My serverless.yml config :
[code]

Full project : https://github.com/CuistotduCoin/front

Did I missed some rights ? Should I "reset" the stack ?

[2019-05-15 00:53] me4502 opened #75 "Deployments in a monorepo setup include entire path in s3 bucket"
I've got a NextJS project in a monorepo setup, and when being deployed with this plugin it places the assets in the full path from the root of the git repo/yarn workspaces setup (Including the parent folder?).

Due to this, when visiting the page it cannot find the bundle. It's looking in S3/_next/static, whereas it is actually in S3/_next/parent folder/apps/project name/.next/static

Is there a w

[2019-05-15 17:19] danielcondemarin commented on #75
@me4502 Can you share what your directory structure looks like? Especially where your `serverless.yml` and `next.config` files are located.

[2019-05-15 19:12] willbamford commented on #48
BTW - just to follow up on this. Bundle size did indeed make a difference to cold start times when I tested this:

<img width="494" alt="Screen Shot 2019-05-15 at 20 12 06" src="https://user-images.githubusercontent.com/357579/57802401-c0a90400-774d-11e9-9038-ac4983f54d69.png">

[2019-05-15 20:33] danielcondemarin commented on #48
How do you know is bundle size and not the overhead added by express?  I expect the bootstrap times for express to be higher.

[2019-05-15 21:45] #69 closed

[2019-05-15 22:03] danielcondemarin commented on #73
You shouldn't need to reset the stack, there aren't any breaking changes AFAIK.
I think this is a bug. I suspect its got to do with the region the bucket was created at. Currently the api gw -> s3 proxy forwards to
[code]
Which I think will only work for US East (N. Virginia). For other regions you have to specify the region it in the URL as per https://docs.aws.amazon.com/AmazonS3/latest/dev/Usin

[2019-05-15 23:24] me4502 commented on #75
So there's an apps folder, which contains the nextJS project folder.

So, /apps/nextjs/

Inside nextjs is where the serverless.yml and next.config.js files are

[2019-05-16 05:28] willbamford commented on #48
Yeah that's fair but I think that should be reflected in the difference in hot start time I.e. slower by ms not seconds. I  will try large single page bundle to verify though.

[2019-05-16 06:04] willbamford commented on #48
Okay you're right - it does look like Express cold boot is what accounts for most of the slowdown:

<img width="606" alt="Screen Shot 2019-05-16 at 07 01 53" src="https://user-images.githubusercontent.com/357579/57830002-a3edea00-77a8-11e9-84ce-677200b76bbe.png">

Bundle size does still seem to make a small difference - but I was only able to do a quick experiment (5 cold + 5 hot starts in each en

[2019-05-16 06:10] danielcondemarin commented on #75
Is any other directory in the full path named `static`? apart from `.next/static`

[2019-05-16 06:17] me4502 commented on #75
None named static specifically, however one contains the word static, it's called `static-website`

[2019-05-16 06:18] willbamford commented on #48
@danielcondemarin I'm starting to wonder whether it actually might be better to keep a single bundle? Also, now not sure what benefits of Next.js "serverless" approach is i.e. self-contained page-level JS files. I can only imagine is slows down builds (imagine 50x page-level JS files, each of which has same dependencies baked in e.g. React), means more Lambdas to manage (using Terraform / Serverle

[2019-05-16 07:13] danielcondemarin commented on #48
Next serverless approach means horizontally scalable pages. For example, doesn't matter how much your bundle size grows you'll never hit a Lambda size limit. The same applies to the Lamba memory, with one lambda for everything you can only scale that vertically.

The management aspect you could argue that serverless is doing that for you. I would ask what is it difficult to manage?

In terms of th

[2019-05-16 07:22] willbamford commented on #48
Yeah, I want to believe in the above but I can't imagine practically hitting bundle size limits for lambda with single app (at least for projects I'm thinking of).

I'm terms of scaling only certain pages over others I'm not really sure how this results in better performance tbh (can't imagine it really affects number of cold boots).

This plugin is great for managing deployment (although it may n

[2019-05-16 07:56] danielcondemarin commented on #73
Can you try using `2.0.2-alpha.0`? Just pushed a fix that I think will solve this.

[2019-05-16 08:37] danielcondemarin commented on #61
Closing as there are possible workarounds for this and building the handlers should be done outside the plugin

[2019-05-16 08:37] #61 closed

[2019-05-16 10:03] mattdell commented on #55
Hmm. Not quite there yet.

[code]

Strange messaging

* Found bucket
* Could not locate bucket

🤔

[2019-05-16 13:38] romainquellec commented on #73
👍 , it's working like a charm

[2019-05-16 13:38] #73 closed

[2019-05-17 01:53] me4502 opened #77 "Stages don't appear to fully apply"
I've setup a deployment system with a "test", "beta", and "prod" stage, and it doesn't appear to apply the stage to the name of all of the functions.

Here is my package.json scripts,

[code]

The pages themselves are being uploaded with 'dev' as the stage name, which is the default for serverless.

Eg, `project-name-dev-notFoundErrorPage`

Also, the application itself appears to have the stage ap

[2019-05-17 18:34] danielcondemarin commented on #75
@me4502 Could you try using `2.0.3-alpha.0`? Just published a fix for this.

[2019-05-20 00:09] me4502 commented on #75
That appears to have fixed this specific issue, but now I'l getting
[code]
in the CloudWatch logs, and an Internal Server Error when I navigate to the endpoints

[2019-05-20 06:38] danielcondemarin commented on #75
Sounds like you should be able to install `next-aws-lambda` at the leaf package rather than the monorepo’s root.

Closing this particular issue as is now solved.

[2019-05-20 06:38] #75 closed

[2019-05-20 21:48] garrettmac opened #78 "An error occurred: NextStaticAssetsS3Bucket - "bucket name" already exists."
seems to be a permissions issue with the latest version.
Did you create a custom permission called "NextStaticAssetsS3Bucket" and attach it to yourself?
Can you share or remove?

[2019-05-21 13:46] arturoabruzzini opened #79 "No support for serverless logs"
Since the functions generated from pages don't get listed in serverless.yml, the command `serverless logs` doesn't work for any of those functions.

[2019-05-22 04:36] aheimlich opened #80 "Custom Resources get clobbered"
Custom resources in our `serverless.yml` file get completely clobbered by this plugin.

The problem is [lib/addCustomStackResources.js line 101](https://github.com/danielcondemarin/serverless-nextjs-plugin/blob/57067e1d4c6a07a481982e4678e8401a16e2ddf7/packages/serverless-nextjs-plugin/lib/addCustomStackResources.js#L101). You should be merging into `this.serverless.service.resources` instead of co

[2019-05-23 17:19] mattdell commented on #28
Is there anything I can do to help with this? Push me in the right direction and I may be able to help as I desperately need compression for my site.

[2019-05-26 13:38] danielcondemarin commented on #28
@mattdell I would suggest trying a solution using https://github.com/webpack-contrib/compression-webpack-plugin. Then we can look at a plugin option to set the `Content-Encoding` header on the compressed assets.

[2019-05-26 13:43] danielcondemarin commented on #78
@garrettmac What error are you getting?

[2019-05-26 14:36] #80 closed

[2019-05-27 09:25] danielcondemarin commented on #45
I think this issue arises from lack of documentation of how the assets bucket provisioning works, so let me clarify:
- You should let the assets bucket creation to the plugin. It does this via CF.
- If you delete the assets bucket manually, you'll have to recreate it manually, don't expect the plugin to do this for you. It can only create it the first time the stack is provisioned.
- If you have 2

[2019-05-27 09:25] #45 closed

[2019-05-27 21:42] barrysteyn opened #84 "Custom lambda handler can't be found"
Hi

Using `node10.x`. Here is my serverless.yml

[code]

However, I get an error on AWS:
[code]
The crazy thing is that this works perfectly when I deploy it locally using serverless-offline. It also builds perfectly. I have been forced to comment out the custom lambda.

Any ideas?

[2019-05-28 05:07] raymondsze opened #85 "Should remove the S3 buckets when sls remove?"
sls remove does not remove the S3 bucket.
When I do sls deploy again, it throws BucketName already exists.

[2019-05-28 12:57] danielcondemarin commented on #84
@barrysteyn Can you try rewriting your custom routes with the new routes api (https://github.com/danielcondemarin/serverless-nextjs-plugin#custom-page-routing):

Instead of `pageConfig` use `routes`. Something like:

[code]

Might not fix the issue but is worth a try.

[2019-05-28 15:42] barrysteyn commented on #84
Unfortunately, using routes still elicits the same problem. To give you some insight, the root folder (where `package.json` is found and the `serverless.yml`) has a sub-folder called client where the next config is placed. That is where my custom lambda is found. So like this:

[code]
@danielcondemarin perhaps I could share my repo with you if this would help.

[2019-05-28 15:56] danielcondemarin commented on #84
Ah I bet this is because your serverless.yml isn’t in the same dir as next.config.js. There aren’t many tests to cover this. The temporary workaround would be to put serverless.yml in the same dir as next config. I’ll have a look into getting this fixed.

[2019-05-28 16:18] barrysteyn commented on #84
I will try test later on today. But it used to work just fine in the past.

[2019-05-29 02:02] barrysteyn commented on #84
Moving `serverless.yml` to the same directory as `next.config.js` fixes the problem. This is just to confirm this. I will probably wait for the fix (thanks so much for doing this).

[2019-05-29 06:10] rlehrke commented on #78
@danielcondemarin - Looks like this may have something to do with using the following S3 url format when defining assetPrefix in next.config.js:

https://mybucketname.s3.amazonaws.com

Note, the https://s3.amazonaws.com/mybucketname has officially been deprecated by AWS.

See https://aws.amazon.com/blogs/aws/amazon-s3-path-deprecation-plan-the-rest-of-the-story/

When using the mybucketname.s3.ama

[2019-05-30 04:06] rlehrke commented on #78
@danielcondemarin - This issue also occurs with serverless-nextjs-plugin version 1.8.0

[2019-05-30 04:20] rlehrke commented on #78
Looks like the same thing happens when you set `assetsBucketName` in serverless.yml and remove the `assetPrefix` setting from next.config.js.

Sounds like the logic is reversed somewhere.

If the assetsBucketName is set in the serverless.yml, the plugin should not try to create a bucket - correct?

[2019-05-30 04:21] rlehrke commented on #78
Setting `uploadBuildAssets` in serverless.yml to false works as intended.

And then I can manually upload my own assets.

Other than this one bug, this plugin is super !

[2019-05-30 04:29] rlehrke commented on #78
Update: I think this has something to do with having existing .next or .serverless directories present before running `serverless deploy`.

Even with `uploadBuildAssets` set to false, I still get the following error when the .next/.serverless directories exist:

  Serverless Error ---------------------------------------

  An error occurred: NextStaticAssetsS3Bucket - mybucketname already exists.

[2019-05-31 09:39] mattdell commented on #85
Sort of related to #45

For my situation I created a script that does the following:

[code]

ymmv

[2019-05-31 16:07] barrysteyn commented on #84
One last comment: It works fine with serverless-offline without me moving serverless.yml to same folder as next.config.js

That's kinda strange? @danielcondemarin the reason why this is happening kept me thinking last night, and then I realized I could just ask you :)

[2019-05-31 20:47] barrysteyn commented on #84
@danielcondemarin Another problem we have is trying to route for static assets...

Our setup is like this:
[code]

Both the `customHandler` and `sw.js` cannot be resolved.

[2019-06-05 00:09] SimonStiph commented on #17
I disagree w/ Romain. In my experience, the one-function solution solves this issue very well in my production Serverless applications. IMHO, I would question what benefit that function splitting is going to provide at all.

[2019-06-07 10:06] romainquellec commented on #17
In my previous comment, I'm not saying its bad to have only one function (depending of the case). I'm saying this plugin doesn't provide any advantages compared to a simple custom handle. (something like this : https://github.com/romainquellec/boilerplate/blob/e72c9a162507519fe8667b8c7d6b3c7b11e59ab5/server/lambda.ts)

To respond on that :

Cold start
Dynamically build routes
Compatible with next

[2019-06-07 10:07] romainquellec commented on #17
Maybe we should add a section explaining this design as it's a recurrent topic here and also on next.js depot. @danielcondemarin

[2019-06-07 10:29] SimonStiph commented on #17
The one-function method means every viewed page keeps the entire site warm. This is actually a pro for the one-function method (though I recommend using CloudWatch Rules instead anyways.)

Next.js already bundles Express. It's built on top of it. And since there's no HTTP, Express.js is simply used as a wrapper. You should research how it works; it's very intuitive.

Node.js only has one "node_mod

[2019-06-07 13:29] romainquellec commented on #17
You should argue with @timneutkens on next.js depot or spectrum as I'm using mainly his arguments because I'm lazy!
At the end : https://github.com/zeit/next.js/pull/6685

No, because when the function is small, warming is not an issue at all.

https://zeit.co/blog/serverless-express-js-lambdas-with-now-2
"Since each route works with its own instance of Express" => You add an express server for yo

[2019-06-08 00:18] SimonStiph commented on #17
We disagree on all of that except the documentation update :) But regardless, my take is that this plugin is useful, but is flawed in that hitting the CloudFormation limit is a major showstopper. Before I was going to use this plugin, I purposefully looked for this exact issue since I'm very familiar with AWS and knew of the hard limit. Other developers using this plugin will find out the hard way

[2019-06-08 15:17] timneutkens commented on #17
Next.js does not use express.

[2019-06-09 05:50] SimonStiph commented on #17
@timneutkens

Actually, that is correct. It has Express.js listed as a dependency which made me assume that it is based on it, but going through the code I found that it uses Express.js for the bundled examples.

There are problems with your source. It states that pinging your Lambdas will not affect cold starts, and that contradicts what Amazon's Chris Munns [statement](https://www.jeremydaly.com

[2019-06-10 15:32] richardwillars opened #86 "S3 bucket creation fails"
Hello. When trying to deploy for the first time I get the following error:
"The assets bucket "foobar-qa" does not exist. Create it manually or delete the stack and recreate it."

That S3 bucket doesn't exist, and I have already deleted the cloudformation stack.

serverless.yml:
`assetsBucketName: "foobar-${self:custom.name}"`

next.config.js
`assetPrefix: "https://foobar.blabla.com"`
(The S3 buck

[2019-06-10 15:43] richardwillars commented on #86
FYI for anyone else hitting this issue.. to get it working I rolled back to v1.8.1 and then commented out the line "after:aws:deploy:deploy:uploadArtifacts": this.uploadStaticAssets," in index.js, then for subsequent deployments I upgraded to the latest plugin.

[2019-06-11 11:25] mattdell commented on #86
This is what I'm trying to do, but automated.

So you've created a cloudfront to sit in front of your S3 bucket, yeah?

[2019-06-11 11:30] danielcondemarin commented on #86
@richardwillars Can you post your `create` and `update` CF templates under the `.serverless` directory (when the error happens) ?

[2019-06-11 11:42] danielcondemarin commented on #17
I will document the CF limitation. Also, I'm currently looking into how the plugin could be ported to [serverless-components](https://github.com/serverless-components), which for the most part uses plain API calls instead rather than CF.

[2019-06-11 20:14] dhsolver opened #87 "Showing error while deployment"
While deploy by executing 'serverless deploy', showing error like image below.
![Screen Shot 2019-06-10 at 4 18 03 PM](https://user-images.githubusercontent.com/43324939/59303340-3ae87d80-8c53-11e9-8823-4f5e1917f50c.png)

[2019-06-11 20:16] danielcondemarin commented on #87
That looks like a problem with your next build. Can you run `next build` and check whether it works?

[2019-06-11 20:24] dan1114ho commented on #87
it is building correctly and if I do 'serverless deploy' again after build, still showing same error.

[2019-06-11 20:27] danielcondemarin commented on #87
Can you provide your next.config.js including your webpack configuration?

[2019-06-11 20:32] dan1114ho commented on #87
module.exports = require('@zeit/next-less')(
    require('@zeit/next-css')(
        require('next-fonts')(
            require('next-images')(
                require('next-offline')({
                    webpack(config) {
                        config.node = {fs: 'empty'};
                        return config;
                    },
                    env: {},
                    workboxOpts:

[2019-06-12 11:31] mattdell opened #88 "Static assets respond with 404"
### Problem

Following the NextJS convention, I have a static folder in the root of my project. If I put in a file, I expect it to upload and be accessible to the application exactly as it is locally.

I've been looking at this for the better part of a day now and I can't get it to work. I see static asset support was introduced in version 1.6.0 and I've looked at the code change introduced in #54

[2019-06-12 14:23] mattdell commented on #88
I've updated to version `2.0.6-alpha.0` and the routing seems to work now.

But not how I want it to.

So this rule works
[code]

But I don't want this asset at the root because I don't want a difference between my local and production environments.

What I want is this

[code]

But when I do that I get this error message telling me I can't have a non alphanumeric character in the path:

[code]

S

[2019-06-12 20:43] danielcondemarin commented on #88
@mattdell - thanks for the level of detail in the issue.

So, you are correct in that static routes are only working in the alpha version. I've been meaning to promote it to stable for a while but haven't had much time free lately.

Also, the static routes were originally designed for top level resources `/robots.txt`, service workers etc. Nested routes like `/static/apple-touch-icon` ... aren't c

[2019-06-13 10:33] mattdell commented on #88
Hey Daniel, thanks for getting back!

Primarily to follow convention over configuration. Since the NextJS convention is to serve files from the static folder under `/static` and files from the public folder under `/` then I expect this convention to continue as I progress from my local environment to deployed environments. Otherwise I have to configure a prefix for each route.

### Another scenari

[2019-06-13 10:39] mattdell commented on #88
Just a quick followup, have a look at the Nextflix Jobs site, built with Next: https://jobs.netflix.com

<img width="1553" alt="Screenshot 2019-06-13 at 11 35 50" src="https://user-images.githubusercontent.com/2536442/59426193-727c3480-8dcf-11e9-98f8-ca65dbb05f97.png">

You can see their compiled Next assets are served as relative paths:

[code]

And static scripts are served by relative path

[co

[2019-06-13 21:36] danielcondemarin commented on #88
@mattdell I really like the idea of following next's convention for the `static` and `public` folders, as this gives feature parity with the development server as you pointed out.

What I'm still not sold at is using API Gateway to host static assets, let's look at the cost, data transfer out is the same as EC2's $0.09 per GB. Compare this to CloudFront's pricing for example which is $0.085 for th

[2019-06-14 14:28] mattdell commented on #88
Yeah, you make a good point regarding costs and we're actually going to be looking at placing CloudFront in front of our entire website partly for this reason.

That said, I don't see the approaches you and I are suggesting as mutually exclusive and, for some people, $0.09 per GB is worth the cost vs paying for additional infrastructure and complexity; especially if they aren't serving much conten

[2019-06-14 16:07] danielcondemarin opened #89 "Feature - Better static assets support"
Original discussion: https://github.com/danielcondemarin/serverless-nextjs-plugin/issues/88

**Motivation**

Currently it is only possible to host static assets at the top level of the api gw domain, e.g. /robots.txt, /sw.js etc. Nested static routes doesn't work, e.g. `/static/bar.png`, `/static/foo.txt` etc.
Also, the existing approach doesn't follow nextjs convention for `static/` and `public/`

[2019-06-14 16:11] danielcondemarin commented on #88
@mattdell Great idea and well put, thank you 😊 Closing this in favour of a feature request: https://github.com/danielcondemarin/serverless-nextjs-plugin/issues/89

[2019-06-14 16:11] #88 closed

[2019-06-14 16:12] danielcondemarin commented on #89
@mattdell Are you interested to contribute towards this?

[2019-06-14 16:19] danielcondemarin commented on #88
Also, I’m still not discarding the idea of implementing cloudfront support in the plugin (for prod usage). Don’t want to give a half baked solution to the problem :) Plus there is much more to CloudFront than just this, e.g. compression, domains etc.

[2019-06-14 17:00] JoeDevGeeeee opened #90 "Upload static to S3 and have assetPrefix to Cloudfront"
Can we configure upload static to S3 but have next.js assetPrefix to point to Cloudfront
For example, currently I have this config in my `next.config.js`
[code]
This way, serverless will upload my static content to my s3 bucker.
But What if I want next.js to serve my static content using cloudfront instead of s3?
I tried to set the s3 bucket name in my serverless-nextjs config like below
[code]
Bu

[2019-06-14 17:03] danielcondemarin commented on #90
That's what `assetsBucketName` was designed for. What issue / error are you seeing?

[2019-06-14 17:13] JoeDevGeeeee commented on #90
@danielcondemarin oh it's my configuration in serverless.yml no correct. You are right. Closing this issue, Thanks for the rapid reply

[2019-06-14 17:13] #90 closed

[2019-06-14 17:16] danielcondemarin commented on #87
@dan1114ho Would be great if you could provide a simple repro repository example. That way I can look into this quicker.

[2019-06-14 19:20] mattdell commented on #89
@danielcondemarin I’m willing to take a crack at it. Let me assess my workload on Monday and hopefully I can dedicate some time to this. 🙂

[2019-06-17 11:08] mattdell commented on #89
Looks like I'm good to spend a few days on this. Feel free to mark it as assigned to me.

[2019-06-19 03:32] andreelorenz opened #91 "Download an unsafe file"
Hi!

So, in my deployed function the scripts are not loading. I wonder if anyone has ever had anything like it.
![image](https://user-images.githubusercontent.com/18430246/59734859-740f8780-9229-11e9-8f03-67c3b0a5db9a.png)

I have the static configuration to use the cloudfront.
My next.config
[code]

When I download the unsafe scripts all pages works

[2019-06-19 11:08] mattdell commented on #89
I've got this working, just need to write some unit tests to finish it off and then I'll raise a PR.

Just to confirm, do we want to keep the existing routes configuration?

[code]

This scenario is no longer needed as you'd just use the public folder. Or, I've made the static and public folders configurable in serverless.yml so public could be assets if desired.

I'm not sure if routes is in the

[2019-06-19 12:39] danielcondemarin commented on #89
No need to keep that for static routes. Page routes we have to keep for the time being until this lands: https://github.com/zeit/next.js/issues/7607.

Don't worry about making it a breaking change, v2 is still in alpha.

[2019-06-21 02:24] justinwhall opened #93 "serverless offline"
Just updated to `2.0.6-alpha.0`. I like the simplicity of the new config and compat/custom lambda. It appears now running serverless offline is broken? All assets locally 404? Am I missing something in the config. I'm _not_ using an assetPrefix while checking sls offline. With no assetPrevix running sls offline should load local lambdas in the `.next` directory no?

[2019-06-21 15:49] justinwhall commented on #35
If I'm following this issue correctly, `serverless offline` is not really supported when using _local_ assets in the `.next` directory? If that's the case, there's really no way to debug serverless specific issues locally?

[2019-06-22 11:39] danielcondemarin commented on #89
Closed by https://github.com/danielcondemarin/serverless-nextjs-plugin/pull/92

[2019-06-22 11:39] #89 closed

[2019-06-23 09:17] mattdell commented on #35
For my original issue, it's been addressed with #92

There is no need to specify an `assetPrefix` but a bucket name is required in serverless.yml

[2019-06-23 09:17] #35 closed

[2019-06-23 17:51] justinwhall commented on #35
Thanks, but that doesn't really answer my question. I see this fixes `_next` assets 404 on API gateway, but running `sls offline`, the issue persists. I'm not sure how a bucket name in the serverless.yml file would fix this?

[2019-06-24 08:02] danielcondemarin commented on #93
@justinwhall local assets are not hosted or served locally by the plugin, therefore doesn't work with `serverless-offline`. Tbh I'm debating whether to spend too much time on fully supporting a local setup or not.
My current plan is to achieve feature parity with nextjs so you can just run `next dev`. Of course there might be issues specific to serverless which would be nice to check before deploy

[2019-06-24 09:44] mattdell commented on #35
The original issue here wasn't a serverless-offline issue, though it did go off topic into that area, so that's why I've closed this one.

Looks like you have an issue opened with #93 so you'll probably have better luck there.

[2019-06-24 12:56] stan-sack opened #94 "Cookie support?"
Hey, My cookies don't seem to be passed to my lambda functions. I think I need to add the header mapping as suggested [here](https://stackoverflow.com/questions/35572887/using-aws-gateway-api-can-i-access-the-cookies). Is there currently a way to do this in this plugin?

[2019-06-24 13:03] danielcondemarin commented on #94
@stan-sack The plugin uses Lambda Proxy integration behind the scene, which means you should be able to see the Cookies in `event.headers`. Can you post some code with what you're trying to do?

[2019-06-24 13:10] stan-sack commented on #94
Im trying to read the cookies from the context in `getInitialProps()` on my page and redirect if the cookies arent there. Im using a library called `nookies` to get and set the cookies:

[code]

[2019-06-24 13:33] romainquellec commented on #17
Any news on serverless-component ?

[2019-06-24 21:12] danielcondemarin commented on #94
@stan-sack I can't reproduce the issue, tried this and works as expected:

[code]

[2019-06-24 22:08] stan-sack commented on #94
I will continue to investigate tonight. Do you how I would enable cloudwatch logging? I'm looking at the [serverless cloudwatch docs](https://serverless.com/framework/docs/providers/aws/events/cloudwatch-event/) but because serverless-nextjs-plugin is generating the functions im not sure where to put the config.

Thanks for taking the time to look at this :). Feel free to close the issue and I'll

[2019-06-25 08:26] #94 closed

[2019-06-25 09:11] stan-sack commented on #94
I've confirmed it was a cloudfront issue. thanks again!

[2019-06-25 10:06] JuHwon commented on #34
this is also a required feature for my project.

[2019-06-25 11:15] danielcondemarin commented on #34
PRs are most definitely welcome. Feel free to look into this and let me know if you have any questions / need any help

[2019-06-27 01:41] andreelorenz commented on #91
Https solved that!

[2019-06-27 01:41] #91 closed

[2019-06-27 20:16] Elyx0 commented on #86
Also note that `static` and `public` have to contain at least a file or it crashed too

[2019-06-27 20:22] Elyx0 commented on #93
I'm currently looking at using
[code]
But just the fact that it needs 3 plugins + a conf just to support this case is kind of annoying...
Plus it doesn't solve the need of mapping `.next` vs `_next`

[2019-06-28 12:01] mattdell commented on #86
That was actually raised after we published it here: https://github.com/danielcondemarin/serverless-nextjs-plugin/pull/92#issuecomment-504954593

@danielcondemarin were you able to update the package?

[2019-06-28 12:06] mattdell commented on #28
For anyone wanting gzip look at PR #92 which introduces feature parity with NextJS and allows for gzip if following the `static` and `public` convention.

You'll just need to remove `assetPrefix` if currently using it.

[2019-06-28 12:07] danielcondemarin commented on #86
I did last night actually, https://github.com/danielcondemarin/serverless-nextjs-plugin/releases/tag/v2.0.8-alpha.0

[2019-06-28 12:12] danielcondemarin commented on #28
@mattdell How does it allow for gzip 🤔 ? The resources in public/ and static/ are not gzipped when uploaded to S3 ...

The current options I see for gzipping are:
- Upload gzipped static files to S3
or
- Support CloudFront and let it do the gzipping

[2019-06-28 13:06] mattdell commented on #28
Assets served through API Gateway are gzipped by default, so if you're not using the `assetPrefix` and using a relative path then content should get encoded without needing to do anything.

[2019-06-28 14:19] danielcondemarin commented on #28
Cool! Although seems like you still have to define `minimumCompressionSize` according to https://serverless.com/framework/docs/providers/aws/events/apigateway/#api-gateway

[2019-06-28 15:05] mattdell commented on #28
Yes. That is a good point. I do have that set.

[code]

[2019-06-28 20:12] sja commented on #28
What I did not understood while creating this Issue: Just uploading the assets gzipped is not a good solution. It does no header-negotiation which detects that the requesting browser supports unzipping it. Additionally, there are more than one algorithms in modern browsers for compression, gzip does not have to be the best one.
For me, CloudFront does all these things together with caching the ass

[2019-06-29 22:11] danielcondemarin commented on #17
I'm currently trying to get v2.0 released first, but for that I need to finish CloudFront support (https://github.com/danielcondemarin/serverless-nextjs-plugin/pull/95)

After that's sorted will look in more detail how to port to a serverless-component.

[2019-06-30 18:43] danielcondemarin commented on #28
Closing this as I've just published v2.1.0-alpha.0 with cloudfront support and compression enabled by default. Documented [here](https://github.com/danielcondemarin/serverless-nextjs-plugin#serving-static-assets).

Please try the new cloudfront support and feedback! Thanks 🙏

[2019-06-30 18:43] #28 closed

[2019-06-30 18:44] danielcondemarin commented on #86
@richardwillars You mind trying again using v2.1.0-alpha.0? This version might have fixed this.

[2019-06-30 22:10] havster09 commented on #8
Will be much appreciated. Version 8 deployments.

[2019-07-03 09:45] fullstackdb opened #96 "static assets respond with 403"
### Issue:
When app published, - s3 bucket with static assets file successfully created, bucket itself has public access, apigateway and stack successfully created as well.
But when I'm reaching apigateway instance, I got 403 response for static assets files (see screenshot below).
![image](https://user-images.githubusercontent.com/25477677/60582445-7b8a7100-9d91-11e9-9985-8b4d58ed31fd.png)

### D

[2019-07-03 11:30] danielcondemarin commented on #96
@fullstackdb Since you are using `cloudFront: true` the asset routes are not created for api gateway because they aren't necessary. Instead you should be using Cloudfront URL. I'm aware the cloudfront URL is missing from the terminal output,  and I will be fixing that this week!
Look at https://github.com/danielcondemarin/serverless-nextjs-plugin/tree/master/examples/app-using-cloudfront for an ex

[2019-07-03 13:11] fullstackdb commented on #96
Thanks @danielcondemarin for the info.

I just solved an issue by giving Read -> `GetObject` `lambdaRole` (iam role) for specific s3 bucket  to lamda on `https://console.aws.amazon.com/iam/home?#/roles/{YOUR_LAMDA_NAME}-dev-{YOUR_REGION}-lambdaRole?section=permissions`

As weird as it could sound, but this itself fixing issue,  **without** passing  cloudfront URL

[2019-07-03 13:11] fullstackdb commented on #96
CLOSING as solution was found

[2019-07-03 13:11] #96 closed

[2019-07-05 09:33] mattdell commented on #96
I wonder if the cloudfront URL should be prepended automatically to `assetPrefix` if using `cloudfront: true`. Presumably on first deploy the user wouldn't know their cloudfront URL? This would also reduce the amount of configuration necessary.

As a completely different approach, for what it's worth, in my project we are using CloudFront Behaviours to route static assets so that we can keep our p

[2019-07-05 12:00] danielcondemarin commented on #96
This is exactly how the plugin behaves :)

The goal is to reduce to a minimum the amount of configuration required, therefore Cloudfront will serve *any* assets in the same fashion as the next server.

[2019-07-05 12:25] mattdell commented on #96
Oh, perfect!

I thought when you said

you meant you'd have to use `assetPrefix` with the Cloudfront URL. If it's all relative paths, then happy days. 🙂

[2019-07-06 08:47] Vadorequest commented on #52
I'd need something similar, as I also use a /api handlers that perform non-related Next operations.

I don't necessarily _want_ to use serverless-offline, but I **need** to be able to debug locally what happens, use breakpoints, etc.

[2019-07-06 13:53] samuv opened #97 "CloudFront configuration"
Hi @danielcondemarin,

I was wondering if it is possible to override the CloudFormation configuration or reference a resource with an arn or id.
It would be great to pass the domain and certificate or other CDN related things, so I don't have to change the distribution by hand and we would have a clean cloud formation stack without drifts.

I have used the lambda@edge plugin that I think have a si

[2019-07-06 21:14] danielcondemarin commented on #97
@samuv That's been implemented now 🚀 . Should be available in `v2.2.0-alpha.0`. Check https://github.com/danielcondemarin/serverless-nextjs-plugin#serving-static-assets for more details.

[2019-07-06 21:14] #97 closed

[2019-07-07 10:13] samuv commented on #97
Oh wow! This is awesome, thank you.
![meme](https://thumbs.gfycat.com/SpotlessAlertGardensnake-size_restricted.gif)

[2019-07-09 08:45] mekwall opened #98 "Question: How to create custom routes with locale in path?"
It's recommended for SEO to have separate url per locale so I'm trying to create custom routes that is prefixed with `{language}/` but I cannot get this to work. It fails to deploy with the following error:

[code]

Any ideas on how to solve this?

[2019-07-09 19:56] danielcondemarin commented on #98
Interesting. I believe what's happening here is that the catch all route added by the plugin for rendering the next 404 page, uses the path variable `/{proxy+}` and that is conflicting with your homepage path `/{language}` and potentially other paths like /{language}/blog etc.
For example, a request comes in with `/en` or some nonsense `/xyz`  , api gateway wouldn't know whether to match using `/{

[2019-07-10 11:57] mekwall opened #100 "Found bucket "undefined" from serverless.yml"
I am trying to let the plugin resolve the bucket from my `next.config.js` but instead get the following output:

[code]

I've followed the documentation by setting a valid S3 url in `assetPrefix`, but the plugin doesn't seem to pick it up.

Edit: Turns out that `const { Bucket } = s3Urls.fromUrl(assetPrefix);` in `parseNextConfiguration.js` return `undefined` because the url was malformed. But I c

[2019-07-10 12:41] romainquellec opened #101 "Question - Plans for next v9"
Hello !

What is you plan about :
- Dynamic Routing
- API Routes
- Automatic Static Optimization

These are great improvements in the next environment ! I don't know what is your vision @danielcondemarin on this and how this plugin should handle theses features/improvements.

Thanks.

[2019-07-13 06:27] me4502 opened #102 "Missing required key 'Bucket' in params when updating from 2.0.3-alpha.0 to 2.2.0"
Upon updating a very simple NextJS app (Just a single page called index) from 2.0.3-alpha.0 to 2.2.0, I start getting the following error:

`Missing required key 'Bucket' in params`

Google seems to indicate this is a permissions issue, which is setup correctly here. If I revert to 2.0.3-alpha.0 it works, if I go to 2.2.0 it fails. Is something wrong with the way this plugin is handling bucket per

[2019-07-15 05:50] mekwall opened #103 "Incompatible with serverless-aws-alias"
Instead of using serverless stages we instead use the https://github.com/serverless-heaven/serverless-aws-alias plugin. Sadly, the S3 part of serverless-nextjs-plugin doesn't work well together with this plugin.

We have three stages and thus need three different buckets, but serverless-nextjs-plugin only allow one bucket. Deploying with alias `dev` works just fine, but when we try to deploy to `s

[2019-07-15 11:33] danielcondemarin commented on #103
@mekwall How do you solve this problem for other cf `resources` in your stack?

[2019-07-16 01:27] mekwall commented on #103
@danielcondemarin I just add the alias as part of their resource names so that they are unique.

[2019-07-16 01:32] mekwall commented on #98
@danielcondemarin What if we could add our own custom router to the catch all handler, and also allow us to define the catch all url structure? That would allow us to create redirectors and other cool things. Well defined urls would still route directly to the lambda handler like it is right now.

[2019-07-16 20:11] danielcondemarin commented on #98
@mekwall Did you try using a custom route for the `_error` page? For example:

[code]

I'm hoping this overrides the default /{proxy+} catch all route, athough I've not actually tried it.

I've got another idea similar to what you proposed but I think is worth trying this first.

[2019-07-16 20:38] danielcondemarin opened #105 "Feature: Dynamic Route Segments Support"
### Motivation

Nextjs 9 introduced [Dynamic Route segments](https://nextjs.org/blog/next-9#dynamic-route-segments) as per [this RFC](https://github.com/zeit/next.js/issues/7607).

What does this mean for this serverless plugin?

This is great news for local development when using this plugin. Currently, when you have [custom page routes](https://github.com/danielcondemarin/serverless-nextjs-plugi

[2019-07-16 20:41] danielcondemarin commented on #101
Hello! Sorry, been very busy lately but definitely Next 9 support will be coming.

Find the Dynamic Routing Proposal here:  https://github.com/danielcondemarin/serverless-nextjs-plugin/issues/105.

API Routes and Automatic Static Optimisation is also really cool stuff I'll be creating some proposals for over the next few weeks 👍

[2019-07-17 00:25] mekwall commented on #98
@danielcondemarin Will try and report back with my findings. Thanks!

[2019-07-17 05:38] mekwall commented on #103
With the referenced PR I can now work around this issue by disabling creation of s3 asset bucket and set it up manually in my serverless config like this:

[code]

However, it would be cool if the plugin would support it out of the box 😸

[2019-07-17 05:57] mekwall commented on #103
Celebrated too early... This has to be done with all resources generated by the plugin so it's not enough to do it for only the asset bucket.

[2019-07-17 11:41] Vadorequest commented on #101
Is Next v9 compatible with the current version of this plugin? Even if all features aren't supported yet.

[2019-07-17 11:43] Vadorequest commented on #105
Really interested in this. Especially if it increases DX by allowing to test our code locally the same way it runs against AWS. Env reproduction is a tough part, there are many implementations of aws lambda + next out there, but very few that have a good-enough DX for a production use case.

[2019-07-17 11:56] mekwall commented on #85
Don't you guys have the same issue with the actual deployment bucket created by serverless? The [serverless-s3-remover](https://www.npmjs.com/package/serverless-s3-remover) plugin was created for that purpose since a bucket cannot be removed when it is containing items.

[2019-07-17 12:38] danielcondemarin commented on #101
It's probably not compatible, although I haven't tried it.
This plugin relies on next's build output which has changed. For example, built pages being outputted as html when they don't use `getInitialProps` (aka Automatic Static Optimisation).

[2019-07-17 13:09] bc0x commented on #9
Would love to help get this feature added. Let me know if I can help in anyway.

[2019-07-17 21:02] #100 closed

[2019-07-18 01:42] aygee commented on #101
Not compatible. I just tried it :)

[2019-07-18 08:52] romainquellec commented on #105
👍

[2019-07-18 20:57] danielcondemarin opened #107 "Feature: Automatic Static Optimisation"
### Motivation

Nextjs 9 introduced [Automatic Static Optimisation](https://nextjs.org/blog/next-9#automatic-static-optimization) as per [this RFC](https://github.com/zeit/next.js/issues/7355).

What does this mean for this serverless plugin?

This should reduce the number of Lambda functions provisioned by the plugin. Next 9 prerenders static pages as HTML files, which means this plugin could sim

[2019-07-18 21:25] danielcondemarin commented on #101
Raised another RFC for automatic static optimisation, https://github.com/danielcondemarin/serverless-nextjs-plugin/issues/107

[2019-07-19 00:24] aygee commented on #101
UPDATE: I should clarify that I managed to get this working Next v9 without much effort. I got an error earlier but it was due to misconfiguration on my part.

I haven't got dynamic routing in my project - I don't think it will work out of the box as discussed in this thread.

[2019-07-19 08:34] romainquellec commented on #107
This PR is awesome as a lot of project has static/marketing pages.

[2019-07-19 18:00] barrysteyn opened #108 "Can compat layer be changed to account for serverless-plugin-warmup"
I am wondering if the compat layer can be altered to account for *serverless-plugin-warmup*. The plugin calls all one's lambdas on a scheduled bases. It sets the event.source to *serverless-plugin-warmup*, and so all the compat layer would need to do is check for this and exit if it sees it.

Perhaps this can even be taken care of in a custom handler, but it would be more simple to just let the co

[2019-07-19 20:51] danielcondemarin commented on #108
Hi @barrysteyn this sounds like something you should be able to achieve with a custom handler, i.e.:

[code]

Feel free to reopen if you find any issues with this approach.

[2019-07-19 20:51] #108 closed

[2019-07-20 05:20] jishaal commented on #101
@aygee How did you get it working?

I get the following error

[code]

[2019-07-20 08:11] me4502 commented on #102
Fixed in 2.3.0

[2019-07-20 08:11] #102 closed

[2019-07-20 09:18] maf1ab0y opened #109 "Files in static folder not route to S3"
Hi,
I tried to deploy app-basic in examples with a modification for index.js file:
[code]
However nextjs.png file is routed to https://v6vbkbxj52.execute-api.us-east-1.amazonaws.com/static/nextjs.png instead of S3 url (what i expected is: https://nextjs-basic-test.s3.amazonaws.com/static/nextjs.png)

Check this link for detail: https://v6vbkbxj52.execute-api.us-east-1.amazonaws.com/dev/

[2019-07-20 11:55] aygee commented on #101
@jishaal I also had that error before but managed to get rid of it eventually after trying few different things, but I don't know what fixed it. What is your version of serverless? Mine is 1.41.1. Did you use yarn or npm? (I used yarn) maybe try to delete node_modules folder and do another `yarn install`

[2019-07-21 07:35] jishaal commented on #101
Adding the below to `serverless.yml` fixed it, using `1.48.2`

[code]

Manages to push the stack out to AWS now, but having issues when hitting the endpoints, I am guessing because it cannot handle the static html files with Automatic Static Optimization? I need to investigate further, would love to somehow get it working!

[2019-07-22 04:44] aygee commented on #101
@jishaal good point, I think it's expecting that key in the `serverless.yml`

For static files, they need to be hosted somewhere else, because aws lambda won't be able to serve the static files. You can follow the instruction how to host the static files in s3: https://github.com/danielcondemarin/serverless-nextjs-plugin#hosting-static-assets

[2019-07-22 09:21] jishaal commented on #101
Hmm I got this and I believe this is working fine for things like images/script etc for me ie. bucket gets created and these files end up there. What I think the issue is that due to Automatic Static Optimization, if a route does not have `getInitialProps`, it gets prerendered as a HTML file. This _is_ a static asset but what I don't understand is how do I get this to the static asset bucket and h

[2019-07-22 19:21] berkona commented on #78
This issue was driving me up the wall!

Finally figured it out--there's a parameter `createAssetBucket` which controls whether the stack update attempts to create the bucket.  You need to set this to false if the bucket already exists:

[code]

I think this behavior should be documented or it should set `createAssetBucket` based on a describeBucket result since I dropped this plugin once before du

[2019-07-25 18:34] anupam-newgen opened #110 "Next.js Amplify Serverless AppSync graphql (Amplify error)"
Hi,
I'm trying to create an App that uses Amplify and AppSync with Next.js.

I was able to deploy the application successfully but when I'm trying to access the application (trying to fetch data from AppSync) It is failing.

I'm kinda lost what needs to be looked at, the application seems to be working fine locally but when I'm publishing it on AWS it is failing.

I'm getting error: TypeError: Can

[2019-07-27 05:09] jishaal commented on #109
Any ideas on why this issue may be? Having the same problem

[2019-07-27 05:53] jishaal commented on #101
FYI I got around this by adding a noop `getInitialProps` to each of my pages so stop automatic-prerendering. Hacky but works for now

[2019-07-27 22:55] nikitapilgrim opened #111 "Cloudflare Workers"
It is possible to make it work with Cloudflare Workers?

[2019-07-28 08:17] danielcondemarin commented on #111
I don't see why not. I've never used Cloudflare workers but they look very similar to AWS Lambda@Edge, that is, run some code at edge location servers, in this case, provided by Cloudflare. You can put any reverse proxy in front of your next serverless app, like Cloudflare.
I'm closing this but feel free to reopen if you find any issues with the plugin.

[2019-07-28 11:09] nikitapilgrim commented on #111
there is a slightly different structure. I understand need to rewrite the handler
AWS Handler exports.handler = function(event, context, callback) {...}

`addEventListener('fetch', event => {
  event.respondWith(handleRequest(event.request))
})

/**
 * Fetch and log a given request object
 * @param {Request} request
 */
async function handleRequest(request) {
  console.log('Got request', request)

[2019-07-28 12:06] danielcondemarin commented on #111
I don't understand what you mean by rewriting the AWS Handler. If you are referring to changing the AWS Lambda Handler, I don't know why you'd want to do that considering CloudFlare workers are different things to AWS Lambda.

[2019-07-29 13:39] romainquellec opened #113 "Add options to Serverless package"
I would like to launch a custom command on "serverless package" but dont really know how to.
Basically, thats what I want to do :
`env-cmd serverless package && tsc --project tsconfig.server.json`

Thanks !

[2019-07-29 15:15] romainquellec commented on #110
IMO, its not related to this plugin.
You can ask on https://github.com/awslabs/aws-mobile-appsync-sdk-js

[2019-08-06 14:09] mattdell opened #116 "Feature - API Routes"
NextJS 9 has introduced the concept of API Routes which allows for the creation of API endpoints within the pages folder.

Best to read the documentation here as it does a better job of explaining than I could do myself: https://github.com/zeit/next.js#api-routes

In the interest of feature parity, shall we work to support this?

[2019-08-07 10:59] mattdell commented on #101
I missed this thread, but raised one for API Routes over at #116

[2019-08-12 21:46] dennisrjohn commented on #105
Is there a timeline on adding this support?  I've been using next.js 9.0 with this plugin and all has been well, until I needed to add a dynamic route.

I'd be happy to fork and add this in if someone could give me an idea of where to look in the codebase. I'd like to get this implemented as quickly as possible.

[2019-08-13 12:06] stan-sack commented on #58
@danielcondemarin can we please explore some other solutions for this. I'm using relay modern which generates folders as follows: `./__generated__/<queryname>.graphql.js` which is like 20 characters of just boilerplate naming. It makes it basically impossible to stay under the character limit. Maybe the hash could be an optional custom config?

[2019-08-13 12:07] stan-sack commented on #58
maybe we can specify a custom alias for long names so they are still identifiable

[2019-08-13 21:46] dennisrjohn commented on #109
Having the same issue. The static assets are uploaded to S3, but the URL is not rewritten on the page. The rendered page output is:
<img src="/static/Logo.png" alt="Logo">

[2019-08-14 09:39] mike-suggitt commented on #109
Same here using latest version of all packages

[2019-08-14 18:47] #62 closed

[2019-08-14 22:18] RichiCoder1 opened #119 "Bucket existence validated before bucket actually created"
Howdy! I'm using the `assetPrefix` option to let the plugin deploy the assets bucket. However, even after `serverless remove` with no pre-existing stack whatsoever, I guess this error:

[code]
I'm very confused too as I thought `serverless-nextjs-plugin` handled this? And it seems like this check is hapenning before serverless actually has a change to deploy the cloudformation stack that creates b

[2019-08-15 00:04] RichiCoder1 commented on #93
@danielcondemarin If you're interesting, I may make a PR for this. This should be accomplishable by adding special static and public handlers that act as local proxies to those files when running locally, yes?

[2019-08-15 04:15] RichiCoder1 commented on #93
Added a rough PR here: https://github.com/danielcondemarin/serverless-nextjs-plugin/pull/120
Uses my idea of just setting up ad-hoc handlers when the offline plugin is present.

[2019-08-15 04:40] RichiCoder1 commented on #107
For the implementation, would this be  be filtering out `.html` from `getNextPagesFromBuildDir` and then adding another accumulator to `addCustomStackResources` that scans the `pages` dir and generates `api-gw-proxy` for all the `.html` pages it finds? Would risk hittin the resource limit, but I think that's a risk already.

[2019-08-15 08:36] mike-suggitt opened #121 "Move config referencing out of plugin constructor"
In looking to use this plugin over a number of environments (particularly localhost) I need to be able to change the config based on the environment. I typically like to do this via separate files and use the `env` to switch between them. The problem is that variable interpolation isn't performed until AFTER plugin constructors are called which means if I try to do this with serverless-nextjs-plug

[2019-08-15 11:37] stan-sack commented on #58
Something like this maybe: https://github.com/danielcondemarin/serverless-nextjs-plugin/pull/122/files?

[2019-08-15 17:07] mattdell commented on #116
I'm going to close this with the merge of #117

[2019-08-15 17:07] #116 closed

[2019-08-15 17:19] mattdell opened #123 "Bug - API Routes do not handle query parameters."
The merge of #99 and #117 has given us support for API Routes in NextJS 🎉

However, I have noticed a bug when sending query parameters.

Here is a copy of my endpoint (apologies for the poor naming conventions but this is a WIP). It simply takes a relative path request and proxies to the fully qualified path on the server. Whether or not this is a best practice at this point is 🤷‍♂

[code]

And I

[2019-08-15 18:14] mattdell commented on #123
@danielcondemarin - any chance this could be something within next-aws-lambda?

I see there's some query string manipulation in compatLayer.js

[code]

https://github.com/danielcondemarin/serverless-nextjs-plugin/blob/master/packages/next-aws-lambda/lib/compatLayer.js#L38

[2019-08-15 21:43] Deadleg commented on #123
I encountered this yesterday as well, there's actually a bug with nextjs which incorrectly matches on the last path segment. I'm working on a fix here https://github.com/Deadleg/next.js/commit/5bdcd698bd6aaf1ac1e0d53fd50b94636e17c458 but the long and short of it there is a regex in ` packages/next-server/lib/router/utils/route-regex.ts` which matches on every non `/` character, which in turn match

[2019-08-15 22:05] RichiCoder1 commented on #119
I (partially) figured it out. If `deploymentBucket` is set, `createStack` doesn't actually, well, create the initial stack. Not sure how to fix this.

[2019-08-15 22:06] RichiCoder1 commented on #119
Code for reference: https://github.com/serverless/serverless/blob/v1.50.0/lib/plugins/aws/deploy/lib/createStack.js#L85

[2019-08-15 22:06] Deadleg commented on #123
You can work around it by not using a dynamic file name e.g. change `pages/api/next/[path]/[endpoint].ts` -> `pages/api/next/[path][endpoint]/index.ts`.

[2019-08-15 23:32] RichiCoder1 commented on #109
Next isn't unfortunately actually doing anything special with this urls, you'll have to do something like `${getAssetPrefix()}/static/Logo.png` to make this work in environments like Api Gateway or other envs where Next isn't at the root of the path.

[2019-08-16 04:26] Deadleg commented on #123
Ignore the work around, need to use the patch. Created pull request here https://github.com/zeit/next.js/pull/8386

[2019-08-16 12:28] mattdell commented on #123
Amazing detail @Deadleg - thanks for raising that PR!

[2019-08-19 17:09] barrysteyn opened #124 "Error: Cannot find module 'next-aws-lambda'"
# Description
When I use new version of the plugin (v 2.3.2), I get the following error when I try run on AWS (this is happening in my custom lambda)

```Error: Cannot find module 'next-aws-lambda'```

Note: I also installed `next-aws-lambda`. This is strange, because it runs perfectly locally.

[2019-08-19 19:57] barrysteyn commented on #124
Also, my code is not the root folder... rather, it's a client folder. I have put my serverless.yml file in that (i.e. the client) folder.

[2019-08-19 22:06] Deadleg commented on #123
Next.js 9.0.4 has just been released, from my testing APIs are working correctly.

[2019-08-20 09:12] mattdell commented on #123
I've updated to Next 9.0.4 and I keep getting a 502 from all endpoints.

This one is from my index page at `/` but all Next pages have the same behavior.

[code]

<img width="1218" alt="Screenshot 2019-08-20 at 10 10 25" src="https://user-images.githubusercontent.com/2536442/63334217-da507d80-c332-11e9-8955-1744157fcbc2.png">

[2019-08-20 09:26] Deadleg commented on #123
That doesn't look right, `sls-next-build/index` should have the contents of `lambdaHandlerWithFactory ` in https://github.com/danielcondemarin/serverless-nextjs-plugin/blob/7c25b305739b134aff53c83007868022f46adaa8/packages/serverless-nextjs-plugin/lib/getFactoryHandlerCode.js. What's in that file on your lambda?

[2019-08-20 09:34] mattdell commented on #123
It is...

[code]

[2019-08-20 09:58] Deadleg commented on #123
Looks like a new feature in ES10 called optional catch binding is causing the syntax error. Upgrading node may fix the issue, I'm building and running with the latest available version on Lambda.

[2019-08-20 10:24] mattdell commented on #123
Good catch! I was running Node 8 in AWS so I've bumped it to Node 10 in my serverless.yml and I've got a website again. :)

[code]

[code]

[2019-08-20 10:24] #123 closed

[2019-08-20 11:48] me4502 commented on #124
This is due to the plugin looking for next-aws-lambda in the same folder when copying it. I noted that in another issue, and the official response was https://github.com/danielcondemarin/serverless-nextjs-plugin/issues/75#issuecomment-493856802

As forcing it to install in the leaf doesn't work reliably, I've been patching the plugin to just include the `../` in the path. Realistically this projec

[2019-08-20 12:28] barrysteyn commented on #124
Thanks for the reply. Can you do me a favor and share some code of your
patch?
--

Barry Steyn
Blog <http://doctrina.org> LinkedIn <http://ca.linkedin.com/in/barrysteyn>
GitHub <https://github.com/barrysteyn>

[2019-08-20 12:31] me4502 commented on #124
My patch is just
[code]
in node_modules/serverless-nextjs-plugin/lib/build.js

[2019-08-20 12:35] barrysteyn commented on #124
Would you happen to know why it works on my local deploy
(serverless-offline).

Thanks for this. I'll try it and report back here.

--

Barry Steyn
Blog <http://doctrina.org> LinkedIn <http://ca.linkedin.com/in/barrysteyn>
GitHub <https://github.com/barrysteyn>

[2019-08-20 18:07] barrysteyn commented on #124
Hi, yes this worked. @danielcondemarin, this definitely seems like a bug

[2019-08-20 20:51] Deadleg commented on #119
Looks like the issue arises because the checking of the bucket happens before the stack is update. The offending code is here https://github.com/danielcondemarin/serverless-nextjs-plugin/blob/fcd19e026d5c9fc098be79986142f9108732bf6c/packages/serverless-nextjs-plugin/index.js#L29 and you can see the order in which hooks are run here https://gist.github.com/HyperBrain/50d38027a8f57778d5b0f135d80ea40

[2019-08-20 21:05] Deadleg opened #125 "Unable to reuse db connections in API due to a non-empty event loop"
As documented here https://docs.aws.amazon.com/lambda/latest/dg/nodejs-prog-model-handler.html, for non-async lambdas which is what this plugin creates the lambda terminates only when the event loop is empty.

An example is to create a connection with `mysql` and keep the connection open for the next invocation to reduce the overhead of creating new connections. The lambda will continue to run aft

[2019-08-20 22:15] johhansantana commented on #101
@mattdell what version of next@8 does it support api routes? I'm trying to upload latest `"next": "8.1.1-canary.70"` but I am getting a `"message": "Internal server error"` when I try to access the index page. This happens with next@9 as well but I have some api endpoints that I need to use.

[2019-08-20 22:33] aygee commented on #101
@johhansantana Have you checked your server log?

[2019-08-20 23:58] danielcondemarin commented on #125
@Deadleg thanks for the awesome contributions in the last couple of days! I would be very interested in making the entry point async! It should be relatively straightforward to do that. Feel free to PR if you got time.

[2019-08-21 00:05] johhansantana commented on #101
@aygee I think it's this error `Cannot find module './sls-next-build/index.js` not sure how to fix this though :(

[2019-08-21 01:39] johhansantana opened #126 "a way to remove the suffix /dev from deployments?"
I'm having trouble testing and serving static files since it's trying to look into `/static/...` but since the lambda functions are listening to `/dev/static/...` I would need to change them in my code to point there.

Is there a way to remove the suffix `/dev` from deployments? I've tried changing stages but still no good.

[2019-08-21 07:37] mattdell commented on #101
@johansantana read through #116 as I had the exact same problem

You need

* Next 9.0.4
* AWS Lambda on version 10

[2019-08-21 13:09] johhansantana commented on #101
Got it! The only problem now are the assets aren't being loaded because of the url stage suffix. I guess this is fixed when you put your custom domain?

[2019-08-21 15:53] danielcondemarin commented on #125
In fact, I've found today making it async might not be a great idea after all.

From https://docs.aws.amazon.com/lambda/latest/dg/limits.html:
![image](https://user-images.githubusercontent.com/1122442/63447466-f9830400-c433-11e9-9aa6-67e0c3ad06ae.png)

That would limit the response size significantly.

[2019-08-21 15:57] danielcondemarin commented on #126
You will need a custom api gateway domain name to get rid of the stage. More info on how to do that here: https://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-custom-domains.html. Alternatively setup a [CloudFront distribution](https://github.com/danielcondemarin/serverless-nextjs-plugin#serving-static-assets) and configure a domain for it.

[2019-08-21 15:57] #126 closed

[2019-08-21 17:23] barrysteyn commented on #124
@me4502 I submitted a PR to fix this issue. See #127. @me4502 can you do me a favor and test out my PR in your code.

[2019-08-23 09:05] mike-suggitt commented on #121
@danielcondemarin Could I possibly gets some thoughts/feedback at all please?

[2019-08-25 13:38] me4502 opened #129 "API routes aren't applying POST to API Gateway"
An issue I encountered is I needed to manually add a POST method to the path in API Gateway, as the plugin did not do this automatically either.

It seems configuration for API Routes are not quite complete.

[2019-08-27 15:46] barrysteyn opened #130 "Public asset returns 404"
Hi All

I am using version 2.3.3 of this plugin. I have a public folder with a file (file === hello.txt, content is hello world), however whenever I try serve that file, I get a 404. @danielcondemarin and @mattdell you can see a demonstration of this by going to https://sayy.it/hello.txt

Here is my setup:
[code]
What am I doing wrong?

[2019-08-27 19:36] danielcondemarin commented on #125
I've refactored the compat layer to support the async signature. It also maintains backward compat with the `callback` approach. @Deadleg I've not tested it, but this issue should be fixed in the new release. Feel free to reopen if you encounter any problems.

[2019-08-27 19:45] #125 closed

[2019-08-28 17:21] barrysteyn opened #132 "Tips for improving latency"
Hi,

Please can we have some tips/ideas for improving latency. One of my sites, has the following stats:
[code]

Look at the *time_starttransfer*, I have no idea how to decrease it. Note: The lambda is warm, and this page is static (i.e. no backend DB calls).

[2019-08-29 15:58] mattdell commented on #58
I've also run into this using descriptive dynamic endpoints. I've shorted it for now but will be good to think about a longer term solution.

[2019-08-30 09:12] mattdell opened #133 "Bug: Cannot change name of dynamic api route"
## Problem

Because of the 64 character limit issue in #58, I have decided to change my API Dynamic Route from `[version].ts` --> `[v].ts` to accomodate longer names.

When I deploy this, my CI server says it cannot deploy because a sibling path already exists at this level, even though I am changing it.

[code]

## Solution

I don't have one. Any ideas? 😄

[2019-08-30 11:37] mattdell opened #134 "API Routes only support GET and HEAD verbs"
When an API Route is created in AWS, the only supported methods are `GET` and `HEAD`.

<img width="233" alt="Screenshot 2019-08-30 at 12 29 52" src="https://user-images.githubusercontent.com/2536442/64017946-c66efd80-cb22-11e9-8e74-718b3504f756.png">

API Routes should support all methods by default, yes?

[2019-09-01 15:06] #124 closed

[2019-09-01 23:50] barrysteyn commented on #130
Okay, so I realized that when I have `cloudfront` set to true, my public assets are not accessible. This was my problem. @danielcondemarin does this have to do with #95? Maybe I can update the documentation. BIG question: How would I get the public folder to work with cloudformation? I assume that I would need to use a domain for cloudformation?

[2019-09-02 15:45] barrysteyn commented on #130
Okay, I want to document what was my problem so that it can help other people. The problem is that I had the domain plugin for serverless installed, and it does not play nicely with domains for cloudfront. If someone is in the same situation: Remove your API gateway domain and disable the plugin for your cloudfront enabled stage (normally prod). Then follow the example and assign a domain to the c

[2019-09-02 15:45] #130 closed

[2019-09-04 20:30] Deadleg commented on #133
I wonder if this happens using vanilla serverless. Looks like the problem is that the CloudFormation resource name includes the path segment name so it's trying to create a new resource (assuming you can rename paths in place in API gateway I'm not sure). If that's the case the resource names should use generic place holders so that the path variable name can be changed without triggering CloudFor

[2019-09-05 17:48] pkellner opened #136 "Please Update the Readme to reflect NextJS v9"
It would be helpful to understand how this relates to the target serverless mode of NextJS v9 (if it does at all). I looked through the readme and there was no mention I could find of v9 and it seems that's very important when considering using this.

[2019-09-05 18:40] ScorpIan555 commented on #136
If you check issue #101 you'll see a discussion answering your question.  Currently the plugin targets v8 and (per that thread and my own experience) it's incompatible with v9

[2019-09-06 17:21] justinwhall opened #138 "Basic Auth"
👋 looking to put a dev site behind basic auth.

Worked though this by following this > https://medium.com/@Da_vidgf/http-basic-auth-with-api-gateway-and-serverless-5ae14ad0a270

Works great with the exception you need to manually attach the authorizer to each resource. This is, of course, not ideal as the site grows this needs to be manually attached with each route.

There is an example on how to

[2019-09-06 20:27] ScorpIan555 commented on #136
Actually, I'm able to use it per the hack ref'd in that thread (call getInitialProps in the index page).  I can vouch for it in ever project, but I've got it working in mine right now.

[2019-09-08 07:24] #134 closed

[2019-09-11 08:17] mattdell opened #139 "Best way to add Cache-Control to assets?"
I'm going through Lighthouse recommendations and the only major thing left for me is to "Serve static assets with an efficient cache policy"

The recommendation here is to add a `Cache-Control: max-age=xxxxxxx` header.

Further reading here: https://developers.google.com/web/tools/lighthouse/audits/cache-policy?utm_source=lighthouse&utm_medium=cli

Do we need to update the s3 upload, api-gw-static

[2019-09-11 13:50] danielcondemarin commented on #17
@romainquellec @Vadorequest @SimonStiph  I've now released the first version of the nextjs component which addresses this issue: https://github.com/danielcondemarin/serverless-next.js/tree/master/packages/serverless-nextjs-component ⚡️
Please check it out and feedback, that would be very appreciated  🙏

[2019-09-11 13:50] #17 closed

[2019-09-11 13:50] Zn4rK opened #140 "[serverless-nextjs-component] can't get it to work"
I realize that this component is fairly new. You published it today. But I tried to utilize it in a project but I ran into this issue:

serverless.yml:
[code]

[code]

[2019-09-11 13:51] Zn4rK commented on #140
Okay - I ran "sls" instead of "sls deploy" and it seems to work a bit better. Sorry!

[2019-09-11 13:51] #140 closed

[2019-09-11 13:51] danielcondemarin commented on #140
@Zn4rK What version of the serverless framework are you using?

[2019-09-11 13:52] danielcondemarin commented on #140
Oh I see :D No worries, let me know if you find any other issues.

[2019-09-11 14:21] danielcondemarin commented on #132
@barrysteyn I would recommend checking out the new component I've just released https://github.com/danielcondemarin/serverless-next.js/tree/master/packages/serverless-nextjs-component. This new version has an improved architecture where the pages are rendered at the edge or if static fetched from S3. This results in very low latency times.

[2019-09-11 14:24] danielcondemarin commented on #59
Hi folks the direction I'm taking here is to use `next dev` for local development, that is, no need for `serverless offline` and just leverage what next provides out of the box. I have just released a new iteration of the project which follows this philosophy and should supersede the next plugin. https://github.com/danielcondemarin/serverless-next.js/tree/master/packages/serverless-nextjs-componen

[2019-09-11 14:24] #59 closed

[2019-09-11 14:26] danielcondemarin commented on #15
Duplicate of: https://github.com/danielcondemarin/serverless-next.js/issues/59

[2019-09-11 14:26] #15 closed

[2019-09-11 14:56] Vadorequest commented on #17
Very interesting. I may try it very soon for a POC! Nice work!

[2019-09-11 16:29] barrysteyn commented on #132
@danielcondemarin This is amazing. Question: Can I provision resources as per usual in a serverless.yml file, or do I need to create specific JS logic to do this (like you have done in the example).

[2019-09-11 16:29] #132 closed

[2019-09-11 16:58] danielcondemarin commented on #132
To provision other resources you can use (but not forced to) any other serverless component in this list: https://github.com/serverless-components/

[2019-09-11 19:06] barrysteyn commented on #132
Right! But I think you can also the old `resources` for adding cloudformation manually?

[2019-09-11 19:46] danielcondemarin commented on #132
@barrysteyn This serverless component provisions any cloudformation you pass to it: https://github.com/serverless-components/aws-cloudformation/blob/master/README.md

[2019-09-11 20:03] barrysteyn commented on #132
Last question: What about all the plugins available for the old serverless
env. For example, the warmup plugin is an incredibly useful plugin. I
assume one can still use them?

On Wed, Sep 11, 2019 at 12:46 PM Daniel <notifications@github.com> wrote:

[2019-09-11 20:11] danielcondemarin commented on #132
Currently, the plugins for the old serverless env. are incompatible with the new components release.
However, with the new next component arch. you don't have to worry about cold starts. All next pages are deployed to Lambda@Edge. The edge lambda will be invoked for any of your page requests which should keep it warm.

[2019-09-11 20:14] danielcondemarin commented on #13
@romainquellec I believe https://github.com/danielcondemarin/serverless-next.js/tree/master/packages/serverless-nextjs-component can help here. Deployments should be considerably faster.

[2019-09-11 20:14] #110 closed

[2019-09-12 01:34] franko1260 commented on #124
Has/can this be extended so other packages can be included as well? I'm keen on using serverless-http instead of next-aws-lambda. I get a "Cannot find module 'serverless-http'" error when using v2.3.4

[2019-09-12 07:37] romainquellec commented on #13
Thanks ! I will try the new version soon.
(Not related to the issue, but i'm a bit scared by this decision : "One master lambda is provisioned". I will dig that later also :D)

Thanks again for all this. This is awesome.

[2019-09-12 15:28] jschimmoeller opened #141 "unzipped size must be smaller - large next project"
recieved this error when trying to deploy

 112s » nextApp » InvalidParameterValueException: Unzipped size must be smaller than 262144000 bytes

[2019-09-12 15:31] AmoDinho opened #142 "Unable to read assets & render CSS/JavaScript"
Hi 🚶

My app is not able to render it's CSS or JS atm.

I've configured a s3 bucket for for my static assets but it responds with a `403`.

Here are the logs from the console:

[code]

I'm thinking that somewhere in my setup  something somewhere does not have the right permissions, any clues on where to start looking?

I've also looked at the resources attached to the Lambdas and the relevant s3 b

[2019-09-12 16:00] roberttaylor426 opened #143 "Clearing stale pages from `.next/serverless/pages`"
Apologies, this is probably a noobie question, but I was wondering what the best way for clearing stale pages from the `.next/serverless/pages` directory was?

Having deleted a page from the project `pages` directory, I was stuck for some time trying to figure out why `serverless offline` was still find my old page.

Am I supposed to clear the aforementioned cache dir periodically? Or is there a t

[2019-09-14 10:00] danielcondemarin commented on #22
Closing as this is stale now.

[2019-09-14 10:00] #22 closed

[2019-09-14 10:02] danielcondemarin commented on #58
Hi folks 👋 I've recently released the next iteration of this project https://github.com/danielcondemarin/serverless-next.js/tree/master/packages/serverless-nextjs-component which solves this particular problem!
Sorry it would mean migrating over to it, but I truly think it is worth it 🚀Any issues please let me know 👍

[2019-09-14 10:02] #58 closed

[2019-09-14 10:04] danielcondemarin commented on #101
I have recently released https://github.com/danielcondemarin/serverless-next.js/tree/master/packages/serverless-nextjs-component which targets `nextjs 9.0` and has full feature parity. Please check it out.
In terms of the next-plugin I believe next 9 support is nearly there but might take some time before is fully complete.

[2019-09-15 12:55] mdstaff commented on #22
Hi Daniel, apologies for not responding, must have missed that email 🤦‍♂I'll take a look at this again early next week and reopen if needed.

[2019-09-17 11:26] danielcondemarin commented on #141
Sorry for the late reply @jschimmoeller .

Here is my idea to solve this problem:

1 - Create a separate cache behaviour for `/api` requests.
This allows separating the deployment packages for /api pages and standard pages. API pages would have 50MB zipped up and standard pages another 50MB.
2 - If the above is not enough, we can detect this and create more granular cache behaviours with their own

[2019-09-17 12:22] jschimmoeller commented on #141
@danielcondemarin

My api directory as it is right now is 90mb.  The series and watch folder are dynamic routes which together are only 17mb.  The remaining pages are 147mb.

Based on your input above I would need to be able to setup multiple "cache behavior" in order to get around what appears to be the 50MB limit.

thanks
james

[2019-09-17 12:38] danielcondemarin commented on #141
@jschimmoeller Are those numbers after zipping up?

[2019-09-17 12:52] jschimmoeller commented on #141
@danielcondemarin sorry but no that is just based on the directory /files sizes

i used 7-zip and here are my values:

api folder - 16.6mb zipped
remaining pages - 31.2mb zipped

so based on your original reply it would be under 50mb

thanks
James

[2019-09-18 12:33] josephluck opened #145 "Component: specify bucket name"
Hey!

Great work with the serverless components version of the plugin, it's quite frankly excellent 👏

What would be even better is if there was an input option for `bucketName` or something similar to avoid having the serverless framework generate a random S3 bucket name. Of course this is an optional nice-to-have, but it's would be useful to know when looking at the S3 dashboard.

[2019-09-19 09:19] danielcondemarin commented on #48
@willbamford Thought to let you know about the new [next component](https://github.com/danielcondemarin/serverless-next.js/tree/master/packages/serverless-nextjs-component) release. I believe it addresses some of your concerns above :)

[2019-09-19 11:18] ClementChaumel commented on #145
Would it also be possible to add an option for `region`?
I tried both `serverless --region eu-west-1`
and
[code]

to no avail.
Thanks! and agreed, great work with the component!

[2019-09-19 12:21] josephluck commented on #145
I thought the same, but I guess it doesn't make much sense in terms of how the component is architected, since it uses S3 which is global, and Lambda edge functions which have to be in `us-west-1` for compatibility with CloudFront.

[2019-09-19 12:28] josephluck opened #146 "Component: 503 CloudFront error"
Hey!

I've converted my Next.js application to use the new serverless component, but I'm stuck at what seems like a configuration or permissions issue with CloudFront and the lambdas.

After deploying the app (successfully) to a custom domain, CloudFront returns the following error:

[code]

Here's my serverless configuration:

[code]

The next build runs correctly and I can run the application lo

[2019-09-19 12:42] danielcondemarin commented on #146
Can you paste the HTTP Response Headers from CloudFront? Might provide more information about the error.

For example:
![image](https://user-images.githubusercontent.com/1122442/65244811-444f7480-dae3-11e9-8064-c1db42567f27.png)

[2019-09-19 13:01] danielcondemarin commented on #13
Thanks @romainquellec !

Regarding your concern, I've given a lot of thought to the architecture of the component. It is more flexible than it might seem. Right now is one lambda (which is replicated across the globe),. However I am currently working on splitting off the API pages onto a separate Lambda. `pages/api/*` will be deployed in its own Lambda@Edge.

That way you get:
- 250MB SSR pages (5

[2019-09-19 13:16] mikdatdogru opened #147 "[serverless-next.js component] new service after every update ?"
Hi;

I try to deploy using serverless-next.js component via gitlab-ci. everything is perfect, zero config is a magic :)
But there is something i don't understanding.

I push the app to the develop branch and it deployed to aws via Gitlab CI.

when I make a change to the app and push it again to develop branch, i expect to update for existing s3bucket, lambda and cloudfront services. but instead of

[2019-09-19 14:41] romainquellec commented on #13
I fully trust you and your work !

Waiting for this. Thanks !

[2019-09-20 08:15] josephluck commented on #146
Thanks for getting back so quickly!

Here's the response headers from CloudFront:

[code]

[2019-09-20 08:30] josephluck commented on #146
Seeing as the issue is a `LambdaExecutionError` it leads me to believe that the problem is application code rather than anything to do with the Serverless component.

I suspect it may have to do with environment variables not being populated.

Closing for now, and I'll report back if the issue is anything to do with the component.

[2019-09-20 08:30] #146 closed

[2019-09-20 22:41] #141 closed

[2019-09-20 23:07] danielcondemarin commented on #141
@jschimmoeller Just published `1.2.0-alpha.0` which should address this issue.
I've added the `api/*` cache behaviour for api pages. Also, fixed an issue where HTML static pages where getting put in the lambda@edge src producing bigger packages unnecessarily.
Let me know how it goes and feel free to re-open if you encounter any problems 👍

[2019-09-20 23:12] danielcondemarin commented on #129
Fixed by https://github.com/danielcondemarin/serverless-next.js/pull/135

[2019-09-20 23:12] #129 closed

[2019-09-20 23:13] danielcondemarin commented on #136
The new component released now visible on the main README page supports next 9 🚀
Closing this

[2019-09-20 23:13] #136 closed

[2019-09-20 23:36] danielcondemarin commented on #107
For next 9 support use the newly released component 🙏 https://github.com/danielcondemarin/serverless-next.js

[2019-09-20 23:36] #107 closed

[2019-09-20 23:37] danielcondemarin commented on #105
For next 9 support use the newly released component 🙏 https://github.com/danielcondemarin/serverless-next.js

[2019-09-20 23:37] #105 closed

[2019-09-21 10:01] dharmesh03 opened #149 "not working with bitbucket pipelines"
{ Error: Command failed with exit code 1 (EPERM): ./node_modules/.bin/next build
    at makeError (/root/.serverless/components/registry/npm/serverless-next.js@1.2.0-alpha.0/node_modules/execa/lib/error.js:58:11)
    at handlePromise (/root/.serverless/components/registry/npm/serverless-next.js@1.2.0-alpha.0/node_modules/execa/index.js:112:26)
    at processTicksAndRejections (internal/process/nex

[2019-09-21 16:03] josephluck opened #150 "Component: domain not removed"
When running `serverless remove` from the CLI, any custom domain specified in `serverless.yml` is not removed.

Looking in to the source code, it seems as though `@serverless/domain`'s `remove()` method is not called [(here's the code)](https://github.com/serverless-components/domain/blob/master/serverless.js#L183) in the serverless-next.js plugin's `remove()` method.

[2019-09-21 16:49] #101 closed

[2019-09-22 10:10] danielcondemarin commented on #150
Good catch @josephluck !  Thanks for reporting 🙏

Just published `@1.2.1-alpha.0` which fixes this.

[2019-09-22 10:10] #150 closed

[2019-09-22 12:33] josephluck opened #153 "Components: headers not passed from CloudFront correctly"
I've been converting my project to use the new component and I noticed that headers aren't forwarded from CloudFront correctly (it seems).

Steps to replicate:

Create `pages/index.js` with the following:

[code]

Deploy with the component:

[code]

The result for both console logs in CloudWatch shows all the keys of the headers with `undefined` values:

[code]

[2019-09-22 12:45] josephluck opened #154 "Components: cookies are not passed through to edge lambda"
It looks like cookies from the request are not passed through from CloudFront to the underlying edge lambda. After deploying a next component, the CloudFront behaviour for the edge lambda looks like this:

![image](https://user-images.githubusercontent.com/11628330/65387297-ecf91080-dd3d-11e9-9b66-a0f84d3da1e8.png)

This is a problem for apps that rely on cookies for things like authentication etc

[2019-09-22 15:25] danielcondemarin commented on #153
Thanks for reporting @josephluck 🙏 I've now published @1.2.2 with a fix for this 🚀

[2019-09-22 15:25] #153 closed

[2019-09-22 15:41] josephluck commented on #153
Just tested it out and it's working perfectly now. Thanks for fixing so quickly! 🎉

[2019-09-22 22:17] zachabney opened #155 "Component: Bad routes returning 200 status"
I'm upgrading to the new serverless component which is working great, except I noticed that invalid paths return a 200 status code instead of 404. It still shows the _error.js page but the HTTP response from CloudFront is 200. Any idea?

![image](https://user-images.githubusercontent.com/1711757/65395148-7f101180-dd5c-11e9-9630-b02c8db7263e.png)

[2019-09-23 00:13] eatarandom commented on #49
💯

This is a must for using this plugin for a site at scale. Currently our app is 17.5mb packaged. We can reduce the bundle to ~450kb if we break them out to standalone packages for the context of each page lambda.

[2019-09-23 01:14] eshikerya opened #157 "doesn't work with latest next@9.0.6"
after upgrading ```next```to the latest release, plugin fails to build the package

[code]

[2019-09-23 11:42] eshikerya commented on #157
solved by installing missed ```next-server``` package. this requirements is missing in any requirements

[2019-09-23 11:44] danielcondemarin commented on #157
@eshikerya You shouldn't need to explicitly install `next-server`. Did you try running `next build`? Does it work?

[2019-09-23 12:03] eshikerya commented on #157
working project, deployed list of times was upgraded to next@9.0.6 and I started to get this error message. downgrading to 9.0.5 fixed this issue, but I need 9.0.6 version cause this version have fix required for my project. So I start digging how to get this fixed and find out I doesn't have this (next-server) package installed anywhere. after adding this package everything start working as expec

[2019-09-23 13:19] #155 closed

[2019-09-23 13:19] jschimmoeller commented on #141
@danielcondemarin just updated package.json and did a deploy was able to deploy it 👍   I am currently tracking down a 500 :( I hope it is on my end

[2019-09-23 15:04] #145 closed

[2019-09-23 15:09] danielcondemarin commented on #141
Good stuff! Let me know if it isn't :)

[2019-09-23 15:38] barrysteyn commented on #139
@mattdell I have submitted a PR to get things going (see #40). However I suspect it is being ignored because it is applicable to the old plugin and not the new component.

[2019-09-23 15:42] barrysteyn commented on #132
@danielcondemarin Finally finding time to go through your examples. Question: In the dynamodb example, why didn't you use the dynamodb component to provision your table as opposed to doing it by hand?

[2019-09-23 15:46] josephluck commented on #154
The PR that adds support for cookie forwarding has been merged, so I'll check whether this just works out-of-the-box or whether any additional changes are required soon 👍

[2019-09-23 16:00] danielcondemarin commented on #132
@barrysteyn That’s ultimately the plan, however, the dynamo component doesn’t support global dynamo tables but I’m working on that atm. As soon as that lands I’ll update the example 🙂

[2019-09-23 16:11] danielcondemarin commented on #139
@barrysteyn Sorry I’ve not had time to look into this, been quite busy with the component release.
I’ll have a look today or tomorrow. However, I do recommend moving over to the new component as its effectively a new version (unfortunately breaking :()

[2019-09-23 16:37] barrysteyn commented on #139
Yes, I intend to move over. But I need to support this version until I am able to migrate us there. Also, we have our backend in another repo and may not be able to combine the two that easily as is recommended by the new component.

[2019-09-23 19:12] dharmesh03 commented on #149
@danielcondemarin I this functionality is already implemented in serverless-component-v2
I mean it is present in this branch `serverless-component-v2`

`https://github.com/danielcondemarin/serverless-next.js/tree/serverless-component-v2`

[2019-09-23 20:39] danielcondemarin commented on #154
From looking at this line https://github.com/serverless-components/aws-cloudfront/blob/master/lib/cacheBahaviorUtils.js#L2 it seems like we will need additional changes in the component to pass in `cookies: "all"` to the cloudfront forward config.

[2019-09-24 01:57] bdharvey commented on #142
I'm getting the same thing.

Posted my `serverless.yml` in the hopes that might help debug.

[code]

[2019-09-24 07:29] #154 closed

[2019-09-24 07:51] danielcondemarin commented on #154
@josephluck This is now published on @1.2.3 🎉

[2019-09-24 09:57] cristiam86 opened #161 "Deploy fails due to Invalid regular expression SyntaxError"
The deployment fails with the following error:
SyntaxError: Invalid regular expression: /\[(?<param>.*?)]/: Invalid group

The output of the process is:

Automatically optimizing pages

Page                                      Size     Files  Packages
┌ λ /                                     1.1 kB      17        77
├   /_app                                 26.1 kB      0        85
├   /_documen

[2019-09-24 09:59] danielcondemarin commented on #161
Which version of node do you have? You'll need `>=10.11.0`

[2019-09-24 10:30] cristiam86 commented on #161
Thank you very much for the quick response @danielcondemarin
Now I updated the node version to 10.11.0 and after removing the directories 'node_modules', '.next', '.serverless', '.serverless_nextjs', installing and building everything again, the deploy finished ok.

Awesome, thank you very much again.

[2019-09-24 10:30] #161 closed

[2019-09-24 10:33] stephanschubert commented on #157
[`next-server` was moved back into `next` in `9.0.6`](https://github.com/zeit/next.js/pull/8613)

[2019-09-24 10:44] mike-suggitt commented on #121
Any updates on this? It's literally killing off our usage of this plugin in our system :(

[2019-09-24 10:45] cristiam86 opened #162 "Deploy with aws configure profile"
How can I use an aws profile already configured? I have tried:
`serverless --profile myProfile`

and also in the serverless.yml file:
`provider:
  profile: myProfile`

But none seems to work.

[2019-09-24 10:46] danielcondemarin commented on #121
@mike-suggitt Sorry I've not had the time to look into this! Ive been quite busy getting the new version out. I would recommend you migrate over, otherwise I'll try having a look at this issue at some point this week

[2019-09-24 10:51] danielcondemarin commented on #162
The next component credentials can be configured as per https://github.com/serverless/components#credentials.

tl;dr: You'll need a `.env` file with your access and secret key. Or exported env. variables.

[2019-09-24 10:51] #162 closed

[2019-09-24 11:01] eshikerya commented on #157
so plug need adaptation for this changes

[2019-09-24 12:06] mike-suggitt commented on #121
@danielcondemarin no worries, thanks for getting back to me! i could maybe look to create a PR for it if that would help? I'm hoping it should be simply enough to simply move a few lines of code out of the constructor

[2019-09-24 15:24] RodrigoEspinosa opened #163 "Same domain format as other @serverless components"
I would like to suggest using the same `domain` format as the other components from @serverless-components.

I'll be happy to create a Pull Request if you think that's alright.

[2019-09-24 20:51] danielcondemarin commented on #163
Thanks for bringing to my attention @RodrigoEspinosa. For now I prefer to keep it as is, my worry with having a `string` for the domain like the [website component does](https://github.com/serverless-components/website#3-configure) is that it doesn't work for dotted subdomains, i.e.
domain: `foo.bar.example.com`. You can't determine where the subdomain ends / domain starts. That's why I went with

[2019-09-24 20:51] #163 closed

[2019-09-24 20:54] RodrigoEspinosa commented on #163
That's a valid point. However, I feel like that could be coded as well, the domain would be right after the tld (right-to-left). Meaning, if splitting by dots, the domain is `array[-2].array[-1]` (pseudocode) -- no?

[2019-09-24 20:57] RodrigoEspinosa commented on #163
Alternatively, another option is to check the type for the input. If it's an array follow the current behavior. If it's a string, goes through the splitting.

[2019-09-24 23:30] bdharvey commented on #142
Thanks @danielcondemarin I will try that and see if it fixes the issue

[2019-09-25 12:08] AmoDinho commented on #142
@danielcondemarin Do you have any idea how I might overcome my issue?

[2019-09-25 12:12] danielcondemarin commented on #142
@AmoDinho Are you using the new next component or the plugin? If you are using the plugin I suggest you migrate over to overcome this issue. Otherwise it might take a while before I can look into this.

[2019-09-25 12:35] AmoDinho commented on #142
@danielcondemarin thanks for getting back to me! I'm using the plugin, so I will just revert to the component and see what happens. Thanks!

[2019-09-25 18:53] josephluck commented on #154
Turns out that https://github.com/serverless-components/aws-cloudfront/blob/master/lib/cacheBahaviorUtils.js#L2 is not actually used, since the value is always overridden by https://github.com/serverless-components/aws-cloudfront/blob/master/lib/getCacheBehavior.js#L15

So it looks like cookie forwarding is the default 🤷‍♂ . I must admit, the code is fairly tricky to parse...

[2019-09-25 20:00] DoNormal opened #164 "Deploy to AWS with component not working"
## What I'm trying to do

I want to deploy a Next 9 application to AWS with the new serverless-next component, without having a serverless.com account, since I don't need the monitoring, dashboard et cetera. (I assume that's possible; my colleague has deployed a simple JS function this way.)

## Setup

I've created a simple Next.JS project with one page, and followed the instructions in the readme

[2019-09-25 20:19] danielcondemarin commented on #164
@DoNormal Thanks for the great detail! I wish everyone provided as much information as this when raising issues.

No. The error is being thrown because your credentials are not found. More on that below.

You can definitely deploy without a serverless.com account, that **is not a requirement**. Simply run `serverless` (if serverless cli is installed globally) or `npx serverless` (if serverless cli

[2019-09-25 20:19] #164 closed

[2019-09-25 20:50] DoNormal commented on #164
Thanks for your very quick reply, and for clearing things up.

You're welcome. I appreciate the hard work you do. Supplying a bit of info when making an issue is the least I can do.

I did this, to no avail. The `Access Denied` error still shows when I run `npx serverless`. I even created a new AWS access key. Could this be a bug? I'm running everything on Windows Subsystem For Linux. Or might thi

[2019-09-25 20:53] danielcondemarin commented on #164
@DoNormal Does the api user (owner of the access and secret key) in your AWS account have enough permissions? Sounds like might be lacking. Also, run `npx serverless --debug` for more verbose logging.

[2019-09-26 07:30] danielcondemarin commented on #154
@josephluck Good spot. In any case it’s better to be explicit imo, so in the unlikely event the cloudfront component defaults change in future, the component is not affected

[2019-09-26 08:37] josephluck commented on #154
Totally agreed.

I tried it out last night and it looks like the query string and cookies are forwarded for the CloudFront behaviours attached to the S3 buckets correctly, but _not_ for the edge lambda. Strange as from the CloudFront SDK docs, it looks to me that everything is set up correctly (though not sure if there is separate cache configuration for edge lambdas specifically).

Hopefully I'll

[2019-09-26 10:11] AmoDinho commented on #142
Hi @danielcondemarin , I've tried using the component but it does not output any resource info:

[code]

Here is the [repo](https://github.com/AmoDinho/serverless-nextjs-demo), any idea what the issue might be?

[2019-09-26 11:45] danielcondemarin commented on #142
@AmoDinho serverless-components don't currently work with the serverless v1 format (service:, endpoints: etc).
You'll need a `serverless.yml` like the below:
[code]
Without all the `service:` `functions:` stuff. Then simply run `npx serverless`. See any of the examples as a guide:
https://github.com/danielcondemarin/serverless-next.js/tree/master/packages/serverless-nextjs-component/examples

[2019-09-26 12:05] AmoDinho commented on #142
@danielcondemarin thanks, I tried this and it finally deployed.

But It is still doing what it did with the plugin 🤕 :
![screenshot-d2gyhq8yi74bck cloudfront net-2019 09 26-14_01_15](https://user-images.githubusercontent.com/19347140/65686806-740ff680-e066-11e9-8715-3b98e10f1285.png)

Is there any chance that my `next.config.js` might be dodgy and causing an issue?

[code]

[2019-09-26 15:59] ChoiJinYoung opened #165 "I am trying to use this cool library. how to deploy other region not N. virginia?"
This library is super cool. No need configurations. but Are there only two options(domain, bucketName)? How can I do If I want to change the deployment region, and function name? Can't I change any options?

[2019-09-26 18:50] shoremark opened #166 "Using Bitbucket Pipelines to deploy to AWS"
# What I am trying to do
I would like to deploy serverless-next.js to AWS using bitbucket pipelines. I am using the component version of Serverless Next.js. I know there is a current bug #147 with using CI for deploying that requires you to store the `.serverless` the folder in the repo to get around this for multiple environments. I have created multiple versions of the folder for each environmen

[2019-09-27 05:56] Vadorequest opened #167 "Considering adding this Component to Serverless official templates?"
https://github.com/serverless/components/tree/master/templates

Would allow to get started much faster from an official boilerplate :)

[2019-09-27 06:19] Vadorequest opened #168 "Example: app-with-custom-lambda-handler - What's purpose?"
https://github.com/danielcondemarin/serverless-next.js/blob/master/examples/app-with-custom-lambda-handler/serverless.yml

Is that an example on how to do a Next.js app powered by one lambda? I thought the benefits of using the Next.js `serverless` mode was to use one lambda per endpoint. I do not understand what's the benefits of using this approach. Could you explain/document it a bit more? At l

[2019-09-27 06:23] Vadorequest commented on #168
Does the doc from the plugin applies to the component as well? There is little documentation regarding the options of the SLS Component, but I found more doc regarding the (now deprecated- plugin at https://github.com/danielcondemarin/serverless-next.js/blob/4214f00648406f5840c9e451d6b6df8a43fa17da/packages/serverless-nextjs-plugin/README.md#custom-lambda-handler

I'm just getting started with the

[2019-09-27 06:28] Vadorequest commented on #34
@danielcondemarin Any guidelines regarding how should this be implemented? I'm also considering TypeScript and wonder if I can use it right away now that the Component is more mature, or if it still needs some more love :)

[2019-09-27 06:31] Vadorequest commented on #10
@romainquellec Did you succeed? I'm considering TS for my Next app and for the node lambda handler as well.

[2019-09-27 06:38] Vadorequest commented on #168
Okay, closing this, this example is featuring the plugin, not the component.

[2019-09-27 06:38] #168 closed

[2019-09-27 07:14] Vadorequest opened #169 "Getting started - Troubleshooting"
Hi @danielcondemarin, thank you for this. I'm trying to get started with this serverless Component and I've got lots of questions for you. 😄

- Do you consider using a dedicated repository for this Serverless Component (`serverless-next.js`)? Right now, I got lost in documentation and issues about whether they meant the plugin or the component. It's very confusing.
- Which branch should I use?`mas

[2019-09-27 08:58] romainquellec commented on #10
I'm using next with TypeScript with no worries.
For lambda handler, you can check : https://github.com/danielcondemarin/serverless-next.js/tree/master/examples/app-with-custom-lambda-handler

[2019-09-27 09:37] ulysset opened #170 "Use custom domain without subdomain"
Hello,
Thanks for the NextJS 9 compatibility!
I was wondering if it was possible to use the custom domain functionality without the subdomain because when I set it as so:
[code]
It throws ```Error: "domain" is a required input.```

[2019-09-27 09:45] danielcondemarin commented on #170
@ulysset try `www` for the subdomain. I think that works for the naked domain, i.e. http://example.com

[2019-09-27 11:15] sheerun commented on #111
I think he means ability to use CloudFlare Workers instead of AWS Gateway

[2019-09-27 11:54] danielcondemarin commented on #111
@sheerun Yeah just re-reading this thread now and you’re probably right.

@nikitapilgrim Sorry I didn’t give a helpful reply earlier.
Basically to support CloudFlare worker we’ll need a CloudFlare serverless component. The rest of the implementation is pretty much there already. I might start looking

[2019-09-27 13:27] mattdell commented on #165
Use the standard Serverless convention in your serverless.yml file

[code]

[2019-09-27 15:13] serge20 opened #171 "Dynamic route sometimes returns blank page"
Hi All,

I just deployed my nextjs app using serverless-next.js. I noticed an issue when i try to access a dynamic route. The first time it works fine, a couple of refresh it works and suddenly i get a blank/empty page with content-length:0, changing the dynamic query value makes it work again but same issue once u refresh a few times the blank/empty page with content-length:0 comes back again.

H

[2019-09-27 15:25] danielcondemarin commented on #171
@serge20 Do you mean the DynamoDB example? https://github.com/danielcondemarin/serverless-next.js/tree/master/packages/serverless-nextjs-component/examples/dynamodb-crud

Also please share more information, a screenshot of all the HTTP Response and Request headers will help.

[2019-09-27 15:42] ulysset commented on #170
Thanks, @danielcondemarin  but it throws this error :
```InvalidViewerCertificate: The certificate that is attached to your distribution doesn't cover the alternate domain name (CNAME) that you're trying to add. For more details, see: https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/CNAMEs.html#alternate-domain-names-requirements```

So I issued in the AWS Console Certificate Man

[2019-09-27 15:55] serge20 commented on #171
I followed the steps in the create-next-app example and added a dynamic route in the pages folder.

I will add http response and request headers. Just a side note. I deployed the same project to zeit using now and I can't replicate the issue.

The blank page goes away when you change the query param so if test/1 went blank and i changed it to the /test/2 it works, but after a couple of refreshes y

[2019-09-27 18:17] sonneym opened #172 "How do you do rollback with serverless components?"
Is there an example/info on rollbacks and sls components?

[2019-09-28 07:55] ChoiJinYoung commented on #165
@mattdell I've already tried that. it's not working well. when I follow only minimum options. it's working well. like this.

serverless.yml

[code]

I run like following for deploy

[code]

This is working very well.
------------
but if I change yml file that you advised me like following

serverless.yml
[code]

when I run like following for deploy

[code]

I got this message. what happened to me?

[2019-09-28 09:54] danielcondemarin commented on #165
@ChoiJinYoung There is no deployment region. `serverless-next.js` is regionless. Your Lambda might look like is deployed to us-east-1 but behind the scenes is replicated to the CloudFront edge locations across the globe.
![image](https://user-images.githubusercontent.com/1122442/65814774-3d5cec00-e1de-11e9-83ed-06e263ad7dfa.png)

With regards to the function name, it is autogenerated to ensure the

[2019-09-28 09:54] #165 closed

[2019-09-28 09:58] danielcondemarin commented on #172
@sonneym That's a good question I recommend you raise on the serverless component repo https://github.com/serverless/components/issues.

[2019-09-28 09:58] #172 closed

[2019-09-28 10:00] danielcondemarin commented on #167
@Vadorequest This definitely needs doing. Happy to take PRs on that if you have any spare time 🙏

[2019-09-28 11:33] Vadorequest commented on #167
I don't have much spare time, but this project is of high interest to me so I may allocate some.

Currently, I believe the Next Component should live in its own repo and have its own documentation before considering releasing something "official", I fell it's still very early and doesn't match the quality of the Serverless plugin yet. So I'd rather recommend making it proper, achieve parity with t

[2019-09-29 03:44] voigtd commented on #157
I had the same error trying to deploy with `9.0.6`. Added `next-server` as suggested above and the deployment worked.

[2019-09-30 00:47] zachabney opened #174 "Redirecting routes cause 503 CloudFront error"
I'm trying to setup routes that redirect using the serverless component. I did this by creating a page that matches the path, similar to this: https://github.com/zeit/next.js/wiki/Redirecting-in-%60getInitialProps%60.

However, invoking the `res.end()` seems to cause a 503 error with CloudFront.

![image](https://user-images.githubusercontent.com/1711757/65842397-d0864680-e2f0-11e9-9c0c-fa111ee263

[2019-09-30 07:27] Gabrola commented on #170
You need to issue a single certificate that covers both domains. Save yourself any hassles in the future and issue a certificate that covers both the wildcard subdomain *.domain and the naked domain.

[2019-09-30 09:03] ulysset commented on #170
Thanks @Gabrola  and @danielcondemarin  I managed to make it work with https://www.example.com and https://example.com doesn't work, so I'll try to find a solution to map it to the www subdomain so I guess it's not possible to use this plugin without a subdomain automagically?
Should we label this issue as "improvement"?

[2019-09-30 18:30] DoNormal commented on #164
@danielcondemarin Sorry to bother you again in this closed issue. My API user has all rights, except for IAM. I did some digging, and I found this PR: https://github.com/serverless-components/aws-lambda/pull/5/files
Am I right in concluding that this component needs permissions like `iam:CreateRole` and `iam:AttachRolePolicy`? I also noticed `arn:aws:iam::aws:policy/AdministratorAccess`  in the co

[2019-09-30 19:58] kkwoker opened #175 "Customize lambda functions"
I'm still on the old version of `serverless-nextjs-plugin` where defining a plugin in the serverless.yml file will create all the page lambda functions behind the scenes.

[code]
I'm trying to add cloudwatch alerts to only one of the lambda functions that this plugin creates, but since `serverless-plugin-aws-alerts` requires you to do this by specifying the alarm in the `functions` section, there'

[2019-10-01 00:56] Gabrola commented on #170
This is a bug in @serverless/domain. This should fix it serverless-components/domain#9. In the meantime, just add the naked domain as an alias manually to your cloudfront distribution through the AWS console.

[2019-10-01 04:29] janicduplessis commented on #174
Fixed in https://github.com/danielcondemarin/serverless-next.js/pull/176

[2019-10-01 12:08] danielcondemarin commented on #174
Thanks for fixing this @janicduplessis ! It has now been published @1.2.4.

[2019-10-01 12:08] #174 closed

[2019-10-01 17:21] danielcondemarin commented on #169
@Vadorequest thanks for the great questions. Hopefully I’ve addressed them all below:

- I did but it was much easier for to reuse all of the stuff I have in the mono-repo setup already for unit tests, libraries etc. Is not also reusability but also its easier to manage everything in one place for me such as PRs, issues etc. Over time I hope the distinction will be clearer between the component an

[2019-10-01 17:22] #169 closed

[2019-10-01 20:52] justinwhall opened #177 "How to support multiple environments"
Hello, is there a way to support multiple environments with the new serverless component? We've upgraded and used to pass env vars to serverless.yml which no longer seems to be an option.

[2019-10-01 21:07] danielcondemarin commented on #177
@justinwhall Would this https://github.com/serverless/components#environment-variables help?

[2019-10-01 21:18] danielcondemarin commented on #164
Yes this is needed for when provisioning the Lambda function(s).

@DoNormal Can you open a separate issue for this? I'm planning on adding an option to have used defined permissions soon but better to have an issue to track it :)

[2019-10-01 21:22] justinwhall commented on #177
I'm not sure. I'm familiar with passing env vars to the serverless.yml but I'm not certain where they would go with the update?

 Components are a new concept to me. Perhaps I'm missing something here but as far as the `serverless.yml` config goes, I'm not certain how both generate or conditionally deploy to different components – or perhaps that wrong terminology. Same component but different App

[2019-10-02 01:12] justinwhall commented on #177
I suppose [this](https://github.com/serverless/components/issues/481#issuecomment-527848024) is what I'm looking for. Does this package support something like:

[code]
With a directory structure like:
[code]

[2019-10-02 13:22] cristiam86 commented on #146
Hello, I'm also getting this error but the weird thing is that refreshing the page loads fine without any error.

Here is my response header
`content-length: 1217
content-type: text/html
date: Wed, 02 Oct 2019 12:40:25 GMT
server: CloudFront
status: 503
via: 1.1 9b51ea0192df87ecb2185cd2247e4a1b.cloudfront.net (CloudFront)
x-amz-cf-id: S4ARsV1e_Oj6NX-eZJAeb8RKadcruVN_Fd8UHHkUgmkidL7SCLFMZg==
x-amz-

[2019-10-02 13:35] skycremaschinin commented on #177
Hi,

how could i manage different stages, specifying different cloudfront distributions, buckets and lamba for each stages?

[2019-10-02 13:58] josephluck commented on #146
As a data point, the reason my app was failing was due to two things:

- I hadn't set up environment variables correctly (using the `.env` file instead of passing them in the CLI)
- Cookies and query strings are not passed through CloudFront to the underlying lambda. I tried to fix this in the CloudFront serverless component and subsequently in this component, but it still doesn't work correctly.

[2019-10-02 18:06] cristiam86 commented on #146
Thank you @josephluck did your app also failed randomly? That's what breaks my head

[2019-10-02 21:03] josephluck commented on #146
I didn't get any build failures or deployment failures, just that the app didn't work once it was deployed for the reasons stated above.

[2019-10-03 18:01] danielcondemarin commented on #177
Hi folks, I've just released `@1.3.0` which adds support for custom app directory paths (see [here](https://github.com/danielcondemarin/serverless-next.js#inputs) `nextConfigDir`). Credits to @jayarnielsen for implementing 🙌

I'm closing the issue as you should now be able to do something like:

[code]

[code]

[2019-10-03 18:01] #177 closed

[2019-10-03 21:31] fernandobandeira commented on #49
Unfortunately our app has around 120mb zipped now, this would be really helpful for us.

Related comment: https://github.com/zeit/next.js/issues/8956#issuecomment-538133285

Currently next.js isn't treeshaking the resulting functions, I've opened the issue about to solve that, we'll be able to make deployments with that but splitting the artifacts will be preferred.

That said, since we need this,

[2019-10-04 07:46] danielcondemarin commented on #49
@eatarandom Might be a while before this lands, I'm currently focused on features and fixes for the new version of this project. Have you checked that out?
The new project supports automatic statically optimised pages, which means any page you have without `getInitialProps` is compiled to HTML and uploaded to S3. This should considerably reduce your bundle size.

[2019-10-04 12:59] skycremaschinin opened #179 "Support "build once" paradigm"
Hi,
i'm not sure if this could be an issue related to this component or serverless framework, but could be a natural continuation  of this brand new feature:

[How to support multiple environments ](https://github.com/danielcondemarin/serverless-next.js/issues/177)

I'd like to implement "build once" paradigm, splitting the build phase and deploy phase, in order to manage a flow such as:

- build

[2019-10-04 15:32] fernandobandeira commented on #49
@danielcondemarin

Do you have any tips on how we could solve this problem with the latest serverless-component plugin?

We are willing to test things out and send an initial working PR but since we're not too familiar with the package we'd appreciate if you gave some tips or thoughts on how it'd be implemented.

 I've linked one issue with the treeshaking which should help keep the bundle smaller

[2019-10-04 20:28] danielcondemarin commented on #179
@skycremaschinin I think this is a great idea! Decoupling the build from deployment could be useful in many cases.

It could be a new input to the component, i.e.

[code]

This way the component can simply assume the app has been built and uses the `.next` directory in `nextConfigDir`. It should be a straightforward change to make as well.

Would this work for what you have in mind?

I'm more than

[2019-10-05 00:19] eatarandom commented on #49
I understand. We looked into the new project but couldn't take the risk as we near a launch date for a new product. It also looks to be a departure from the api-gateway architecture, which isn't a bad thing, but to different for us to take the risk. We might be more interested if the docs were more robust.

@fernandobandeira I modified the plugin build.js to look at the serverless.yml and key off

[2019-10-05 09:46] danielcondemarin commented on #139
Hi folks 👋 Now that https://github.com/danielcondemarin/serverless-next.js/pull/144 has been merged (thanks to @barrysteyn for implementing!) I'm closing this 🚀

[2019-10-05 09:46] #139 closed

[2019-10-05 09:47] danielcondemarin commented on #40
Closed by https://github.com/danielcondemarin/serverless-next.js/pull/144 🚀

[2019-10-05 09:47] #40 closed

[2019-10-05 09:50] danielcondemarin commented on #143
@roberttaylor426 You can safely delete the `.next/` directory as it will be re-generated on each build. In future this might get done automatically by next as per https://github.com/zeit/next.js/issues/6009 :)

[2019-10-05 09:50] #143 closed

[2019-10-05 13:37] skycremaschinin commented on #179
@danielcondemarin yes, your solution seems the quicker and safer.
But i suppose that the `.serverless_nextjs`folder too should be considered an app's artifact and not re-built. it ins't?
i'm glad to contribute, i'll work on it in the next few days (nights) 😉

[2019-10-05 15:31] danielcondemarin commented on #179
@skycremaschinin That's a good point, `.serverless-next.js` shouldn't be rebuilt either 👍

[2019-10-05 17:05] dtkelch opened #180 "[Serverless Component] - Deploy fails when Lambda configured with a VPC"
**Describe the bug**
When a Lambda has been added to a VPC, the deployment fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy a Next.js app with serverless-next.js component
2. Open the AWS console, and manually attach a VPC to one of the new Lambdas
3. Re-deploy
4. See error:
[code]

**Desktop (please complete the following information):**
 - OS: macOS 10.14
 - Version: `serverle

[2019-10-05 21:56] cristiam86 opened #181 "Cloudfront 503 ERROR"
I'm getting a 503 error from CloudFront from my app deployed with this plugin.
The error seems to occur when a page takes longer than 10 seconds to respond. I have already increased the limit of the lambda and invalidated CloudFront cache, but it still happens.
Since we are catching the response of the API queried to obtain the data needed to show the page, if the user refreshes the page, the page

[2019-10-06 04:28] barrysteyn opened #182 "502 Error for latest version of plugin"
For plugin version 2.4.0, when deployed, I get a 502 error. Here is the result from testing the lambda manually in api gateway:

[code]

[2019-10-06 04:29] barrysteyn commented on #182
@danielcondemarin Do you have any idea about this?

[2019-10-06 08:16] danielcondemarin commented on #182
@barrysteyn I believe this was an unintended breaking change in https://github.com/danielcondemarin/serverless-next.js/blob/master/packages/serverless-nextjs-plugin/lib/getFactoryHandlerCode.js#L9 which breaks custom handlers.

Making it backward compat. is a bit more work than I expected so could you update the usage of your custom handler as per https://github.com/danielcondemarin/serverless-nex

[2019-10-06 08:16] #182 closed

[2019-10-06 08:30] danielcondemarin commented on #180
@dtkelch As you probably suspected this is a limitation on AWS itself, not the next component. Lambda@Edge doesn't support associating with a VPC.
A VPC lives in a region, Lambda@Edge is distributed globally. Having said that [AWS has been making progress](https://aws.amazon.com/blogs/aws/new-almost-inter-region-vpc-peering/) on interconnecting VPCs globally so wouldn't be surprised if what you ne

[2019-10-06 08:30] #180 closed

[2019-10-07 00:56] barrysteyn commented on #182
Just wanted to confirm that this is the problem. Thanks @danielcondemarin

[2019-10-07 09:56] DoNormal opened #183 "Make required AWS permissions configurable"
**Is your feature request related to a problem? Please describe.**
The regular and API lambdas require `AdministratorAccess`:

[code]

Some organizations are not too keen to allow a tool to have administrator access, so it would be nice to have an option to supply user-defined permissions.

**Describe the solution you'd like**
It would be perfect if this component could run in an AWS environment w

[2019-10-07 12:05] danielcondemarin commented on #181
@cristiam86 Could you post your Lambda CloudWatch logs as well? You can find these in the CloudWatch service page. Also, make sure you look at the right region where your Lambda executed:

![image](https://user-images.githubusercontent.com/1122442/66310006-f6b87180-e902-11e9-8461-b52cd39bbd8f.png)

[2019-10-07 12:24] macs91 opened #184 "Use environment variables"
How can I pass environment variables? I would like to pass some api key and secrets both to api and frontend lambdas, how can I do that?

I tried like this but it doesn't work:
[code]

[2019-10-07 12:26] danielcondemarin commented on #184
@macs91 Use next's [build time configuration ](https://github.com/zeit/next.js/#build-time-configuration). This is the recommended approach for managing environment config. in your pages.

[2019-10-07 12:28] cristiam86 commented on #181
Sure @danielcondemarin Thanks!

This is an error record
<img width="1331" alt="Screenshot 2019-10-07 at 14 19 59" src="https://user-images.githubusercontent.com/4550355/66311083-ec4fa500-e90d-11e9-8b0b-fbbaf00379ed.png">

And this is a successful record
<img width="1272" alt="Screenshot 2019-10-07 at 14 20 05" src="https://user-images.githubusercontent.com/4550355/66311098-f5d90d00-e90d-11e9-8804-

[2019-10-07 12:31] macs91 commented on #184
@danielcondemarin I tried it, but I see that it leaks env variables to the frontend... Given that I intend to store secret I can't use that 😬

[2019-10-07 12:48] danielcondemarin commented on #181
Do you know or suspect what might be causing the timeout? i.e. outbound network request issued from the Lambda?

The master lambda is in us-east-1, but is replicated globally to many regions so it can't be deployed to one specific region. This is by design 🙂

[2019-10-07 13:07] danielcondemarin commented on #184
Ohh I see. Sorry I wasn't entirely clear how build time works. Sounds like there is scope then for injecting env. variables via serverless.yaml. Reopening ...

[2019-10-07 13:15] danielcondemarin commented on #184
@macs91 Could you share how you're accessing the env. config. in the page? i.e. on `getInitialProps` I'm guessing?

[2019-10-07 13:38] cristiam86 commented on #181
The website calls a serverless API (https://rctf69ejt3.execute-api.eu-central-1.amazonaws.com/prod/data?flow=imp&product=220410&reporter=251&partner=all) that may take longer than 10 seconds depending on the parameters and catching policies.

About the master lambda region, perfect, I understand.

[2019-10-07 14:03] macs91 commented on #184
Yes, the secret will be accessed from `getInitialProps`.. I dug a bit more, and it seems that only the env variables that are explicitly referenced on client side code are visible in the bundle, so basically env variables are not exposed unless they are explicitly included in client side code?

So If I don't want the env variable to get included in the bundle maybe it's enough to use it under this

[2019-10-07 14:08] danielcondemarin commented on #184
@macs91 Sounds incredibly easy to leak the secure config. by accident., so I'll be adding support for runtime only env. configuration via a `serverless.yml` input. Stay tuned 😄

[2019-10-07 14:28] sheerun opened #185 "Deploy just one lambda function"
**Is your feature request related to a problem? Please describe.**

Current code deploys 2 lambda functions instead of 1, both of which need be kept warm which incurs additional charges.

**Describe the solution you'd like**

Would you accept pull request that makes this component deploy just one lambda function that is shared between api and normal pages?

[2019-10-07 14:29] macs91 commented on #184
Yep I thought that too 😅 When env variables are set only on the lambda it's much harder to leak secrets by mistake. Thanks 👍

[2019-10-07 14:38] danielcondemarin commented on #185
@sheerun The decision to split the SSR and API pages into separate functions is very deliberate.
The counter-argument to your premise is by splitting the functions you have smaller artifacts deployed onto each function which lead to better cold start times.
Unless there is a big reason to do so, I prefer to keep the architecture design as is.

[2019-10-07 14:43] sheerun commented on #185
Maybe would be best to allow both options and allow to split app into as many lambas as user wants (in my case just 1 is best). Something like:

[code]

With configuration 3 lambdas would be created. One for all routes that start with /api, second for all routes that start with /admin and third for everything else.

[2019-10-07 14:47] sheerun commented on #185
I'm pertty sure it's not the case becuse if front-end calls API, both of which are hosted in lambdas, then we need to wait one full cold time for front-end to start and then another one for api to start.

So it looks like this:

- request comes in
- front-end lambda cold starts (10s)
- front-end lambda calls API lambda to render
- API lambda cold starts  (10s)

So total cold time is 20s.

Compare

[2019-10-07 14:49] danielcondemarin commented on #185
That would be nice but my concern is the complexity overhead it adds to the component for how much value?  Having the split between API and non-API seems like a good balance to me.
Also, bear in mind CloudFront only allows [25 cache behaviours / paths to be defined](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/cloudfront-limits.html#limits-web-distributions). I'm already usin

[2019-10-07 14:50] sheerun commented on #185
Then at least please allow for deploying single lambda because of cold start issues I mentioned.

[2019-10-07 17:43] dtkelch commented on #180
@danielcondemarin Ah, I didn't realize that was the case - I've never used the Lamba@Edge pattern, but your explanation makes perfect sense.

Thank you!

[2019-10-07 20:24] danielcondemarin commented on #184
@macs91 Found out today Lambda@Edge [doesn't currently support](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/lambda-requirements-limits.html#lambda-requirements-lambda-function-configuration) environment variables :/

Hopefully this is available soon! But for now you'll have to workaround it by using the build time config. carefully. I'll keep the issue opened though.

[2019-10-07 20:36] macs91 commented on #184
Bummer! I didn't know that.. Hopefully they will announce support at re:Invent 😁

[2019-10-07 20:38] danielcondemarin commented on #184
That's what I'm hoping. All I can do for now is [ask for it](https://twitter.com/dcondemarin/status/1181303348827492353) :/

[2019-10-07 22:19] endigo commented on #170
@danielcondemarin hello, this PR merged yesterday. Can you update @serverless/domain versIon to 6.1.0?

[2019-10-07 23:43] jam1401 opened #188 "Enable CloudFront Geo Restriction"
**Is your feature request related to a problem? Please describe.**
My IT group is monitoring cloud front and sends me an  deployment issue report because The cloud front Geo restriction is not set. I cannot figure out to do that with serverless-next-component other than to manually set it via the AWS cloudFront admin panel.

**Describe the solution you'd like**

Be able to specify limited cloudFro

[2019-10-08 03:38] barrysteyn opened #190 "tenanTreeFrontend › Error: ENOENT: no such file or directory, open '.next/serverless/pages-manifest.json'"
Hi

Trying to use the new component. However, when I try deploy, I get this problem:

```tenanTreeFrontend › Error: ENOENT: no such file or directory, open '/.next/serverless/pages-manifest.json'```

Here is my folder structure:
[code]

[2019-10-08 04:54] brno32 commented on #157
having this issue as well. adding `next-server` gets me a different message, though. Regardless, I'd like to do it the supported way

[2019-10-08 07:50] #170 closed

[2019-10-08 08:43] danielcondemarin commented on #190
@barrysteyn Strange. Looks like there is a build problem in your app. When the next app is built there should be a `/.next/serverless/pages-manifest.json` file. Are you building using `target: "serverless"` ? Also, can you share your serverless.yml next app bit and any other info you may think is relevant.

[2019-10-08 09:43] eahefnawy commented on #185
Imo it’d be fine to have that as an option for the upsides that you mentioned. Just as long as we don’t compromise on the zero config design.

@danielcondemarin how complex do you think the implementation would be?

[2019-10-08 11:52] danielcondemarin commented on #185
Just to clarify, I'm not entirely against this change. I'm simply trying to find more value in the change beyond just mitigating Cold Starts. From my personal experience I've not had 10+ seconds cold starts in Lambda@Edge or Lambda in general (as long as is outside a VPC).
I do appreciate different apps have different needs and access patterns, so an architecture where the user can determine how t

[2019-10-08 17:09] barrysteyn commented on #190
No, I am trying to convert a project from the plugin to the component, and the plugin automatically makes the target serverless. I think for testing locally, we have left target as it's default.

[2019-10-08 17:18] #190 closed

[2019-10-08 17:40] danielcondemarin commented on #190
Perhaps is best to add some validation in the component to make sure the `next.config.js` is set to `serverless`.

[2019-10-08 18:16] danielcondemarin commented on #179
Closing, this is now deployed on @1.4.0 🎉

[2019-10-08 18:16] #179 closed

[2019-10-08 21:52] LinusU commented on #157
This is probably related to this 👉 https://github.com/zeit/next.js/pull/8613

[2019-10-09 02:14] jaredready opened #191 "Change IAM permissions on Lamda functions"
Right now this component deploys functions with all permissions, which is not really usable in a lot of AWS accounts. Least-privilege is how most people operate.

I would like to be able supply my own policy for the Lambdas to lock it down to exactly what it needs to access and no more.

[2019-10-09 06:37] amursky opened #192 "Redirect non-www to www and vice-versa"
Add an option to enable redirect from `example.com` to `www.example.com` and vice-versa.
For example, add option `redirect` to force redirect to www:

[code]

[2019-10-09 09:56] kartikag01 opened #193 "Pre load scripts Error"
**Describe the bug**
The resource is not loading, giving net:: ERR_ABORTED 403

for dynamic route pages `pages/[path].js` when there are links in other pages, those links are not prefetched, as its doesn't exist on s3 bucket, so it gives error 403, rather then it should server   `pages/[path].js` file for that dynamic routes.

**Screenshots**
![image](https://user-images.githubusercontent.com/1057

[2019-10-09 11:29] kartikag01 commented on #193
This is not because of serverless-next.js, it in next js, need to pass `as` in Link tag,
Got the answer from here
https://stackoverflow.com/a/56025281/2980047

[2019-10-09 11:29] #193 closed

[2019-10-09 11:50] danielcondemarin commented on #191
Closing as duplicate of https://github.com/danielcondemarin/serverless-next.js/issues/183

[2019-10-09 11:50] #191 closed

[2019-10-09 16:48] cristiam86 commented on #181
Hello @danielcondemarin if there is something I can help with in order to solve this issue please just let me know.

[2019-10-09 17:11] danielcondemarin commented on #181
@cristiam86 This is happening because the default timeout for the Lambda is 10 seconds. I believe it could be increased to 30 seconds. However, I don't think it is a good idea to increase it because this blocks the page load which is really poor ux.

I would suggest you gracefully handle timeouts with a value lower than seconds. A few examples of how to do that using fetch [here](https://stackover

[2019-10-09 17:19] cristiam86 commented on #181
hey @danielcondemarin thanks for the response. The problem here is that when the query is not catched it depends on a 3rd party API and we can't improve its performance. Also the SSR is key  for SEO purposes so deferring the call to client wouldn't work for us.
Also, I increased the timeout for the lambda to 30 seconds on the AWS console but it seems to don't have any effect. If you can just point

[2019-10-09 17:26] barrysteyn commented on #190
Yes, this would be great. Maybe (as in the plugin version) it can just silently be inserted if not present. But an easier way would be just to add a documentation section explaining to people who are migrating that they need this present.

Great work Daniel, this is amazing.