[2019-10-09 17:31] danielcondemarin commented on #181
@cristiam86 The timeout can be reflected in the Console here:

![image](https://user-images.githubusercontent.com/1122442/66505004-5c069100-eac2-11e9-98b8-2850d240c2f9.png)

You might have to publish a new version of the Lambda for this to work but to be honest, I don't know if it will get overridden by the component on subsequent deployments

You could add a cache layer in front of the third part

[2019-10-09 17:37] danielcondemarin opened #194 "Validate next.config.js target is set to "serverless""
**Is your feature request related to a problem? Please describe.**
If the `next.config.js` `target` is not set to `serverless` the component fails with a verbose, not helpful at all  error.

**Describe the solution you'd like**

The component validates the target is set to serverless and when is not throws a friendly error.

**Describe alternatives you've considered**
None

**Additional context**

[2019-10-09 17:38] danielcondemarin commented on #190
Thanks Barry!

I've added a separate issue for the target validation work.  https://github.com/danielcondemarin/serverless-next.js/issues/194

[2019-10-09 17:44] cristiam86 commented on #181
@danielcondemarin like I said in my first post, I have already increased the limit to 30 seconds but the error persists. Here is my configuration:
<img width="753" alt="Screenshot 2019-10-09 at 19 40 23" src="https://user-images.githubusercontent.com/4550355/66506043-dcca8a80-eacc-11e9-92dd-056ca4ccb91c.png">

Also I have already implemented a cache layer in front of the 3rd party service to cache

[2019-10-09 18:13] danielcondemarin commented on #181
@cristiam86 Did you also publish a new version of the function?

![image](https://user-images.githubusercontent.com/1122442/66508247-97a45980-eac8-11e9-94e8-a6c531bbc3bd.png)

Also the new published version would have to be updated in the CloudFront Cache Behaviour (example is set to 23):

![image](https://user-images.githubusercontent.com/1122442/66508320-cc181580-eac8-11e9-9680-8934da958ebf.png)

[2019-10-09 18:21] danielcondemarin commented on #181
@cristiam86 Manually increasing the timeout like that is probably not going to play nice with the component deployments.
I'm happy to accept a PR to pass a custom timeout for the Lambda functions, which defaults to 10 seconds.

Something like:

[code]

Could you verify first setting the 30seconds manually works?

[2019-10-09 18:30] cristiam86 commented on #181
@danielcondemarin IT WORKS!

As you say, it should be updated on every deploy so adding that configuration to the yml would be perfect.

I'm also overwhelmed with work and I don't have any experience with CloudFormation but I can give it a try.

Thank you very much again.

[2019-10-09 20:19] skycremaschinin opened #195 "Wrong debug message"
**Describe the bug**
"Skipping nextjs build phase ..." message is shown while nextjs build phase is executed.

**To Reproduce**
Steps to reproduce the behavior:
1. don't set build: false in serverless.yml
2. Run npx serverless -- debug
3. See error

looking into serverless.js, log command is misplaced:

`if (inputs.build !== false) {
      this.context.debug("Skipping nextjs build phase ...");

[2019-10-09 20:22] danielcondemarin commented on #195
@skycremaschinin That's been fixed / removed in the codebase, just need to release it now 👍

[2019-10-09 20:22] #195 closed

[2019-10-09 20:24] skycremaschinin commented on #195
to fast to me! 🚀

[2019-10-10 01:46] andreyvital opened #197 "Config"
Hi—sorry for posting this as an issue here. Those questions might have been already answered somewhere but I couldn't locate 😅

1. Is there a way to use this project just to deploy and manage the lambda functions? I want to take care of uploading static to S3 myself through other ways;

2. I'm currently using Terraform to manage CloudFront and several other parts of my infra, is there a way to kee

[2019-10-10 06:59] victorhqc opened #198 "Handle Cloudfront forwarded headers"
**Is your feature request related to a problem? Please describe.**
I have a website that renders components in a different manner if it's a phone or not by checking the `user-agent` header. This was perfectly fine with AWS API Gateway, but Cloudfront caches everything, so that approach is currently broken for me.

**Describe the solution you'd like**
Reading through the docs I found some ways that

[2019-10-10 10:44] ulysset commented on #170
The package has been updated and it works perfectly.
So I can use www.example.com and example.com!
My config:
[code]

[2019-10-10 21:12] mbenitezm opened #199 "YAML config variables"
Hi!

I'm migrating a project that used the old plugin to this component but I'm having some issues with the serverless.yml file.

Previously I used this to assign the bucketName:
[code]

and now it looks like this:
[code]

`${file(./s3BucketName.js):s3BucketName}` doesn't seem to be working any longer as I get the error: ` InvalidBucket: Bucket names cannot contain forward slashes. Bucket: ${file(

[2019-10-11 02:56] #27 closed

[2019-10-11 14:46] macs91 opened #200 "Cookie and Query string forwarding"
**Describe the bug**

Cloudfront default behavior setup by the component does not enable forwarding for cookies and query string, thereby making it impossible to handle business logic based on cookies like auth. I set those options from the AWS Console and everything works, but a new deploy overrides the behavior

**Expected behavior**
The component allows cookies and query string forward for the

[2019-10-12 00:46] oste opened #201 "Gzip document"
**Is your feature request related to a problem? Please describe.**
When I run watchtower it is suggesting that the main document be gzipped or compressed as seen in this screenshot.

<img width="489" alt="Screen Shot 2019-10-11 at 8 42 29 PM" src="https://user-images.githubusercontent.com/350275/66691924-e3413980-ec67-11e9-910c-34464281d052.png">

**Describe the solution you'd like**
Ability to gz

[2019-10-12 00:57] oste commented on #201
Here is a forum post https://forums.aws.amazon.com/thread.jspa?messageID=893421

Currently unanswered and points to this guide that seems to only suggest its possible with static pages https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/lambda-examples.html#lambda-examples-generated-response-examples

[2019-10-12 10:10] macs91 commented on #200
@danielcondemarin it's weird, because I read through the source code of the component and it seems that by default the default cache behavior should be set to allow cookies and query string forwarding. Even the json template produced under `.serverless` folder has default behaviour correctly set. Is this a bug in `@serverless/aws-cloudfront` component? 🤔

[2019-10-12 10:13] danielcondemarin commented on #200
@macs91 It could be a bug in the `aws-cloudfront` component.

@josephluck might be able to shed some light on this. I believe he worked on this previously.

[2019-10-12 15:28] macs91 commented on #200
@danielcondemarin I think I spotted the error.. Cloudfront accept the input like this:
<img width="418" alt="Screen Shot 2019-10-12 at 17 25 04" src="https://user-images.githubusercontent.com/4640135/66703696-813f0d80-ed15-11e9-8b5f-04fd91679574.png">
But in the code generated by serverless next js component the parent key `forward` is missing:
![Screen Shot 2019-10-12 at 17 25 25](https://user-im

[2019-10-12 16:09] danielcondemarin commented on #200
@macs91 Good spot! Feel free to PR if you'd like 🙌

[2019-10-12 16:34] macs91 commented on #200
@danielcondemarin [contributing guide](https://github.com/danielcondemarin/serverless-next.js/blob/master/CONTRIBUTING.md) seems related to the serverless plugin, do you have more updated instructions on how to run and test this project?

[2019-10-12 17:30] barrysteyn commented on #201
Looking at the example, this is essentially zip'ing the resulting content sent back to the client, and ensuring that the correct headers are set for the client to interpret the payload as being zipped. This does not seem to be too difficult to implement, perhaps put it in the lambda handler. What do you think @danielcondemarin

[2019-10-12 17:32] barrysteyn commented on #199
Using serverless components is very different to using the old serverless plugins. For one thing, you cannot mix the "old" style with the "new" style. So instance, you cannot use a provider.

[2019-10-12 19:20] danielcondemarin commented on #201
This should be easy to implement via CloudFront.

Looks like we just need to pass `compress: true` in the CloudFront defaults:

https://github.com/danielcondemarin/serverless-next.js/blob/master/packages/serverless-nextjs-component/serverless.js#L347
[code]

Also probably need to bump to the latest cloudfront version @6.0.0.

Relevant docs: https://docs.aws.amazon.com/AmazonCloudFront/latest/Devel

[2019-10-12 21:31] barrysteyn commented on #201
Interesting, I thought the document was really just "passed through" cloudfront (meaning that there is no caching). I didn't know that one can zip this as well.

BTW: Can you confirm that the document should not get cached.

[2019-10-13 10:22] josephluck commented on #200
Great spot. I hadn't looked in to it yet, but really glad you've found the issue!

[2019-10-13 11:59] macs91 commented on #200
@danielcondemarin @josephluck I opened a PR https://github.com/danielcondemarin/serverless-next.js/pull/202

[2019-10-13 12:19] Meemaw opened #203 "Deployment fails with --aws-s3-accelerate"
**Describe the bug**
Deployment of the `serverless-next.js` component fails when using `--aws-s3-accelerate`.

**To Reproduce**
We can see this behaviour on a failing github action:
https://github.com/Meemaw/next-aws-lambda/runs/258201271

**Expected behavior**
Deployment should work

[2019-10-13 19:40] danielcondemarin commented on #200
Closing folks, now published @1.4.1. Thanks @macs91 🙏

[2019-10-13 19:40] #200 closed

[2019-10-14 06:00] ac360 commented on #185
Before jumping into the solution, I'm curious about the underlying problem.  10-20s cold starts are very unusual (unless VPC is involved).

@sheerun could you provide more detail as to what's causing 10-20s cold starts?

[2019-10-14 09:17] sheerun commented on #185
The point is not that it takes 20s but that it takes 2x longer and I also need to keep both lambdas hot

[2019-10-14 12:37] danielcondemarin commented on #201
@barrysteyn Currently the Server Side rendered pages and api routes are cached for 5 seconds. https://github.com/danielcondemarin/serverless-next.js/blob/master/packages/serverless-nextjs-component/serverless.js#L348

I was hoping that by enabling compression in CloudFront the document would be automatically compressed whenever the client browser supported it but this might not be the case as per

[2019-10-14 15:34] gustavorps opened #205 "Domain name cannot be resolved after deploy, ERR_NAME_NOT_RESOLVED"
**Describe the bug**
Domain name cannot be resolved after deploy

**To Reproduce**
Steps to reproduce the behavior:
1. Use AWS provider '...'
2. Setup `serverless.yml`
[code]
3. Run `sls` for deploy
4. Get the url from the output and paste

**Expected behavior**
ERR_NAME_NOT_RESOLVED on Chrome

**Screenshots**
![](https://i.imgur.com/xXsRanE.png)
[https://dlnw78exek9o0.cloudfront.net](https://dlnw

[2019-10-14 16:24] barrysteyn commented on #201
Yes exactly. The lowest hanging fruits are definitely enabling cloudfront zip compression. BTW, the link the you pasted above showing that client browser may not be supported is not correct (could you perhaps paste it again, I would like to read that comment).

However, let's first enable cloudfront compression (that should be very quick for you). I will tackle (if you want) the gzip on the handle

[2019-10-14 16:26] danielcondemarin commented on #205
This is due propagation times of the cloudfront dns. The cloudfront component doesn’t wait until it fully propagates. There is an open issue to support this but is still being considered atm https://github.com/serverless-components/aws-cloudfront/pull/9.

[2019-10-14 20:24] gustavorps opened #206 "Error on AWS: ApiGatewayResourceProxyVar resource already has a variable path part"
**Describe the bug**
[code]

**To Reproduce**
1. Create a react-next-app
2. Follow this `serverless`
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**

[code]

[2019-10-14 20:51] jayarnielsen opened #207 "Next.js 9.1 public directory support"
**Describe the bug**
As of next.js 9.1, the `static` directory should be placed inside of the `public` directory. https://nextjs.org/blog/next-9-1#public-directory-support

With the current serverless component, files in the `public/static/*` folder are unreachable because of the cloudfront rule for `static/*`.

**To Reproduce**
Steps to reproduce the behavior:
1. place static assets in `public/st

[2019-10-15 01:01] oste commented on #201
Excited that this seems possible. Let me know if I can chip in

[2019-10-15 12:50] gustavorps opened #208 "AWS Gateway Resource's path part only allow a-zA-Z0-9._- and curly braces at the beginning and the end."
**Describe the bug**
I'm trying to use [Dynamic Routing](https://nextjs.org/docs#dynamic-routing) feature to have a urls like this in the future `/survey/uuid-123`, `/survey/uuid-123/dashboard`, `/survey/uuid-123/edit`, etc.
In local development works but when I try to deploy on AWS I get an erro from `ApiGatewayResourceUuidVarhtml`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a d

[2019-10-16 09:11] kartikag01 opened #209 "how to use existing cloudfront distribution"
While doing the deployment, how can we make sure that we use existing CloudFront distribution?

[2019-10-16 10:12] kartikag01 commented on #209
I have found that if we change id and arn in `Template.myNextApp.CloudFront.json` file inside .serverless folder then we can do distribution on existing cloudfront.

But can we control this somehow from .env for from yml file?

[2019-10-16 18:19] danielcondemarin commented on #209
@kartikag01 This is a good idea, thanks for raising the issue.

To support this we'll have to do most of the work in https://github.com/serverless-components/aws-cloudfront to allow passing a distribution id. The rest as in work to do in the next component is easy.

[2019-10-18 00:17] robsonkades opened #210 "Error command execution npx serverless"
-      Node Version:              10.16.3
-      Framework Version:         1.54.0
-      Plugin Version:            3.1.2
-      SDK Version:               2.1.2
-      Components Core Version:   1.1.1
-      Components CLI Version:    1.4.0

 serverless.yml
myApp:
 component: serverless-next.js

`{ Error: Command failed with exit code 2 (ENOENT): node_modules/.bin/next build
spawn node_modules/.

[2019-10-18 16:30] danielcnorris opened #211 "Custom server example with serverless-next component?"
**Is your feature request related to a problem? Please describe.**
I'm trying to deploy a Next app with a custom Koa server using the Serverless framework to AWS.

**Describe the solution you'd like**
It would be awesome if I could use the serverless-next.js component in order to do this. I don't know if this is possible -- I'm still new to the Next ecosystem and don't know the internals of this c

[2019-10-18 16:35] danielcnorris commented on #211
Since the component uses the "serverless" target in `next.config.js`, does that mean it's not even possible to use a custom monolith server?

[2019-10-18 17:20] barrysteyn commented on #211
They are two totally different architectures. Using this plugin will result in lambdas (behind api gateway) serving your site. This will not use Koa, and so if you have custom business logic within Koa, it probably won't work.

[2019-10-18 17:52] danielcnorris commented on #211
Thanks!

[2019-10-18 17:52] #211 closed

[2019-10-21 01:51] hai98th opened #212 "Dynamic Route Segments"
Hi folks. I have some problem when i deploy my app to production.

Given the following app:

pages/
├── [service]/
│  ├── [city]/
│  │  ├── index.js
│  │  ├── [district].js
├── profile/
│ └── [proid].js

When i run it in my localhost by: npm run dev or npm start. There is nothing wrong.
following url:  localhost:3000/profile/my-pro-id/
 - build page: /profile/[proid].js
But when run on my producti

[2019-10-22 07:58] danielcondemarin commented on #212
Can you post the relevant code for the page? Also the Cloudwatch logs for the Lambda@Edge function in the region the error happened.

[2019-10-22 07:59] danielcondemarin commented on #210
Does running `next build` work on its own?

[2019-10-22 17:49] danielcondemarin opened #214 "Fully decouple next build from component"
**Is your feature request related to a problem? Please describe.**

Currently the next component takes on the responsibility of building the next app. Whilst this is "nice", it makes build issues harder to debug, reduces flexibility of different build workflows users have (especially in CI) and adds overhead to the component development for little value.

**Describe the solution you'd like**

Full

[2019-10-22 18:18] jlaramie commented on #214
I've been thinking about this solution and while I like it it does remove the "0 configuration need" support. Maybe something like `inputs.buildNext: false` would skip the `next build` step but still do the other build steps like creating the manifests and lambda configuration.

[2019-10-23 11:38] kartikag01 opened #216 "Can we add sentry in lambda function ?"
In the new version, there is no plugin support,
we have to add  `serverless-sentry` in lambda functions, as sometimes we are getting this error.

![image](https://user-images.githubusercontent.com/10574227/67388976-4eb7cf00-f5b7-11e9-83ba-79ecee7bf6c3.png)

I don't know even why this is happening in the first place.

Is there any way to add sentry in lambda function.

[2019-10-24 12:39] hai98th commented on #212
Thank you, I have solved this problem

[2019-10-24 13:22] danielcondemarin commented on #212
Out of curiosity what was the issue? I’m trying to improve how to better diagnose errors in the component

[2019-10-24 15:14] hai98th commented on #212
I'm trying edit serverless.js in /home/.serverless/components/registry/npm/serverless-next.js@1.4.1/node_modules/serverless-next.js and it  succeeds. When i run "sls" command line. In .serverless_nextjs / default-lambda / manifest.json here:
{
  "pages": {
    "ssr": {
      "dynamic": {
        "/:slug": {
          "file": "pages/[slug].js",
          "regex": "^\\/([^\\/]+?)(?:\\/)?$"
        }

[2019-10-24 15:59] danielcondemarin commented on #212
This sounds like a bug, surely /p/:proid should be matched before /:slug/:city

[2019-10-25 19:46] sheerun commented on #49
This might be solved by `split` feature that is proposed in and solves #185

[2019-10-25 20:35] sheerun commented on #185
To have total flexibility I'd suggest to allow each lambda to cover multiple routes, and also allow to separately configure memory and other configurations available to [aws-lambda](https://github.com/serverless-components/aws-lambda):

[code]

I would suggest defaulting to 1 lambda though

[2019-10-25 22:16] sheerun commented on #185
Thinking about this probably prefix should enough for MVP:

[code]

I can try to prepare PR. Are you OK with this config?

[2019-10-26 20:08] murar8 opened #218 "Add the possibility to read output from other components"
**Is your feature request related to a problem? Please describe.**
First of all thanks for writing this component but right now I have the following problem: I don't see any way for next to read the output of another plugin. I know Lambda@Edge does not support enviroment variables bo we should consider to at least pass the enviroment variables to next so they can be hardcoded during build.

**Desc

[2019-10-27 11:42] #183 closed

[2019-10-27 22:07] EugeneDraitsev commented on #208
I have same issue with Dynamic Routing. Another (maybe simpler way to reproduce):

1. Create `serverless.yml`
[code]

2. Pages structure:
[code]

3. Run `sls deploy` and get an error:
[code]

serverless-nextjs-plugin version is `^2.4.0`

[2019-10-29 16:48] barrysteyn opened #220 "Cache control headers for component"
With the merging of https://github.com/serverless-components/aws-s3/pull/7, cache-control headers can now be implemented for the component in the same fashion as #144

This issue is created to implement this feature.

[2019-10-30 14:26] ytwguru opened #222 "503 Errors - The request could not be satisfied"
**Describe the bug**
We get irregular 503 errors for dynamic and static pages.

_Updated_
These seem to happen when the lambda requires more than 10 seconds to run

**Expected behavior**
After reloading the page, we see

**503 ERROR**

**The request could not be satisfied.**

The Lambda function associated with the CloudFront distribution is invalid or doesn't have the required permissions. We can

[2019-10-30 19:24] ytwguru commented on #222
This looks like it's the function exceeding the timeout.  Custom inputs could solve this. See issue [#181](https://github.com/danielcondemarin/serverless-next.js/issues/181)

[2019-10-31 05:39] #222 closed

[2019-10-31 17:24] bredele opened #223 "New cloudfront bahaviour"
Hi @danielcondemarin,

I would like to add a custom cloudfront behaviour that would allow me to restrict user access for a given path (```trustedSigners: self```). Is it possible to do from the component itself? Do you have any recommendation?

Thank you in advance for your help.

Cheers

[2019-11-02 13:31] SarKurd opened #224 "Dynamic routes return 404 when using useRouter"
**Describe the bug**
Dynamic routes return 404 when using useRouter hook instead of getInitialProps

**To Reproduce**
create a dynamic page

***doesn't work***
[code]
***works***
[code]

**Expected behavior**
i expect to see the page loads with message `Post: :id`

**versions**

next: 9.1.2
serverless: 1.56.1
serverless-next.js: 1.4.1

**Screenshots**
<img width="1213" alt="Screenshot 2019-11-02 a

[2019-11-02 22:56] billzhong commented on #190
Hi, I had same issue, adding `{target: 'serverless'}` to `next.config.js` fixed. It will be great to add target validation.

[2019-11-03 17:41] danielcondemarin commented on #220
I believe you are right, looking at an example build:

![image](https://user-images.githubusercontent.com/1122442/68089470-fe672980-fe60-11e9-9721-28324b5b7728.png)

it only seems to contain these directories / files which are fine to be long term cached, so this should be really easy to implement 👍 No need to examine input files etc.

[2019-11-03 17:43] barrysteyn commented on #220
Yep :)

I will have a PR out sometime by the end of the day PST.

[2019-11-03 22:04] #157 closed

[2019-11-03 22:07] #194 closed

[2019-11-03 22:13] billzhong opened #225 ".serverless folder get changed every deploy"
**Describe the bug**
The `.serverless` folder has a few `Template.json` files to save important information like S3 bucket name and cloudfront ID. So I commit the folder to git repo. However, the folder files get changed every time I run `npx serverless` deploy command. More specific, the hash in `defaultEdgebda.json` and `origin-request` in `CloudFront.json` get changed.

**To Reproduce**
Steps t

[2019-11-04 00:03] Enalmada commented on #207
This would be good to prioritize as old Next users will be encouraged to migrate as console says `The static directory has been deprecated in favor of the public directory. https://err.sh/zeit/next.js/static-dir-deprecated` and new users to Next will put everything in the `public/static` directory.  Moving things to 'public/static' will work locally but not work using serverless-next.

[2019-11-04 06:25] vishwasnavadak opened #227 "NextJS with PWA setup"
**Is your feature request related to a problem? Please describe.**
When setting up nextjs app to work offline as Progressive Web App using the method mentioned in https://github.com/ooade/NextSimpleStarter, it needs a redirect/re-route to be configured in the host to find `service-worker.js`

Examples are given for Now and Netlify below:
https://github.com/ooade/NextSimpleStarter/blob/master/netli

[2019-11-04 08:03] Enalmada commented on #227
I don't believe this is a serverless issue.  I believe you need to use the api routing feature of next which is supported with serverless-next.js.  Something like this:

/pages/api/service-worker.js.js (default behavior is to serve file without the .js extension)
[code]

[code]

Unfortunately I can't fully test it...my next-offline is crashing when i set generateInDevMode: true for some reason:
[c

[2019-11-04 09:15] MBach commented on #222
Hi @ytwguru

Actually, I have the same problem. I don't know how to solve it, can you explain why you closed this issue?

[2019-11-04 10:34] jepperip commented on #199
I am having a similar problem.
I want to create custom domains for different stages with the help of variables, like this:
[code]
This creates template-files where the domain is resolved to `"domain": "${opt:stage, 'dev'}.mydomain.com`, which is not want I want.

[2019-11-04 16:17] pbrandone opened #228 "multiple-instance-environment example doesn't load env variables"
**Describe the bug**
The multiple environment example isn't loading the env variables to populate the `domain` key in the yml.

When logging the output from `await template({ template: 'serverless.yml' })` I'm getting
[code]

However, the environment variable `domain` is correctly set and available when the `template` function is executed, **so it seems the domain is effectively being ignored**.

[2019-11-04 16:20] pbrandone commented on #228
My serverless.yml:
[code]

and serverless.js
[code]

I have both `env-production` and `env-staging` files and my package.json scripts are setting stage with `serverless --stage=`

[2019-11-04 16:35] barrysteyn commented on #228
Look at the code: The component is not returning the domain, so it can't be in the output: https://github.com/danielcondemarin/serverless-next.js/blob/master/packages/serverless-nextjs-component/serverless.js#L384

[2019-11-04 16:43] pbrandone commented on #228
@barrysteyn that's true, but still doesn't answer the question.

Looking at that file it seems that inputs.domain IS NOT an instance of Array (it should probably be a string if it comes from env variables).
https://github.com/danielcondemarin/serverless-next.js/blob/master/packages/serverless-nextjs-component/serverless.js#L371

[2019-11-04 17:09] pbrandone commented on #228
fixed by using
[code]
in the .yml

thanks for the help @barrysteyn

[2019-11-04 17:18] pbrandone commented on #228
@barrysteyn let me know if you guys need a PR using this approach for the example. maybe two separate env variables `subdomain` and `domain`?

[2019-11-04 18:29] ytwguru commented on #222
@MBach.  I still have the same problem, and it occurs irregularly.  The issue was discussed [here](https://github.com/danielcondemarin/serverless-next.js/issues/181) and I didn't want to create a duplicated issue.

I am still troubleshooting and reviewing the AWS CloudWatch Logs, but I can post an update or a PR if I get a solution.

[2019-11-04 19:07] barrysteyn commented on #228
I understand now, but I don't think this is a generic solution. Can you reopen this issue. Instead, I think we need a way to either represent the a YML array in a env variable, or we should alter the component such that if any part of the domain array is null (or undefined), it will get skipped. In that case, one can just define env vars, and leave subdomain empty for prod.

But first prize would

[2019-11-04 19:14] barrysteyn commented on #228
@pbrandone I don't have any domains on Route 53, so I can't test things. Would be grateful if you could test. Looking at https://discuss.elastic.co/t/array-support-for-yml-environment-values/76657
I think we should change the domain in the env files. Can you try this instead:

[code]

And if the above is not interpreted as an array, can you try this instead:

[code]

[2019-11-04 19:24] pbrandone commented on #228
@barrysteyn of course. My project runs a custom server.js to proxy requests to /graphql to the backend so it seems that I might go with a beanstalk with EC2 approach for deployments.

I can however leave this branch as is to test this issue as it's working very well.

so far both `domain='dev, mydomain.com'` and `domain='-dev, -mydomain.com'` didn't work, any other suggestions?

[2019-11-04 20:12] barrysteyn commented on #228
Hi, I don't have any other suggestions for now. I need to do some research regarding representing arrays as env variables for yml. For that, i will need to dig into the @sereverless/template component to see what yml parser it is using.

Keep this issue open for now,  I will communicate here when I get a better answer.

[2019-11-04 20:17] danielcondemarin commented on #222
@ytwguru What have you found in your CloudWatch logs? I'm keen on getting to the bottom of any 503 errors.

[2019-11-04 20:40] nodabladam commented on #225
I use CircleCI do deploy every push and also need to know how to handle this so I can do CI/CD releases without having to commit back to the repo despite there being no changes:

![image](https://user-images.githubusercontent.com/57159187/68156080-e85c7600-feff-11e9-8ade-608df3c20364.png)

@danielcondemarin Do you know if we actually need to commit the changes beyond the initial ones assuming that

[2019-11-04 20:45] pbrandone commented on #228
ok. thanks for the help.

for all it's worth, you could:
[code]
here https://github.com/danielcondemarin/serverless-next.js/blob/master/packages/serverless-nextjs-component/serverless.js#L371

but honestly I don't know if it's safe

[2019-11-05 08:41] nodabladam opened #229 "cache settings incorrect for dynamic app"
_next/* behavior should use origin headers `public, max-age=31536000, immutable`
static/* behavior should use origin headers `public, max-age=31536000, immutable`
public/* behavior should use origin headers `public, max-age=31536000, immutable`

api/* behavior is set to custom cache headers with min, max, default TTL set to 5.  I believe this needs to be set to origin headers.  It is critical not

[2019-11-05 11:49] ArronHsiao opened #230 "Version Control?"
Hi, I have used serverless-nextjs and found it's awesome! simple to use and quick deploy. The Question is that I'd like to have different versions deploying in the same time, say dev1.1, prod1.1 etc.. , but I found if I change project name in serverless.yml, I must delete the previous version( or it will say can't delete S3 bucket because not empty).  Is there any way to get basic version control

[2019-11-05 16:55] barrysteyn commented on #229
Is this how next does things? If so, can you point me to the code and I I will change things to mimic this.

This projects aims to mimic exactly how next does things, and so if this is not currently in Next, then I don't think we should do this by *default* here. Note the emphasis on default - there is always scope for exposing a setting that can allow for overriding things.

[2019-11-05 22:27] pbrandone commented on #228
@barrysteyn unfortunately it doesn't.

[code]

[2019-11-05 22:29] pbrandone commented on #228
I guess it gets @serverless/template replaces `undefined` with `'undefined'`

[2019-11-05 22:32] pbrandone commented on #228
However, when using www as subdomain everything worked flawlessly.

I got `https://mydomain.com` as `appUrl` and in Route53 I have both pointing at the correct cloudfront instance

[2019-11-05 22:34] barrysteyn commented on #228
He he - unfortunately, I think www as a subdomain is working because you have some rule (probably in the DNS) that is forwarding making it go to the place you want.

The way forward is to actually change the code of the component. Keep the ticket open, I will try change the code and then ask you to test.

Thanks so much for testing this.

[2019-11-05 22:37] pbrandone commented on #228
sure thing.

I actually checked the DNS configuration and removed all the records I added before for my beanstalk configuration.

so it seems that @serverless/domain created both www and non-www automatically

[2019-11-05 23:57] barrysteyn commented on #228
@pbrandone You are correct: using `www` is the correct thing and it will work like magic. See https://github.com/serverless-components/domain/blob/master/serverless.js#L213

However, I am going to make a PR that will be more intuitive for users.

[2019-11-06 00:04] barrysteyn commented on #228
@pbrandone Can you test your stuff on my PR #231
Tell me if this works.

[2019-11-06 09:35] pbrandone commented on #228
@barrysteyn it's working :)

[2019-11-06 16:44] barrysteyn commented on #228
Hi, I just needed to push another version of the PR since the tests were failing. I also took it upon myself to make the code cleaner. While I can't think of any reason this version would fail, can I ask you to do just one last test? @danielcondemarin will probably merge soon. Thank you very much for  bringing this matter up and helping out.

[2019-11-06 17:13] nodabladam commented on #229
Sounds good.  A combination of some changes to mimic current next and some documentation on how to override things would be great.

Basically when I roll my app out using serverless-next my users can't logout.  I believe it must be due to cloudfront caching cookie headers on a prior response being reserved.

Updated ticket based on your feedback:

`_next/* behavior - I believe this is where Next.j

[2019-11-06 21:52] danielcondemarin commented on #230
@ArronHsiao This is a question for the [serverless component](https://github.com/serverless/components) project.
Also, I believe [this example](https://github.com/danielcondemarin/serverless-next.js/tree/master/packages/serverless-nextjs-component/examples/multiple-instance-environment) will help you achieve what you need

[2019-11-06 21:52] #230 closed

[2019-11-06 22:03] pbrandone commented on #228
Hi @barrysteyn.

Just tested it again and it still works 👍

[2019-11-06 22:15] danielcondemarin commented on #229
@nodabladam Thanks for the great detail.

- The `_next/*` behaviour we got it right already https://github.com/danielcondemarin/serverless-next.js/blob/0cc446c9f996b8773b2aa999da9c3a3f2bd9a996/packages/serverless-nextjs-component/serverless.js#L244

- static & public I agree it should be user configurable. Maybe users could pass a regex to match which files get the cache control header:

[code]
Th

[2019-11-07 00:40] barrysteyn commented on #229
Technically, I don't think it is that difficult putting a regex on the static and public folders. However, Should we also allow a default cache setting (like `"cache-control: no-cache"`) for every file?

[2019-11-07 07:42] jepperip commented on #203
@Meemaw did you manage to solve this? I found a build in your project that seems to have gone well: https://github.com/Meemaw/next-aws-lambda/runs/286431375

I am experiencing the same issue when trying to deploy from within a AWS CodeBuild container.

[2019-11-07 11:47] pecoram commented on #212
Hi @danielcondemarin, can you tell me if this issue is already resolved or will be resolved soon?

[2019-11-07 13:29] skycremaschinin commented on #212
hi @hai98th , how do you solved it?

[2019-11-07 22:47] pbrandone commented on #228
Closed by #231

[2019-11-07 22:47] #228 closed

[2019-11-08 11:39] ytwguru commented on #222
@danielcondemarin My intermittent errors are with the grapqhl server.

[code]

Feels like some configuration with next and apollo.

[2019-11-09 07:07] Enalmada commented on #229
The regex idea seems great.  If it could support the header it could cover more cases:
[code]

[2019-11-09 10:14] danielcondemarin commented on #225
This happens because a new version of the Lambda@Edge functions is published on every deploy.

I don't think you need to. On every deploy a new version of the lambda is published anyway so whatever version is currently published is overridden.

I'm going to close this issue assuming there are no side effects of not committing these particular state changes referred in the issue. Feel free to re-op

[2019-11-09 10:14] #225 closed

[2019-11-09 10:26] danielcondemarin commented on #229
Not sure we can set any header other than `Cache-Control`. Bear in mind this will happen at build time and added to the files in `public/` or `static/`.

What other headers did you have in mind?

Also, there is an RFC in next https://github.com/zeit/next.js/issues/9081 which overlaps with this.

[2019-11-09 10:32] danielcondemarin commented on #227
@vishwasnavadak Aside from @Enalmada 's suggestion you could put the `service-worker.js` in the `public/` folder? That will make the worker reachable at the root url `/service-worker.js`

In terms of custom routes in the next component I considered doing this before but now it seems this is coming natively in next https://github.com/zeit/next.js/issues/9081 🎉 so no need 😄

[2019-11-09 10:32] #227 closed

[2019-11-09 10:33] danielcondemarin commented on #220
Done in https://github.com/danielcondemarin/serverless-next.js/pull/226 🎉

[2019-11-09 10:33] #220 closed

[2019-11-09 11:04] danielcondemarin commented on #38
Closing this, for local development use `next dev`. The plugin or component should be used only for deployment.

[2019-11-09 11:04] #38 closed

[2019-11-09 11:05] danielcondemarin commented on #13
Closing this. The new version of the project (component) doesn't use `serverless package` therefore is much faster building the app 🚀

[2019-11-09 11:05] #13 closed

[2019-11-09 16:42] PrimeObjects opened #232 "Define the lambda function name"
**Is your feature request related to a problem? Please describe.**
The name of the lambda function is a random string.

**Describe the solution you'd like**
Can I define my own name in yml?

[2019-11-09 16:45] Enalmada commented on #229
No, I was just thinking aloud.  All that matters to me is a way to get everything immutable.

[2019-11-10 18:06] barrysteyn commented on #229
I can confirm that (for now), we can only set cache-control. Also, I believe AWS S3 has a fixed domain of headers to set (i.e. one cannot just set any headers). That being said, whatever header in that domain is to be set, it would require the AWS S3 component to be altered. Even though the changes are incredibly quick, the maintainers of the component take their time to merge (they even be active

[2019-11-10 20:29] PrimeObjects commented on #207
Not sure whether it is the same issue, I have images in /public/images folder, it works file when run locally. After deploy to AWS. I can see a public folder in my S3, However /images/file.mp4 does not work.

[2019-11-10 20:31] PrimeObjects opened #233 "photos in the public folder"
I have photos in the /public/images folder, it works fine when it runs locally. After deploying to AWS, I can see a public folder in my S3, However /images/file.mp4 does not show the photo.

Thanks lot
Gary

[2019-11-11 09:17] MrNghia123 commented on #164
Hi,
I encountered the same problem. I added the IAM user according to this https://github.com/serverless-components/aws-lambda/pull/5/files.
This is the output of serverless --debug command
serverless --debug

  DEBUG ─ Resolving the template's static variables.
  DEBUG ─ Collecting components from the template.
  DEBUG ─ Downloading any NPM components found in the template.
  DEBUG ─ Analyzing th

[2019-11-11 15:04] skycremaschinin commented on #207
opened PR #234 to solve this issue

[2019-11-11 21:09] danielcondemarin commented on #233
Duplicate of https://github.com/danielcondemarin/serverless-next.js/issues/207

[2019-11-11 21:09] #233 closed

[2019-11-12 06:34] zynkn opened #235 "Nested Dynamic Route doesn't work."
**Describe the bug**

My directory tree is

root
   - index.tsx
   - [id]
      - index.tsx
      - [uid].tsx
   - _error.tsx

**To Reproduce**
Steps to reproduce the behavior:
1. execute `sls` commend.
2. Files are generated in `/.serverless_nextjs`.
3. There's no files in `[id]` folder in `/.serverless_nextjs` even though I have `[id]/[uid].tsx`.
4. Also, I can't access `MYWEB.COM/RANDOM/ANOTHER

[2019-11-12 08:39] danielcondemarin commented on #235
@zynkn This is a genuine issue I’m working on fixing. Dynamic routes should also work without getInitialProps

[2019-11-12 15:42] jschimmoeller opened #236 "RequestEntityTooLargeException: Request must be smaller than 69905067 bytes for the CreateFunction operation"
Hey daniel,

I finally had some time to check the latest code against my large next.js project and I am get this error;

  error:
  RequestEntityTooLargeException: Request must be smaller than 69905067 bytes for the CreateFunction operation
    at Object.extractError (C:\Users\james\.serverless\components\registry\npm\serverless-next.js@1.5.0\node_modules\serverless-next.js\node_modules\aws-sdk\li

[2019-11-12 19:48] SarKurd opened #237 "[Question components] how to use access SSM secrets?"
We have a repo that use Serverless componnets, i can't find the docs to properly define environment variables outside the repo using components, i want to use SSM (or another thing) but can't find any guides.

Also a channel to ask silly question like that would be appreciated instead of using github issues :)

[2019-11-12 23:05] nodabladam commented on #236
I am slightly terrified of my Next.js app growing to the point where it exceeds the max size.  I bought [this theme](https://themeforest.net/item/one-react-nextjs-ant-design-admin-template/23250544) and rolled it out to serverless as my first test of serverless and got this same error.

Perhaps we can have a flag that enables deployment using the s3 zip method which has a higher size?
https://hack

[2019-11-13 09:05] danielcondemarin commented on #236
@jschimmoeller could you provide what is inside your `.serverless_nextjs` directory including sizes please?

[2019-11-13 13:44] jschimmoeller commented on #236
@danielcondemarin ok as you will know there are 2 directories in this folder.

api-lambda - pages/api - i have 52 items with the average size 6.9MB
![image](https://user-images.githubusercontent.com/1423536/68768645-ef1a7580-05f0-11ea-8969-aefba3386752.png)

default-lambda - pages - i have 23 items with the average size 8.2MB

![image](https://user-images.githubusercontent.com/1423536/68768834-4a4

[2019-11-13 16:07] danielcondemarin commented on #236
There is a lot of duplication across all page bundles when building using the next serverless target. There should be a way to output the common chunks across page bundles in a separate file which would greatly reduce the lambda artifact size. That would involve going deep into the webpack config that next implements for the serverless target though.
Happy to listen to any other suggestions like @

[2019-11-13 20:19] nodabladam commented on #236
Related side note...I noticed an issue open that next.js serverless doesn't enable treeshaking:
https://github.com/zeit/next.js/issues/8956

Seems strange to me given all the focus and performance improvements lately Next seems to be putting into serverless but perhaps it is true?  Would something like this have any positive effect?
https://www.npmjs.com/package/serverless-plugin-optimize

[2019-11-13 21:24] pontusab opened #238 "nextjs component inputs"
I'm trying to add inputs like `memory: 2048` but that doesn't work, is this something that is supported un any way?

[2019-11-13 22:44] pontusab commented on #238
Also, I want to whitelist `cloudfront-viewer-country` header, but if I add that to CloudFront and then redeploy it's gone again, is there a way to customize that from the component inputs too?

[2019-11-13 23:45] Jaypwee commented on #209
Any workarounds at this moment?

Being able to specify what distribution to use in serverless.yml sounds nice. I also have two different cloudfrount distributions and S3 buckets for a development environment and a production environment, and I don't see a straightforward solution for me to handle deployments to different distributions.

[2019-11-14 00:18] barrysteyn commented on #209
As @danielcondemarin mentioned, it would probably take changing the underlying component to do this. The good news is that I would guess it would be quite easy to do (components are simple that way). The bad news is that the maintainers take forever to merge their PR's

[2019-11-14 00:20] barrysteyn commented on #49
@danielcondemarin Does this apply to the new component?

[2019-11-16 19:56] PrimeObjects commented on #232
Hi Daniel,
When will we have the next version with the support of the lambda name?

Thanks
Gary

[2019-11-16 20:49] barrysteyn commented on #232
I don’t think this would be too difficult to do. How about giving us a PR 😃

On Sat, Nov 16, 2019 at 11:56 AM Gary Zhang <notifications@github.com>
wrote:

--

Barry Steyn
Blog <http://doctrina.org> LinkedIn <http://ca.linkedin.com/in/barrysteyn>
GitHub <https://github.com/barrysteyn>

[2019-11-17 21:08] #235 closed

[2019-11-17 21:59] danielcondemarin commented on #224
@SarKurd I've pushed a fix for this in v1.6.0. Do you mind testing?

[2019-11-17 22:00] danielcondemarin commented on #212
Hi folks 👋 This should now be fixed in @1.6.0. Could someone test and confirm?

[2019-11-18 08:57] pecoram commented on #212
Hi Daniel,
I confirm it is fixed! Thank you :)

[2019-11-18 09:01] #212 closed

[2019-11-18 19:13] jimmdd commented on #203
I ran into the same issue and I have the solution post on here: https://medium.com/@jimmdd/next-js9-serverless-component-set-up-for-aws-codebuild-and-cloudfront-deployment-ca6452568a01

[2019-11-19 02:44] stevewillard commented on #164
I ran into the same issue, and unfortunately I don't have a solution for how to solve it. However, I was able to workaround the issue by using a different AWS account with the exactly same configuration and permissions, and I no longer got the issue.

I wonder if it's somehow related to AWS accounts still in the free tier? The only difference between my two AWS accounts was one was a few years old

[2019-11-19 20:34] danielcondemarin commented on #224
Closing this as it should now be fixed 👷 Feel free to re-open if you find any issues.

[2019-11-19 20:34] #224 closed

[2019-11-19 22:04] cristiam86 commented on #147
Regarding this issue, I'm just deploying with serverless command and it's creating a new service each time. Is there a way to avoid that?

[2019-11-19 23:01] barrysteyn commented on #147
@cristiam86 This is a common problem. In the README, Daniel says to include the `.serverless` folder in your git repo.

On a technical note, it is because serverless components allow one to save state, however all state is saved locally. Until they make a plan to save that state somewhere in the cloud and bring it into the build process, we are forced to include the state (i.e. the .serverless fol

[2019-11-19 23:10] SarKurd commented on #224
Thanks for the fix @danielcondemarin i will not have time to test it until the weekend.

[2019-11-20 05:11] cristiam86 commented on #147
thanks @barrysteyn but I have already included the `.serverless` folder into the repo. In fact I'm the only one making changes a deploying it.

[2019-11-20 05:15] barrysteyn commented on #147
Yes, but the thing is that your state has probably changed (I’m guessing
you have added resources or just removed your current setup and then put it
up again). So do this: delete your state files (.serverless), then deploy
again and then recommit the .serverless folder

On Tue, Nov 19, 2019 at 9:11 PM Cristiam Da Silva <notifications@github.com>
wrote:

--

Barry Steyn
Blog <http://doctrina.org> L

[2019-11-20 07:19] sushi30 opened #242 "Images in public directory don't resolve"
**Describe the bug**
Images in `public` directory don't resolve properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repo
[code]
2. Install
[code]
3. deploy
[code]
4. logo.gif isn't resovled

**Expected behavior**
logo.gif should resolve

**Desktop (please complete the following information):**
 - OS: Windows
 - Version 10 Education

[2019-11-20 12:29] marcoschicote commented on #232
Hi
I'm tempted to start working on this, but need a little guidance. Would this imply adding a `name` property [here](https://github.com/danielcondemarin/serverless-next.js/blob/master/packages/serverless-nextjs-component/serverless.js#L359) and [here](https://github.com/danielcondemarin/serverless-next.js/blob/master/packages/serverless-nextjs-component/serverless.js#L392)?

[2019-11-20 13:12] danielcondemarin commented on #232
@marcoschicote Yes it would be in those 2 places.

We need to make sure these works across deployments:

`npx serverless deploy`
`npx serverless remove`
`npx serverless deploy` # using the same name

Unfortunately the lambda@edge functions are not deleted on `serverless remove`. This is because of the time it takes for the cloudfront distribution to delete etc. Considering this, we need to check i

[2019-11-20 16:05] cristiam86 commented on #147
Thank you @barrysteyn, that worked!

[2019-11-20 16:19] PrimeObjects commented on #232
@marcoschicote Appreciate the help on this improvement!

Thanks lot
Gary

[2019-11-20 17:04] mattdell opened #243 "Dynamic Route Page JavaScript returns 400"
**Describe the bug**

I have an API route using this structure
[code]

To load a news page dynamically. I use a single letter because of the 64 character name restriction.

* c is a category
* h is a headline
* a is an article id

This works locally fine, but when deployed the site doesn't load any JavaScript. When I look at the network tab I see a 400 on `[a].js`.

I see the file exists in AWS an

[2019-11-20 17:41] marcoschicote commented on #232
Not sure I follow. Are you deleting the lambdas when a new deployment is generated? O generating new content for the same lambdas and uploading it?

[2019-11-20 17:49] barrysteyn commented on #232
@marcoschicote, the cloudfront interacts with Lambda@Edge essentially means that we do not have control over when they are deleted. What happens is that cloudfront get's removed, and AWS says that sometime after CF is removed, the lambdas will get removed (normally within a few hours).

With the above in mind, the problem becomes that if you deploy with named lambdas, then subsequently remove your

[2019-11-20 17:53] barrysteyn commented on #147
Not a problem. This is a problem with the way serverless components are implemented now, however I believe that this issue will be solved kinda soon.

[2019-11-21 01:27] PrimeObjects commented on #232
@barrysteyn  and @marcoschicote, will the lambda always use the initial name during each deployment? If yes,  deleting lambda should be only worried when we delete the whole deployment right? If this is the case, IMO it is totally fine to have a named lambda and wait for it to be deleted before cleaning up anything else manually.

Thanks
Gary

[2019-11-21 01:27] PrimeObjects commented on #232
@barrysteyn  and @marcoschicote, will the lambda always use the initial name during each deployment? If yes,  deleting lambda should be only worried when we delete the whole deployment right? If this is the case, IMO it is totally fine to have a named lambda and wait for it to be deleted before cleaning up anything else manually.

Thanks
Gary

[2019-11-21 10:54] mattdell commented on #243
This was resolved in the Next package: https://github.com/zeit/next.js/pull/8435

[2019-11-21 10:54] #243 closed

[2019-11-21 17:53] nodabladam opened #246 "multiple-instance-environment error"
Running the [multiple-instance-environment example](https://github.com/danielcondemarin/serverless-next.js/tree/master/packages/serverless-nextjs-component/examples/multiple-instance-environment) is giving me this error:

[code]
I feel like I got it working a week or two ago and am coming back to it now and getting this.  Can anyone using it confirm it is still working or suggest what might be cau

[2019-11-21 18:14] barrysteyn commented on #246
The way I built the example, you don't need to use `env-cmd`. Can you reply to this with a dump of both your `serverless.yml` and `serverless.js` files?

[2019-11-21 19:08] nodabladam commented on #246
Hey,

Yes, I am just using env-cmd for unrelated nextjs-auth0 settings.  It seems like serverless is crashing before even getting into the async default function.  Thank you for your thoughts on what this might be!

serverless.yml
[code]

serverless.yml (should be identical to example with exception of some logging the dotenv)
[code]

env-stage (not referring to domain right now but here for compl

[2019-11-22 04:44] barrysteyn commented on #246
Here are a few ideas:

 1. Are you calling your env `env-stage`? If so, that's incorrect, it should be `env-staging` or `env-prod`.
 2. Delete your state (`.serverless` folder) and try redeploy again.
 3. What version of `@serverless/core` do you have? Make sure it's the latest.

Let me know.

[2019-11-23 15:54] hnprashanth commented on #236
Tried this plugin, didn't help

[2019-11-23 19:52] nodabladam commented on #246
Thanks for your thoughts on this.

env-stage was a typo in the comment above, sorry about that and fixed.
I deleted the .serverless folder and same issue.
Lock file says I am using `@serverless/core`  2.0.25.  I tried on a few other projects that deployed successfully before and they are also all failing with the same error so I think it must be some @serverless dependency issue.

[2019-11-23 20:03] nodabladam commented on #246
Update: Going down to these versions explicitly defined in the example actually makes it work:
[code]

[2019-11-24 13:28] Xocix opened #247 "Custom routes"
**Is your feature request related to a problem? Please describe.**
For SEO reasons my routes need to be in a specific language, the react components are in English so this is a problem if i cannot change them to for example Swedish. I found this older issue with similar problem but that does not work: https://github.com/danielcondemarin/serverless-next.js/issues/98, looking at the documentation we

[2019-11-24 18:02] Enalmada commented on #236
Could you guys put this in your webpack config and report how much it helps?
[code]

[2019-11-25 01:08] alexter42 commented on #164
I'm having the same issue and I am using a brand new account (free tier), maybe it is related somehow.

[2019-11-26 08:13] vishwasnavadak commented on #236
If anybody is facing this issue has opted out of Automatic Static Optimisation in `_app.js` and if your app has few pages which can be statically rendered, then try removing the `getInitialProps` from _app.js and place it in  the pages which needs the SSR. This will decrease the bundle size.

[2019-11-26 08:37] danielcondemarin commented on #236
Great advice! With the next component you can have an indefinite number of static pages as they’re stored in S3. On the other hand, SSR pages are zipped up and used in lambda@edge so the lambda artifact size limit applies there.

[2019-11-26 08:38] danielcondemarin commented on #236
Great advice! With the next component you can have an indefinite number of static pages as they’re stored in S3. On the other hand, SSR pages are zipped up and used in lambda@edge so the lambda artifact size limit applies there.

[2019-11-26 22:10] barrysteyn commented on #246
Ooooh, that's kinda bad. I will need to figure out what's going on with core. Let me ping them.

[2019-11-26 22:36] barrysteyn commented on #246
Okay, so it seems that version of @serverless/core is not stable. The core maintainers are aloof, so I don't really know what their thinking is. Worse, it seems like version 2.X has been uploading to NPM locally - I can not find any reference to it on GitHub. I am actually very worried about the serverless components project. The maintainers have just gone radio silent with no explanation. I have

[2019-11-28 15:01] mike-suggitt commented on #121
@danielcondemarin Finally got around to doing this PR! Please could you review - https://github.com/danielcondemarin/serverless-next.js/pull/248 ?

[2019-11-29 17:15] andreyvital commented on #238
I have the same questions as above.

[2019-11-29 18:09] pontusab commented on #238
I have a fork that I use, for now, I can do a PR next week

[2019-11-30 11:06] danielcondemarin commented on #242
@sushi30 You mind closing assuming your PR changes work?

[2019-11-30 11:12] danielcondemarin commented on #247
@Xocix This component uses next's public filesystem routing.
I suggest you raise the issue in next's repo, right now this is outside of the scope of this project.

[2019-11-30 11:12] #247 closed

[2019-11-30 16:07] danielcondemarin commented on #238
That would be much appreciated!

[2019-11-30 16:55] #242 closed

[2019-12-01 23:51] barrysteyn commented on #246
This issue can be closed @danielcondemarin and @nodabladam. The core maintainer of serverless components released an unstable version (2.X) by mistake. See https://github.com/serverless/components/issues/529

[2019-12-02 00:06] nodabladam commented on #246
Thanks for looking into this!

[2019-12-02 00:06] #246 closed

[2019-12-02 14:43] jschimmoeller commented on #236
thanks for the recommendation; i did try both  and each still failed.

1.  config.optimization.minimize = true;  was able to build it via next (which took a very long time 15 plus minutes) however when I ran it via "serverless" i get the following error:

`

C:\Users\james\projects\new-refiner>serverless

  error:
  Error: Command failed with exit code 1 (Unknown system error -1): node_modules/.bi

[2019-12-02 23:49] sschulze opened #250 "custom.serverless-nextjs.assetsBucketName not used in app"
Hi,
I'm using serverless with serverless-nextjs-plugin 2.4.2 and webpack. I specified an assetsBucketName in serverless.yml using the variable replacement provided by serverless. In next.config.js I didn't specified an assetPrefix because I can't use serverless variable replacement here and - looking at [getAssetsBucketName.js](https://github.com/danielcondemarin/serverless-next.js/blob/serverless

[2019-12-03 10:27] romainquellec commented on #207
Is it closed as the PR is accepted ?

[2019-12-04 00:06] yankouskia opened #251 "Custom domain does not work"
Create simple configuration for deploying nextjs application:
[code]

After running:
[code]

Always getting:
[code]

I have purchased corresponding domain in Route53:
[code]

**Versions:**
 - OS: MacOS Mojave 10.14.6
 - serverless: 1.58.0
 - serverless-next.js: 1.6.1
 - next: 9.1.4

[2019-12-04 00:18] nodabladam commented on #251
I got that same error when I didn't actually have my app.com domain purchased due to using another registrar.  When adding it to Route 53 it then worked.  I believe the format is:
[code]

[2019-12-04 03:31] yankouskia commented on #251
@nodabladam getting almost the same result...
`Domain www was not found`
Or
`Domain dev was not found`

[2019-12-04 11:10] romainquellec opened #252 "website unavailable after deploy"
I'm finally using serverless-next.js !

When I'm deploying my website, the cloudfront is "updating" and during that time, the website is unavailable. Is this normal or do I have something wrong in my config ?

PS : I'm using CircleCI for deploying and you can check everything here : https://github.com/CuistotduCoin/front

Thanks.

[2019-12-04 15:25] romainquellec commented on #252
Apparently, there is something wrong with my config.
I dont think this is coming from serverless-next.js, but since I switch, my site is on and off again randomly with DNS_PROBE_FINISHED_NXDOMAIN error.

I guess it's coming from Route53, but nothing change radically there.
I'm supposed to link my domain with the generated cloudfront, right ?
(Something like www.website.com : Alias, xxx.cloudfront.

[2019-12-04 16:36] romainquellec commented on #192
This can be really great as redirect is a pain in the ***.
Right now, I have a S3 Bucket, with a CloudFront associated, just to redirect non-www to www.

If we can automate that or if you know a better way, thats great !

[2019-12-04 16:40] romainquellec commented on #252
I think I have it :
I had a trick with non-www redirect to www (a S3 bucket with redirect + CloudFront for https) and it seems like it broke the main domain.

What should I do to redirect non-www to www with this serverless plugin ? Thanks.

[2019-12-04 19:45] cmanzur opened #253 "Manage SSL Certificates"
**Proposal**
In `serverless.yml` would be good to add the `SSL Certificate ARN` we need. (from ACM)

**Problem**
My _serverles..yml_
[code]

I have 2 certificates in ACM:
- example.com (Additional Names: *.example.com)
- stage.example.com (Additional Names: *.stage.example.com)

When I run serverless, the CloudFront Distribution automatically choose `example.com` instead of `stage.example.com`. Th

[2019-12-05 00:41] yankouskia commented on #253
Trying to resolve similar issues, @cmanzur just curious, what's the order of your actions?

1. creating/buying custom domain
2. creating hosted zone
3. creating certificate in acm
4. run sls-next component

Is that correct or you are doing smth in different way?

[2019-12-05 01:09] nodabladam commented on #253
It is unfortunate that `*.example.com` wildcard certificates wont cover subdomains like `service.stage.example.com`.  I now do all my domains only one level deep to avoid the issue like `service-stage.example.com` but it is a hack.

[2019-12-05 10:16] romainquellec opened #254 "CNAMEs & redirect"
Currently, I handle one domain, and one redirect.

My main domain is www.website.com : cloudfront, lambda, ect, handle by this plugin.
My sec record is website.com and is related to a cloudfront and a S3 bucket to redirect everything to the first one.

Currently, I think I can't just handle www.website.com with cloudfront, because it always ask for the root domain.

Am I right or did I miss someth

[2019-12-05 10:41] cmanzur commented on #253
@yankouskia Yes, my steps are exactly those.
On step 3 I created 2 certificates in ACM in _us-east-1_ to be visible to CloudFront.

My AWS infrastructure is correct, because if I deploy manually (without serverless framework) it works perfectly.

The problem is that serverless _automatically_ choose a wrong certificate from the available array in CloudFront.

Note: I also have 2 more steps to down

[2019-12-08 03:49] cinnabarhorse opened #256 "Error: "component" input is required to run custom methods"
Hi, this is probably a dumb question, but after installing this serverless component, I'm unable to run normal serverless methods like 'serverless --help' or 'serverless offline start' after installing serverless offline.

I googled the error and found no results, so I'm wondering what this error means, and what workarounds there are for running serverless commands from the CLI when serverless-nex

[2019-12-08 05:55] #256 closed

[2019-12-09 11:04] #252 closed

[2019-12-09 11:05] romainquellec commented on #254
I will ask differently:
Is it possible to handle only "www.website.com", and not care about website.com ?

[2019-12-09 22:18] #238 closed

[2019-12-10 19:19] seanliultron opened #257 "Error: Component "serverless-next.js" was not found on NPM nor could it be resolved locally."
**Describe the bug**
I followed the `Getting Started` section and installed serverless-next.js (1.7.0)
update my serveless.yml to be
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. next build (with target: serverless)
2. serverless

**Expected behavior**
should deploy to aws for me

**Screenshots**
[code]

**Desktop (please complete the following information):**
MacOS
Node 12.13.1

[2019-12-10 19:25] danielcondemarin commented on #257
Strange, 1.7.0 is clearly on NPM.

![image](https://user-images.githubusercontent.com/1122442/70561658-c3a09180-1b82-11ea-8f41-3f32b261027f.png)

[2019-12-10 20:17] seanliultron commented on #257
Yes.. i can install successfully. However, got the error when trying run serverless command.

[2019-12-11 14:55] TylerShin opened #258 "entire backend API Proxy feature"
When using serverless-next-js with Serverless Component, there isn't input for api gateway setting.

For example, when using the legacy serverless.yml, we can override current default api gateway like below example.

[code]

I know that I can handle each endpoint of API gateway inside of NextJS from v9. however, making all of the API endpoint seems to redundant and annoying.

Also NextJS official

[2019-12-11 23:28] seanliultron commented on #257
found the issue. i have internal .npmrc set up. remove the local npm registry.

[2019-12-11 23:28] #257 closed

[2019-12-14 09:52] yeuem1vannam commented on #253
I'm facing the same problem.

I'm having two ACM certs:
  - `example.com` (including `*.example.com`) in `ap-northeast-1` region
  - `next-app.example.com` (including `*.next-app.example.com`) in `us-east-1` region

When deployed with the `serverless.yml` file as below
[code]
<details>
<summary><b>I got the error</b>:</summary>

[code]

</details>

[2019-12-14 17:24] barrysteyn commented on #251
This component uses the `@serverless/aws-cloudfront` component that is assigning the domain name. This component merely forwards the input to that component. If you would to clarify how domains should be used or think there is a bug, that is the place to look.

[2019-12-14 23:38] #214 closed

[2019-12-15 23:13] barrysteyn opened #260 "Question: How to have a dynamic file served from root's domain"
We have a `sitemap.xml` file that is updated whenever our database gets an extra entry. This sitemap is generated outside this of this component. However, we want to serve it  at the domain's root (like files in public folder).

How can this be done?

[2019-12-16 15:19] sdornan commented on #49
This does seem to apply to the new component. I'm hitting the `Request must be smaller than 69905067 bytes for the UpdateFunctionCode operation` error in my project, and none of the individual pages come anywhere close to that size.

[2019-12-17 15:58] djovanoski opened #261 "API post serverless-next component return 403"
Hello

As im using serverless-next component for deploying my nextjs app and everything works good but i have few post endpoint and    They return 403 so if there are any setting for accepting the post in cloudformation?

Thanks ,

[2019-12-17 20:41] jamesdwilson commented on #9
I am interested in this as well, any idea how much work is required to make this work? How can I help?

[2019-12-18 10:02] djovanoski commented on #261
Solved but thanks in case any encounter this type of issue you can  use [https://nextjs.org/docs#api-routes](Next Documentation) and after in the server.js add

`expressApp.post('/api/yourapp', require('./pages/api/yourapi'))`

Basically in the documentation in this plugin for api post methods need to be created cloudformation setting supporting POST method  which by the plugin is done if there ar

[2019-12-18 10:02] #261 closed

[2019-12-18 18:53] mikestopcontinues commented on #207
What's the status on this?

[2019-12-19 19:47] aldrinc opened #262 "Default Path Pattern in CloudFront Does Not Compress Objects"
**Describe the bug**
When deploying using serverless components, the Cloudfront deployment does not automatically compress objects for the Default(*) path pattern.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy any application using Serverless Next.js
2. Open up AWS Console and navigate to CloudFront
3. Select your CF distribution and then select the behaviors tab
4. Select the defau

[2019-12-19 22:42] patricktyndall opened #263 "Stages? Environment?"
Cool component. However I'm stumped on how to manage stages. I'd like to have multiple scripts in my project, such `prod-deploy` and `dev-deploy` that deploy to different stages with different environment.

However, it seems that the deployment is tied to the `.serverless` dir, which only stores one config. Therefore, the only solution appears to be to dynamically write this dir at deploy time. (S

[2019-12-20 18:57] barrysteyn commented on #263
@patricktyndall There is an example that demonstrates how to manage multiple environments. It's what you are looking for.

[2019-12-22 19:35] danielcondemarin commented on #149
Closing this. Latest version of the component adds custom build inputs that should solve this issue: https://github.com/danielcondemarin/serverless-next.js#inputs

@dharmesh03 All latest functionality is in the `master` branch

[2019-12-22 19:35] #149 closed

[2019-12-22 19:37] danielcondemarin commented on #166
@shoremark I appreciate is has been a while, sorry for the late reply. Are you still running into this issue?

[2019-12-23 14:25] stefl opened #265 "Environment variables missing from deployment in 1.7.1"
I'm using this for [YearofColour.com](https://yearofcolour.com) (thanks!)

Until just now, environment variables for different stages were deploying as expected.

The 1.7.1 update went out between my last deployment and my most recent one, and all environment variables were no longer set.

Here is my serverless.js

    const { Component } = require("@serverless/core");

    class Deploy extends Co

[2019-12-23 14:59] kartikag01 commented on #190
I am also facing the same issue, as `.next` folder was not present so the error was coming on running  `serverless` command

[code]

serverless command should auto-generate `.next` folder

[2019-12-23 15:25] billzhong commented on #190
I am having the same issue after update to 1.7.1
My workaround is run `next build` before serverless deploy.

[2019-12-23 15:36] mikestopcontinues opened #266 "target: "serverless", and yet "pages-manifest not found.""
**Describe the bug**
When I try to deploy, I get this error:

However, my target is "serverless" and the manifest is created at the right location (`.next/serverless/pages-manifest.json`).

Looking a little deeper, it seems the problem is the component isn't regenerating the next build. As in, if I delete `.next/` and run `serverless`, the directory isn't recreated. However, if I run `NODE_ENV=pro

[2019-12-23 15:39] danielcondemarin commented on #266
Can you confirm you're not using `1.7.1`? There have been a few reports of this issue and I believe it was introduced on the version I've published last night.

[2019-12-23 15:52] mikestopcontinues commented on #266
I think this patch fixes the logic. And I had updated to `1.7.1`, then rolled back for debugging. I'm definitely seeing the issue on `1.7.0`. Confirmed in `node_modules` and `package-lock.json` and `which sls`.

[2019-12-23 16:04] mikestopcontinues commented on #266
Actually, I just realized the version issue is connected with the caching in `.serverless/Template.json`. But when I tried deleting that dir, I got in trouble redeploying. Blergh.

[2019-12-23 16:12] barrysteyn commented on #260
This is not an easy problem, and on further thought, it is also not something that Next (and this component in general) should be solving. How I solved is to use cloudflare edge workers that point my to different things on prod and staging.

[2019-12-23 16:12] #260 closed

[2019-12-23 16:56] kartikag01 commented on #201
In cloudfront CacheBehaviors `Compress` is true but still, the main request to the page is not gzipped.

[2019-12-23 21:38] #266 closed

[2019-12-24 03:35] zynkn opened #268 "`getInitialProps` is cached, not updated."
**Describe the bug**
I am getting some data from my DB in `getInitialProps`.
When I changed my DB data, `getInitialProps` didn't catch the changed data.

**To Reproduce**

[code]
This issue occurs in `production`.
This code is working even I changed `isPublished` to `false`.
I mean,

At the first, I set up the `isPublished` to `false`.
I entered the Web, I can see `Error Page`.

and then, I change

[2019-12-24 21:45] Enalmada commented on #201
Could would be nice to have a flag which adds a gzip function to the default response behavior...something like [this](https://www.reszelewski.com/2017/03/serving-gzipped-content-from-aws-lambda.html).

As a workaround, consider using Cloudflare as a proxy.  It does brotli, http3 and other things.  Just remember to enable full ssl encryption to avoid infinite redirects.

[2019-12-25 08:39] kartikag01 commented on #201
what if we add another header `Content-Encoding` in

https://github.com/danielcondemarin/serverless-next.js/blob/af17d7101164fae6eb24cb3ec2d51ebb890a221f/packages/serverless-nextjs-component/next-aws-cloudfront.js#L3

I think that will fix this issue @Enalmada @danielcondemarin

[2019-12-25 23:37] aldrinc commented on #207
For folks landing here wondering about why images don't show up when placed in sub folders. I found that having any assets in sub folders under /public does not work when deployed.

Unfortunately as a workaround I had to move out all my assets from sub folders like /public/images directly into /public so they could be accessed. If anyone knows a different workaround I'm all ears.

Additionally, ne

[2019-12-27 09:05] kartikag01 opened #269 "How to Reduce server response times (TTFB) ?"
**Describe the bug**
There are huge Reduce server response time (TTFB) on pages,

![image](https://user-images.githubusercontent.com/10574227/71510655-94459080-28b5-11ea-8640-6736375b3662.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://developers.google.com/speed/pagespeed/insights/
2. Run audit on-page, deployed by serverless
3. Check Opportunities section

**Expected beh

[2019-12-27 16:24] danielcondemarin commented on #207
I have tested on the latest version of the project and this should work as expected.

There is only one caveat, if you have both `static/` and `public/static` folders, only resources in `static/` will be found. I intend to completely remove support for `static/` in the next major version bump to avoid confusion.

Could folks test and feedback using the latest version?

[2019-12-27 16:35] danielcondemarin commented on #269
@kartikag01 Can you provide an example repo to replicate this? On a basic next project backed with DynamoDB I'm getting consistent 100 score with TTFB under 1sec.

[2019-12-27 16:37] danielcondemarin commented on #268
@zynkn This should be fixed in the latest version @1.7.3 of the project. You mind testing using that? The TTL before was set to 5 seconds which means you'd get cached responses from ssr pages. That's now been changed to 0 so is not cached anymore.

[2019-12-27 22:19] boxabirds commented on #185
Note that AWS is trying to address the cold-start problem with [provisioned concurrency](https://aws.amazon.com/blogs/compute/new-for-aws-lambda-predictable-start-up-times-with-provisioned-concurrency/)

[2019-12-28 21:04] himnabil commented on #263
Hi
I've setup this work around for this problem
instead of having a "serverless.yml" file you should have a "serverless,js" file and resolve the variables programmatically here is an example
[code]

[2019-12-28 22:37] danielcondemarin commented on #263
@patricktyndall like @barrysteyn said the example https://github.com/danielcondemarin/serverless-next.js/tree/master/packages/serverless-nextjs-component/examples/multiple-instance-environment should help here.

[2019-12-28 22:37] #263 closed

[2019-12-29 02:31] barrysteyn commented on #185
@boxabirds This is amazing, thanks. However, for this to work properly, I would think that the underlying lambda component would need to be updated to take advantage of this new feature. While I don't think this would be a big problem, the Serverless component maintainers don't seem to be interested (scary), and so when (or if) they eventually become serious about taking PRs, then this could happe

[2019-12-29 09:15] boxabirds commented on #185
Cheers. Looks like they added it last month https://github.com/serverless/serverless/pull/7043

[2019-12-29 18:51] barrysteyn commented on #185
@boxabirds Unfortunately, it needs to be added to [@serverless/aws-lambda](https://github.com/serverless-components/aws-lambda). This repo does not use the old version of serverless, it only uses serverless components.

[2019-12-29 21:02] barrysteyn opened #270 "Ability to configure all cloudfront inputs"
One of the features that I always need to update is the ability to configure cloudfront. Rather than making one off input configurations for each feature (e.g. forwarding certain headers), can I suggest rather allowing one to configure any cloudfront options that are available from [@serverless/aws-cloudfront](https://github.com/serverless-components/aws-cloudfront), like so:

[code]

The idea is

[2019-12-29 21:12] barrysteyn commented on #229
Hi Dan

Regarding this:

I believe that until the S3 component is updated, it will be very difficult to apply a cache setting to a regex pattern. However, why don't we allow caching for public and static (since static will be redundant soon, it can just be one option) that will apply cache options to all public/static files. Then when S3 component eventually allows merges, we can give it regex fun

[2019-12-30 09:45] kartikag01 commented on #269
Yes, for the default application it's under 1sec,
when we keep adding stuff in it, these 2 errors comes into the picture.

This is url for trending gip repo, small code, just landing page.
Demo: https://dyn4skf33ttva.cloudfront.net/
Code : https://github.com/kartikag01/serverless-next-cloudfront-lambda

Which gives insights
![image](https://user-images.githubusercontent.com/10574227/71576260-13390

[2019-12-30 11:03] wilsonpage opened #271 "Custom domains don't work w/ alternate DNS provider (ie. Cloudflare)"
**Describe the bug**

I'm attempting to use my own domain which is managed by Cloudflare. I'm able to set this up manually by:

1. Deploying the app without a `domain` in the config
2. Creating a CNAME record (in Cloudflare) pointing to the app's `xxx.cloudfront.net` endpoint
3. Creating and validating a certificate in ACM for `batch.songwhip.com`
4. Changing the Cloudfront's domain/CNAME to accep

[2019-12-30 12:41] doque commented on #232
Hi, is it possible to define *part* of the lambda function name? I understand the necessity to generate random function names, but we use Dynatrace for monitoring and that requires us to attach handlers to lambda function names. This would also be possible to do with a regex, so if we had a partial pattern to look for (e.g. `next-serverless-$random`, that would make it a bit easier for us.

Thanks

[2019-12-30 20:54] kartikag01 commented on #201
@danielcondemarin Hey, I have created PR for gzip response. https://github.com/danielcondemarin/serverless-next.js/pull/272
It's working perfectly for me.

[2019-12-30 23:13] barrysteyn commented on #271
I am using cloudflare to manage my domains, and I pretty much do what you are doing. However, if you want the domain to be automatically setup in cloudfront upon deploy, you will need to use Route53. This requirement does not come from this component, rather, it comes from the fact that this component is using another component that sets things up which insists upon this.

[2019-12-30 23:40] Enalmada commented on #271
Note that you don't actually have to change your nameservers to Route53...you just have to create a host entry there so the deploy process wont fail.

[2019-12-31 03:49] JerryGreen commented on #146
Huh. Can you elaborate on this more? What `serverless.yml` did you end up with?

[2019-12-31 05:21] JerryGreen opened #273 "Setting timeout with serverless.yml doesn't work"
**Describe the bug**

The `timeout` setting in my `serverless.yml` doesn't work. Deployed functions have their default 10 seconds.

**Steps to reproduce**

Deploy a project with one of the following configs:

[code]

[code]

**Expected behavior**
My `timeout` setting to be equal 1 minute 30 seconds.

**Screenshots**
Btw, `memory` input works, but `timeout` doesn't:

<img width="628" alt="image" sr

[2019-12-31 10:10] wilsonpage commented on #271
@Enalmada interesting! Would you be able to offer a little more detail here?

[2019-12-31 10:12] wilsonpage commented on #271
@barrysteyn thanks, glad I'm not the only one in this boat! It seems once the domains are manually wired up preferences stick, so it's probably just a one time config job for new projects. Either way, it's nice to have 'config as code' wherever possible.

[2019-12-31 11:36] AaronMoat opened #274 "Forwarding cookies & query parameters results in CloudFront misses"
I've been noting a lot of cache misses from CloudFront. It seems it's due to forwarding all cookies & query parameters, even when there's no lambda involved (e.g. _next/* static html pages). From the code, it looks like this is hardcoded. Is this on purpose / is there a rationale about forwarding cookies for static pages?

**Describe the solution you'd like**
Configure cookies/query parameters to

[2019-12-31 11:37] AaronMoat commented on #270
This would potentially solve #274 too

[2020-01-01 00:02] Enalmada commented on #271
@wilsonpage If you try and setup a serverless-next without any domain set, you will get a response like this:
[code]
Add the appUrl as a cname in your CloudFlare.  Then create a hosted zone in route53 for your domain.  You don't actually need to purchase a domain in route53 to created a hosted zone.  After that, you should be able to get serverless-next working.

[2020-01-01 20:48] danielcondemarin commented on #270
@barrysteyn This sounds great 🔥Feel free to PR and I'll review.

[2020-01-02 13:45] kartikag01 commented on #269
The problem was with `Forward Cookies` in CloudFront config, setting it to None solved TTFB.

[2020-01-02 13:45] #269 closed

[2020-01-02 19:56] barrysteyn commented on #269
@kartikag01 To note that by not forwarding the cookie, CloudFront is just better able to cache things. It is not so much as the setup is now magically working better, instead, the cache is now working better. However, you lose on the fact that two different with different cookies may get the same identical things served to them. If you are not using cookies, then okay. However, @danielcondemarin s

[2020-01-03 01:01] zynkn commented on #268
@danielcondemarin This issue still presents. I've edited my data in DB but it doesn't update them.

[2020-01-03 01:59] #268 closed

[2020-01-03 01:59] zynkn commented on #268
It works.

[2020-01-04 15:30] danielcondemarin commented on #185
Closing this, for cold starts support for provisioned concurrency will be added as per https://aws.amazon.com/about-aws/whats-new/2019/12/aws-lambda-announces-provisioned-concurrency/. I'll raise a separate issue for that.

[2020-01-04 15:30] #185 closed

[2020-01-04 18:36] #181 closed

[2020-01-04 18:36] #273 closed

[2020-01-04 23:01] danielcondemarin commented on #274
@AaronMoat `_next/*` requests should be returned from cache (set to 86400 seconds). e.g.

![image](https://user-images.githubusercontent.com/1122442/71771622-2a248f80-2f36-11ea-8aa2-e95c5cdedba2.png)

![image](https://user-images.githubusercontent.com/1122442/71771647-8f788080-2f36-11ea-9c59-e17e13d85df6.png)

---
It is true however that cookies are being forwarded for `_next/*` which it probably

[2020-01-04 23:06] danielcondemarin commented on #253
This sounds like something that could potentially be fixed in https://github.com/serverless-components/domain? cc. @eahefnawy
Note this is what manages the domains behind the scenes and not the next component itself.

[2020-01-04 23:08] danielcondemarin commented on #265
@stefl For environment variables use `build.env` as per https://github.com/danielcondemarin/serverless-next.js#inputs

[2020-01-04 23:08] #265 closed

[2020-01-04 23:18] danielcondemarin commented on #271
@barrysteyn is right. @wilsonpage Please raise a feature request in https://github.com/serverless-components/domain as this is what actually manages the domain and cloudfront association behind the scenes.
I'll keep this issue open anyway as there may be some work to do after the domain component adds support for this.

[2020-01-04 23:29] danielcondemarin commented on #258
I believe this could be a feature made available via @barrysteyn 's proposal in https://github.com/danielcondemarin/serverless-next.js/issues/270.

I'm thinking of something like:

[code]

This allows for greater flexibility in the CloudFront distribution provisioned by the component.

[2020-01-05 00:45] danielcondemarin commented on #237
@SarKurd You could use a solution similar to the what the DynamoDB example does. i.e. talking to SSM in getInitialProps to read your secret variables. See the example how to do that here: https://github.com/danielcondemarin/serverless-next.js/blob/master/packages/serverless-nextjs-component/examples/dynamodb-crud/pages/todos/list.js#L26.

PS: For environment variables you could also use `build.env

[2020-01-05 00:45] #237 closed

[2020-01-05 00:48] danielcondemarin commented on #218
This is now possible via `build.env`. See https://github.com/danielcondemarin/serverless-next.js#inputs

[2020-01-05 00:48] #218 closed

[2020-01-06 02:37] AaronMoat commented on #274
Yeah, that makes sense. I was specifically talking about static pages - I was getting cloudfront misses constantly, on all assets, and then I turned off cookie/header forwarding manually and got cloudfront hits.

[2020-01-06 05:12] TylorShin commented on #258
awesome

[2020-01-06 05:36] adamthewan commented on #256
@cinnabarhorse how did you manage to solve it?

[2020-01-06 14:50] cinnabarhorse commented on #256
I ended up separating the serverless.yml file used for the serverless component from the serverless.yml used for other things like cloud functions.

So I have an app folder with a serverless.yml with serverless-nextjs, and a functions folder with a serverless.yml with the schema for cloud functions.

[2020-01-06 14:50] cinnabarhorse commented on #256
@adamthewan

I ended up separating the serverless.yml file used for the serverless component from the serverless.yml used for other things like cloud functions.

So I have an app folder with a serverless.yml with serverless-nextjs, and a functions folder with a serverless.yml with the schema for cloud functions.

[2020-01-06 16:28] Mytrill opened #276 "Question: Error while deploying after deleting in AWS"
I am having an issue with deployment which I don't really know how to solve.

Here are the steps:
- I successfully deployed my nextjs app to AWS using this project
- I then had some issues and had to delete my Cloudfront distribution in the AWS console (I should have `serverless remove`, lesson learned the hard way...).

Now I can no longer deploy, here are the ways I tried:
- run `serverless`: er

[2020-01-06 16:31] danielcondemarin commented on #276
@Mytrill Try deleting the CloudFront access identity manually ... https://stackoverflow.com/questions/34546835/how-to-delete-an-aws-cloudfront-origin-access-identity. That may help

[2020-01-06 16:38] Mytrill commented on #276
It worked! Thank you very much!
If I had know it was that easy I would have asked 5 hours ago...

[2020-01-06 16:38] #276 closed

[2020-01-06 18:40] Ziltosh opened #277 "Handle future getStaticProps / getStaticPaths / getServerProps features of Next JS"
Hello,

I would like to use the future combo: getStaticProps / getStaticPaths / getServerProps for SSG/SSR generation (see here: https://github.com/zeit/next.js/issues/9524 )

Currently, the functions don't seem to work properly on serverless-next.

On Zeit Now, it's ok, all the pages are generated at build time, everything is saved in .next/serverless/pages when run locally with next build and on

[2020-01-07 09:37] doque opened #278 "Usage of environment variables inside of serverless.yml"
**Is your feature request related to a problem? Please describe.**
Using the "classic" serverless.yml with the serverless framework, I'm able to [define and use environment variables](https://serverless.com/framework/docs/providers/aws/guide/variables/#referencing-environment-variables), e.g. setting different URLs in a deployment pipeline:

[code]
However, this yields a yml parsing error when run

[2020-01-07 11:14] #113 closed

[2020-01-07 16:40] danielcondemarin commented on #278
When using serverless-components use dot notation to access the env variables, e.g. `${env.URL}`. Docs: https://github.com/serverless/components#environment-variables

[2020-01-07 16:40] #278 closed

[2020-01-08 13:39] diegopamio commented on #225
@billzhong were you able to use `github actions` ? and so how? I've tried using standard serverless action but as I expected it didn't work (doesn't find next binary)

[2020-01-08 13:42] billzhong commented on #225
Yes. I use GitHub actions and it works for me. If it doesn't work for you, what is the `log`?

[2020-01-08 13:48] diegopamio commented on #225
This is my `main.yml`:

[code]

And this is what I get:
[code]

it's like the deploy can't find the next binary after npm install (btw, next it is included in `package.json`). I'm using next 9.1

[2020-01-08 13:52] billzhong commented on #225
@diegopamio try `npx serverless deploy`

[2020-01-08 14:01] diegopamio commented on #225
@billzhong if you meant:

[code]

Then I got `Error: "component" input is required to run custom methods. `

[2020-01-08 14:19] diegopamio commented on #225
I've now tried with just `npx serverless` (as per Serverless-next doc) and I've got the same `next binary not found` issue.

[2020-01-08 14:24] billzhong commented on #225
Here is my yaml deploy section:
[code]
I hope this helps.

[2020-01-08 14:30] diegopamio commented on #225
It worked! Thanks! now I have a different issue but surely will be easier to work with (InvalidRequest: S3 Transfer Acceleration is not configured on this bucket)

[2020-01-08 16:10] MrNghia123 commented on #164
Hi @alexter42 .
I assume that the 100 coupon is how you credit your account? How did you get the 100 coupon?

[2020-01-08 18:24] allezallez99 commented on #209
We've just moved to next 9 and this project worked like a charm!
The downside is that it's creating each day a new Cloudfront dist. We've tried @kartikag01 workaround and works well, even with domains and subdomains in yaml file.

Is it possible to set the lambda@edge origin-request aswell?

[2020-01-09 12:35] diegopamio commented on #203
For me, the solution was just to use `--no-aws-s3-accelerate` param when calling serverless

[2020-01-11 20:12] ryanmalesic commented on #138
Bumping this thread.

[2020-01-11 20:32] ryanmalesic opened #279 "Add Aws_iam authorizers"
Note: this may already exist and I just don’t understand ;)

I need to have an iam authorizer because I only want signed in Cognito users to access the api

There should be an option for iam as the authorizer

Not using this component is an alternative

[2020-01-13 18:36] eruby94 commented on #232
I agree with @doque

I came here to suggest using some sort of hash/UUID appended to the custom function name (similar to how next's own build IDs are generated). Subsequently, have the generated UUID could be output in some fashion so that dependent services may update themselves as needed with each newly named deployment.

[2020-01-14 05:23] richardwillars commented on #201
^^ was just about to weigh in on how gzipping works across lambdas and cloudfront, but danielcondemarin's implementation is correct. Hope this gets merged asap!

[2020-01-16 12:55] OisinOKeeffe commented on #254
HI, I am using this plugin for various www domains. If the subdomain is configured as "www" it handles the non "www" route as an alias on the cloudfront and creates the corresponding route53 entries. i.e. subdomain = "www" domain = "example.com" both www.example.com and example.com requests are handled correctly

[2020-01-16 13:25] romainquellec commented on #254
Exacly, but not option to handle one or another.

[2020-01-16 20:06] cameron-martin commented on #214
Regarding the build input, the README says:

However, how do I generate the `.serverless_nextjs` folder?

[2020-01-16 21:03] cameron-martin commented on #214
It seems that I should be able to invoke the [`build` method of the component](https://github.com/danielcondemarin/serverless-next.js/blob/476e52987d0a8c67920be77487042d12fdd12124/packages/serverless-nextjs-component/serverless.js#L24) using `serverless build`, according to the [components documentation](https://github.com/serverless/components#building-components):

[code]

However, this gives th

[2020-01-16 21:06] cameron-martin commented on #214
Right, it just requires a `component` cli flag, as explained [here](https://github.com/serverless/components/issues/522).

[2020-01-16 21:29] cameron-martin opened #280 "What permissions are required to deploy?"
When I deploy using this component, I get an access denied error from AWS. This was expected because I'm running it as a user with very restrictive permissions. Do you have any information regarding what permissions are required?

These are the permissions that I've determined are necessary so far:

[code]

However, then I come across the following error:

[code]

Because this is an auto-generated

[2020-01-17 00:38] cameron-martin commented on #280
The best that I could do was the following:

[code]

Being able to specify names for the stuff that's currently auto-generated would help, although some of the iam permissions might be quite powerful still even if the role has a fixed name.

[2020-01-17 13:48] austinwalter opened #281 "Navigating to /_document returns a 503 error"
**Describe the bug**
So once my app is deployed, if I navigate to `example.com/_document` AWS returns a "503 request could not be satisfied" error instead of my app. I had expected it to return my 404 page. Not sure if I mis-configured something or if this is happening for other people.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to example.com/_document
2. Returns an AWS default 503

[2020-01-18 04:32] stan-sack commented on #270
+1 this would be a great feature. I'm having the same issue with user-agent headers and would also like to disable caching for some code paths which such as /user-profile because if the page is rendered on the server then currently it will be cached and shown to other users.

[2020-01-18 05:48] stan-sack commented on #270
I just did it myself: https://github.com/danielcondemarin/serverless-next.js/pull/282. Confirmed it works on my own deployment.

@danielcondemarin let me know what you think and i'll add some tests and update the docs.

[2020-01-20 12:43] stan-sack commented on #270
I've added tests and documentation. It looks like your remark markdown linter is broken. I dont think the issue its failing me for is valid

[2020-01-21 14:40] diegopamio opened #284 "How to integrate sentry"
**Is your feature request related to a problem? Please describe.**
After revamping the plugin, all the `customHandler` documentation went away, how would be the process now to implement a sentry integration?

**Describe the solution you'd like**
Probably an entry on the next.config.js?

**Describe alternatives you've considered**
None so far.

**Additional context**
I'm not so pro on developing ne

[2020-01-21 16:17] a2chan commented on #280
I have Administrator access but still getting an Access Denied error.

[2020-01-21 19:00] SnowSea-Dream commented on #201
Any updates?

[2020-01-22 12:02] a2chan commented on #164
I'm having the same issue even with the root access keys. It worked just fine for a newly created account. Any idea on what's causing this? I can't really change my production account.

[2020-01-23 21:44] karlFrascari2 commented on #225
Hey Diego, I am facing the exactly same issue, some time when deploying there is an issue "InvalidRequest: S3 Transfer Acceleration is not configured on this bucket)".

Did you manage to solve it? Thanks!

[2020-01-25 01:31] nodabladam commented on #277
I too just built a static marketing site and was sad to find getStaticProps / getStaticPaths not loading quickly.  When you do a Next.js static build, it creates an ./out directory.  Should we be passing that to serverless somehow?

[2020-01-25 11:00] danielcondemarin commented on #201
I wanted to give an update on this issue as folks may be wondering why I've not merged https://github.com/danielcondemarin/serverless-next.js/pull/272 yet.

I think merging https://github.com/danielcondemarin/serverless-next.js/pull/272 as the project currently stands may be a bad idea. Let me explain why:

1 - Gzip comes with a cost, is not all performance gain as some folks may think. More speci

[2020-01-25 15:24] eko commented on #280
Hi,

I got the same issue, it looks like it breaks when trying to set up acceleration on bucket:

[code]

I tried with an administrator account ans also tried with a new IAM user account with the following permissions but still have this issue:

[code]

If anyone got it working, some clues would really be appreciated :)

Thanks!

[2020-01-28 15:54] samstr opened #285 "gitignore .serverless/ and .serverless_nextjs/"
Is it good practice to add `.serverless/` and `.serverless_nextjs/` to .gitignore?

My repo is getting cluttered with templates and and output function code that I'd rather keep out.

I've tried adding `.serverless_nextjs/` to gitignore and this seems fine. The dir gets recreated on build and the deploy works.
However, ignoring `.serverless/` files seem to cause my app to deploy to a brand new aws

[2020-01-29 02:58] wzalazar commented on #199
@jepperip do you find a solution for that?

[2020-01-29 15:57] tiotdev opened #286 "Support for catch all routes"
**Is your feature request related to a problem? Please describe.**
Next.js supports catch all routes routing (https://nextjs.org/docs/routing/dynamic-routes#catch-all-routes). This is not supported yet, instead I receive a 404.

**Describe the solution you'd like**
Support for catch all dynamic routes

[2020-01-29 21:50] claygorman commented on #285
I think https://github.com/danielcondemarin/serverless-next.js/tree/master/packages/serverless-nextjs-component#cicd-a-new-cloudfront-distribution-is-created-on-every-ci-build-i-wasnt-expecting-that should answer your question

[2020-01-29 21:58] danielcondemarin commented on #285
@claygorman is right, the FAQ has the answer 🙂

[2020-01-29 21:58] #285 closed

[2020-01-29 22:13] claygorman commented on #251
Few things I ran into was making sure the `[default]` AWS credentials in `~/.aws/credentials` were the account I wanted to deploy with. I don't believe any of the flags like `--aws-profile` work in the new components style yml (correct me if I'm wrong).

I also just ended up making a public hosted zone and a private hosted zone in route53. I don't think you need both public and private but I ended

[2020-01-29 22:36] samstr commented on #285
Cheers!

[2020-01-29 23:49] Deadleg opened #287 "Cannot set multiple `set-cookie` headers"
**Describe the bug**
When setting multiple headers on the response object `res` the result is concatenated e.g.

[code]

Will produce the following header being produced:

[code]

**To Reproduce**
As per above.

**Expected behavior**
One header per value in the array. This has been testing on both localhost and zeit now which both work correctly.

**Screenshots**
N/A

**Desktop (please complete th

[2020-01-30 07:24] a2chan commented on #280
I think the issue lies with AWS. I tried to manually enable Transfer Acceleration on my buckets, using the console, but it still errored with Access Denied.

[2020-01-30 13:45] wzalazar opened #288 "CNAMEAlreadyExists"
**Describe the bug**

When the CI deploying the app I'm receiving this issue

<img width="1250" alt="Screen Shot 2020-01-30 at 10 35 58" src="https://user-images.githubusercontent.com/5795257/73454184-515f5880-434c-11ea-920b-f3ac59c965e6.png">

**To Reproduce**

actually I don't know how to reproduce

**Expected behavior**

Deploy the app

[2020-01-30 17:18] chrsgrrtt opened #289 "`Invalid credentials or this AWS S3 bucket name may already be taken` error when trying to deploy"
**Describe the bug**
We first hit this issue today, when trying to deploy an update to a project. The project was last deployed (successfully) about 2 days ago. Nothing had changed in terms of serverless or nextjs configuration, and the build step is successful. I tried doing a clean clone of the repository and running it cleanly, and I also tried removing the `bucketName` configuration to allow f

[2020-01-30 17:36] chrsgrrtt commented on #289
One other thing to note, I created a new, clean IAM role and have it full admin permissions, but according to the AWS console it's not being used:

![image](https://user-images.githubusercontent.com/147223/73474727-d8c9bd80-4386-11ea-9ece-ca2d9fd43fb1.png)

I checked `process.env` and the and the credentials are correct.

I also removed the old S3 bucket, and tried using different names, etc. Desp

[2020-01-30 20:26] gamribeiro commented on #288
Are you committing your application state in source control? That is the files under the .serverless directory. If don’t, Ci will create a new Cloudfront in every build.

[2020-01-30 23:46] wzalazar commented on #288
@gamribeiro sorry, Should I commit this folder? I didn't find any information in the documentation about how we have to work with the CI tools.

I'm using other serverless components and it doesn't need to commit anything related to the serverless.

[2020-01-31 10:33] chrsgrrtt commented on #289
Bizarrely; this issue has "gone away" this morning - nothing was touched/changed overnight. Based on some of the contents of this discussion https://github.com/serverless-components/website/issues/16 - I suspect it could have been an intermittent AWS issue.

[2020-01-31 16:35] gamribeiro commented on #288
In the documentation they tell us:

**CI/CD] A new CloudFront distribution is created on every CI build. I wasn't expecting that:**
You need to commit your application state in source control. That is the files under the .serverless directory. The serverless team is currently working on remote state storage so this won't be necessary in the future.

.serverless directory is where they keep it your

[2020-01-31 21:39] wzalazar commented on #288
@gamribeiro thanks, well I tried some stuff yesterday and I had an issue creating the same app with different subdomains keeping the .serveless folder. Is this an expected behavior?

For the hand I will try your advice, but I think before I have to remove all resources inside in AWS.

I will leave comments later.

[2020-02-01 03:53] barrysteyn commented on #270
Hi, I am going to give this one a crack over the weekend. I do note that #282 is doing something similar, but it's not 100% what I had in mind.

[2020-02-02 15:13] antoinemaz opened #291 "{"message": "Internal server error"} after deploying nextjs app"
Hello,

i've an error when i deploy on AWS. For a "page" lambda function, we see this in the handler code :

const userHandler = require('./sls-next-build/account/register.html.js')

but this file doesn't exist (in the lambda function), when i look the "sls-next-build" folder, in the sub directory "account", i just see these 2 files (for my "register" page)

- register.html
- register.html.origina

[2020-02-02 15:23] #291 closed

[2020-02-03 15:29] chrsgrrtt commented on #289
This issue has come back - is anyone else experiencing it?

[2020-02-03 19:59] SarKurd opened #292 "[feature request] allow us to extend lambda roles"
Allow us to add roles to the lambdas since most organisation aws accounts has a very limited access

-----
Original issue:
I need to give it access to read secretsManager, i could only do it manually in AWS console, is there a way to do it in serverless yml or js file?

i need something like this
[code]

I even tried to create a policy and added it to serverless.yml but still doesn't work

[code]

[2020-02-04 21:31] #232 closed

[2020-02-05 21:02] saadtazi commented on #55
The following settings worked for us, as stated in the documentation:
[code]
I think you're not supposed to have a `provider` root section in the yaml file.

[2020-02-06 05:40] lxgzmy opened #296 "Could you still support deploy nextjs 9 using lambda not lambda edge?"
for some technology constrains, we still want to use lambda to render the nextjs apps, but not lambda edge, but the plugin move complete to component way to deploy nextjs 9 and only apply to lambda edge, is there a way we can deploy the app like nextjs8 by using plugin and we can employ the frontend library nextjs 9?

[2020-02-06 17:21] Linux249 commented on #286
Also just run in this issue - here is a detailed description of the new next.js-feature: https://nextjs.org/blog/next-9-2#catch-all-dynamic-routes

[2020-02-06 20:30] SarKurd commented on #292
Finally managed to get it work to deploy, now i have to work on the removing so you can run `sls remove`

@danielcondemarin could you please confirm if it's a good way to do it?

### serverless.js
[code]

serverless.yml

[code]

[2020-02-07 05:58] bave8672 commented on #225
I got this error on the very first deploy run, so I tried the same command again and the error went away. 🤷‍♀

[2020-02-07 22:34] danielcondemarin commented on #207
Closing this as it should be working as expected

[2020-02-07 22:34] #207 closed

[2020-02-11 16:09] skycremaschinin commented on #270
hi,
i need this feature for enable http request and ipv6 disabling. When this pr would be merged?

[2020-02-11 17:02] danielcondemarin commented on #270
Sorry I forgot to close the issue. This has been merged already https://github.com/danielcondemarin/serverless-next.js/blob/master/packages/serverless-nextjs-component/README.md#custom-cloudfront-configuration

[2020-02-11 17:02] #270 closed

[2020-02-14 13:37] skycremaschinin opened #297 "Cloudfront configuration for custom lambda @ edge"
**Describe the bug**
i need to link a custom lambda @ edge to viewer-request event

**To Reproduce**
add following section (according to aws-cloudfront component) in serverless.yml
defaults:
      lambda@edge: # added to cloudfront default cache behavior
        viewer-request: arn:aws:lambda:us-east-1:123:function:myFunc:version

**Expected behavior**
Lambda @ edge is attached  to default behavio

[2020-02-14 23:43] SarKurd commented on #296
Too bad `serverless-nextjs-plugin` is no longer maintained, components is too immature and not well maintained, Serverless team don't give enough support to it.

I'd stay with `serverless-nextjs-plugin` if it had support for Next9

I hope @danielcondemarin add support for Next9

[2020-02-16 21:15] danielcondemarin commented on #297
@skycremaschinin May I ask why do you need to hook up to `viewer-request`?

[2020-02-16 21:19] danielcondemarin commented on #296
I am considering adding support for AWS CDK as an alternative to folks that don't use the Serverless Framework or Components. However, I'd like to keep the architecture the same using Lambda@Edge etc. @lxgzmy Can you elaborate why you'd prefer not using Lambda@Edge?

[2020-02-16 21:29] danielcondemarin commented on #286
Hi folks, just published @1.9.1 with support for this 🙌

[2020-02-17 09:17] skycremaschinin commented on #297
@danielcondemarin it could be useful in many cases: for example, to redirect users to login page checking a session cookie, or some url rewrite.

Anyway, for the default behavior the origin request is hooked by routing lambda, so if i need to do something on request-side the viewer request is the only way.

[2020-02-17 12:11] danielcondemarin commented on #297
I see what you mean now. Is something that potentially could be supported by https://github.com/danielcondemarin/serverless-next.js/pull/282

[2020-02-17 14:20] skycremaschinin commented on #297
fine, with those feats your component would be customizable enough to be used in production envs.
hope #282 would be merged soon! thank you

[2020-02-17 15:28] pbrandone commented on #253
@cmanzur were you able to fix this?

[2020-02-17 16:26] paleite commented on #286
Looks really great, but I can't seem to get it to work for API-routes: https://nextjs.org/docs/api-routes/dynamic-api-routes#catch-all-api-routes

My file is `pages/api/[...path].js` locally, but it's missing in the API-lambda. Other API-paths still work though.

[2020-02-17 20:48] cmanzur commented on #253
Yes, I solved it but it's a workaround until someone fix the real problem. :)

What I did is deploy with serverless and then run a script that modifies the CF distribution.

**ONE-TIME PROCESS:**  This process is manual but it's just one time to create you desired CF Distribution Configuration.
1- Deploy NextJS with serverless: `serverless`
2- Go to AWS Web Console -> CloudFront and **manually** m

[2020-02-17 21:03] pbrandone commented on #253
@cmanzur thanks for the reply :)

I was actually able to fix this by creating a new hosted zone in Route 53 for the subdomain (should've done this a long time ago! it's much cleaner now)

1. Create a new hosted zone (e.g.: app.domain.com)
2. Copy NS from this new hosted zone
3. Go over to your original hosted zone (e.g.: domain.com)
4. Create a new NS record for app.domain.com and paste the value

[2020-02-17 21:14] danielcondemarin commented on #286
There seems to be a problem with file names like `[...whatever]` not getting uploaded to AWS Lambda. I can definitely see the built file by the component, e.g. `.serverless_nextjs/api-lambda/[...path].js` but for reasons unknown to me it doesn't get uploaded to the Lambda. Maybe is an issue in https://github.com/serverless-components/aws-lambda/ which is actually what handles the zipping of the ar

[2020-02-18 09:15] paleite commented on #286
@danielcondemarin Thank you so much! I appreciate that 😊

Let me know if I can help somehow? I have no experience with serverless, but maybe I can help anyways?

Without any insight into the inner workings of the `aws-lambda`-component, I would guess that there's some path resolution algorithm that's trying to resolve the path and failing at that. E.g. trying to resolve `/api/[...path].js` by doin

[2020-02-18 10:25] paleite commented on #286
Thanks to your hint I found the cause of the issue. I created a PR for it with the aws-lambda-crew: https://github.com/serverless-components/aws-lambda/pull/26

[2020-02-18 13:17] omjokine commented on #203
I'm having almost the same issue, but in my case like 50% of builds are working correctly and the another half fails. It just randomly crashes when uploading public directory to S3.

[code]

Sometimes the deployment works like a charm:
[code]

I don't know what would be the issue here, maybe some async issue, acceleration is done asynchronous and some server somewhere is still out of date when try

[2020-02-18 15:30] sambP commented on #225
@bave8672 thanks, this works for my, but only locally. If I'am using the github actions, like posted above, sls creates a new s3 bucket on every deployment and fails after that with `S3 Transfer Acceleration is not configured on this bucket`.

What could I done wrong?

[2020-02-18 19:48] epicfaace opened #299 "Can't deploy -- check if "next.config.js" target is set to "serverless""
However, "next.config.js" target _is_ set to "serverless". Sounds kind of like #266 . Here's the repo: https://github.com/TheStanfordDaily/stanforddaily
[code]

[2020-02-19 17:39] lucas-varela opened #300 "Lambda@edge functions aren't removed on 'sls remove'"
Is there a specific reason why lambda@edge functions are not deleted when using `sls remove`?

The remove method [doesn't load @serverles/aws-lambda](https://github.com/danielcondemarin/serverless-next.js/blob/e8b8b7e8b29867199932e5d133d1531148533cbd/packages/serverless-nextjs-component/serverless.js#L512), and the functions sit there wasting space if not manually removed.

I suspect that these fu

[2020-02-19 17:59] danielcondemarin commented on #300
That's absolutely right, as of today is not viable to delete the edge functions because it takes too long, from the [docs](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/lambda-edge-delete-replicas.html):

I will happily take that PR to warn users 🙌

[2020-02-20 02:08] lucas-varela commented on #300
Thanks for the explanation and the future PR 😃

[2020-02-20 22:13] Podders opened #301 "Setting build.enabled: false stops packaging of custom builds"
**Describe the bug**
When using a none standard build and setting `build.enabled = false` via serverless.yml, the component does not package the custom build ready for deployment and instead attempts to deploy the contents of `.serverless_nextjs`

**To Reproduce**
Steps to reproduce the behavior:
1. Set the build settings in serverless.yml file
[code]
2. execute a custom next build in terminal
[co

[2020-02-22 10:47] danielcondemarin commented on #299
@epicfaace Can you run

[code]
and the paste the output here, thanks.

[2020-02-22 12:59] #287 closed

[2020-02-23 19:09] epicfaace commented on #299
I believe I got this to work now -- don't remember how I came to this issue earlier. Will reopen if I encounter the issue again!

[2020-02-23 19:09] #299 closed

[2020-02-23 19:25] epicfaace opened #304 "How do I use dev and prod instances without using the `domain` attribute?"
I can't use the `domain` attribute as in [your example](https://github.com/danielcondemarin/serverless-next.js/tree/3abd959387e47ab6f0e04b13b4ee644c50d51694/packages/serverless-nextjs-component/examples/multiple-instance-environment) because my domain name is not managed by Route 53.

However, I would like to still deploy a dev and a prod version of the cloudfront distribution, s3 bucket, etc. I a

[2020-02-24 01:32] barrysteyn commented on #304
Hi @epicfaace - I made that example for @danielcondemarin. I don't understand your question: The example uses domains to illustrate how to set variables that correspond to a stage. You don't need use domain, you can use whatever you want. Please look at the code and dive into the example to see what I am doing.

[2020-02-25 06:51] keisukekomeda commented on #207
I think the case "1" shown below is the only acceptable code.
I am wondering whether all the request for static image assets kick the lambda@Edge, or cloud front cache allows us to get image file without kick lambda@Edge?

1. Put image files in public dir, and jsx is like ```<img src="image.png">```.
In this case, both local environment and deployed environment work.

2. Put image files in public/

[2020-02-25 11:20] gbwashleybrown commented on #184
Oh no... is there still no way to do this? I used NextJS and this component to handle a simple contact form but I'd like to not leak the email address the form sends the submission to.... Anyway to handle this? If not then this has practically killed my app with this dead in the water :(

[2020-02-25 11:37] gbwashleybrown commented on #296
@danielcondemarin  One reason not to use Lambda@Edge is the [lack of environment variables](https://github.com/danielcondemarin/serverless-next.js/issues/184#issuecomment-539188457)

[2020-02-25 11:40] danielcondemarin commented on #184
@gbwashleybrown Did you have a look at `build.env` ? https://github.com/danielcondemarin/serverless-next.js#inputs
It uses next's build time env variables as documented in https://nextjs.org/docs/api-reference/next.config.js/environment-variables

[2020-02-25 11:43] gbwashleybrown commented on #184
@danielcondemarin According to the conversation further up this post, doing that will leak values into the client? So I would prefer not to do that....

[2020-02-25 14:54] Podders commented on #301
@danielcondemarin are you happy to accept a PR for this? or any thoughts/suggestions?

[2020-02-25 15:15] Podders commented on #184
@gbwashleybrown The safest way to do this is to create a handler in a `/api` route then POST/GET to that handler to loop your array etc, `/api` routes are not exposed to the client as they are a simple request/response and always run on the server side, you may find using this that you don't need process.env vars at all,

Take a look at https://nextjs.org/docs/api-routes/introduction

And also a r

[2020-02-25 15:33] gbwashleybrown commented on #184
@Podders Thank you.

I think I may have misunderstood how Next is bundled.

The email array and sendmail method is within `/api/sendmail.js` and I was under the impression that `/api/*` is exposed to the client.

For as long as server-side functions (`/api/*`) files aren't exposed then I should be ok.  :)

[2020-02-26 21:34] derekacosta commented on #296
Adding to that ^^^ domain support for domains not registered through route 53 is a pain as well though that is a serverless components issue

[2020-02-27 16:12] mizzb commented on #299
I am facing the same issue.

[2020-02-28 06:58] wis commented on #251
thanks for this info @barrysteyn
technically, according to what I've read online, you can use your domain registrar with S3 (using CNAMEs) but can you use cloudfront (not the component or this component necessarily) without transfering your domain to aws? I'd like to keep my domain and dns with Cloudflare to use Cloudflare  only features (+ DDOS protection).

[2020-02-28 13:52] OTATA opened #306 "There is a way to get CloudFront ID?"
There is a way to get Cloud Front dist id? I need to create invalidates for each deploy and the serverless-cloudfront-invalidate needs the distributionId, is it possible?

[2020-02-28 18:38] SarKurd opened #307 "Minimum required files need to be pushed to version control to preserve the app state?"
I don't really want to push everything to version control as we have a pipeline to deploy to test environment on every push to master and on `tag` to prod and it will make the pipeline messy dealing with pushing everything back to version control after deployment and people may forget to push the state to version control if they deploy locally

What are the minimum required files in `.severless` f

[2020-02-28 19:21] barrysteyn commented on #307
`.serverless` is where state is stored. You can't really pick and choose. At least, if you do, you are opening yourself up to a lot of hassles and troubles.

[2020-02-28 19:25] barrysteyn commented on #251
Hi, I use Cloudflare as well. There is no need to use AWS for domains. Go into your cloudfront config, and you will see the cloudfront domain. All you then need to do is create a domain/certificate manually within AWS (this is not using Route53 - it's super quick and easy) and associate that domain with the CF domain. Then go to Cloudflare and create a record to points to the CF domain.

[2020-02-28 20:17] SarKurd commented on #307
How does the serverless-next.js checks if the Cloudfront distribution exists? isn't `_.json` the file?

[2020-02-29 11:24] me4502 commented on #296
I definitely agree that at least providing an alternative to Serverless Components (even if it sticks with Lambda@Edge, which is probably a good idea anyway), mainly due to the lack of maturity of Serverless Components at this stage.

For example, the [lack of remote state storage](https://github.com/serverless/components/issues/475) makes it somewhat painful to setup in a CI/CD pipeline.

[2020-02-29 15:59] #300 closed

[2020-03-01 09:14] #301 closed

[2020-03-01 12:47] subhendukundu commented on #251
Hey there,
I am facing the same issue but for a different use case tho. I am trying to add multiple instances of the application, [https://github.com/danielcondemarin/serverless-next.js/tree/master/packages/serverless-nextjs-component/examples/multiple-instance-environment](using this link). With the domain added I am getting the same error `Error: Domain www.app.com was not found in your AWS acco

[2020-03-01 16:37] hlodver commented on #201
If I still want to Gzip the response what is the recommended way to do so?

Some context:
The content is not changing regularly and there are no dynamic changes on the server side. So my plan is to extend the cache TTL settings and use invalidations when needed.

[2020-03-02 12:36] SarKurd commented on #201
@danielcondemarin any info regarding gzip?

[2020-03-02 12:58] danielcondemarin commented on #201
In that case there is value in gzipping. I’ll try and get the proposed PR merged this week and add some documentation around it how it should be used.

[2020-03-02 17:33] alaingoga commented on #296
In our case we use different CDN so CloudFront is not at option right now. We need to deploy nextjs v9 as a regular lambda, not @edge

[2020-03-02 18:02] JStein92 opened #308 "defaultLambda name is not being set"
**Describe the bug**
Despite configuring the `defaultLamda` field, the name is always auto-generated.

**To Reproduce**
Set the `defaultLambda` field in your serverless.yml to something. Then view your lambda function in AWS.
[code]

**Expected behavior**
My lamda function should be named according to env.name. env.bucketName works as expected, so I know my .env files are set up correctly.

I've t

[2020-03-02 18:24] #306 closed

[2020-03-03 13:20] ration commented on #286
I also was hit by this. Using the latest version of `globby` in aws-lambda will also fix this.

[2020-03-03 15:29] #307 closed

[2020-03-04 08:24] pekzanan commented on #308
I've also found this bug

[2020-03-04 11:31] lserraga commented on #308
Same here

[2020-03-04 11:38] danielcondemarin commented on #308
This needs to be fixed in the lambda component - https://github.com/serverless-components/aws-lambda/pull/16. Nothing I can do until that PR is merged.

[2020-03-05 05:38] JStein92 commented on #308
Thank you for replying. I'm concerned that lambda component repo hasn't been updated in 6 months despite 10 open pull requests with some pretty simple fixes. It seems to be threatening the viability of this repo.

[2020-03-05 09:00] hnprashanth commented on #199
Exactly in the same situation! Did you find any workaround?

[2020-03-05 09:23] SarKurd commented on #199
You can only access environment variables with severless components so you need to do something like this
https://github.com/danielcondemarin/serverless-next.js/tree/master/packages/serverless-nextjs-component/examples/multiple-instance-environment

[2020-03-06 00:18] hlodver commented on #201
I really love the idea of SPR (serverless pre-rendering)   :)    This would solve so many issues. It would almost eliminate all invalidations and boost the speed of dynamic pages fetching data from APIs by a lot. Thanks for pointing this feature out, I had not seen it before!  I am almost inclined to switch to the Zeit platform  :)

[2020-03-07 15:20] diegopamio opened #309 "custom .serverless folder for different stages"
`serverless-next.js/packages/serverless-nextjs-component/examples/multiple-instance-environment/` example shows how to deal with multiple environments, but for those of us that commit the `.serverless` folder to avoid generating a cloudfront distribution on each push, this would be an issue.

Is there any way to tell serverless-nextjs the name of the .serverless folder, so we can commit one for ea

[2020-03-09 06:48] codeinaire commented on #235
I'm just checking if this is still being worked on? I'm using v1.9.3 and I'm having the same issue as @zynkn .

[2020-03-09 11:10] simundev opened #310 "Cannot find module 'serverless-next.js'"
**Describe the bug**

While trying to deploy my Serverless app that uses serverless-next.js, I get an error message.

**To Reproduce**

Have serverless.yml like this:

[code]

have in package.json dependencies:

`"serverless-next.js": "^1.8.0",`

run `yarn install`

OK (node_modules/serverless-next.js is created and exists)

run `yarn build`

OK

run `sls deploy --component=nextApp`

[code]

**Exp

[2020-03-09 11:23] simundev commented on #310
Serverless was installed with `npm install -g serverless`. So it was looking for a global installation of serverless-next.js. When I did `npm install -g serverless-next.js`, the error dissapeared.

[2020-03-09 11:23] #310 closed

[2020-03-09 14:30] JonNode28 commented on #49
Just ran into the size limitation for lambda code because of this: "Unzipped size must be smaller than 262144000 bytes"

[2020-03-10 09:49] romainquellec commented on #277
Same here.

[2020-03-10 14:18] plumdog opened #311 "Deploying with the CDK (or plain Cloudformation)"
**Is your feature request related to a problem? Please describe.**
I'm not using the serverless framework, I'm using the CDK. I want to be able to deploy a next.js app to APIGateway/Lambda/S3. I think that this project will help me to do that, but I'm not sure how.

**Describe the solution you'd like**
An overview of how I might go about generating code using this project and what things need to b

[2020-03-10 23:58] plumdog commented on #311
I think I have identified this as an issue in next.js - see https://github.com/zeit/next.js/pull/10953

[2020-03-11 03:45] #262 closed

[2020-03-11 08:20] danielcondemarin commented on #311
@plumdog I’ve started working on support for aws-cdk (see https://github.com/danielcondemarin/serverless-next.js/tree/aws-cdk-support) although is still in progress so don’t expect it to work.

In terms of one lambda per page or not, I plan to provide the same architecture as the [next component](https://github.com/danielcondemarin/serverless-next.js/tree/master/packages/serverless-nextjs-componen

[2020-03-11 17:37] MasterEric commented on #277
As of 2 days ago, [static site generation is now part of the official Next.js release](https://nextjs.org/blog/next-9-3).

Changes to support these should be implemented to keep full compatibility with newly released projects.

[2020-03-11 18:08] bobrown101 commented on #184
I found this issue when I had a lambda function (created with '@serverless/backend') that would be deployed along side my next.js app and I wanted to expose an environment variable to the next.js app during build time that was equal to the url of the newly deployed lambda function.

my solution was as follows
[code]

[code]

[code]

[2020-03-12 10:21] mdw2000 opened #312 "Log groups not created for Lambda functions"
I'm trying to debug an issue on a page that has a `getServerSideProps` handler, but after deploying the application I cannot find the log group for my lambda function in any of the regions.

The application uses `next@9.3.0` with `getServerSideProps`.

My understanding is that after deployment there should be automatically be a `/aws/lambda/us-east-1.<function-name>` log group in every region, cor

[2020-03-12 11:08] SarKurd opened #313 "static folder doesn't work when used inside public folder"
**Describe the bug**
static folder doesn't work when used inside public folder

**To Reproduce**
Steps to reproduce the behavior:
1- Make a public folder and make a static folder inside it
2- Put an image inside the static folder

**Expected behavior**
expect static folder to work when used inside public folder

**Screenshots**
None

**Desktop (please complete the following information):**
 - OS:

[2020-03-12 11:17] plumdog commented on #311
Per https://github.com/zeit/next.js/pull/10953, the issue is not with next.js, but rather with the value set for `req.url` here https://github.com/danielcondemarin/serverless-next.js/blob/8da92e2d8e23e361c24904e4579e9d4e02845126/packages/next-aws-lambda/lib/compatLayer.js#L15-L18

This is definitely a separate issue to my original CDK question, so I'll create a separate issue. But, fwiw, a way of

[2020-03-12 11:23] plumdog opened #314 "Always set req.url to a valid value"
**Describe the bug**
The following
https://github.com/danielcondemarin/serverless-next.js/blob/8da92e2d8e23e361c24904e4579e9d4e02845126/packages/next-aws-lambda/lib/compatLayer.js#L15-L18
may set `req.url` to be an empty string - because `event.requestContext.path` will be `''` (or will possibly be the stage name, with no trailing slash?) if you access AWS API Gateway at `apidomain.com/stageName`

[2020-03-12 13:37] stan-sack commented on #207
I don't think that `public/static/` works. To actually test this you need to go to your bucket and delete the residual `static` folder which will be left from previous deployments. I could also see that all the files were correctly uploaded to the `public/static/` folder however I'm getting a 403 from cloudfront. I invalidated my cloudfront cache just to be sure that wasnt the issue and I'm still

[2020-03-12 13:51] robertzlatarski opened #316 "Lambda response is always base64 encoded"
Seems like the body of requests made to the `/api `endpoint are always base64 encoded, when using the Serverless component. We are currently making a switch from the plugin to the component and since we are running GraphQL on our `/api` path, this is not something we want.

Looking at the code where this potentially happens: https://github.com/danielcondemarin/serverless-next.js/blob/84f3840e1c492

[2020-03-12 16:16] mikestopcontinues opened #317 "Are components DOA? — plugin/component feature parity"
Progress on Serverless Components seems to have ground to a halt, and being able to deploy a modern Next project to AWS requires multiple serverless.yml, because we can only get Next@9 with components, but easy access to the rest of AWS with old-style serverless. Does it really make sense to push everyone toward components when the Serverless team seems ambivalent about the issue?

[2020-03-12 19:02] barrysteyn commented on #317
@mikestopcontinues I agree. Actually, the Serverless team really seems to have dropped the ball on this one: They have pushed for components, get everyone excited, and then changed their mind. My own two cents is that this is a tragedy because the components were easy to use and well designed. However, I believe that @danielcondemarin is in the process of moving things to cdk, which is supported b

[2020-03-12 19:32] mikestopcontinues commented on #317
Thanks @barrysteyn . That's good to hear, as I just experimenting with cdk. Once I get deploy working, I'm gonna experiment with localstack to fill in the local dev gap. If you try cdk, beware the docs. I've crossed a bunch of non-functional examples, and exports moved to different packages.

[2020-03-13 16:59] oriolcastro opened #319 "Question: Experimental rewrite feature of Next.js"
We are working on an application that uses the experimental rewrite function of Next.js to handle internationalization.

example:
`
{ source: '/', destination: '/${defaultLanguage}' },
{ source: '/:path*', destination: '/${defaultLanguage}/:path*' },
`

We have been looking into the routes-manifest generated by Next.js and how to use that information during the build step from the NextjsComponent

[2020-03-14 00:40] oseibonsu commented on #277
@danielcondemarin if you can outline how you would like this implemented, my company can work on a pull request for this.

[2020-03-14 16:25] danielcondemarin commented on #201
Hi folks! After reading more on gzip I am now convinced it is fine to merge https://github.com/danielcondemarin/serverless-next.js/pull/272 as it is.
This is now available in version @1.9.4. Thanks to @kartikag01 for the great work 🙏

[2020-03-14 16:25] #201 closed

[2020-03-14 17:07] antoinemaz opened #321 "Question : how limit access for my dev env ?"
Hello,

i want to limit my dev environment with basic authentification for example, how can i do that please ?

Thx :)

[2020-03-14 20:19] epicfaace commented on #304
Right. Let me explain more -- hope this clarifies:

Your example shows setting environment variables to a stage and then using them to configure `inputs.domain` to change the custom domain.

However, I would like to use environment variables to configure both the bucket name and cloudfront distribution that the app is deployed to. I see that I can configure the bucket name using `inputs.bucketName

[2020-03-15 07:36] hnprashanth commented on #209
This has become a really big pain! I share the staging link with team & then there's a new one next day! committing .serverless is not an option in prod environment!

[2020-03-15 13:26] Evanht commented on #289
Hi @chrsgrrtt, Yeh I'm experiencing this too. Did you manage to get to the bottom of it?

[2020-03-15 13:58] Evanht commented on #289
Ah so for me the issue was that I had made the initial deploy using AWS credentials for a different account by accident.  So when I then updated the credentials and tried to deploy again it failed because the bucketName was already taken (as bucketName has to be unique globally on AWS).

Fix for me was to just delete the .serverless and .serverless_nextjs directories and run serverless again.

[2020-03-15 21:35] danielcondemarin commented on #277
I have been looking into what's involved to support the SSG Improvements:

1. `getStaticProps`

Supporting this should be easy, we just need to upload the JSON file with the static props generated by next at build time to S3, under a new data folder, e.g. `_next/data/{BUILD_ID}/todos/new/new.json` .

Then this file is requested by next client side and it should be available to be fetch-ed from S3.

[2020-03-16 02:48] codeinaire opened #322 "Nested dynamic route URL not working when directly accessed"
**Describe the bug**
In deployment when I go to a dynamic route through a link the page loads fine, but when I copy that link and paste it into another window or a completely different browser I get the 404 error page`

This works as expected (the resource of the copied link loads) in local development when I'm using `npm run dev`  but not when deployed through serverless-next.js

**To Reproduce**

[2020-03-16 18:53] falecci commented on #209
Are there any updates regarding this issue? I sadly believe this makes the whole component unusable at the current state :(.

[2020-03-16 19:02] SarKurd commented on #209
To avoid creating multiple CD we store the .serverless folder in an S3 bucket

I think Serveless-next.js can do something like that too, pull cache fom S3 -> build and deploy -> push cache back to S3

[2020-03-16 19:06] SarKurd commented on #277
I would like Serveless-next.js to move away from Serverless components before supporting any Nextjs features, Serverless components are most likely abandoned, there are PRs everywhere nobody reviews.

[2020-03-16 20:41] falecci commented on #209
@danielcondemarin would it be possible to work around this issue with setting up a custom domain? I'm running serverless deploy in a CI/CD context.

[2020-03-16 21:51] oseibonsu commented on #277
@danielcondemarin I'm doing some testing. It looks like the '.next/prerender-manifest.json' has the prerendered path is there. Right now I'm just adding the list to the sortedPagesManifest. That works for those paths explicitly listed in getStaticPaths. After the pages are rendered using renderReqToHTML, would the manifest.json in the lambda need to be rewritten each time? Or do you want to go dow

[2020-03-17 08:38] danielcondemarin commented on #277
The work done to support the SSG improvements is not specific to serverless components, and I intend to make it as reusable as possible so it can be used for the CDK project I'm working on https://github.com/danielcondemarin/serverless-next.js/tree/aws-cdk-support.

More generally, the direction I intend to take with the project is to have a reusable set of packages in the monorepo that can be use

[2020-03-17 14:10] ytwguru opened #323 "AccessDenied: Access denied -- Disable transfer acceleration."
**Describe the bug**
After running `serverless --debug` the deployment is interrupted with the message:
[code]

Can you add the option to disable acceleration for users without the permission to enable accelerated transfers?

**To Reproduce**
Steps to reproduce the behavior:
1. Open terminal
2. Navigate to running directory
3. Type serverless --debug
4. See error

**Desktop (please complete the fo

[2020-03-17 16:53] oseibonsu commented on #277
@danielcondemarin This works for basic support of static paths. Once you decide on the caching strategy for pages that were not prerendered I can work something up for that. https://github.com/oseibonsu/serverless-next.js/commit/6fcfa60e4defe98ac8b059e7bcb87fc73cbd1e70

[2020-03-17 23:06] danielcondemarin commented on #277
Great stuff, a few comments:

- Rather than [checking for `_next/data` at lambda@edge](https://github.com/oseibonsu/serverless-next.js/commit/6fcfa60e4defe98ac8b059e7bcb87fc73cbd1e70#diff-e169e55c88ba224ce1dcfbc9a1a8fd69R48) I think we could add another CloudFront cache behaviour for `_next/data` that forwards traffic to S3 and completely bypasses lambda@edge. It will save cost and complexity.

-

[2020-03-18 02:16] bobrown101 opened #324 "'One or more of the CNAMEs you provided are already associated with a different resource.'"
**Describe the bug**
I am deploying a basic next.js application that generates an entire "static" site in terms of next.js.
I had deployed this site multiple times before a few days ago. I came back to do an update and get the following error `CNAMEAlreadyExists: One or more of the CNAMEs you provided are already associated with a different resource.`

**To Reproduce**
[code]
[code]

**Desktop (pl

[2020-03-18 02:27] bobrown101 commented on #324
Here is the debug log
[code]

[2020-03-18 03:10] bobrown101 commented on #324
Im adding this here as documentation for anyone else who runs into this issue. I resolved this by performing the following (note - I am not sure what part/s of the following steps actually fixed the problem, but what I did below fixed it and thats the important thing)

[code]

Go to AWS Cloudfront console
remove all distributions associated with your domain

[code]

[2020-03-18 09:30] teemuniiranen commented on #225
There is other issue open related to S3 Transfer Acceleration is not configured: https://github.com/danielcondemarin/serverless-next.js/issues/203

[2020-03-18 09:36] teemuniiranen commented on #203
I ran also in to this when trying to deploy with AWS Amplify. Next run was success with "npx serverless --no-aws-s3-accelerate".

[2020-03-18 09:59] jolosimeon commented on #324
Experience this a lot when deploying from different machines. I was looking in to setting up CI/CD for my Next.js project but it looks like this will be an issue if running builds on different machines/instances does not work

[2020-03-18 18:49] teemuniiranen commented on #309
This would solve creation of new cloudfront distribution and allow centralized building and deployment for multiple environments.

[2020-03-18 22:07] oseibonsu commented on #277
@danielcondemarin Makes sense. I need to learn more about how to set up the CloudFront config with serverless components.

[2020-03-21 02:59] dvanwinkle commented on #280
@a2chan I was having the same issue, pulling my hair out. I have administrator `*` access on everything. FullAccess! Well, I also had a custom policy to force MultiFactor Auth. Removing that allowed me to deploy! I haven't had time to dig too far into what the exact permission causing this was (although I have a suspicion that it's the `iam:GetUser` in the `Deny` block at the end), but here is the

[2020-03-21 03:21] dvanwinkle commented on #280
@cameron-martin This is how far I got:

[code]

[2020-03-22 11:34] #314 closed

[2020-03-23 08:43] janus-reith commented on #277
@danielcondemarin @oseibonsu  There also is a new but not yet documented property `revalidate` in `getStaticProps` which if you specify an amount of seconds uses stale-while-revalidate pattern to rebuild pages with fresh content.
I'm not sure how far this affects your considerations regarding caching, but it would be great if this could be incorporated as for me it solved a long outstanding questi

[2020-03-23 17:13] SavageWilliam opened #327 "How to deploy multiple Nextjs apps to one lambda"
We'd like to have a monorepo with 2 NextJS apps that access shared components. To different domains we'll deploy either both or one of these apps.

Zeit's now allows slick deployment of multiple NextJs apps to a singlar lamdba. Routing across apps in configured in a `now.json` file.

[code]

https://github.com/zeit/now-examples/issues/242

I'd like to do the same using serverless-next as our infra

[2020-03-24 22:10] DanielOrtel opened #328 "Feature request: Support different stages/environments by default"
**Is your feature request related to a problem? Please describe.**
Deploying to different stages is not just a recommended practice, it is a required practice for most web applications, so it's pretty strange that this component doesn't support it out of the box. Not having a dedicated testing stage can easily create weird bugs on the live site which regularly

I am aware that there is an [example

[2020-03-25 16:41] barrysteyn commented on #328
@DanielOrtel I created the example you referenced. Unfortunately, what you are asking for needs to be done by Serverless component infrastructure (i.e. the Serverless project needs to build this into their infrastructure). There are two problems with this: Firstly, it seems like the core team behind serverless components are not supporting the project anymore (as evidenced by looking at the [compo

[2020-03-25 23:40] uclaeamsavino opened #330 "Customizing cloudfront - WAF, custom SSL cert, other settings"
Is there a way to customize cloudfront beyond domain name? We have a custom WAF, a custom SSL cert, custom price class.

Sorry if I'm missing it, I searched for WAF and couldn't find anything.

Edit: well after some experimenting, it looks like I can add a custom WAF after generating the cloudfront instance, then redeploy my serverless-next app over it w/o losing my WAF setting. That feels like it

[2020-03-26 00:12] uclaeamsavino commented on #309
Sorry I'm new to serverless-next, trying to evaluate it to see if it will work for us. Does the .serverless file change constantly as you're developing/deploying?

If so, and you keep different .serverless folders for each stage, then it seems like you'd have to manually deploy locally (run **serverless**) to each stage to make sure that the .serverless file gets updated for that stage.

[2020-03-26 10:47] krzysztof-miemiec commented on #328
I created a simple component, so I could map branch name to a "stage" and then use variables defined per each stage:
https://gist.github.com/krzysztof-miemiec/a1a9e13d424ee71a1918e69af3334523

It supports simple interpolation in `target.inputs` section, but the rest of config has to be constant.

[2020-03-26 11:05] antikvarBE commented on #312
Same here. Any clues?

[2020-03-26 22:59] uclaeamsavino commented on #328
@DanielOrtel - I'm trying to work through this now. Can you share what you had to modify to get the example to work on your end?

Are you running this through a CI/CD flow? That's my biggest concern. If there's anything that needs to be checked in to .serverless or .serverless-next folders after running deploy - that won't work from inside a CI/CD build job. Even having to check in after running n

[2020-03-26 23:04] uclaeamsavino commented on #209
@SarKurd that's brilliant. Hacky, but brilliant. I might try that.

[2020-03-26 23:11] krzysztof-miemiec commented on #328
I made some further research and found out serverless components are not feasible for production deployments. From what I saw [here](https://github.com/serverless/components/issues/540) this functionalities are not yet ready (definitely not if you don't use serverless cloud).

As we don't really have to do SSR, I ended up reusing [frontend infrastructure I made some time ago with Terraform](https:

[2020-03-27 03:21] mrowles opened #333 "Deploy as CloudFormation stack"
**Is your feature request related to a problem? Please describe.**
As per other serverless deployments, I'd love for this to be deployed as a CloudFormation stack so we can manage resources easier e.g., add stack tags to filter for billing clients

**Describe the solution you'd like**
I want to run the `serverless` command and see a new/updated stack in the list of CloudFormation stacks.

**Descri

[2020-03-27 03:27] mrowles commented on #203
This is really flaky for me too, I even have the `serverless --no-aws-s3-accelerate` in there.

[2020-03-27 04:16] mrowles opened #334 "Allow for tagging resources"
**Is your feature request related to a problem? Please describe.**
I would like to tag all of the create resources

**Describe the solution you'd like**
([serverless core does it as `stackTags`](https://serverless.com/framework/docs/providers/aws/guide/serverless.yml/)), I would love to be able to do this in a similar / the same manner

**Describe alternatives you've considered**
N/A

**Additional

[2020-03-27 04:19] mrowles commented on #288
This is crazy if that is how it was built, to have to commit `.serverless` folder. I still have no idea why this was built so differently to how we know Serverless to work.

[2020-03-27 10:28] krzysztof-miemiec commented on #324
@jolosimeon maybe this will help: https://github.com/danielcondemarin/serverless-next.js/issues/328#issuecomment-604733316

[2020-03-27 14:22] wzalazar commented on #288
Yes

Seems there is an issue with the cloudformation limits https://github.com/danielcondemarin/serverless-next.js/issues/17

[2020-03-27 16:27] JonNode28 opened #335 "'Unzipped size must be smaller than 262144000 bytes' because code for all pages is deployed to each Lambda"
**Describe the bug**
When the combined, unzipped, built code size for all pages is greater than the 250MB Lambda code size limit you get the error: ' Unzipped size must be smaller than 262144000 bytes'

I've created a repro here: https://github.com/JonNode28/nextjs-size-error-repro

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repro above
2. npm i
3. Add .env file to root in the

[2020-03-27 16:30] JonNode28 commented on #335
We had this problem with the plugin but I believe the issue is actually worse for the component model as you're only deploying a single lambda@edge and don't even have the option of deplying the code for each page separately (if I understood correctly how it works...)

[2020-03-27 18:34] DanielOrtel commented on #328
This is a new project that's starting up, so we don't have a CI release pipeline yet(that's what we're trying to figure out atm). @uclaeamsavino when I mentioned that it worked, I should've mentioned that this worked locally, not from a CI. For that, we're considering keeping the `.serverless` folder on S3 and syncing on deploy(committing back to the repo on deploy is also an option, though not a

[2020-03-27 19:20] SarKurd commented on #288
We deploy purely from CI too, store the state in an S3 bucket

Get state from S3 -> build and deploy -> update the state in S3

We use `plugins/s3-cache` for Drone CI

[2020-03-27 19:26] SarKurd commented on #209
Works great for us, we use `plugins/s3-cache` for Drone CI, pretty easy to set it up

We tried to store the state in version control but never worked properly as we couldn't keep the state up to date, now we restricted everyone from deploying locally and let our pipeline handle that.

Hopefully we see a proper solution Daniel, with the release AWS CDK, it will be much easier as Serverless componen

[2020-03-29 01:49] ytwguru opened #336 "RequestEntityTooLargeException: Request must be smaller than 69905067 bytes for the CreateFunction operation"
**Describe the bug**
After running serverless build is interrupted by the error

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run serverless --debug

**Expected behavior**
Should build and deploy the code

[2020-03-29 05:25] mrowles opened #337 "Scripts do not fail properly"
**Describe the bug**
A failed AWS command does not fail properly (meaning CI builds 'succeed' / fail silently

**To Reproduce**
1. Push any change which will fail due to AWS constraints e.g., CloudFront exists for CNAME
2. AWS Script will fail e.g., `error: CNAMEAlreadyExists: One or more of the CNAMEs you provided are already associated with a different resource.`
3. Script fails silently

**Expe

[2020-03-29 06:15] luismramirezr commented on #312
Here too. I'm having a 500 error and can't debug it!

[2020-03-29 09:23] danielcondemarin commented on #337
This is an issue in [serverless/components](https://github.com/serverless/components) not this project. Please raise in that repo 👍

[2020-03-29 09:23] #337 closed

[2020-03-29 17:30] tb91 opened #339 "arn policy does not update. (or it is unclear how)"
**Describe the bug**
When a project is deployed using the default policy and a new policy is added in the serverless.yml afterwards the old policy is still used. How can it be updated?

**To Reproduce**
Steps to reproduce the behavior:
1. create a new project using create-next-app
2. install serverless-next.js according to readme
3. deploy once
4. create a new policy with e.g. dynamo access
5. add

[2020-03-29 17:33] kmjennison commented on #312
For me, the log groups were created in a different region, not `us-east-1`. I figured I had a configuration error, but if the same happened to either of you, maybe it's an issue here.

[2020-03-29 17:41] tb91 commented on #339
workaround for now:
delete the used role here: https://console.aws.amazon.com/iam/home#/roles

[2020-03-29 17:53] luismramirezr commented on #312
I didn’t found the logs. If I go to the lambda function, then monitoring, it doesn’t show any activity. There is a button to open CloudWatch logs, but after clicking it and opening CloudWatch it throws an error stating that it couldn’t open the log stream.

[2020-03-29 18:00] kmjennison commented on #312
Did you also check the other regions in Cloudwatch? The button from the AWS Lambda console won't work if the log groups are in another region, because that link is to `us-east-1`.

[2020-03-29 18:10] luismramirezr commented on #312
I couldn't find it. In which region was yours? My "default" region is us-east-1

[2020-03-29 19:24] kmjennison commented on #312
Mine were created in `us-east-2`.

[2020-03-29 20:27] mrowles commented on #337
@danielcondemarin Done https://github.com/serverless/components/issues/566

[2020-03-29 21:19] luismramirezr commented on #312
I found nothing... I think it isn't being created.

[2020-03-30 18:21] harryd31 commented on #297
has this been merged yet? I really need to connect to the  viewer-response in our case

[2020-03-31 07:21] hnprashanth commented on #280
Thanks @dvanwinkle! Had to add few more permissions if you are adding domain name:

-  "acm:ListCertificates",
-   "acm:DescribeCertificate",
-   "route53:ListResourceRecordSets"

[code]

[2020-04-01 17:46] adonig opened #341 "Is there a way to specify the created resources upfront?"
We use a Gitlab build pipeline. Now we tried to deploy after the build, but it creates a new CloudFront distribution every time. I had a look at the .serverless folder but it normally should be excluded from git and it contains absolute paths. Is there a way to specify the resources upfront?

[2020-04-01 18:26] afzalsayed96 commented on #319
Hi @oriolcastro, Did you get any success with this yet?

[2020-04-02 13:50] adonig commented on #341
Okay, I found out having the .serverless folder in git solves the problem. It's still a bit unfortunate because we now have to keep different .serverless folders for different branches, but it does the job.

[2020-04-03 17:40] jhlabs commented on #210
I am having the same error thrown when trying to use the `sls` command. I am using a monorepo setup with https://nx.dev/ where only one `node_modules` folder is present in the root directory. I suspect that the error shows because of this. How can I specify the location of my `node_modules`?

[2020-04-03 19:47] uclaeamsavino commented on #328
@DanielOrtel - I'm using the method @krzysztof-miemiec describes and so far so good. We don't check in .serverless - but we do cache it in S3 for each environment. The build job syncs the folder from S3, runs the serverless command, then syncs it back to S3 when done.

Our buildspec yml currently looks like this (I am still working on injecting the necessary environment variables into react at bui

[2020-04-03 23:02] uclaeamsavino opened #343 "Code example error in readme"
README is missing inputs: for custom build env example.

[code]

Should be:
[code]

[2020-04-03 23:31] uclaeamsavino commented on #199
@SarKurd - are you sure that even works? No matter what I try I get `Error: invalid reference ${env:MYVAR}` for any environment variable I try to use. Even though I know it's set on my computer.

[code]

[2020-04-04 04:33] SarKurd commented on #199
that's V2 which was released a few days, severless-next.js only supports V1 atm

That's the supported V1 that serverless-next.js uses https://github.com/serverless/components/tree/v1

You either wait until serverless-nextjs adds support for V2 or you need to follow this example for now https://github.com/danielcondemarin/serverless-next.js/tree/master/packages/serverless-nextjs-component/examples/

[2020-04-04 05:47] uclaeamsavino commented on #199
Thanks. I did a modified version of that example. I forget whether or not it was dotenv or something else that only allowed a pre-configured set of environments (development, staging, production). But that didn't work for us. So a long time ago we ended up going with env-cmd instead, as it allowed any arbitrary environment you want. So since I know that works I went with it for serverless_next.

A

[2020-04-04 06:43] OFranke commented on #311
Hey @danielcondemarin!
Would you mind giving a little more context on what needs to be done to make the whole thing work via CDK? In form of tickets, todos, an architecture diagram?

I just jumped into CDK and plan to somehow bring my nextjs frontend to AWS. I will do it any way, not sure how exactly yet - but this here seems like a good chance to make a useful contribution.

I'd appreciate some g

[2020-04-04 13:36] janus-reith commented on #277
I think there could be multiple ways to approach this, this seems the easiest:

Make sure each function creates a static page in S3 and serve that over Cloudfront. Then for the fallback behaviour, use a function as a Second origin, which creates the static page and makes sure it is stored in S3 and returns the fallback page(there is a fallback property in the useRouter hook to detect if currently

[2020-04-04 17:28] SarKurd commented on #199
That's what we do, in our case the pipeline is much simpler since we have integrated the CI with our infra very well

But i'd advice you to not spend so much time on it as Serverless components V2 released, it's going to be much more easy to deploy after serverless-next.js supports V2

[2020-04-04 22:16] uclaeamsavino commented on #199
Yeah that's what I'm hoping for. Caching the build state on S3 is not optimal.

[2020-04-05 12:54] danielcondemarin commented on #336
Duplicate of https://github.com/danielcondemarin/serverless-next.js/issues/336

[2020-04-05 12:54] #336 closed

[2020-04-06 14:46] vfarah-if commented on #335
I can confirm experiencing the same issue. Is there any suggestions on how this can be resolved?

[2020-04-06 19:43] danielcondemarin commented on #335
The best suggestion so far is here https://github.com/danielcondemarin/serverless-next.js/issues/236#issuecomment-558522440.
I'm also closing this as a duplicate of the original issue: https://github.com/danielcondemarin/serverless-next.js/issues/236

[2020-04-06 19:43] #335 closed

[2020-04-06 19:55] danielcondemarin commented on #317
I'm closing this as Serverless components have now announced General Availability - https://serverless.com/blog/serverless-components-ga/. There will be work that needs doing in this component to support the new components "cloud approach" but will be doing that as part of an RFC separately.

[2020-04-06 19:55] #317 closed

[2020-04-07 13:04] Timer commented on #277
Preview Mode also needs to be supported:
https://nextjs.org/docs/advanced-features/preview-mode

[2020-04-07 16:24] markrawls opened #351 "Catch-all API routes excluded"
**Describe the bug**
Catch-all API routes are excluded, due to a bug in the outdated version of serverless components being used. The API route file should be included in the bundle. Instead, it is not and Cloudfront throws an HTTP 500 error.

**To Reproduce**
 - Create a new NextJS application
 - Use the README suggested serverless.yml
 - Create `pages/api/[...slug].js` in this app
 - Deploy it

[2020-04-07 21:45] dougturnkey commented on #351
Actually - is it possible that you are having a problem with dynamic next.js routes?...  for me pages/api/test.js works...  but pages/api/[collectionName]/find.js fails to resolve.

[2020-04-07 21:48] markrawls commented on #351
It is in fact catch-all API routes, as I only have the one in the API folder. It may effect dynamic routes as well, but digging into the build files my catch-all route has been excluded.

[2020-04-07 22:06] dougturnkey opened #352 "Can't find cloudwatch logging of api calls"
I am used to my serverless lambda functions console.logs showing up in the cloudwatch logs...  I'm not sure if this due to the regionless nature of this component? - but I don't know where to look for the logging (or how to configure it)

[2020-04-07 22:10] dougturnkey commented on #312
Does anyone know the trick to logging the api in this framework?

[2020-04-07 22:10] #352 closed

[2020-04-08 13:16] #341 closed

[2020-04-08 15:34] falecci-morean commented on #308
Yeap, sadly it's still unmerged. Another repo endangering this project 😢

[2020-04-08 16:49] barrysteyn commented on #308
The only way I got something merged was by emailing the founder of the project, who then put pressure on one of the maintainers to merge. Not only was my merge vital, but other merges were allowed to happen in a haphazard manner before they stopped caring. I am actually shocked about the lack of support that these components have been given. It's sad because it is a good idea. Would love someone o

[2020-04-08 20:15] thomaschaaf opened #353 "Set headers from SSR pages"
Maybe I have not found it but is there a way to set the cache control oder expires header for SSR? I would like to utilize the cloudfront cache by returning a header. Is this possible?

[2020-04-09 20:34] crash7 commented on #296
I'm using the [next-aws-lambda](https://github.com/danielcondemarin/serverless-next.js/tree/master/packages/next-aws-lambda) in order to render next.js pages inside a normal lambda, since I don't either want to use Lambda@Edge (or serverless-components).

You will have to patch the event to adapt it to your lambda, but you can use the [default-lambda-handler](https://github.com/danielcondemarin/se

[2020-04-09 21:15] danielcondemarin commented on #296
That was the idea behind creating a separate package for the API GW -> Lambda compat layer on the first place. I still need to do the same for CF Edge. Basically would be pulling `next-aws-cloudfront` out of the next-component package (PRs welcome for that 🙂).
ALB -> Lambda is an interesting proposition I'd like to look into at some point.

[2020-04-09 23:47] crash7 commented on #296
Would be nice to be able to use the packages even if you are not using serverless-components, so the people like me that just need some pieces can benefit of the building blocks you create.
Is this what you have in mind in the long-run? I eat AWS Lambda for breakfast 😎so I can help for sure.

[2020-04-11 00:45] marklawlor commented on #203
I'm getting this issue on overhalf my deploys - it appears to be a race condition as you can repeatedly run the deployment until it works.

Current workaround is to use a precreated bucket already configured with acceleration and use the `bucketName` option.

The issue is much more apparent when I switched to using `serverless` from within a Github Action workflow.

[2020-04-11 01:01] marklawlor opened #354 "Create Cloudfront invalidation when using bucketName option"
## Problem

When using the `bucketName` option, Cloudfront does not invalidate the cache forcing the user to create a manual invalidation.

## Possible solutions

Create a Cloudfront invalidation on all changed files

or

Create an option like `bucketPath: "random"` to deploy to a randomly generated path within the bucket and update the `Origin Path` on Cloudfront

[2020-04-11 14:10] danielcondemarin opened #355 "RFC - Static Generation / SSG Improvements"
### Problem

Next.js recently released a new API designed to improve Static Site Generation. More details can be found in https://github.com/zeit/next.js/issues/9524.

`serverless-next.js` is not currently compatible with the new Next.js API and this RFC proposes changes to support these features.

### Proposal

#### `getStaticProps`.

For pages that declares `getStaticProps`, Next.js generates a

[2020-04-11 14:12] danielcondemarin commented on #277
Hi folks, sorry for the slow response on this issue. I've picked this up over other things and now opened a more formal RFC where we can discuss implementation of these new features: https://github.com/danielcondemarin/serverless-next.js/issues/355

[2020-04-11 14:58] codetrove-development opened #356 "Tutorial steps don't work, no idea how to fix"
Hi,

I have followed step by step this tutorial: https://serverless.com/learn/tutorial/deploying-nextjs-on-aws/

However when i run "npx serverless" I get:

[code]

I then deleted the .next directory and I get:

[code]
If I run npm run dev though and open localhost:3000 it's working fine.

Expected behavior: As per the tutorial - it deploys

Windows 10

No idea what else to try at this point.

[2020-04-11 15:48] codetrove-development commented on #356
Right, I was on an old machine and node was way far behind. Excuse me while i find a window to jump out of.

[2020-04-11 15:48] #356 closed

[2020-04-11 16:03] janus-reith commented on #355
So in step 2, if not cached in cloudfront yet, it would always call the lambda and not S3 directy, right? How would the static fallback page be returned in that step, while the actual page is still rendered?

Also: Could it be possible to avoid calling the lamba, and just utilize that logic directly in cloudfront somehow, maybe by defining behaviours per page? So that Cloudfront could directly mak

[2020-04-11 19:56] kmjennison commented on #223
@bredele Part of the limitation is that the underlying code from @serverless/aws-cloudfront doesn't support customizing TrustedSigners. I opened an issue here:
https://github.com/serverless-components/aws-cloudfront/issues/17

After that's complete, serverless-next.js still needs to allow customizing more options in the distribution and cache behaviors.

[2020-04-11 19:56] kmjennison commented on #223
In case anyone needs to patch this as a quick fix, the relevant code is
https://github.com/serverless-components/aws-cloudfront/blob/913c4fdbc90c5c8041bafdedcb7e21acbf6b63c2/lib/getDefaultCacheBehavior.js#L18
https://github.com/serverless-components/aws-cloudfront/blob/913c4fdbc90c5c8041bafdedcb7e21acbf6b63c2/lib/getCacheBehavior.js#L21

Then, you'd want to use the local Serverless component code.

[2020-04-11 21:23] danielcondemarin commented on #355
Hi @janus-reith Thanks for the questions! Made me realise a few things I didn't consider before.

Let me start with this:

It is possible but wouldn't scale. CloudFront has a limit of [25 cache behaviours per distribution](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/cloudfront-limits.html#limits-web-distributions). It wouldn't work for apps with more than 25 page routes whic

[2020-04-11 21:40] janus-reith commented on #355
Thanks for the explanation, I didn't know about that Cloudfront limit.

Could my third suggestion work for this maybe?
Serve the static fallback page from S3 and make that page trigger the lambda on the client side while it's in fallback mode and awaiting the page.
I did'nt look it up exactly, but when the client recieves the static fallback page for a route, it does some call to the server and wa

[2020-04-12 09:29] danielcondemarin commented on #355
@janus-reith I may have a come up with a solution similar to what you suggested.

![Serverless SSG Improvements](https://user-images.githubusercontent.com/1122442/79065249-ebc20d80-7ca6-11ea-859e-0a1e1209967e.png)

Let me know what you think 🙏

A few notes on this approach:

- It doesn't require updating the pre-render manifest whenever a new page is compiled.
- Optimises for the most common use c

[2020-04-12 10:58] janus-reith commented on #355
@danielcondemarin Im not sure about that last part where you get /blog/hello, it seems redundant if you already fetched the json.
I just checked that on a fallback page, and I can't see another document being fetched there either.
Therefore I believe that render would just execute clientside with the fetched json.

[2020-04-12 11:02] danielcondemarin commented on #355
That last part is just to illustrate what would happen if there is a second request after the actual page has been generated in step 2.
Also, there is a distinction between fetching via client side or doing a page load. If client side, the JSON file is fetched like you said, but if you do a page load for `/blog/hello` then the HTML document is served and no JSON file is requested.

[2020-04-12 11:15] janus-reith commented on #355
Ah ok, yes I agree then, it wasn't clear for me in in the diagram - Maybe separate that third step from the other two which are connected? :)

[2020-04-12 12:11] danielcondemarin commented on #355
I've updated the RFC with an updated diagram that provides description for each step so is more clear 👍

[2020-04-13 09:58] krish-dev opened #357 "The root level resource request of `service-worker.js` does not forward to S3 bucket."
**Describe the bug**
- nextjs PWA not working.
- the root level request of `service-worker.js` does not forward to `static/service-worker.js`

**To Reproduce**
I have used [next-offline](https://github.com/hanford/next-offline#service-worker-path) for building pwa application. This plugin generates `service-worker.js` under `static/service-worker.js`

**Expected behavior**
Public resources. Reques

[2020-04-13 19:32] markkdev opened #359 "Error during deploy. no such file or directory"
**Describe the bug**
When trying to deploy my next app, I get an error

Error: ENOENT: no such file or directory, stat '/Users/user/.serverless/components/registry/npm/serverless-next.js@1.9.9/node_modules/serverless-next.js/node_modules/next-aws-cloudfront/next-aws-cloudfront.js

Not sure when this started happening but it was working before.

I checked and the file does exist on my fs in that di

[2020-04-13 19:37] danielcondemarin commented on #359
This was very likely introduced in @1.9.9 which I released 20mins ago or so. I'll take a look now.

[2020-04-13 19:38] markkdev commented on #359
Just saw that you published it. No worries, great work thank you

[2020-04-13 19:41] kevinswarner opened #360 "Latest commit breaks deploy"
**Describe the bug**
I have not changed anything related to the use of the component since yesterday and went to perform "sls" and am now receiving the following error on deploy. I tried removing serverless-next.js and adding it back using yarn remove / yarn add. Same result.

I tried to revert specifically to serverless-next.js@1.9.8 and that did not fix the issue.

[code]

The latest commit look

[2020-04-13 19:45] danielcondemarin commented on #360
I'm currently looking into this. Duplicate of https://github.com/danielcondemarin/serverless-next.js/issues/359

[2020-04-13 19:45] #360 closed

[2020-04-13 19:48] kevinswarner commented on #360
Thanks. I did not see that one. I will follow it, so feel free to close this one. Sorry for the dup.

[2020-04-13 20:02] kevinswarner commented on #359
I reverted to 1.9.8, but I still get the same error.

[code]

[code]

[2020-04-13 20:05] danielcondemarin commented on #359
Try fixing the version in your serverless.yml:

[code]

[2020-04-13 20:18] danielcondemarin commented on #359
Hi folks, I've just released @1.9.10 with a fix.
Could you test and close the issue assuming all goes well please?

[2020-04-13 20:30] kevinswarner commented on #359
That fixed it for me. Thanks!

[2020-04-13 20:33] danielcondemarin commented on #359
Great stuff. I've deprecated `v1.9.9`

[2020-04-13 20:33] #359 closed

[2020-04-14 00:54] maddoxnelson opened #361 "Is there a way to switch between multiple AWS accounts?"
I have a dev and prod version of a site, split up by AWS accounts. I typically run a script such as `npm run deploy:dev` or `npm run deploy:prod` to deploy. When that happens, my serverless file was able to deploy to the AWS account I had configured, like so:

provider:
   name: aws
   runtime: nodejs10.x
   stage: dev
   profile: ${self:custom.myProfile.${self:custom.myStage}}

Is there a way to

[2020-04-14 01:15] krish-dev commented on #357
I think the best approach should be if we allow adding this kind of custom strategy from the configuration (serverless.yml) file.

[2020-04-14 03:00] krish-dev commented on #351
I'm also facing the same kind of issue.

This is the directory listing generated at the time of deployment
![Screenshot 2020-04-14 at 8 25 11 AM](https://user-images.githubusercontent.com/7298557/79181344-cb6e8c00-7e29-11ea-99de-828eb80969c1.png)

And this is the directory listing exported from AWS Lambda console.
![Screenshot 2020-04-14 at 8 24 38 AM](https://user-images.githubusercontent.com/729

[2020-04-14 11:54] WingmanImd opened #362 "POST api route not working - returns 403"
**EDIT: I have not changed anything and now it works.
Is it possible that it takes some time for the cloudfront configuration to update or something or for the api lambda to be functional?**

Hello,
I added an api route "pages/api/contact.js".
I deployed the app.
I make a POST request from the website to '/api/contact' but it returns:

_**403 ERROR
The request could not be satisfied.
This distribu

[2020-04-14 12:08] #362 closed

[2020-04-14 15:27] krish-dev commented on #351
Hi, @markrawls  I'm very new to the serverless world. I have a nextJS application with a catch-all route strategy. So, I'm facing the same issue, If you can please 🙏 give a step guide for a workaround until this bug gets fixed, So, that I can clone this repo and change the necessary configuration and point the serverless.yml component to the local repo. this will be really helpful and appreciable.

[2020-04-14 23:53] nicovalencia commented on #312
Also not working for me, checked other regions and no log groups. I did, however, find a log group from a project with the exact same setup from January.

[2020-04-15 04:29] markrawls commented on #351
Currently, there is no workaround to deploy your NextJS application with server less. Right now I am deploying them to Elastic Beanstalk

[2020-04-16 05:03] EastSun5566 commented on #308
it closed: https://github.com/serverless-components/aws-lambda/pull/16

[2020-04-17 06:08] GuillaumeBecker opened #363 "NextJS Target change support, Firestore build/deploy issue."
**Describe the bug**
NextJS seems to have dropped the support for the `target: serverless` to the profit of `target: 'experimental-serverless-trace'`. The current target isn't allowing to build and deploy when using Firestore.

**To Reproduce**
The situation is exactly as reported in this thread: https://github.com/zeit/next.js/issues/11860

**Expected behavior**
Change target to 'experimental-ser

[2020-04-17 09:56] hnprashanth commented on #324
This problem occurs because as of today this component doesn't reliably detect if the deployment already has the resource. So after a few deploys, it tries to create a new CF distribution and tries to attach the domain & fails since it is already attached to the older deployment! I'm struggling this issue for some time now and tried many workarounds but nothing is reliable.

[2020-04-19 19:59] Jnegrier commented on #312
I'm facing the same problem, there an error 500 when I access the app url, and there is no way to know whats going on

[2020-04-19 20:04] danielcondemarin commented on #312
Hi folks, `getServerSideProps` still isn’t supported in the serverless component. See this RFC for details https://github.com/danielcondemarin/serverless-next.js/issues/355 how it will be implemented.
Also if you want to check the logs remember is Lambda@Edge so you will need to select the region where your incoming traffic is to see the log group.

[2020-04-20 09:42] Jnegrier commented on #312
Thanks @danielcondemarin at the end I could find the logs in another region, and I could fix my app 👍 btw, thanks a lot for creating this tool it's impressive how easy is to deploy stuff 😄

[2020-04-20 15:50] codetrove-development opened #365 "Question - can this be deployed to a normal lambda?"
Hi,

I'm new to serverless and just want to deploy to a normal lambda in a stack. However with all the obscurity I dont know if I can deploy this with all the file caching setup etc to a normal lambda?

I require control over the region it is deployed to

Thanks

[2020-04-22 06:35] paulolramos commented on #323
I'm getting this same issue. Many have suggested to run `serverless --no-aws-s3-accelerate` but that still doesn't work.

[2020-04-22 07:54] HaNdTriX commented on #355
Afaik Next.js relies heavily [rfc5861](https://tools.ietf.org/html/rfc5861) for serving stale content and revalidating pages in the background.

Currently this extension is not supported by cloudflare. Nevertheless it definetly would make sense to follow the RFC as close as possible.

[2020-04-22 12:59] godson-ikhokha commented on #184
Hi, is there an update on this?

[2020-04-23 14:42] janus-reith commented on #355
@HaNdTriX I guess this would make it possible to skip the lamba and serve directly from S3 instead if available?

[2020-04-23 18:17] danielcondemarin commented on #355
@HaNdTriX I will be covering https://github.com/zeit/next.js/discussions/11552 on a separate RFC. Whilst CloudFront doesn't support `stale-while-revalidate` I suspect we can achieve something pretty similar using the Lambda@Edge `origin-request` and `origin-response` hooks.

[2020-04-23 19:56] zerbinidamata commented on #138
Did you manage to work this out?

[2020-04-23 23:08] macs91 commented on #203
Same issue here 🤚 @danielcondemarin do you know a workaround? 🙏

[2020-04-24 07:20] lishine opened #370 "Blog link broken"
It is the link to this repo at the start of the article
https://serverless.com/blog/serverless-nextjs/

[2020-04-24 07:29] danielcondemarin commented on #370
Thank you for reporting! I've told the serverless framework folks and hopefully should be sorted soon.

[2020-04-24 07:39] lishine commented on #370
Great work btw!
Because of this lib I can develop with nextjs-9 pages/API routes instead of adding a server and in time convert easily to edge-lambda!

[2020-04-24 16:54] justinwhall commented on #138
Did not find a solution for a blanket basic auth. In my case it was not that big of a deal as we did not have that many routes.

[2020-04-24 17:58] danielcondemarin commented on #370
Closing, I've added a temporary folder to the repo so the link still works, whilst the serverless folks update the blog.

[2020-04-24 17:58] #370 closed

[2020-04-24 19:56] baleksandr48 opened #371 "Add possibility to use next.js fallback"
Nextjs has fallback feature. For example if you have blog with 1kk articles, you don't have to build static html for every article, you can set `fallback: true` in `getStaticPaths` and it will generate html for that article, return to user and save it with other static `html`s.

If I understand right - with `serverless-next.js` component we upload only those static file which were been generated d

[2020-04-24 19:59] danielcondemarin commented on #371
Yep, I’ve already raised an RFC for this: https://github.com/danielcondemarin/serverless-next.js/issues/355

[2020-04-24 20:00] #371 closed

[2020-04-25 14:25] danielcondemarin commented on #296
I've now decoupled most of the responsibility to deploy to Lambda@Edge from the serverless component. There is now a separate package for creating the Lambda@Edge handlers plus a bunch of other things -> https://github.com/danielcondemarin/serverless-next.js/tree/master/packages/lambda-at-edge
It's not complete but I plan to keep on adding to it.

[2020-04-26 21:21] danielcondemarin commented on #203
Hi folks. Sorry I've not been able to look into this before.

After reading the AWS Documentation for S3 bucket acceleration I think it would be worth trying to [check whether the bucket has acceleration enabled](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#getBucketAccelerateConfiguration-property) before uploading. I suspect [putBucketAccelerateConfiguration](https://docs.aws.

[2020-04-27 07:18] afzalsayed96 commented on #138
@danielcondemarin could you please help out here? I'm willing to submit a PR for this.

[2020-04-27 13:45] epicfaace opened #372 "no such file or directory ".serverless_nextjs/default-lambda/manifest.json" upon deploy"
**Describe the bug**
When I deploy, I get an error, `no such file or directory ".serverless_nextjs/default-lambda/manifest.json"`.

**Screenshots**
Exact logs:

![image](https://user-images.githubusercontent.com/1689183/80378701-0c739100-886b-11ea-9394-6df166ed7286.png)

Here's a previous, successful GitHub Action: https://github.com/TheStanfordDaily/stanforddaily/runs/603290058

Here's a failing

[2020-04-27 13:53] epicfaace commented on #372
The issue appears to have been fixed once I [pinned the serverless-next.js version](https://github.com/TheStanfordDaily/stanforddaily/commit/d919ba8a52d30500c2c7e2b70581284624d35597) in serverless.yml.

It's not clear that even if you pin the serverless-next.js version in `package.json`, you need to also pin that version in serverless components. A suggestion -- perhaps update the sample configura

[2020-04-27 13:53] #372 closed

[2020-04-27 21:49] epicfaace opened #373 "How do I cache dynamic pages?"
I'd like to cache dynamic pages from my cloudfront distribution with a TTL of 60 seconds. However, when I set the default ttl / minimum ttl to 60, I always get a "miss" from cloudflare when rendering the dynamic pages. How can I do this?

[2020-04-30 08:19] polc commented on #166
FYI it can happen after deleting & trying recreating a S3 bucket. It take from 10 minutes to a few hours for the S3 bucket name to be available again.

[2020-04-30 10:42] kartikag01 commented on #236
I have tried modifying webpack config to,

[code]
and this worked,

But what i want config is

[code]
this starts to gives error RequestEntityTooLargeException.

[2020-04-30 15:37] james-calmus-dt commented on #203
We found that setting a bucket name and `AccelerateConfiguration` in the `serverless.yml` file solved the problem, like this:

[code]

We haven't had a single deployment issue since!

[2020-04-30 15:56] danielcondemarin commented on #203
@james-calmus-dt That input doesn't exist in the next.js component. Where did you find it?

[2020-04-30 16:43] james-calmus-dt commented on #203
@danielcondemarin we found a reference to `AccelerateConfiguration` in [this example](https://github.com/GojicDragan/s3-backup-bucket/blob/79852470bee6e11955824f99a5de1396eba8b494/serverless.yml), and thought we'd try the options listed in our own as above

[2020-04-30 16:52] james-calmus-dt commented on #203
Also what do you mean the input doesn't exist in the next.js component?

[2020-04-30 16:55] danielcondemarin commented on #203
@james-calmus-dt [Your example ](https://github.com/GojicDragan/s3-backup-bucket/blob/79852470bee6e11955824f99a5de1396eba8b494/serverless.yml) uses plain cloud formation. That doesn't work in the next.js component inputs, so passing `AccelerateConfiguration: ...` will have no effect.

[2020-04-30 17:12] watanabeyu opened #375 "want to change _next/* and static/* ttl"
I want to change `static/*` ttl, so that I use SSG with Next9.3.0
Also I know rfc, but it's difficult soon.

I want to be able change like below.

[code]

https://github.com/danielcondemarin/serverless-next.js/blob/1c2c0dc9a5f2b2d0c8a3c68e561c4539822aa9f9/packages/serverless-component/serverless.js#L156-L169
[code]

[2020-05-01 20:14] danielcondemarin commented on #258
Closing, this was implemented in https://github.com/danielcondemarin/serverless-next.js/pull/376

[2020-05-01 20:14] #258 closed

[2020-05-02 00:12] stan-sack commented on #375
Ive got a PR for this: https://github.com/danielcondemarin/serverless-next.js/pull/282. If you really need the feature you can pull the branch.

[2020-05-02 19:20] sidarthar opened #378 "404 Error Page not working"
**Describe the bug**
When using `next@9.3.5`, navigating to an invalid URL does not show the 404 error page. Instead, you see 200 | An unexpected error has occurred.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone this repository: [https://github.com/sidarthar/serverless-nextjs-404-error](https://github.com/sidarthar/serverless-nextjs-404-error)
2. Run `npx serverless` to deploy
3. Aft

[2020-05-02 21:37] danielcondemarin commented on #378
Thanks for reporting! I suspect this started happening since the introduction of https://nextjs.org/docs/advanced-features/custom-error-page#404-page. If that's the case, this would need to be supported in serverless-next.js, probably changing [this](https://github.com/danielcondemarin/serverless-next.js/blob/master/packages/lambda-at-edge/src/default-handler.ts#L41).
If someone can confirm and is

[2020-05-02 21:40] danielcondemarin commented on #236
FYI - Next.js recently added a new build target called "serverless trace". I haven't had time to look into it properly but looks like it would solve this issue. https://github.com/zeit/next.js/pull/8246

[2020-05-02 21:42] danielcondemarin commented on #311
Hi @OFranke ! Sorry it took me so long to reply to this. If you're still interested in contributing I can put together a summary of what needs doing? Thanks!

[2020-05-02 22:52] Enalmada commented on #236
I do think that serverless trace could make all serverless-next pages load faster because everything would be so much smaller
https://github.com/zeit/next.js/issues/8956#issuecomment-570434649

[2020-05-02 23:10] danielcondemarin commented on #236
I am very keen on getting this working. It would not just solve this particular issue with the size of the deployment artefact but also speed up deployments considerably. In terms of page load I don't think there will be much (if any) improvements as this only affects server side.

@Enalmada Have you tried using the serverless trace with this project? It may give us a rough idea of what needs to b

[2020-05-02 23:31] danielcondemarin commented on #236
So I've been doing a bit of investigation around this already.

So, the `serverless-trace` target does not transpile `node_modules` via webpack like `serverless` does. This is what leads to smaller page bundles which is great.

What this means is this project has to zip up the `node_modules` and upload that to Lambda@Edge.  The good news is that's exactly what `@now/next` already does [here](https

[2020-05-03 01:04] Enalmada commented on #236
I tried passing `serverless-trace` but quickly realized the errors were just a bit beyond my ability.  In terms of performance I was thinking of cold starts...that server side artifact being smaller might help with that.

[2020-05-03 11:48] bhall2001 commented on #378
This may be related...
https://github.com/zeit/next.js/issues/12199

[2020-05-03 12:07] danielcondemarin commented on #203
Hi folks 👋 I have just released  `serverless-next.js@1.11.1-alpha.0` that uses [this package](https://github.com/danielcondemarin/serverless-next.js/tree/master/packages/s3-static-assets) for uploading static assets to S3 instead of the [aws-s3 component](https://github.com/serverless-components/aws-s3).

I've added [this check](https://github.com/danielcondemarin/serverless-next.js/blob/master/pa

[2020-05-03 14:44] sidarthar commented on #378
I believe that the issue is because of [https://github.com/zeit/next.js/pull/11561/files](https://github.com/zeit/next.js/pull/11561/files)

On line 283 of next-serverless-loader.ts,

``${page === '/_error' ? `res.statusCode = 404` : ''}`` was deleted and replaced with

``
${
          page === '/_error'
            ? `
          if (!res.statusCode) {
            res.statusCode = 404
          }

[2020-05-03 15:04] danielcondemarin commented on #378
Good catch.
Maybe setting `status` and `statusDescription` as `undefined` [here](https://github.com/danielcondemarin/serverless-next.js/blob/master/packages/lambda-at-edge-compat/next-aws-cloudfront.js#L84) is the fix.
I think it should be fine but would need some testing to ensure it doesn't break some use case.

[2020-05-03 17:53] devth opened #379 "Feature request: support for Amplify"
**Is your feature request related to a problem? Please describe.**
Nope, would just love first class AWS Amplify support.

**Describe the solution you'd like**
First class AWS Amplify support, as Lambda is a subset of Amplify's capabilities.

[2020-05-03 21:06] danielcondemarin commented on #236
I have got a working proof of concept using the approach I mentioned in my comment above. This is what Zeit NOW uses in their stack as well so I'm considering making `experimental-serverless-trace` the default target. Watch this space I should have something ready for testing soon.

[2020-05-04 04:57] tyler-ground commented on #322
@danielcondemarin Would you be able to comment on this?

I'm seeing this as well and I see elsewhere you mentioned it only works with getInitialProps?  However, I am using getInitialProps in the offending page so I don't understand.

It appears that dynamic routes are broken on a fresh page load?

[2020-05-04 09:38] james-calmus-dt commented on #203
Hi @danielcondemarin just tried the new package and have come up against the same `S3 Transfer Acceleration is not configured on this bucket` error. I removed the bucket name from `inputs` to test it because having a consistent bucket name seems to fix the issue for us. Let me know if you need any more info.

[2020-05-04 11:16] danielcondemarin commented on #203
@james-calmus-dt Could you share your serverless.yml?

[2020-05-04 11:18] rrooding opened #380 "Support for Serverless Components GA?"
Are there any plans on supporting the new way of working of Serverless Components?

[2020-05-04 11:19] danielcondemarin commented on #380
Yep I’m already working on it. Expect an RFC soon 👍🏻

[2020-05-04 17:13] patricktyndall commented on #286
So what's the recommended approach here? I have an SSR'd `pages/blog/[...all].js` file that is giving me cloudfront 503s.

[2020-05-04 17:37] tyler-ground commented on #322
I ended up figuring this out on my end.  I had a route that is in the new style that this lib does not support yet.  Make sure you're exporting the component as default.

[2020-05-04 18:00] danielcondemarin commented on #322
Could you share a code example of what's not working? @tyler-ground Also what you did to work around it.

[2020-05-04 18:13] danielcondemarin commented on #351
I'm just catching up on this. https://github.com/serverless/components/pull/577/files got merged which presumably fixes this issue but only for the new version of Serverless Components GA (which I'm working on at the moment).

Ideally we would get the older version of components patched as well with this fix so it unblocks people. (https://github.com/serverless-components/aws-lambda/pull/26 was me

[2020-05-04 18:26] tyler-ground commented on #322
I had multiple exports that some recent tutorial was using.  Changing the format to the following and deploying that with the latest nextjs and voila even hard refreshes of these routes work :)

``
const Page = () => <JSX />

Page.getInitialProps = async () => {}

export default Page
``

[2020-05-04 18:52] danielcondemarin commented on #286
I am pleased to announce I've just released `serverless-next.js@1.11.1` which completes this work 🎉

[2020-05-04 18:52] #286 closed

[2020-05-04 18:53] danielcondemarin commented on #351
Thanks to @eslam for patching the old version of aws-lambda! This is now fixed in `serverless-next.js@1.11.1` 🎉

[2020-05-04 18:53] #351 closed

[2020-05-04 18:58] danielcondemarin commented on #322
Thanks @tyler-ground . Could you share as well what the multiple exports look like? If is supported by next.js then is something that would need fixing here.

[2020-05-04 19:00] tyler-ground commented on #322
Unfortunately, I edited the git tree to clean out a bunch of deployment commits and whatnot so I don't have the original anymore.  I had several export const statements from a tutorial I had been following.  This tutorial must have been new because it used getServerSideProps but I had converted it to work without the older functions such as getInitialProps.

[2020-05-04 19:02] jghorton14 commented on #210
im dumb.. for me I had to `yarn install`

[2020-05-04 19:37] codeurge commented on #203
@danielcondemarin Kudos for the quick turnaround time after you said you were going to work on this issue. I've also tried the alpha release and the newly released non-alpha 1.11.1 and I'm still experiencing the same S3 Transfer Acceleration error as before.

I can see that the bucket is created correctly - but is a race condition as before, if I re-run the workflow again it will successfully depl

[2020-05-04 19:40] danielcondemarin commented on #203
@codeurge Could you try pinning the version to @1.11.1?

You need to:
[code]

Just to be sure an older version is not cached or something.

[2020-05-04 20:04] codeurge commented on #203
@danielcondemarin Good suggestion, unfortunately still the same error -- and tried this time with a randomly generated bucket name instead.

[2020-05-04 20:47] mertyildiran commented on #222
@danielcondemarin hi, I would like to resurrect this issue because I'm getting the exact same error:

![Screenshot_20200504_180019](https://user-images.githubusercontent.com/2502080/81011215-3d9e2380-8e60-11ea-8a5b-070898ca92f6.png)

Though I couldn't really track the Request ID, I guess it's caused by this error in my case:

[code]

and a screenshot of the logs might be more meaningful:

![Screen

[2020-05-04 20:50] danielcondemarin commented on #222
@mertyildiran Try version @1.11.1 (not the alpha) which includes a fix for catch all routes. That should fix the error you're seeing.
Also note that `getStaticPaths` and `getStaticProps` have still not been implemented. I have created an RFC for that : https://github.com/danielcondemarin/serverless-next.js/issues/355

[2020-05-04 21:37] mertyildiran commented on #222
@danielcondemarin `yarn add serverless-next.js -D` installed `1.11.1-alpha.0` by default. Downgrading to `1.11.1` solved the issue thank you so much! :blush:

[2020-05-04 21:55] antoinemaz opened #382 "npx serveless : chunk with 403 error"
Hello,

i've a problem after deploying my app with serverless-next.js@1.11.1 :

i can't fetch some chunks : when i open the network tab, i see some JS and CSS chunks with a 403 error code in "_next/static" folder

i have to manually upload generated files by "npx command" in the "_next/static" S3 bucket :'(

My serverless.yml file :

[code]

And my next.config.js :

[code]

And i see these errors

[2020-05-04 22:31] danielcondemarin commented on #382
@antoinemaz Could you please list which chunks are failing? Also post your `.next/build-manifest.json` please.

[2020-05-04 22:54] antoinemaz commented on #382
Ok, so the following chunks are failing :

_next/static/chunks/50.bcd87c268373c6034627.js
_next/static/chunks/53.2a355333bf20aeda10f3.js
_next/static/chunks/51.6b524a5a47b5192d754c.js
_next/static/chunks/49.5cd186ae2b1c74f47076.js
_next/static/chunks/30cd56ec8b4292fd1d19f6bfd4b67b1689d06305.abc9c7d818c21f563b2b.js
_next/static/chunks/56.79598ae743423ad549b1.js
_next/static/chunks/48.8e0ac5571cc814

[2020-05-04 23:04] danielcondemarin commented on #382
Mmh strange, none of those chunks seem to be referenced in the build-manifest.
Could you grep for any of them in the `.next` directory, e.g.

`grep -nr 'static/runtime/webpack-c212667a5f965e81e004.js' .next/`

Hopefully we can find if the chunk is being referenced in any manifest within `.next/`.

[2020-05-05 00:14] tyler-ground commented on #365
I would also benefit from this.  My servers are generally in Oregon and it doesn't make a lot of sense to hit a lambda in Asia then that has to send several requests to Oregon before proceeding.

[2020-05-05 05:49] hnprashanth commented on #380
Looking forward to this! I really really really need this!

[2020-05-05 07:55] antoinemaz commented on #382
No, when i use this command, i have no results (for each file)

I test with a previous version, and it works (1.10.0)

Thank !! :)

[2020-05-05 08:53] zizizheng commented on #382
@danielcondemarin I bump into the same situation and your solution save my day!
But I wonder that seems those chunks not in `.next/build-manifest.json` will never been upload, we can only use previous version of serverless-next to prevent this issue for now ?

[2020-05-05 09:18] danielcondemarin commented on #382
@zizizheng For now pin the version but I'm keen on getting to the bottom of this. I wonder if this is only affecting next.configs with some sort of specific configuration.
https://github.com/danielcondemarin/serverless-next.js/tree/master/packages/s3-static-assets is responsible for reading the build-manifest and uploading chunks etc. to S3.

[2020-05-05 09:59] gianpaolom opened #383 "Include a custom dir in the lambda bundle (i18n public/locales)"
I am trying to use `serverless-next` to deploy a NextJS 9 app that uses also `next-i18next`.
This cause an issue with the Lambda that errors with:
[code]
According to this [open bug report](https://github.com/isaachinman/next-i18next/issues/274) a workaround would be including the `public/locales/` directory in the lambda bundle.

I have tried to manually inject the directory with a custom build s

[2020-05-05 10:36] james-calmus-dt commented on #203
**Serverless.yml**
[code]

At the moment it seems to be deploying correctly but I'll monitor it and let you know if we experience any other problems.

[2020-05-05 11:10] danielcondemarin commented on #383
@gianpaolom I'm not very familiar with `next-i18next` but could you not include the locale files you need in the page bundles via webpack?

[2020-05-05 11:58] thiagozf commented on #380
I would love to help with this request. I've migrated some building blocks like `aws-cloudfront` and `aws-s3` to the new version and patched `aws-lambda` to output the function version. Probably submitting a PR to Serverless after writing some tests. If there is anything I could do to get this out, hit me up.

[2020-05-05 18:40] danielcondemarin commented on #382
Hey folks 👋 Some good news, just pushed a fixed for this on  `serverless-next.js@1.11.2`! 🎉

[2020-05-05 18:40] #382 closed

[2020-05-05 20:34] mertyildiran opened #384 "TypeError: req.logIn is not a function - Passport.js"
First of all, this error is quite similar to https://github.com/jaredhanson/passport/issues/436 but it only happens on AWS Lambda@Edge so I guess it's more relevant to `serverless-nextjs` or [serverless](https://github.com/serverless/serverless) in general.

**Describe the bug**
The error log from CloudWatch:
[code]
The line it points out to:
[code]

**To Reproduce**
Steps to reproduce the behavio

[2020-05-05 22:50] danielcondemarin commented on #384
Thanks for reporting! And the great write up.

I believe the issue lies in the compat layer https://github.com/danielcondemarin/serverless-next.js/tree/master/packages/lambda-at-edge-compat.

More specifically the [artificial request object](https://github.com/danielcondemarin/serverless-next.js/blob/47fb657f49ba68cd79a8b8b4328c797bda9e7d24/packages/lambda-at-edge-compat/next-aws-cloudfront.js#L92

[2020-05-06 01:08] mertyildiran commented on #384
@danielcondemarin OK, probably I'm going to deep copy `cfRequest` to `req` with the purpose of preserving the functions and attributes instead of creating a blank request object on [this line](https://github.com/danielcondemarin/serverless-next.js/blob/master/packages/lambda-at-edge-compat/next-aws-cloudfront.js#L92).

I'm going to give you an update or open a PR as soon as I'm done this.

[2020-05-06 03:09] GuillaumeBecker commented on #363
Is there any update or work around for this issue ?

[2020-05-06 04:14] Accumulative commented on #383
@danielcondemarin `next-i18next` expects the files to exist at that path `/var/task/public/locales/en`. Including the locale files in the page bundle wouldn't fix that?

I did see as part of https://github.com/danielcondemarin/serverless-next.js/commit/4406ebbb8937c75dfbc5644913b7c0d05ff3a52f the `default-lambda` folder is cleared before the build command is ran. I think we should be able to copy

[2020-05-06 07:33] danielcondemarin commented on #384
@mertyildiran I'm afraid the Contributing guide needs updating. The steps there are for the older version of this project using the [serverless plugin ](https://github.com/danielcondemarin/serverless-next.js/tree/master/packages/serverless-plugin) which deploys to API Gateway and Lambda. What you want is the newer version of the project deploys to CloudFront and Lambda@Edge which lives [here](http

[2020-05-06 13:22] gianpaolom commented on #383
@Accumulative I managed to make it work hacking
[code]
and adding the instructions to copy the locales and the node modules missing for next-i18next (see: https://github.com/isaachinman/next-i18next/issues/274#issuecomment-624431075)

However clearly it's not an acceptable solution, even more in a context of CI where I have to automate it

[2020-05-06 19:01] #384 closed

[2020-05-06 19:50] seansullivan commented on #308
Any thoughts on what steps we need to take to take advantage of this? I just pulled down 1.11.3 of serverless-next.js and attempted a deploy and still not seeing it use this name property.

My serverless.yml

[code]

[2020-05-06 20:46] jlaramie opened #386 "S3 Upload not checking nextStaticDir"
**Describe the bug**
feat(serverless-component): decouple uploading of next static assets to S3 from next component (#374) broke a feature I introduced which allowed specifying where the static directory lived. Broke by this commit 2b74304dd5d669caed399221e9cd7de0f4fbb0bc

**To Reproduce**
Steps to reproduce the behavior:
1. try and use nextStaticDir
2. nextStaticDir Doesn't get used and if no fol

[2020-05-06 20:49] danielcondemarin commented on #386
@jlaramie Sorry about this! This needs some tests from preventing it happening again. Please if you have time could you PR a fix? 🙏

[2020-05-06 20:51] jlaramie opened #387 "Handle errors from @serverless/domain"
**Describe the bug**
Despite being the last and optional step of deploying serverless-nextjs, an error during this process results in missing output data from the serverless component even though it succeeded otherwise.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a serverless-nextjs component with a domain that will fail
2. Deploy
4. See error and missing final outputs even though

[2020-05-06 20:59] jlaramie commented on #386
@danielcondemarin Yes I'm working the pull request right now. A test for this is a great idea as it took me a while to realize this was happening to my projects :(

[2020-05-06 21:55] UlyssesInvictus commented on #339
Slightly clarifying this for anyone who comes across this: if you view the IAM role created for the Edge lambda, you need to delete the role that was created for the lambda before any further new policy inputs (during deployment) will take effect (i.e. editing the existing lambda and its role during deployment will be a no-op).

Not sure yet why this is, could be a bug in the code, or just a quirk

[2020-05-07 05:41] mertyildiran commented on #236
I also got this error when I tried to deploy ~4000 pages website into AWS Lambda:

[code]

There are actually 30 - 40 serverless functions in our application. By page, I mean the different pages created by dynamic routes which only contiant `getStaticProps` and `getStaticPaths`. When I tried ~500 pages it didn't exceed this limit. But when I tried ~4000 pages it exceeded the limit. Clearly the fun