[2021-01-30 13:02] 8brandon commented on #819
Yea @dphang @zerbinidamata  @grantmontgomery I'm quite sure now that this isn't an issue with the serverless-next plugin, but rather something within our own implementations.

I've just deployed this apollo client/ server example from next that also has API routes and it works flawlessly, also on API Routes.
https://github.com/vercel/next.js/tree/canary/examples/api-routes-apollo-server-and-client

[2021-01-30 15:58] tonestrike commented on #361
@wabi91 did you ever figure out a solution to this?

[2021-01-31 01:20] msimonc commented on #890
Works, thanks!  I will inform sls support.

[2021-01-31 01:20] #890 closed

[2021-01-31 11:54] tonestrike commented on #881
@iDVB I believe the issue is related to how Lambda@Edge functions are managed. You can see more information [here](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/lambda-edge-delete-replicas.html) but when you use that command, it does look like the CloudFront Distribution is disabled and then it takes some time for the related functions to be deleted.

[2021-01-31 13:29] iDVB commented on #881
Yup, aware of Edge function deletion times. I think in this case though, nothing was removed. Distro was still enabled and still there after hours. Would love confirmation on it though.

Also, another thing I notice about Serverless Components is that since there is no longer a stack, it's pretty tough to sus out what and where all the applications resources are.

[2021-02-01 08:38] huisang-growth commented on #164
Did everything mentioned above, only to fail..
1. added .env variable
2. deleted .serverless, .serverless_nextjs and re-run the code

Only to encounter another  ```
 error:
  { AccessDenied: Access Denied
[code]

[2021-02-01 16:45] rdsedmundo opened #892 "Allow overriding of lambda@edge origin-request for custom paths"
**Is your feature request related to a problem? Please describe.**
I have a custom path on my NextJS app that I want to route through a custom Lambda@Edge function of my own, but [this code](https://github.com/serverless-nextjs/serverless-next.js/blob/828b9dde89a9cb2559c58ab4e798ee7cbcbdd5e6/packages/serverless-components/nextjs-component/src/component.ts#L647) overrides it even if I provide it in

[2021-02-01 17:19] ncrmro commented on #111
@dphang hey just wondering if there was an update on this? Looks like the project was restructured to be serverless provider agnostic, but no work on the cloudflare workers specifically.

Just wondering if I can do anything to help out.

[2021-02-01 20:16] tonestrike opened #893 "Connect to RDS Database Using RDS Proxy"
**Is your feature request related to a problem? Please describe.**
I am trying to connect to an RDS Database using RDS Proxy. Because the Lambda must be inside a VPN and this deploys the Lambda via Lambda@Edge, I am unable to deploy when connected to the RDS Proxy.

**Describe the solution you'd like**
Have the option to toggle whether to use Lambda@Edge

[2021-02-01 20:38] patricktyndall opened #894 "503 on SSG routes that should 404 when App uses getInitialProps"
Me again! I'm getting a Cloudfront 503 response from routes that match SSG pages (fallback: false) where I expect to get 404s, _only when I have a custom \_app that has getInitialProps_. I have created a reproduction here: https://github.com/patricktyndall/sls-next-bug-repro

### More info
- I started seeing this issue after upgrading, as instructed by @dphang in #873. (I was able to access old pa

[2021-02-01 20:40] patricktyndall commented on #873
Hey @dphang I upgraded as suggested, but that turned my 404 pages into 503s, that's why I didn't confirm this fix. I have created a new issue for that here: #894

[2021-02-02 00:26] msimonc opened #895 "How to deploy Prod and Staged"
Issue: on command line "sls" the .serverless folder caches data not overridden by the serverless.yml file.

result: prod is removed (website not found) when Staged is deployed.

workaround in package.json | scripts:
[code]

Also, none of the "sls command"s work in a project folder.  Ex. sls print.
[code]

[2021-02-02 05:24] huisang-growth commented on #880
@amatyas001 Thanks for the comment, but this is a serverless component, therefore plugins are not supported.

[2021-02-02 05:42] dphang commented on #111
@ncrmro yeah right now the major hurdles are:

* The core Next.js routing/rendering logic needs to be decoupled from Lambda/CloudFront. Quite some refactoring to do here since the code is coupled at the moment. I was planning to do this by end of Q1.

* Some features may be hard to port due to Cloudflare using a limited JS environment such as image optimizer (can't use sharp) and SSR rendering nee

[2021-02-02 06:41] huisang-growth commented on #880
I'm closing this issue.
Making a new S3 bucket with another name seems inevitable, and the AccessDenied error was a result of my IAM permission. I'm opening up another issue related to permission -

[code]
Anyways this issue is closed. This so called "zero configuration" and "fast" component is not at all easy to onboard.

[2021-02-02 06:41] #880 closed

[2021-02-02 06:55] huisang-growth opened #897 "AccessDeniedException: Cross-account pass role is not allowed."
serverless.yml:
[code]

`npx serverless --debug` results in:

[code]

My IAM role has ADMINISTRATOR ACCESS, which means that permission is not an issue.
The flow seems as following:
1. create new S3 bucket
2. deploy S3 bucket
3. create new role in region us-east-1
4. deploy role
5. create new lambda
6. deploy lambda

In this sequence, my error is located in step 6, describing error `AccessDeniedEx

[2021-02-02 16:11] ncrmro commented on #111
@dphang Will def see about digging into the code. Going to leave this additional context here as it might help.

I put this proof of concept together that works for `next export`, although I naturally this inherits all [the caveats of static html export](https://nextjs.org/docs/advanced-features/static-html-export). I have a personal project that I think I can prob keep designing with these caveat

[2021-02-04 02:26] aomv opened #898 "502 LambdaValidationError when used in conjunction with `http-proxy` module, only when deployed"
### Describe the bug

Serverless-deployed Lambda function appears to introduce a blacklisted header (headerName: `connection`) when using `http-proxy` module via Next API Routes, though not observed during local development. This leads to an immediate 502 LambdaValidationError from cloudfront.

### Actual behavior

We began testing with `http-proxy` sitting between our Next front-end and standalon

[2021-02-04 02:27] sonnguy commented on #866
@renanfeluck any update? have you resolved this issue?

[2021-02-04 11:37] mattpocock commented on #843
Also experiencing the same issue deploying from Mac. The root of the issue appears to be AWS not respecting permissions, as above. Running `chmod` in `postBuildCommands` does not work, because once the files are in AWS the permissions are reset.

Copying the files to a /tmp/ directory works, but only if you specifically set:

`process.env.PRISMA_QUERY_ENGINE_BINARY = binaryPath`

in code before in

[2021-02-04 19:06] dphang commented on #777
@garyburtonjisc yes the major hurdle is we need to first decouple Lambda/CloudFront stuff, and also I/others may not have enough expertise in Azure functions.

If you would like to help start on the Azure part (e.g create a plugin to help package/deploy to Azure) please let @danielcondemarin know, we can add you to the Slack.

[2021-02-04 20:10] dphang commented on #777
@iDVB yes I think there is a PR out for adding CDK that @kirkness was working on for CDK deployment. Will be reviewing it since he mentioned it is ready.

Basically, build and deploy is already decoupled, and we provide a way to deploy using serverless components via AWS SDK, but yeah you can use CDK/CDK for Terraform/your own script, you'd just need to know where to upload the build outputs of `.

[2021-02-04 20:25] dphang commented on #721
Thanks @benjipott for reporting, for that issue #646 I didn't have luck making progress on it. But will look at the other issue.

[2021-02-05 01:02] jonahallibone commented on #843
@mattpocock did you visit the mentioned issue above (prisma/prisma#5392)? A prisma dev mentioned upgrading to 2.16 should rectify this issue (at least that's how i read it). I haven't tried it yet but I will tomorrow.

[2021-02-05 10:11] benjipott commented on #721
@dphang with my latest pr approved and merged, i test only the upload to s3 but i think an other method filter this file because /fr/path/file.json is correctly present in next folder ... no idea why.
I can check it in your related issue, thks @dphang

[2021-02-07 15:31] BrunoBernardino commented on #361
I would love to have a solution for this, even if it's an environment variable (but ideally would be a variable like `awsProfile` in `serverless.yml`). I'm happy to help with a PR if I can get a pointer on this.

[2021-02-08 02:48] wabi91 commented on #361
@tonestrike
Not yet. :(
It is remembered that the logic was changed so that distribution could be divided into two units instead of switching logic.
I want to check it again now, but I am sorry that I couldn't check it because I don't have permission to read because it's a previous workplace project.

[2021-02-08 15:03] johnaxe commented on #721
@dphang great job with the latest merges. Locale subpath now works fine also at lambda@edge. Except for a small discrepancy: When switching to a locale other than default (and using next/link), http protocol is also prepended to the href. Consider this snippet:
``<Link href={`/${navItem.link.url}`}>
                <a>{navItem.DisplayName}</a>
            </Link>``
When I use default locale, the l

[2021-02-08 15:25] johnaxe commented on #721
@dphang One workaround for the behaviour described above is:
``<Link
                href={`${locale === "en" ? "/" : ""}${navItem.link.url}`}

                {navItem.DisplayName}
            </Link>``
_("en" being the default locale)_
Now it's OK `<a href="/sv/blog/post-1">Post 1</a>`
Maybe there's a better way of doing it?

[2021-02-09 05:08] achraf-boussaada commented on #843
@jonahallibone did you have the time to test it out? if so could you share how did you solve it with `postBuildCommands`. Thanks in advance

[2021-02-09 11:26] jlvdh opened #901 "Unable to generate serverless package"
### Describe the bug
I'm trying to create a package to use as artifact in our AWS CI/CD pipeline. For that I'm running the following command locally:

`serverless package --component=componentName`

### Actual behavior

I'm getting the following error:

`  Error: Cannot find module '@sls-next/serverless-component@1.19.0-alpha.27'`
### Expected behavior

Generating the package files
### Steps to re

[2021-02-09 13:25] thaiphan opened #902 "URL paths are case sensitive"
### Describe the bug
The URL paths of my deployed Next.js application is case sensitive.

### Actual behavior
When I navigate to https://www.myamazingsite.com/test, I am able to navigate the page that I want.
When I navigate to https://www.myamazingsite.com/Test (notice the uppercase T), I get server the 500 Internal Server Error page.

### Expected behavior
When I navigate to https://www.myamazin

[2021-02-10 07:30] dphang commented on #721
@johnaxe not sure, I did not change anything client-side, so perhaps it might be Next.js converting the link component to wrong href? Is that the same behavior on the local dev server?

[2021-02-10 22:57] evangow commented on #854
@dphang I've specified the roleArn in my serverless.yml, but a new role gets created every time I deploy. In searching, I found that the new role being created is associated with the image lambda, so I don't think the image lambda is using the roleArn set in the serverless.yml file

[2021-02-10 22:57] evangow commented on #854
BTW, I am using @1.19.0-alpha.30

[2021-02-11 02:07] isaacparker2 commented on #876
I'm facing exactly the same problem (except deploying to Vercel) — an api route using firebase-admin works fine in dev but when deployed to Vercel gives that same error `Error: ENOENT: no such file or directory, open 'protos.json'`. Haven't been able to find a solution yet..

[2021-02-11 02:15] evangow commented on #854
@dphang Just had the time to go through the code.

Lines 526-529 of https://github.com/serverless-nextjs/serverless-next.js/blob/%40sls-next/serverless-component%401.19.0-alpha.30/packages/serverless-components/nextjs-component/src/component.ts
[code]

should be:
[code]

The same as it is for the defaultEdgeLambdaInput and the apiEdgeLambdaInput

[2021-02-11 02:23] dphang commented on #854
Thanks, yeah I had forgotten to update that part as the custom role change was merged around the same time. I can update it tonight.

[2021-02-11 02:54] evangow commented on #854
Awesome! I greatly appreciate it!

[2021-02-11 03:17] dphang commented on #854
Cool, closing this then. (The original problem seemed to be due to switching between multiple versions, and this fix should also help the custom role issue. @jackywxd do let us know if you are still facing issues).

[2021-02-11 03:17] #854 closed

[2021-02-11 20:01] mattpocock commented on #843
@jonahallibone That's the version I'm on.

[2021-02-13 10:43] ungarida commented on #323
@revvi could you share more in details what code did you use? Because I could not manage to overcome accelerated issues yet.

[2021-02-13 16:47] DevNM21 commented on #902
This line
`const { origin, pathname } = new URL(destination);`  [link](https://github.com/serverless-nextjs/serverless-next.js/blob/master/packages/libs/lambda-at-edge/src/routing/matcher.ts#L33)
I think if the `destination` is changed to `destinationLowerCase` (variable from line 27, same file) would fix it.

[2021-02-13 21:31] manobo commented on #641
Hi, @huisang-growth any luck working on this issue? I am in the same boat.

[2021-02-14 16:38] huisang-growth commented on #641
@manobo Turns out this was an AWS permission issue for me. I asked my VP of engineering for admin access on AWS, and then gave myself all kinds of access. This solved the AccessDenied error for me.

[2021-02-14 22:17] ungarida commented on #881
I actually got removed the S3 Bucket and the cloudfront distribution is just disabled.
The lambda function are still there but overall the IAM roles related to them, anyway you can see all the templates in the `.serverless` directory.

[2021-02-14 22:18] ungarida commented on #323
I confirm, you can manage with AWS support to get it done.

[2021-02-15 14:39] ungarida opened #904 "Mute log Deploying progress optionally"
**Is your feature request related to a problem? Please describe.**
In the GitHub Actions the "Deploying ..." log message is making a lot of noise printing many lines like:
[code]
It looks good on normal terminal but I guess there are many other situation where this "animation" is not useful at all.

**Describe the solution you'd like**
Would be enough to have a command line parameter to mute the p

[2021-02-16 05:25] krish-dev commented on #721
I have noticed one use case that SSG with nextjs i18n only working from root page (index.jsx). I put the same code all pages for testing.
[code]
Here is my `serverless.yml` configuration
[code]

This is my `i18n` config for  `next.config.js`
[code]

[2021-02-16 07:18] dphang commented on #893
Yes, unfortunately this is due to using Lambda@Edge which cannot be in VPC. We are slowly trying to genericize the component more so it's not tied to Lambda@Edge, and then once that is done we can add other provider support (Lambda, GCP, etc.). Once I can finish the majority of Next.js 10 features then we will work on it. We will track in the other existing larger GH issues.

[2021-02-16 07:18] #893 closed

[2021-02-16 07:24] dphang commented on #902
From what I tested, URL paths also seem case sensitive on the local Next.js server. Is it the same case when deploying to Vercel?

[2021-02-16 07:29] dphang commented on #904
Unfortunately, I think this was an issue with serverless component CLI (see: https://github.com/serverless-nextjs/serverless-next.js/issues/706). It might be fixed in latest GA version (not sure), though we are still using beta version since we need to upgrade (lack of resources right now, it is a major upgrade). Please keep an eye on that issue for now.

[2021-02-16 07:29] #904 closed

[2021-02-16 07:32] dphang commented on #721
@krish-dev thanks, I will take a look, not sure if it's due to serverless trace target (I have only tested without it)

[2021-02-16 09:42] ARTushar commented on #433
@Arditc I guess you can use the helmet middleware using next-connect.
Something like below
`
import helmet from 'helmet'
import nc from 'next-connect';

const handler = nc();
nc.use(helmet())
\\ ......
\\ ....
export default handler;
`

[2021-02-16 14:02] vosinsky commented on #804
Hi, if there is an update on this? Or is there some other method to solve this problem?

[2021-02-16 21:18] jonahallibone commented on #901
@jlvdh I don't see `@sls-next/serverless-component@1.19.0-alpha.27` on the [releases page](https://github.com/serverless-nextjs/serverless-next.js/releases)

[2021-02-17 09:27] #902 closed

[2021-02-17 13:55] darren-charterindex commented on #473
I am also getting the 503. Aside having the next.config.js and serverless.yml in the same directory, I also use the following:

serverless.js
[code]

serverless.yml
[code]

[2021-02-18 07:23] krish-dev commented on #721
You are correct @dphang,  I did some testing without `useServerlessTraceTarget: true` then it works, but with `useServerlessTraceTarget` the behavior is the same as I described. However, `useServerlessTraceTarget: true` is very crucial for the application which has a very long list of SSR pages.

[2021-02-19 20:03] carllx opened #905 "Is possible exclude some assets that I have been uploaded in /static/?"
There are some assets(about 4GB) in the path `'/static/*'`, I don’t want to upload every time. I would like to ask if `serverless.yml`  allows me to filter those large files that I have been uploaded, won't make me wait for 40 minutes to see the result.

[2021-02-19 21:35] Lunnatica commented on #894
I'm getting the same error (even when using fallback: true). Did you manage to make it work in the end @patricktyndall ?

[2021-02-19 21:45] patricktyndall commented on #894
Nope. My workaround: Every time I deploy I have to create a Cloudfront custom error response that replaces the 503 with a 404, so google indexes my site.

Are you using rewrites?

[2021-02-19 22:11] Lunnatica commented on #894
Thanks for the workaround! I'll have it in mind if I cannot find another solution.

No, I am not using rewrites.

[2021-02-20 05:39] evangow commented on #804
Spent some time thinking about this. My pseudocode is below for anyone that might have time to implement this. This covers both the setting { revalidation: Int } on getStaticProps and { fallback: "blocking" } on getStaticPaths (neither or which are currently handled from my understanding).

[code]

- Potential Edge Case: if it's past the revalidation window, the async lambda could be called multip

[2021-02-20 13:26] evangow commented on #833
@dphang  I wrote some pseudocode to address { fallback: "blocking } along with setting a revalidation parameter in the issue here https://github.com/serverless-nextjs/serverless-next.js/issues/804#issuecomment-782565190

[2021-02-20 21:14] KamnaNarang opened #906 "Access Denied web page on new deployment"
### Describe the bug
Access denied web page renders instead of default page while using version 1.19.0-alpha.32 (latest at the time of reporting) for first/new deployment. It works well if upgraded the version for already deployed application with existing version (previous to 1.19.0-alpha.30).

### Actual behavior
Error page is being rendered as in screenshot below.

### Expected behavior
Default

[2021-02-21 05:20] dexter31 commented on #525
+1 On this issue. I have an image lambda that is used for image optimization. Although I wasnt able to get the error response, I was able to isolate the cause.

All raw images(mine are webp by default) below 1MB seems to have no issues parsing, while anything above 1 MB goves out an invalid response.

[2021-02-21 10:02] IamManchanda commented on #906
This is how I do it and works:

1. npx create-next-app
1. Create `serverless.yml` file as suggested below
1. Add the below code as mentioned below in `.gitignore` besides already added code in there
1. Create `.vercelignore` and add the below code as mentioned below in `.vercelignore` (optional, but you should use it if deploying to vercel also separately)
1. npx serverless

`serverless.yml`

[cod

[2021-02-21 10:28] KamnaNarang commented on #906
Thanks Harry. I tried the steps you have mentioned and I still get the same Access Denied issue. Can you please try the steps I mentioned in the issue.

[2021-02-22 18:53] tom-pavemint commented on #473
My team had the same problem and we figured out an elegant solution!
The way we encountered the problem was this combination:
 - using yarn workspaces
 - using userServerlessTraceTarget
 - CI in Github actions
 - Problem: deploy command was running from 1 dir lower than where the app resources were built

 The solution we found was very simple. We changed out the workspaces build command to this:

[2021-02-24 20:20] lid3rs commented on #866
same problem

[2021-02-25 13:33] danigrandem commented on #798
Im having the same problem.
How can i solve this?

Thanks

[2021-02-26 00:23] emulienfou commented on #725
@dphang
Getting the same 404 error with the version **1.19.0-alpha.32** and using a custom domain has the documentation requires to do.
Like @mark-a-bailey says it looks like the _next/image route isn't being setup.

[2021-02-26 09:38] raffij commented on #906
I agree there's an issue with the default setup on alpha.32. The lambda's don't get created.

Not sure what the issue is yet.

[2021-02-26 12:49] raffij opened #907 "Access denied after deploy using versions since locale data copying"
### Describe the bug

### Actual behavior
We updated from beta.9 to beta.32 to take advantage of locale based urls, but it's causing us issues as it appears non of the localised files are being copied to the s3 bucket.

### Expected behavior
Being able to access the website

### Steps to reproduce
Build a nextjs project with locale based routes and try to deploy.

### Screenshots/Code/Logs

[code]

[2021-02-27 17:45] tyler-ground commented on #862
This ticket appears to be resolved as "By Design". Safe to close?

[2021-02-28 13:53] kristype commented on #906
I'm having the same issue with alpha.32. I don't have any locale specific content.
Will try deploying with an older version.

[2021-02-28 16:14] raffij commented on #906
Have to drop to the version before the locale based file changes were. Either 28 or 29 will work.

[2021-02-28 21:54] raffij commented on #907
I think the issue is related to https://github.com/vercel/next.js/pull/21404 where the prerender-manifest.json version has been updated as locale based urls are handled differently now.

[2021-03-01 09:00] johnaxe opened #909 "@dphang all's good for me in production , but"
@dphang I'm currently using the latest alpha @sls-next/serverless-component@1.19.0-alpha.32. At build time, all SSG files are created as expected and ends up in .next/serverless directory locally but they're not copied to S3. Will you be addressing this issue? Is there a way in which I can issue a custom script during the build which cpoies the generated files to S3?

[2021-03-01 13:55] kartikag01 commented on #525
+1
I found this issue too after updating from 1.17.0-alpha.12 to 1.18.0 because of (TypeError: s3_static_assets_1.default is not a function) https://github.com/serverless-nextjs/serverless-next.js/issues/765
i am facing this issue on some pages, which returns somewhat big jsons from getInitialProps.

NextJs version - 10.0.3

[2021-03-02 01:35] joekitaj commented on #207
I am still experiencing the subfolder issue as described above.

Everything works fine locally, but when depolyed, any files within `public/sub-folder` are not available (404)

[2021-03-02 07:14] dphang commented on #905
Right now there isn't a built-in way, but I think you can do a similar thing using the `postBuildCommands`, which allows you to run any command/script in between build and deploy steps. I think you can write a script to remove files you don't want to re-upload from the `static` directory

[2021-03-02 07:43] dphang commented on #909
Please add the Next.js version and more information about your project structure

[2021-03-02 08:11] dphang commented on #907
Yes, looks like in newer versions they started generating an entry per locale in prerender manifest like so:

[code]

Will update the logic to check the prerender manifest version and act accordingly.

[2021-03-02 08:54] #907 closed

[2021-03-02 10:55] johnaxe commented on #909
@dphang
- next v10.0.7
- @sls-next/serverless-component@1.19.0-alpha.32

My pages are a mix of SSG / SSR. The app is basically fetching pages and posts from Storyblok. There is also a products section with a optional catch-all but that works fine since it uses getServerSideProps().
### Pages
- index.js (SSG) - **_problem_**
- shop
  - [slug].js (SSG) - **_problem_**
- products
  - [[...tree]].js (

[2021-03-02 10:55] krish-dev commented on #721
@dphang any luck for `useServerlessTraceTarget: true` issue?

[2021-03-02 11:40] L-Luciano opened #911 "Aliases doesn't work"
### Describe the bug
My yaml :

`
domain: ['prod', 'neo.tv'] # [ sub-domain, domain ]
aliases: ["www1.neo.tv", "prod.neo.tv"]
`

### Actual behavior
My cloudfront distribution has only "prod.neo.tv" cnames.

### Expected behavior
both "www1.neo.tv", "prod.neo.tv" in cnames

### Versions

- OS/Environment: MAC
- @sls-next/serverless-component version: '@sls-next/serverless-component@1.19.0-alpha.33

[2021-03-02 13:13] raffij commented on #907
Confirming 33 is now deploying as expected for us.

[2021-03-02 16:08] raffij commented on #906
You should both try the latest version 33. It fixed our issues.

[2021-03-02 19:39] dphang commented on #909
Are you using locales? I had a fix yesterday in 1.19-alpha.33 to handle newer Next 10 versions since they changed the structure of the prerender manifest, maybe that will help? Before this fix, the SSG pages weren't copied correctly if you had multiple locales. This could explain why SSG pages are not working but SSR pages are?

[2021-03-02 19:51] dphang commented on #911
I believe this is because domain and aliases kind of conflict (because domain input has some magic behind the scenes where it does stuff with Route53, certs + CloudFront aliases). So I think the aliases are being overridden by code behind the domain input.

I would recommend to manage domain/cert outside this component, and then you can uses aliases... not sure we will invest in refactoring this g

[2021-03-02 20:57] dphang commented on #721
Haven't finished looking at it yet, I was fixing some other bugs and e2e tests. I need to check the .next output structure for serverless-trace target and see if files are being copied correctly

[2021-03-03 01:49] t829702 opened #915 "feat(AWS Lambda): Add support for `nodejs14.x` runtime #8894"
I'm trying to deploy a next app with serverless.yml:

[code]

it failed with:

[code]

I believe this npm package `@sls-next/serverless-component` need some change similar to serverless/serverless#8894

[2021-03-03 04:35] dphang commented on #915
Actually we don't hardcode any specific Lambda runtime that user must choose - so that message is coming from AWS telling you which runtimes are supported.

Yes, Lambda supports Node 14 now (https://aws.amazon.com/about-aws/whats-new/2021/02/aws-lambda-now-supports-node-js-14/) but Lambda@Edge is slightly different/more limited since it's running at the edge CloudFront locations, it looks like onl

[2021-03-03 04:35] #915 closed

[2021-03-03 07:02] johnaxe commented on #909
Working perfectly with 1.19-alpha.33. Thank you! The most awesome npm package I ever saw is now even more awesome! Thank you for you effort.

[2021-03-03 07:02] #909 closed

[2021-03-03 09:05] carllx commented on #905
@dphang Thank you for providing the `postBuildCommands`, indeed,Now I Manually drag and drop static to other places when uploading, and then drag it back during development.
Therefore, I need `postBuildCommands`, and I also need a hook when I finished upload,  execute  commands to move files back. Hope there is an option to ignore the files, which is more friendly way .

[2021-03-03 09:44] BenAllenUK opened #917 "Deployment to multiple subdomains"
**Is your feature request related to a problem? Please describe.**
The ability to default and API lambdas to multiple separate subdomains. The ability to turn off lambdas for particular subdomains.

**Describe the solution you'd like**
Rather than have `example.com`, `example.com/api/` have lambdas deployed to `api.example.com`and `example.com` from a single deploy.

**Describe alternatives you've

[2021-03-03 10:00] #917 closed

[2021-03-03 18:26] tademianhess opened #918 "Example of using a custom handler?"
Is there documentation or example code for specifying a custom handler with the serverless-next component (is that even still an option)?

I see this note for the "handler" property on https://www.serverless.com/plugins/serverless-nextjs-plugin:
"When assigned a value, overrides the default function handler to allow for configuration. Copies handler.js in route into the Lambda folders. Your handle

[2021-03-03 20:41] dphang commented on #891
Yes you can, though AWS Lambda@Edge runs on the edge among globally distributed nodes, so that is why it cannot be in VPC (unlike a normal Lambda). Also furthermore, they do not support environment variables. So if you want to connect to a SQL database then you may need to have the credentials in-lined in your Lambda@Edge function code.

I know there are ways like using AWS Secrets Manager (e.g ht

[2021-03-04 12:31] CodysseusX opened #919 "AWS China deployments fail - enable/disable accelerated s3 bucket"
This is a follow-up to https://github.com/serverless-nextjs/serverless-next.js/pull/443.

Having the same problem when deploying to **China**. I understand that you are doing a check if the bucket acceleration is available or not before uploading: https://github.com/danielcondemarin/serverless-next.js/blob/1f47c3ebd0893336ddf55f4b909e9c232a50310f/packages/s3-static-assets/src/lib/s3.ts#L35

Unfort

[2021-03-04 12:54] CodysseusX commented on #919
"Amazon S3 Transfer Acceleration is not supported in the Beijing and Ningxia Regions."
https://docs.amazonaws.cn/en_us/aws/latest/userguide/s3.html

[2021-03-04 13:27] CodysseusX commented on #919
So, when I run this with sls --debug, this is the output:
 DEBUG ─ Deploying bucket _bucketName_ in region cn-north-1.
  DEBUG ─ Checking if bucket _bucketName_  exists.
  DEBUG ─ Setting acceleration to "true" for bucket _bucketName_ .

Then, it fails with message: 'The request contained an unsupported argument.',  code: 'UnsupportedArgument'.

[2021-03-04 14:25] larrifax commented on #898
Just ran into this today. Seems like Lambda@Edge [blacklists certain headers](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/lambda-requirements-limits.html#lambda-blacklisted-headers), amongst them the `connection` header, which the `http-proxy` just passes through from the target response.

I've been able to circumvent this issue by applying the following patch to `http-proxy

[2021-03-04 21:30] dphang commented on #898
Yes since there are blacklisted headers, we need to remove them from the response before returning it. We are doing it for external rewrites but not for SSR/API responses. Will refactor to remove these blacklisted headers

[2021-03-04 23:22] #898 closed

[2021-03-05 00:02] ajbtechservices opened #924 "Github actions workflow"
Hi,

Does anyone have a working example of how to deploy a site with a Github Actions Workflow?
I've used various commands in my workflow e.g.

- run: npx serverless
- run: npx serverless deploy
- run:    run: npx serverless --component=serverless-next config credentials --provider aws --key ${{ secrets.AWS_ACCESS_KEY_ID }} --secret ${{ secrets.AWS_SECRET_ACCESS_KEY }}
- run: serverless

All of th

[2021-03-05 03:41] ashvinmittal opened #925 "Generating PDF from React Component (rendered HTML)"
**Is your feature request related to a problem? Please describe.**
I am trying to use "puppeteer-core" and "chrome-aws-lambda" libraries to create pdf from html that is rendered on the server side from a react component, but it fails with this error -
`"ERROR	Unhandled error during request: [Error: ENOENT: no such file or directory, open '/bin/chromium.br'] {  errno: -2,  syscall: 'open',  path: '

[2021-03-05 07:48] dphang commented on #919
Yes I think it probably makes sense to just have an input to make it easy to enable/disable, seems that referenced PR was just closed without a simple solution.

I believe that error should be coming from `@serverless/aws-s3` (from serverless framework) since accelerated is always passed as true: https://github.com/serverless-nextjs/serverless-next.js/blob/673f32f90b1323018b0c833b235547fa2bf3479b/

[2021-03-05 07:55] dphang commented on #905
Yeah, basically for that command I was thinking you can just always remove the assets you don't want to upload in `.serverless_nextjs` folder. The deploy process only looks at that folder only to upload assets.

If you have written a script, feel free to adapt it back into the code via a PR so others can benefit:). Also in the future we will hopefully start to use more configurable deployment ways

[2021-03-05 07:55] #905 closed

[2021-03-05 08:00] #103 closed

[2021-03-05 08:09] #919 closed

[2021-03-05 12:16] ungarida commented on #352
It depends which region was hit by that call. You have to search in various region, for instance I'm in Italy and my calls are served by eu-central-1.

[2021-03-05 12:51] johnmikel opened #928 "JWT Cookie not sent on Page refresh"
Great work! I'm currently running a serverless NextJS deployment and it is blazing fast!

I'm just having a bit of a predicament - it seems that the cookie does not work on page refresh so my user gets redirected to the login screen even I know for a fact that the token is valid for an hour.

Any idea where to start debugging this?

[2021-03-05 15:35] ungarida opened #929 "Fetch redirect mode for rewrites is following 302 that is not setting expected cookies on the client"
**Is your feature request related to a problem? Please describe.**
I'm integrating the NextJS app with a legacy WebApp following the https://nextjs.org/blog/incremental-adoption#rewrites approach. The legacy WebApp is returning 302 redirects with cookies on some paths and this is not working correctly because the Default Lambda is using fetch in redirect='follow' mode. This is the code I see in th

[2021-03-05 20:56] aomv commented on #898
The example application from my original post works as expected now (using `@sls-next/serverless-component@1.19.0-alpha.35`). Thank you!

[2021-03-06 05:43] #891 closed

[2021-03-06 05:58] dphang commented on #929
I think the Next local server actually doesn't seem to follow redirects when doing rewrites. We could update the code to be more in sync with that.

Though the returned redirect location will be a relative path. For example, on my local server if I create a rewrite like so:

[code]

It will return a 308 redirect with location of `/blog/next-10` which goes to `http://localhost:3000/blog/next-10` wh

[2021-03-06 06:01] dphang commented on #928
Not sure why that would be the case - anything special in your app you are doing? Please add here along with Next.js and this component's versions. Also maybe you can follow this guide: https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Cookies.html to make sure cookies are being forwarded correctly to the Lambda.

[2021-03-06 06:06] dphang commented on #925
I am not familiar with that but I think Lambda@Edge does not have Chromium installed? It would need a copy of the Chromium binary to be uploaded in the code. In a normal Lambda, I believe you can use Lambda layers to do so.

But I think here you can `postBuildCommands` to add a script to copy the binary to the default/API Lambda (whichever you need). It should be under `/var/task`. Then see if you

[2021-03-06 06:28] dphang commented on #924
What is the error message you see? Try to run with `npx serverless --debug` to get more verbose logs.

For me, I am using environment variables in the step, which works for me:

`AWS_ACCESS_KEY_ID`, `AWS_SECRET_ACCESS_KEY`, and `AWS_DEFAULT_REGION` and run command:

`npx serverless` or just `serverless` (if already installed via `yarn` or `npm`)

[2021-03-06 06:32] dphang commented on #918
I think you can refer to the PR for more details: https://github.com/serverless-nextjs/serverless-next.js/pull/649. I haven't used this myself but hopefully @emhagman might be able to help in case you are stuck :)

[2021-03-06 08:19] johnmikel commented on #928
Not really doing anything special aside from setting cookies using the nookies library. Oh I had a look at that guide last night and fell asleep trying to solve it lol - the ability to forward cookies per Behavior.

Also, I've been following the conversation you had about the 12000 timeout as I am getting that too which I wasn't initially when I was doing initial deployments. I thought I might hav

[2021-03-06 08:43] ungarida commented on #929
You are right, on localhost I did not have the problem I found out when I was setting up the production environment.

I did a similar test to yours just to double check and I can confirm NextJS is not following redirects. I added this configuration to the `rewrites` in `next.config.js`:

[code]
This is the resulting network flow when I called `http://localhost:3000/302`:
![20210306-091007_1367x698

[2021-03-06 09:13] johnmikel commented on #928
For some reason, Github Actions does it perfectly. I'd like to think it is an issue with my current ISP. I've deployed via Github Actions and it works perfectly - even faster too!

Although, the cookies still aren't being forwarded XD

[2021-03-07 01:35] ShibelordHODL commented on #323
try this in serverless.yml

[code]

[2021-03-07 03:19] iDVB commented on #266
Also having this same error, although in my case, I'm using the AWS CDK Construct without sls components.

I'm trying to run things in separate directories and leverage the `Builder`'s config to point things around... and its running now, and starting to build the `.next` dir of files...
![image](https://user-images.githubusercontent.com/189506/110227812-035f4180-7eca-11eb-9e13-23bd9db42e2d.png)

[2021-03-07 13:59] iDVB opened #930 "Retain option for Lambda@Edge functions?"
**Is your feature request related to a problem? Please describe.**
Currently, due to edge function limitations there is no way to delete a sls-next stack without it failing for 2hrs before the replicas are deleted.

**Describe the solution you'd like**
Perhaps providing a "retain" option would allow people to quickly/safely delete the stack minus the functions, and then people could implement thei

[2021-03-07 16:57] iDVB opened #931 "CDK Construct "An unexpected error has occurred" on a page that should 404"
Deploying the CDK Construct and one of our existing NextJS apps I've been testing ISR and SSR. I'm testing build and runtime pages by increasing and decreasing the todos before and after build using the mockapi endpoint.
- pages at build time work
- pages at runtime return "An unexpected error has occurred"

## ISR Not working ?
[code]

[2021-03-07 18:43] kirkness commented on #931
Hey @iDVB, serverless-next doesn't currently support ISG. Would be super nice, but I think it's a way off, a [few issues open about it as well](https://github.com/serverless-nextjs/serverless-next.js/issues/804).

I'm not 100% sure whether the issue you are seeing is ISG related, but it is likely.

[2021-03-07 21:43] iDVB commented on #931
Thanks @kirkness , ya I am wondering what feature sets are missing.

if SSR still works, is there some way to increase the TTL on the CDN so that things cache a bit more rather than hitting the edge function each request? Is that function on the distro’s origin-request/response ? Just considering how we can turn up the caching if we want.

[2021-03-07 23:00] cedricmckinnie commented on #584
To add to this: I also ran into this problem too but for me it was due to RDS Aurora Serverless.

The problem for me was that the database Cold Start time took about one second longer than the 30 sec lambda@edge timeout when redirecting back to the page from Google OAuth provider.

The solution for me was to disable AutoPause of Serverless database to keep the database from cold starting which was

[2021-03-08 00:44] #931 closed

[2021-03-08 09:33] wondercise-wayne opened #932 "The files under the 'assets' not uploaded to S3"
### Describe the bug
After building and deploying successfully through the `serverless` command, I found that S3 doesn't have all the files in the .**serverless_nextjs/assets** directory. Only the file BUILD_ID was uploaded, excluding the _next&public directory, and when I manually uploaded it to S3, all http requests returned 200 (otherwise it was 403).

### Actual behavior
Not all files uploaded

[2021-03-08 11:21] raffij opened #933 "Locale detection not implemented?"
### Describe the bug

Next localeDetection is not working.

### Actual behavior

Viewing `/` doesn't redirect the user to `/en-GB`

### Expected behavior

Redirect `/` => `/en-GB` or `/en-US`

### Steps to reproduce

[code]

### Screenshots/Code/Logs

### Versions

- OS/Environment:
- @sls-next/serverless-component version: 1.19.0-alpha.33
- Next.js version: 10.0.7

### Additional context

### Che

[2021-03-08 11:52] jhpmatos commented on #932
I'm having the same issue, only BUILD_ID file is uploaded to s3 bucket.

[2021-03-08 12:14] tademianhess commented on #918
@dphang Excellent! Thanks

[2021-03-08 12:14] #918 closed

[2021-03-08 17:25] mrjomp commented on #851
I find the `bucket prefix` to be really useful if you wanted to use an existing bucket that already has some content in it.

Also that `bucket prefix` will need to get updated on the CloudFront `Origin Path` such that data gets pulled from that prefix as well.

[2021-03-08 20:03] dphang commented on #933
It should be - make sure you are forwarding `Accept-Language` header to the origin (by default it does, but if you override the forwarded headers you must add it back), otherwise the Lambda function doesn't know what the locale should be.

[2021-03-08 20:04] raffij commented on #933
Ill double check tomorrow and see if we are doing anything weird.

[2021-03-08 20:54] jeremygottfried opened #934 "The app is deployed but doesn't show up in my serverless.com dashboard"
### Describe the bug
Deployed App doesn't show up in my serverless.com dashboard.

Here's my serverless.yml
[code]

### Actual behavior
Serverless.com doesn't register a new app in my list of apps, even though the app is deployed

### Expected behavior
I see next app in my serverless.com dashboard

[2021-03-08 21:08] jeremygottfried opened #935 "503 error with next-auth"
### Describe the bug
I am getting a 503 error with [next-auth](https://github.com/nextauthjs/next-auth) when I try to redirect to `/api/auth/signin`. I also get the same error if I try to load the signin page directly without a redirect.

If you provide content to customers through CloudFront, you can find steps to troubleshoot and help prevent this error by reviewing the CloudFront documentation.

[2021-03-09 00:25] dphang commented on #932
I couldn't reproduce it, not sure what is the problem - the code to upload to S3 is here (this finds all the files here: https://github.com/serverless-nextjs/serverless-next.js/blob/d38e2aa70816c3204727fda4c9e379c73e1b2f2e/packages/libs/s3-static-assets/src/index.ts#L89-L107) Assuming it's the `static-pages` directory that's not uploaded? Are all other data files and static files uploaded correctl

[2021-03-09 02:56] jeremygottfried commented on #935
503 is gone after I upgraded next-auth, but lambdas are failing to find prisma binary, so I basically can't use this right now.

[2021-03-09 02:56] #935 closed

[2021-03-09 03:17] ashvinmittal commented on #925
Yes that is the issue looks like (the binaries are not copied), shouldn't serverless-next do it automatically?

[2021-03-09 09:12] felixs8696 opened #936 "503 Error when invoking NextJS API Route from Client"
### Describe the bug
I am using Amplify's API functionality to invoke an AppSync GraphQL endpoint to resolve my API calls. But, I'm getting a GraphQL error message in my Lambda@Edge CloudWatch logs when trying to invoke my API in my application from the client side.

[code]

The weird thing is that when I try to execute the API's internal logic on the server side, everything works properly. So, th

[2021-03-09 10:13] carllx commented on #905
Thank you @dphang , after trying, I realized that postBuildCommands is a very helpful command.

@1.18.0 does not support, the use of `postBuildCommands` needs to be upgraded to "@sls-next/serverless-component@1.19.0-alpha.35"

Like @dphang said, in order to save unnecessary time, we can delete files that do not need to be uploaded repeatedly before uploading.

serverless.yml
[code]

rmpath-prepost

[2021-03-09 11:34] jhpmatos commented on #932
@dphang I was trying to debug the file upload based on your suggestion. The following arrays are empty: `nextStaticFiles`, `nextDataFiles `and `htmlPages`, although the folders/files are properly generated under `.serverless_nextjs`.

As @wondercise-wayne reported, I'm also on windows, I suspect the issue might be in `readDirectoryFiles` and windows machines.

Version 1.18.0 works for me though.

[2021-03-09 11:59] sebastianmacarescu commented on #206
Did you find a reason for this?

[2021-03-09 15:37] jeremygottfried opened #937 "serverless-next.js breaks prisma client"
Serverless-next.js doesn't work with [prisma client](https://github.com/prisma/prisma). It seems like the issue is the binaries either don't have the correct permissions or they're not in the correct location. Prisma is officially recommended by NextJS, so it should be supported.

The issue seems to occur in the lambda execution environment.

Error:

https://next-auth.js.org/errors#get_user_by_pro

[2021-03-09 17:33] sebastianmacarescu opened #938 "serverless-nextjs-plugin ApiGatewayResourceProxyVar resource already has a variable path part"
### Describe the bug

We use serverless-nextjs-plugin@2.5.1 with the following routes
`
- src: index
        path: /{slug}
        cors: true
        request:
          parameters:
            paths:
              slug: true
- src: index
        path: /{slug}/{page}
        cors: true
        request:
          parameters:
            paths:
              slug: true
              page: true
`

Whe

[2021-03-09 21:11] ungarida opened #939 "Rewrites to /api paths are resulting in 404"
### Describe the bug
A configuration of next.config.js as follow:
[code]
A rewrite to an `/api` path is not gonna work and it is returning 404 page.

### Actual behavior
The current DefaultLambda is not taking in cosideration the manifest of apis, so can not detect if a rewrite is actually leading to a valid API.

### Expected behavior
This is working in NextJS and it is actually a good workaround

[2021-03-10 02:41] felixs8696 commented on #936
This may be related to these issues, but none of these solutions work for me:

https://github.com/serverless-nextjs/serverless-next.js/issues/819
https://github.com/serverless-nextjs/serverless-next.js/issues/935
https://github.com/serverless-nextjs/serverless-next.js/issues/181
https://github.com/serverless-nextjs/serverless-next.js/issues/222

I've tried increasing the lambda timeout, deleting n

[2021-03-10 04:15] wondercise-wayne commented on #932
@dphang I'm sorry, I want to provide more information, but I don't know how to debug the source code.
I tried to revise the source code under the path* and add console log into the file mentioned above, but it seems that there is no log dumped.
If anyone can kindly guide me to do more, I will provide more useful information.

* C:\Users\{UserName}\.serverless\components\registry\npm\@sls-next\serv

[2021-03-10 05:52] dphang commented on #939
Yes, unfortunately this is limitation of having api lambda and default lambda be separate functions...cross lambda rewrites won't work in this case :(

It would require some refactoring to put all code in a single lambda if there are cross rewrites

I am working on completing locales and some bug fixes, so if you have a chance you could help look into this?

[2021-03-10 05:54] dphang commented on #932
It seems it might be due to this: https://github.com/mrmlnc/fast-glob/issues/237, fast-glob doesn't seem to support backslashes anymore which is what happens with path.join in windows. A quick fix could probably be just to replace all backslashes with forward slashes?

[2021-03-10 06:49] dphang commented on #925
Yes I think there are many packages that may need binaries, but serverless-next.js doesn't know how to copy it. Maybe we can add for some common binaries but it will be hard to maintain. If there is some generic way to figure out what binaries are needed, that will be better, but otherwise the next best way is to give ability to copy additional required dependencies into the Lambda (that's the `po

[2021-03-10 09:37] ungarida commented on #939
I'll try to look into this in my spare time, right now have to deliver this new project so I will fallback on a classic nodejs server.
I'll keep you posted if I make any progress.

[2021-03-10 10:51] peniakoff commented on #721
Hi, @dphang ! What is the status for this fix?
I noted that I have issue related to localization stuff. It is an error `new Error('next-i18next was unable to find a user config')` thrown from `default-lambda/pages/index.js`, function `serverSideTranslations`. It looks like I have no defined `userConfig` or something? I tried to fix it by manual copying `next-i18next.config.js` to default-lambda ma

[2021-03-10 13:36] iDVB commented on #858
Just chiming in as I'm very interested in the direction of this convo.

In [another ticket](https://github.com/serverless-nextjs/serverless-next.js/issues/930#issue-823924975), I get into similar thinking along the lines of using s3 as a source.

Going a bit further, if you could also manage to move all project specific data (manifests) out of these functions and into the s3 origin, then you could

[2021-03-10 13:45] iDVB opened #943 "Getting access to underlining resources in CDK construct"
I'm still pretty new to CDK so go easy on me. I think there is a way to fundamentally get access to the underlining resources of a construct from an implementing app. Either way, thats what I'm curious if I can do with this next construct.

I would like to configure things like the buckets `autoDeleteObjects` prop etc.

If this is a purely CDK related question and not depended on this construct, I

[2021-03-10 18:31] jmateosbb opened #944 "Error deploying using existing CloudFront OAI Id"
### Describe the bug

When providing a custom `originAccessIdentityId` for `cloudfront` inside inputs, the deployment fails with the following error:

[code]

### Actual behavior

Deployment fails

### Expected behavior

Deployment succeeds using the defined `originAccessIdentityId`

### Steps to reproduce

Include arguments for for an existing `CloudFront` distribution that includes a `distributi

[2021-03-10 19:02] raffij commented on #933
Not been able to get it working.

I've checked the lambda package and localeDetection is set to true and cloudfront is forwarding headers.

Also checked with a test lambda call which i believe is correct and expect to be redirected to en-GB like i am in dev or running the server directly.

[code]

[2021-03-10 19:06] raffij commented on #944
I wrote the code that allows this config and it was added with version: 1.19.0-alpha.9

Have you tried the latest version: 1.19.0-alpha.37 ?

[2021-03-11 02:30] ashvinmittal commented on #925
Dependency is declared in `package.json` below is code snippet.
`{
  "name": "learn-starter",
  "version": "0.1.0",
  "private": true,
  "scripts": {
    "dev": "next dev",
    "build": "next build",
    "start": "next start"
  },
  "dependencies": {
    "@sls-next/serverless-component": "^1.18.0",
    "chrome-aws-lambda": "^7.0.0",
    "next": "^10.0.0",
    "puppeteer-core": "^8.0.0",
    "react

[2021-03-11 08:59] jhpmatos commented on #932
@dphang, I've tested version 1.19.0-alpha.37, it keeps the same behavior, all the arrays I've mentioned before are empty.
Is there anything I can do to help testing it out?

[2021-03-11 10:55] johnmikel commented on #928
@dphang I can confirm that the cookies are being forwarded to lambda.

Here's what I am doing: I added a HOC that uses getInitialProps to check a cookie if the user's JWT hasn't yet expired. I use it to protect page routes depending if their is a logged in user or depending on their permissions.

Works great after logging in and all that, it means the cookies get forwarded to lambda.
However, if I

[2021-03-11 16:00] #944 closed

[2021-03-11 17:14] dphang commented on #932
@jhpmatos I don't have a windows machine so I can't test out my PR unfortunately, I thought it was something to do with needing a posix path. If you could, please help to debug the change and see if fast-glob is working correctly after using the posix path

[2021-03-11 17:31] poppein commented on #721
I am having the same issues as @peniakoff . The problem is that the `next-i18next.config.js` file does not get bundled. You can pass the configuration directly to the method but then it complains that the locales files are missing. Any way to get them bundled ?

[2021-03-11 19:47] raffij commented on #933
@dphang found the problem.

https://github.com/serverless-nextjs/serverless-next.js/blob/98e963b614f4be708156aada08654e115e43dc69/packages/libs/lambda-at-edge/src/routing/redirector.ts#L197

This is transformed to `en-gb`, but within source event.json and next.config.js it's `en-GB`

[2021-03-11 20:30] patricktyndall commented on #894
@Lunnatica have you figured out other solutions or how to reproduce this?

@dphang do you have any thoughts on this? It's become a problem for my team, and I'd rather not script the custom error response solution.

[2021-03-11 20:36] Lunnatica commented on #894
@patricktyndall I didn't manage to fix it so I ended up reverting to using SSR instead, which is not ideal.

[2021-03-11 21:05] dphang commented on #894
Sorry I remember looking a bit at this but couldn't remember/figure out the issue at the time. Since it's been some time I can try to take a look again, or if you have any ideas from looking/debugging the code, please let me know.

[2021-03-11 23:35] bsanagal opened #946 "SignatureDoesNotMatch error while accessing the pages from static-pages/*"
**Bug description**
I have deployed my FE nextjs application using serverless component, it has been fine until today where it's throwing _SignatureDoesNotMatch_ errors. This behaviour is inconsistent, sometimes it works fine upon refresh. I couldn't figure out why this is happening. I think this is something to do with cache settings, posting this here so someone can help me out with definite sol

[2021-03-12 01:14] hedrall commented on #866
same problem( 10.0.8 )

[2021-03-12 04:45] felixs8696 commented on #936
Also, this all works fine on my local development server. This only happens when I deploy via serverless.

[2021-03-12 14:26] kirkness commented on #943
Hey @iDVB, this should be possible using roughly what is outlined [here](https://docs.aws.amazon.com/cdk/latest/guide/cfn_layer.html). You can always set the cfn properties on the underlying resources if need be. That said, I could do with exposing all the resources as properties on the construct, as you can with the bucket:
[code]

If there is justification for allowing users to pass in this conf

[2021-03-12 14:28] kirkness commented on #930
Makes sense, I'd vote option B given this problem will be resolved soon enough (???) by AWS to allow proper stack deletion.

[2021-03-12 14:32] kirkness opened #947 "When deploying multiple apps via CDK I hit the cache policy limit on my account"
**Is your feature request related to a problem? Please describe.**
Deploying multiple apps under one account will create 3 cache policies per app, an account can only have up to 20 so you hit the limit pretty quick.

**Describe the solution you'd like**
1. Hoist the cache policies to the top of the stacks
2. Allow users to pass in their own policies
3. Implement some API for `nextApp.resuseCachePo

[2021-03-13 00:46] iDVB commented on #943
Well, right now, we have a lambda service who's job it is to empty all stack buckets so the stack can be deleted.
But with CDKs `autoDeleteObjects` it's handled by a custom resource as part of the stack. Would love to decom our service in favour of that.

[2021-03-14 07:11] johnmikel commented on #928
Closing issue. I've solved it myself. It is due to how I am handling cookies. If you ever encounter this, use next-iron-session.

[2021-03-14 07:11] #928 closed

[2021-03-15 06:22] kaykdm opened #948 "Unable to use IAM Role for credential"
### Describe the bug

When I use IAM Role as credential for aws with `AWS_ACCESS_KEY_ID`, `AWS_SECRET_ACCESS_KEY`, `AWS_SESSION_TOKEN` in .env file and try to deploy, it shows an error saying `Error: Forbidden: Invalid credentials or this AWS S3 bucket name may already be taken`

### Actual behavior

unable to deploy with IAM Role credential
### Expected behavior

able to deploy with IAM Role cred

[2021-03-15 18:31] SMTC-Schmidt commented on #644
Yes!
Implementing support for next-amp would be a great feature. Is it on the roadmap for the next versions?

[2021-03-15 23:32] danschultz commented on #943
@kirkness our team also has a desire to customize the S3 bucket that's managed by the construct. What do you think of this?

[code]

If this direction looks good to you, I can submit a PR.

[2021-03-16 03:31] #948 closed

[2021-03-16 13:00] mcnamara-charles opened #949 "The Lambda function associated with the CloudFront distribution is invalid or doesn't have the required permissions."
### Describe the bug

In development my login and logout system works. In production it will always throw the error that is the title. Upon investigation with cloudwatch It revealed this subsequent error:

2021-03-16T12:34:42.147Z 4c0268ab-76ba-46e5-8a94-99a2a19586ce ERROR Invoke Error { "errorType": "TypeError", "errorMessage": "Cannot read property '0' of undefined", "stack": [ "TypeError: Canno

[2021-03-16 17:24] mcnamara-charles commented on #936
So, Felix I'm experiencing the same issue and opened up another report. Your serverless.yml is super small so my guess is that you're suffering from a misconfiguration error. But I have no advice beyond that since I'm suffering from the same.

[2021-03-16 17:40] raffij commented on #605
Had this issue for a while and investigated today and found this. Looks like they are reluctant to merge as it's no longer maintained.

Possible to fork it as part of this org? Feels like it's quite important as we are stuck on this version?

[2021-03-16 22:21] arjunnaha opened #950 "CDK package versions"
### Describe the bug
The construct defines `@aws-cdk/*` packages as a direct dependency with a carrot, so if the consuming app isn't using the latest versions of CDK packages, you get errors from the version mismatch.

### Actual behavior

As the versions mismatch, you get errors:
![image](https://user-images.githubusercontent.com/7504589/111386293-f0a3f400-86a3-11eb-9c9e-6415bb3d44a7.png)

<detai

[2021-03-16 22:28] arjunnaha opened #951 "CDK: switch to CloudFront EdgeFucntion"
**Is your feature request related to a problem? Please describe.**
At the moment, CDK stacks have to be deployed to us-east-1 because of the Lambda@Edge function.

**Describe the solution you'd like**
The CloudFront module provides a (experimental) [`EdgeFunction` module](https://docs.aws.amazon.com/cdk/api/latest/docs/aws-cloudfront-readme.html#lambdaedge) that behaves exactly like a normal `Func

[2021-03-17 01:53] felixs8696 commented on #936
Thanks Charles, hopefully we can get some visibility on this issue from the devs

[2021-03-17 03:18] raffij commented on #949
Are you familiar with the aws console and how to download your lambda function? If so check the line that is erroring and paste it here. If you are deploying locally you can also find the file in the .serverless-nextjs for.

[2021-03-17 04:12] #949 closed

[2021-03-17 04:13] mcnamara-charles commented on #949
Essentially I'm an idiot, don't worry about it. 😂

[2021-03-17 04:15] tejasadvait commented on #949
Hey,
I am facing a similar issue except for the error message I get is as follows:
{"errorType": "TypeError",
 "errorMessage": "Cannot read property 'style' of undefined",...}
@mcnamara-charles  how were you able to solve it?

[2021-03-17 04:32] mcnamara-charles commented on #949
@tejasadvait That's not a similar issue but That's a pretty simple solve. In next.js you can't use style tags on elements. Instead use style jsx elements to hold css, or look into using css stylesheets with next.js

[2021-03-17 04:36] mcnamara-charles commented on #949
It actually ended up being that after I deleted my replicated tables I never put them back with caused that error, although there were subsequent errors involving permissions. Actually what I'm curious about now is why my lambda's aren't using the role I provide them.

[2021-03-17 04:36] tejasadvait commented on #949
Hey @mcnamara-charles, thank you for your response. This occurs once my Next.js app is deployed and when I try to access one of the pages using the Cloudfront link.

[2021-03-17 04:38] mcnamara-charles commented on #949
Is this an API page or a regular page? And have you configured cloudwatch?

[2021-03-17 05:02] tejasadvait commented on #949
It's a regular server-side rendered page and I have configured Cloudwatch to log events from my Cloudfront distribution.

[2021-03-17 05:07] tejasadvait commented on #949
What I notice is that getServerSideProps doesn't get triggered. Sometimes it does, and that successfully generates the server-side rendered page. Otherwise, I keep getting a 503 error.

[2021-03-17 10:00] jonahallibone commented on #936
Check out the [releases page](https://github.com/serverless-nextjs/serverless-next.js/releases) and try some of the newer alpha versions to see if this remedies any of your issues. I see you're using 1.18.0, which lacks support for quite a few features afaik

[2021-03-17 12:12] alexedwardjones commented on #894
I'm getting the same issue.

@patricktyndall Should the issue be saying 403 instead of 503? I can see it says `"httpStatusCode": 403` in the log.

[2021-03-17 14:01] Dayger666 commented on #525
+1 found this issue too
'@sls-next/serverless-component@1.17.1-alpha.1'

[2021-03-17 15:23] mcnamara-charles commented on #949
What really helped me figure out my issue was console log statements on the server side. Remember that even though they don't show up in the Chrome console they will show up in your CloudWatch

[2021-03-17 15:30] tejasadvait commented on #949
So I have logging statements in getServerSideProps but they do not show up in CloudWatch :(

[2021-03-17 15:37] mcnamara-charles commented on #949
What that tells me is that there is an error in your get server side props call. Here are my suggestions, firstly, check your call. You should have a default export and a server side call and you should also not have a client side props call as only one can be present. The way I like to do it is turning my initial return into a variable, then calling server side props, then exporting it all at onc

[2021-03-17 15:48] patricktyndall commented on #894
I'm getting 503, but that doesn't mean your issue isn't related

[2021-03-17 16:17] cushdan commented on #725
@emulienfou I was able to get this working with the following serverless config changes (as found in the integration tests of the feature)
[code]

[2021-03-17 16:18] tejasadvait commented on #949
Hey @mcnamara-charles ,

Thank you for your detailed response. It would be really helpful to see an example for the proper usage of getServerSideProps. Also, how can I update the default Cloudwatch permissions? Thank you again. I appreciate your help on this matter.

[2021-03-17 17:02] mcnamara-charles commented on #949
@tejasadvait So here's what I had to do. So go to your AWS console and create a new IAM role with administrator privileges. Go to your lambda console and perform the following actions to all of your lambdas (there should only be 2-3):
1.  Open your lambda
2. Go to configuration then permissions
3. The execution role is at the top, click edit
4. Assign it your new role
5. Scroll back to the top of

[2021-03-17 19:23] kmcarter opened #952 "CDK Construct: CachePolicy names must be unique"
### Describe the bug
I'm experimenting with the NextJSLambdaEdge construct and recently ran into failures to deploy (see console output below).

With a [little research](https://github.com/aws-cloudformation/aws-cloudformation-coverage-roadmap/issues/571#issuecomment-707969492) it appears that CachePolicy names must be unique across stacks, and I will be deploying at least two stacks for different

[2021-03-17 19:37] kirkness commented on #952
Cheers for reporting @kmcarter, this has actually already been resolved in [this commit](https://github.com/serverless-nextjs/serverless-next.js/commit/81d9d18f0bd82c36be47c4bda8fa51d1b7e422b0). Currently this is only released under `alpha`.

[2021-03-17 19:37] #952 closed

[2021-03-17 19:48] kmcarter commented on #952
@kirkness My apologies, I did not find #912 in my searching, and didn't see an alpha that went up that high. Thanks for the quick response!

[2021-03-17 20:26] emulienfou commented on #725
@cushdan just tried with the same config likes `component: "@sls-next/serverless-component@1.19.0-alpha.37"` and `headers: [ Accept ]` this is not working on my side (with webp images).
Did you chnage the `next.config.js` file also?

[2021-03-17 20:41] felixs8696 commented on #936
Thanks @jonahallibone I tried the latest alpha version @sls-next/serverless-component@1.19.0-alpha.37 and it didn't work

[2021-03-17 20:42] felixs8696 commented on #936
@mcnamara-charles So it worked after your recreated your dynamo tables?

[2021-03-17 20:43] felixs8696 commented on #936
I added reproduction steps above, but I'll copy them here if someone has the same issue

1. Deploy a GraphQL API using CDK (separately, not using Amplify)
2. Create a NextJS application (https://nextjs.org/docs/getting-started)
3. Put the AppSync Endpoint URL in the config and set up a [custom "_app.js" file](https://nextjs.org/docs/advanced-features/custom-app) using `Amplify.configure(config);`

[2021-03-17 20:46] mcnamara-charles commented on #936
Everytime you update how your tables function and what type if data they hold, for example if i changed pass to password for the name of a field, you'd want to update your deployed tables. So go to aws and your dynamodb console and look for your tables. If they exist, delete them (make sure you chanfe regions and delete every table) then reupload them

[2021-03-17 20:53] mcnamara-charles commented on #936
So I've got some good advice but it might take a while to write down. Basically I repurposed one of the examples "dynomodb-crud" but it sounds like this is a permissions issue. Did you give your api lambda full permissions?

[2021-03-18 00:07] kato-takaomi-ams commented on #936
I had a similar issue in that it worked locally, but not in the cloud.

In my case, the 503 error occurred when I tried to use JWT with HTTP.GET.
I had JWT set to headers.Authorization,
[code]
but CloudFront didn't forward this header to lambda.

https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/RequestAndResponseBehaviorCustomOrigin.html#request-custom-headers-behavior

The solut

[2021-03-18 00:53] mcnamara-charles commented on #936
Okay @kato-takaomi-ams in your serverless.yml there should be a way to rewrite your default API Lambda to use post. Other than that I'm unable to provide guidance as I use Iron Sessions to store my session and cookie data

[2021-03-18 04:10] kato-takaomi-ams commented on #936
@felixs8696 Does your `aws-exports.js` define a hosted URL for NextJS-API?
If it is not defined, I don't think you can call NextJS-API with Amplify.configure(config).

Maybe your project has URLs like this:

NextJS-API-URL:
`https://<app_id>.cloudfront.net/api/<path_to_your_api_route>.`

AppSync-Graphql-EndPoint:
`https://<app_id>.appsync-api.<region>.amazonaws.com/graphql`

If you want to call Ne

[2021-03-18 06:44] felixs8696 commented on #936
@kato-takaomi-ams

Thanks, but whitelisting the authorization headers didn't work for me.
Where do you define a hosted URL? Also, how do I call the URL of cloudfront with axios? If I directly go to `https://<app_id>.cloudfront.net/api/<path_to_your_api_route>`, this is what shows the 503 error.

This is the config I am currently using

[code]

[2021-03-18 08:10] felixs8696 commented on #936
Okay, because I couldn't figure out how to get this to work, I've just used the graphQL API explicitly in my code instead of going through the NextJS API route, which works, but doesn't solve this problem of why it doesn't work through the API route.

I'm assuming this has something to do with the Cloudfront configuration and some header not being passed through or something to the `api/*` routes?

[2021-03-18 10:45] nfantone commented on #725
FWIW, I kept my old config and just upgraded to latest `-alpha` and it did the trick. This is my whole `serverless.yml`.

[code]

[2021-03-18 11:45] kirkness commented on #943
Gotcha - working through a few issues today so should be able to include this change @danschultz. Cheers for raising @iDVB.

[2021-03-18 12:42] kirkness commented on #947
Once #955 is merged it'll be an easy change to add an optional prop to the construct for each of the cache policies:

[code]

[2021-03-18 20:21] Carel155 opened #956 "How to enable warmup plugin?"
Hi,

I am trying to enable serverless-plugin-warmup plugin but i can't figure out how do to it with component.

Also is there a way to send back early response when serverless-plugin-warmup calls the function?

[2021-03-18 22:01] kato-takaomi-ams commented on #936
@felixs8696 Are you calling `Amplify.configure(config);` in `pages/api/users/[username]/index.js`?

[2021-03-18 22:16] antboy2020 commented on #956
Were you able to run `serverless info` from your project home?

[2021-03-18 22:18] antboy2020 opened #957 "How to run `serverless info` in root?"
I am trying to run serverless info in the root of a nextjs project that I am trying to use serverless-nextjs framework on. But get  Error: "component" input is required to run custom methods is there any way to do this?

[2021-03-19 00:01] felixs8696 commented on #936
No I'm calling `Amplify.configure(config);` in `pages/_app.js`.

[2021-03-19 00:53] kato-takaomi-ams commented on #936
It seems that `pages/api/*` and `pages/_app.js` are packaged in different lambdas, so maybe you need to call `Amplify.configure(config);` in `pages/api/users/[username]/index.js`?

[2021-03-20 19:05] uldixxion commented on #936
I also have 503 ERROR.

[code]

This only happens when using graphql, I have other entries with non-graphql API and it works fine, so I guess its related somehow with graphql.

[2021-03-20 23:36] vkmita opened #958 "How to access the browser origin url when SSR"
The origin currently is some AWS server and I would like the SSR server to pass the origin to my API server. Is it currently not possible to access the origin?

Thank you!

[2021-03-21 10:15] #950 closed

[2021-03-21 19:58] #929 closed

[2021-03-22 16:14] jginorio opened #959 "Error during build time when you import a module in 'next.config.js'"
### Describe the bug
Error during build time when you import a module in 'next.config.js'

### Actual behavior
My project works locally but When I try to deploy it using 'npx serverless' I get the following error:
[code]

### next.config.js
[code]

### next-i18next.config.js
[code]

### Versions

- OS/Environment: macOS Catalina v10.15.4
- @sls-next/serverless-component version:

  1. **1.19.0-alp

[2021-03-22 17:06] jginorio commented on #959
### UPDATE FIX ✅
I was successfully able to deploy the project by adding: `useServerlessTraceTarget: true` to my `inputs` in my _serverless.yml_ file

[2021-03-22 17:06] #959 closed

[2021-03-22 19:20] tejasadvait commented on #949
Hey @mcnamara-charles,

Thank you again for the detailed response. I tried following your steps and it looks like it is not a permission issue but a Cloudfront caching/Lambda cold-start issue. Your suggestions and example have been quite helpful for my learning. I am going to create a separate issue for my problem. Thank you for all the help.

[2021-03-22 21:42] tejasadvait opened #960 "503 Error: The request could not be satisfied."
### Describe the bug

I have a Next.js app deployed on AWS using the serverless-next.js component. I am also using AWS Amplify for SSR authentication. After logging in successfully, the user is taken to an overview page. This overview page exports getServerSideProps to fetch some data by making Axios get requests. This overview page loads successfully. However, there are other similar pages that e

[2021-03-23 11:44] avisra commented on #111
Anyone make progress on this?

[2021-03-23 16:14] patricktyndall opened #961 "Gracefully handle failed deployment (Interrupted deployment causes failure)"
Hi all,

During a deployment, my AWS account got rate-limited for API requests (due to some unrelated other work). This caused the deployment to fail. No surprises there.

However this caused my site to go down, showing an "Access denied" error. I was not expecting this.

Deploying again (a complete deployment) fixes the issue.

This is _very_ hazardous in the case of a rate limit, as re-deploying

[2021-03-23 16:44] avisra commented on #804
Just confirming my understanding here - incremental static regeneration does not currently work with this repo?

[2021-03-23 17:31] GuillaumeSD commented on #804
Hi @avisra
From what I know and do, SSG does not yet work with this repo. Discovered this when I saw the revalidate option didn't work with getStaticProps.
SSG is a killer feature imho, really looking forward to it.

[2021-03-23 18:07] jaredwiener opened #962 "Best way to target a current deploy?"
My team and I are using this component, and it works great! Except...

Every time one of us deploys, we seem to create a whole new instance on the AWS account. Is there a way to target the same instance? Or do I need to just manually set every ARN for every role, Lambda, etc?

[2021-03-23 19:45] raffij commented on #962
You need to find a way to share your .serverless dir. If you only have one environment then you can add the directory to git. Otherwise search for "Multi-stage deployments" in the repo for some suggestions.

[2021-03-23 19:46] jaredwiener commented on #962
@raffij thank you!

[2021-03-23 19:46] #962 closed

[2021-03-24 06:40] dphang commented on #933
Sorry, was moving last week so didn't get a chance to look into much lately. I think we can do case-insensitive comparison

[2021-03-24 06:47] raffij commented on #933
Hope your move went well.

Case insensitive should work, but might also be worth looking at the nextjs implementation as that also allows en fallback. Don't think a simple lowercase comparison would fix that bit.

In my project we actually needed location based locales so I used the cloudfront country code to do a redirect and that's worked well for us.

[2021-03-24 08:47] dphang commented on #721
@poppein @peniakoff Sorry, I am not too sure how it works as I don't use next-i18next yet. You may need to use `postBuildCommands` to run a script to manually copy any needed files into the Lambda folder before the upload. As this component does not know about those additional plugins. Feel free to share the script and/or integrate the copying for next-18next.

[2021-03-24 08:52] dphang commented on #721
@krish-dev sorry for delay, been busy last couple of weeks with moving. I did test the e2e locales test app (`next-app-with-locales`) in different ways but still could not reproduce any issue that you saw. SSG assets are copied correctly and am able to view ssg page under `/fr/ssg-page` and also `/en`, `/fr` etc. For example: https://d1f9sulga5gpon.cloudfront.net/fr/ssg-page.

Here is how assets l

[2021-03-24 09:14] dphang commented on #933
@raffij sounds good, do you know which code does the fallback, not sure I saw it in the link? We are using hapi/accept which I guess just detects locale like `en-gb` but I don't think it handles any fallback by itself

[2021-03-24 09:16] dphang commented on #932
Added labels - I think this issue should be a good one to look at for those on windows (I don't have a personal windows machine to use, unfortunately).

[2021-03-24 09:24] dphang commented on #956
I don't think that plugin will work as intended as it is meant for regular serverless framework which is a single Lambda in a single region. Even if you can get it running and pointing to the Lambda, it will only warm the us-east-1 region's Lambda. With this component, it uses Lambda@Edge which could spin up a Lambda in any of the CloudFront locations (depending on viewer's location) - so you'd ne

[2021-03-24 09:25] dphang commented on #911
Closing out past issues - please open new one if there are further questions.

[2021-03-24 09:25] #911 closed

[2021-03-24 09:29] dphang commented on #934
Yeah, it is not there since this is not using the regular Serverless Framework but Serverless Components beta which doesn't have it, since we mostly have our own deployment code

It might be able to be integrated with the GA Serverless Components? (though unfortunately I haven't had time myself to work on that yet)

[2021-03-24 09:29] #934 closed

[2021-03-24 09:53] raffij commented on #933
@dphang The code here is what I was referring to https://github.com/vercel/next.js/blob/b1a1c80e7cfa3ad8c35ced40fc5c153ee4316935/packages/next/build/webpack/loaders/next-serverless-loader/utils.ts#L342

They pass the following `Accept.language(browserString, localesArray)` so it does the matching for you?

[2021-03-24 11:36] avisra commented on #804
well... this is a real bummer. my application relies heavily on incremental static regeneration. excuse me while I scramble to find another hosting option...

[2021-03-24 13:37] raffij commented on #605
@dphang  this feels like an important bug which you might be able to help with. How do you feel about serverless-nextjs org forking that pr? as it looks like the cli won't be upgraded in the future.

[2021-03-24 15:17] Carel155 commented on #956
Thanks for the clear explanation

[2021-03-24 15:17] #956 closed

[2021-03-24 19:33] dphang commented on #605
@raffij Yeah I am fine if you want to fork it and fix it for now.

[2021-03-24 19:35] raffij commented on #605
@dphang the pr that makes the change is here https://github.com/serverless/cli/pull/17

[2021-03-25 17:27] Shadrack1701 opened #965 "AccessDenied Error when using Next/Image"
### Describe the bug
I am trying to display an image using the next/image component so it loads faster.
I can access the image navigating to it's url directly so it is available and loaded, it's something with the next/image
 or lambda-image component.

### Actual behavior
On the page that displays the image it doesn't display, next/image returns `""url" parameter is valid but upstream response is

[2021-03-25 21:29] dphang commented on #965
As the error mentions, it is getting access denied when trying to access your image from s3: https://github.com/serverless-nextjs/serverless-next.js/blob/93e96652ea100b6c929a07e70b7a66a7791a0d7d/packages/libs/lambda-at-edge/src/images/imageOptimizer.ts#L255.

Probably you need to make sure that the policy for the image lambda is able to perform an S3 GetObject on the bucket where the image is in (

[2021-03-25 21:43] Shadrack1701 commented on #965
Yeah that was what I assumed which is why I added in that the imageLamda currently is using role `dev-api-lambda-role` which has the 2 policies I listed in the issue.  I would assume this statement in the `dev-app-api-policy` would be giving the access that is required:
[code]
As the app is stored in the dev-cardscribed-next-app s3.
![bucket policy](https://user-images.githubusercontent.com/157159

[2021-03-26 07:16] felixs8696 commented on #251
I am receiving the same issue with the exact same problem. @yankouskia were you able to solve it?

[2021-03-26 07:59] darren-charterindex commented on #646
hello, I am also seeing this where catch-all routes are taking priority over pre-defined routes on the SSR.

For example:

A request for `/products/123`

CSR
[code]

SSR
[code]

[2021-03-26 08:05] darren-charterindex opened #967 "Incorrect routing precedence for SSR"
hello, I am seeing catch-all routes taking priority over dynamic routes on the SSR.

For example:

A request for `/products/123`

_CSR (correct)_
[code]

_**SSR (incorrect)**_
[code]

A request for `/parent/child`

_CSR (correct)_
[code]

_SSR (correct)_
[code]

A request for `/example`

_CSR (correct)_
[code]

_SSR (correct)_
[code]

It is my understanding that the precedence for routes should be

[2021-03-26 08:50] felixs8696 opened #968 "How do you deploy to diffent accounts?"
### Describe the bug
When I run `serverless` no matter how I try to set a different profile, it uses my default profile.

### Actual behavior
When I run `serverless` no matter how I try to set a different profile, it uses my default profile.

### Expected behavior
When running `serverless --aws-profile <profile>` or `AWS_PROFILE=<profile> serverless`, I expect to deploy with a different profile.

[2021-03-26 14:01] dmsolutionz commented on #804
Have you attempted this solution yet?

[2021-03-26 15:14] patricktyndall opened #969 "Deployments Always Fail ("Throttling: Rate Exceeded")"
Same symptom as #441. In that thread, it is stated that this issue is due to AWS outage issues, and that nothing can be done by this library. I'm not seeing any issues with AWS, and I've been experiencing this issue for over a week. I'm deploying from Jenkins on EC2. If this persists I'll have no choice but to leave this library.

### Describe the bug
Can't deploy with output "Throttling: Rate exc

[2021-03-26 15:19] patricktyndall commented on #441
Did anyone manage to fix this?

[2021-03-26 15:45] evangow commented on #804
Are you asking me? If so, no. My application doesn't rely on ISR. I would use it if this repo supported it, but it's not strictly necessary for my use-case.

[2021-03-26 20:22] tyler-ground commented on #968
Can you check the following
`If AWS_PROFILE environment variable is set and the AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY environment variables are set, then the credentials provided by AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY will override the credentials located in the profile provided by AWS_PROFILE.`

[2021-03-27 21:36] dphang opened #970 "Help wanted: more contributors"
Hi all,

I hope you had a good 2021 so far! We are nearing the release of 1.19 which has path-based locales support, image optimization, experimental CDK support, versioned static pages, much better e2e test coverage, among other improvements and bug fixes. A few more fixes and testing and I think it should be good to go to release it in the next couple of weeks. Thanks to all who have contributed

[2021-03-28 20:43] Ali762 commented on #876
Possibly related - I use firebase.admin in getInitialProps, and it fails with the same error:
ENOENT: no such file or directory, open 'protos.json'

Works in dev.

It doesn't appear to be fixed by `target: "experimental-serverless-trace"`

[2021-03-28 21:12] yankouskia commented on #251
@felixs8696 I refused using sls components, and implemented it using cloudformation. Components seem to be still pretty raw

[2021-03-29 10:48] ajbtechservices opened #971 "Removing domain input doesn't revert cloudfront"
### Describe the bug
Removing domain input doesn't revert cloudfront back to it's initial settings, causing api requests to fail.

### Actual behavior
I added a domain name via the inputs the serverless.yml file to test it out. Then, I removed the domain name and deployed again only to find that the cloudfront origin did not change back to what it originally was, and instead kept the prior domain

[2021-03-29 11:37] afenton90 opened #972 "404 page not working for nested routes"
### Describe the bug
I have a Next.js app with a custom `pages/404.tsx` file. When accessing a route on the root of the domain that I expect to return a 404, this page renders fine (a.k.a `domain.com/broken-url`). However, when trying to access nested routes under this that should return the 404 page, the default Next.js 404 template is shown instead (a.k.a `domain.com/broken/this`)

### Expected

[2021-03-29 14:11] #971 closed

[2021-03-30 21:37] dphang commented on #967
I think this should fix it: https://github.com/serverless-nextjs/serverless-next.js/pull/974. I think the cause is all dynamic routes are grouped together (including catch all), so if catch all is resolved first before other dynamic routes, the precedence may be wrong. It is tested in e2e tests but somehow (maybe due to naming of routes causing wrong order?), the catch all always came after, so it

[2021-03-30 21:37] #967 closed

[2021-03-31 13:16] MangoChris opened #978 "What's happening inside the the index.js file within the Lambda"
Firstly thanks so much for providing this project it looks awesome!

I'm just evaluating it to see if it might be suitable for a project of mine and have setup a sample project and got everything working, the setup was extremely easy.

One small concern I have though is in regards to what is happening within index.js of the lambda package. I thought I would have a quick look to see how it works an

[2021-03-31 17:30] arielweinberger commented on #334
+1

[2021-03-31 20:27] dphang commented on #969
I haven't seen this issue myself before but wondering if maybe AWS also rate limits based on ip address too? Since in Ci/CD it may use machines with similar IP addresses. If you have many CI pipelines running, maybe that could be the cause?

I think you can also raise a ticket with AWS support and they should be able to raise the limit - I think we had done that for this package's e2e tests since

[2021-03-31 21:08] dphang commented on #961
Do you remember at which point it failed? I think the order of deployment is sequential: S3, then Lambda, then CloudFront finally points to the new Lambda version. I believe if any fails, then it shouldn't continue. Just trying to figure how the bad state / "access denied" happened.

Even in latest component versions, the S3 upload keeps the last two versions of static pages/data files, so pages s

[2021-04-01 14:36] paleite commented on #915
Should be supported now:
![image](https://user-images.githubusercontent.com/4430528/113310266-5630eb00-9308-11eb-8a4c-8a01c0545f9a.png)

[2021-04-01 15:29] mdsavian commented on #967
It still doesn't work for me. When I do a build, these files are generated, but are not copied to serverles

![image](https://user-images.githubusercontent.com/19864469/113317413-ba8e8300-92e5-11eb-96a7-a839d1367ef7.png)

[2021-04-01 17:37] dphang commented on #967
@mdsavian sorry I am not sure which issue you are talking about, seems not related to catch all route precedence? Could you please open an issue with more context include versions, serverless.yml file and what you are trying to do. Thanks!

@darren-charterindex this is published in latest version, please comment in case of any issues

[2021-04-01 17:49] dphang commented on #978
Hey @MangoChris, the file is the main handler for all the pages / API routes, basically figuring out what file/page the client is requesting and routing to the correct file (e.g in S3, or rendering a JS page if it's SSR), handling redirects, rewrites, etc.

It is 15k+ lines long since it uses Rollup to compile and bundle down to a single file including all dependencies. The reason for this is to o

[2021-04-01 17:51] #978 closed

[2021-04-01 18:22] MangoChris commented on #978
Great, that is indeed much easier to understand! Thanks for your help.

[2021-04-01 19:46] mdsavian commented on #967
I fall into a new issue with ISG revalidation, so I wait until #804 is resolved, thanks :D

[2021-04-01 20:51] jonahallibone opened #979 "RequestEntityTooLargeException randomly began erroring on deploys"
### Describe the bug

I randomly started getting
[code]
I auto-deploy my site to pull in new content every morning, and the past few mornings it has failed. I've seen mentioned in other issues that this could be due to the lambda size generated by the api routes or server side rendering. I have no server rendered pages, everything is statically optimized. I have two (small) api routes for adding t

[2021-04-02 02:32] rmulder commented on #721
Getting the following deployment error now, which did not exist in previous versions:
 error:
  RequestEntityTooLargeException: Request must be smaller than 69905067 bytes for the UpdateFunctionCode operation
    at Object.extractError (/Users/rammarketinginternational/.serverless/components/registry/npm/@sls-next/serverless-component@1.19.0-alpha.41/node_modules/aws-sdk/lib/protocol/json.js:52:27

[2021-04-02 05:05] dphang commented on #960
I am not sure but it seems

[code]

doesn't seem like part of this component's code, as we don't use webpack but rollup.js to bundle the code. It seems to be failing in webpack require, likely why you don't even see `getServerSideProps` being hit. Can you please check the line that is failing in `employees.js`?

[2021-04-02 05:07] dphang commented on #957
I am not sure if that command will work since this is currently still using Serverless Components beta, it is not same as the regular Serverless Framework. Seems that command only applies to regular Serverless Framework (https://www.serverless.com/framework/docs/providers/aws/cli-reference/info/)?

[2021-04-02 05:12] dphang commented on #979
As you mentioned, this happens when Lambda function is too large, can you check and confirm which Lambda it is failing on? Is it default, API, or image lambda? Maybe there is an issue where some old files are not cleared properly before deploying...?

[2021-04-02 05:16] aomv commented on #979
I got this repeatedly just now with alpha-41 on a just-created single page project with one image (though not using next/image). Tried with alpha-40 instead and it worked as expected.

[2021-04-02 05:46] dphang commented on #979
I just checked all the handler sizes and it seems that for the image-lambda, the `node_modules` is like 300 MB (!)`lambda-at-edge/dist/sharp_node_modules`, it seems to be growing in size continuously on each publish... it should be like 30 MB at most, which will fit in Lambda once compressed. Let me check and see what is happening with it...

[2021-04-02 05:54] dphang commented on #979
Found the problem - the `sharp_node_modules` used for the image lambda gets copied into `dist/sharp_node_modules` directory during the `yarn` build, and then I publish the package to npm. So that when you deploy, it gets copied into the Lambda. However, for some reason this directory kept growing in size every time I published, as it runs `yarn` command and it copies again, even though it's the sa

[2021-04-02 06:01] dphang commented on #721
@rmulder I believe your issue is this: https://github.com/serverless-nextjs/serverless-next.js/issues/979 please follow or reply to that issue instead of here, since it should not be related to Next.js 10 localization

[2021-04-02 06:08] jonahallibone commented on #979
@dphang thanks for getting back so quickly. Is there anything I can do before you push out a fix or should I just wait?

[2021-04-02 06:11] dphang commented on #979
@jonahallibone I am just about to publish a fix, the existing package is busted nothing you can do, best thing is to bump the version (don't want to republish over it in case it breaks someone using it)

[2021-04-02 06:14] jonahallibone commented on #979
@dphang ok great, thanks so much!

[2021-04-02 06:21] #979 closed

[2021-04-02 07:28] rmulder commented on #721
@dphang - You are absolutely correct. I re-ran the deploy with alpha.42 version (which is now out) - and that problem has been resolved. My code deploys, and thus far the i18n issues I had been experiencing have been resolved. Thanks!

[2021-04-02 10:35] s-kris commented on #937
This sounds more like prisma issue

https://github.com/prisma/prisma/issues/6051

[2021-04-02 11:16] adamelmore commented on #804
I'm looking into implementing this, if nobody else has started the work. I leverage `lambda-at-edge` in my CLI tool, Ness (https://github.com/nessjs/ness) and want to give users of Ness ISR support.

[2021-04-02 12:48] darren-charterindex opened #981 "Returning XML causes 502"
Using [next-sitemap](https://github.com/iamvishnusankar/next-sitemap) to render a server-side sitemap as detailed in the [readme](https://github.com/iamvishnusankar/next-sitemap#generating-dynamicserver-side-sitemaps), returns the following from Cloudfront:

[code]

Using versions:

[code]

[2021-04-03 06:15] raffij commented on #981
Is this error when deploying or when trying to load sitemap.xml? If the later have you checked your S3 bucket to see if it was generated?

[2021-04-03 08:13] darren-charterindex commented on #981
hi @raffij, the sitemap I'm referring to is a Next.js page as per the (readme)[https://github.com/iamvishnusankar/next-sitemap#generating-dynamicserver-side-sitemaps]

[2021-04-03 11:15] jonthewayne opened #982 "Error when deploying via Github actions: InvalidLambdaFunctionAssociation: The function cannot have a layer."
### Describe the bug
When I try to deploy using github actions, I get this error:

_InvalidLambdaFunctionAssociation: The function cannot have a layer._

### Expected behavior
It should deploy properly. I hadn't noticed that my github actions started failing to deploy using @sls-next/serverless-component@1.17.0 as far back as March 4th. The last successful deploy I have is Feb 22nd.

As far as I k

[2021-04-03 13:47] Shadrack1701 commented on #965
Ok, incase this ever happens in the future I figured it out.  I removed my custom access and looked at what serverless-nextjs is generating for access to the s3 buckets (as the images worked with the default access).  So if you are managing majority of your aws resources via terraform and not serverless this _may_ help you.

[code]

Only thing I changed was the s3 buckets need to give the resource

[2021-04-03 13:47] #965 closed

[2021-04-03 23:36] dphang commented on #804
@adamelmore sounds good, thanks! Sorry I hadn't a chance to work on this yet. Do let us know if you need any guidance - I think for this feature this would require adding some new SQS / regional Lambda to trigger the incremental static regeneration / revalidate behavior, which can be called from Lambda@Edge using SQS client.

[2021-04-04 10:43] #943 closed

[2021-04-05 09:56] jonthewayne commented on #982
Whoops, turns out I had changed something. In the AWS admin I had enabled lambda insights on dev to try and help diagnose something. Turns out that added a lambda layer which doesn’t work when connecting lambda@edge to cloudfront.

[2021-04-05 09:56] #982 closed

[2021-04-05 17:42] techexe-code opened #984 "503 ERROR The Lambda function associated with the CloudFront distribution is invalid or doesn't have the required permissions."
I have used aws-sdk for DynamoDB query in api pages. Working fine in localhost but I am getting this error in live

import aws from 'aws-sdk';
const client = new aws.DynamoDB.DocumentClient({
    accessKeyId: process.env.AWS_ACCESS_KEY_ID,
    secretAccessKey: process.env.AWS_SECRET_ACCESS_KEY,
    region: 'xx-xxxx-xx',
    params: {
      TableName: 'xxxx'
    }
  });
  const handler = async (req

[2021-04-06 18:03] aomv commented on #984
Since interacting with DynamoDB requires permissions outside of the default `AWSLambdaBasicExecutionRole`, you will need to create and specify a custom policy or role (as described here: [https://github.com/serverless-nextjs/serverless-next.js#aws-permissions](https://github.com/serverless-nextjs/serverless-next.js#aws-permissions)).

[2021-04-07 21:51] Gonzasestopal commented on #441
![error](https://user-images.githubusercontent.com/12578931/113938799-b4564600-97c0-11eb-9be9-c7e8c52a068d.png)

Happens intermittently using github actions for me.

Tried debugging cloudtrail but couldnt find anything useful.

Might be helpful knowing which services are most likely to exceed these default quotas.

[2021-04-07 23:12] patricktyndall commented on #441
Some info:
- I ran my deploy script (outside of Jenkins) from a different EC2 instance (same subnet, SGs, etc) and it works. (This probably eliminates IAM as a culprit).
- This supports IP-based limits (simplest explanation), but here's an argument against that: If that's the case (knowing that my failing instance gets 0 activity outside of these deploys), it seems not to be a burst or time-based

[2021-04-08 05:45] 7ruth opened #985 "503 error on pages that user getServerSideProps, Lambda@edge error Cannot find module '../../chunks/188.5cfa7090ba8f9961a3f8.js'"
### Describe the bug

I get the following on a page that uses getServerSideProps:

```The Lambda function associated with the CloudFront distribution is invalid or doesn't have the required permissions. We can't connect to the server for this app or website at this time. There might be too much traffic or a configuration error. Try again later, or contact the app or website owner.```

### Actual b

[2021-04-08 08:11] mattvb91 commented on #892
Currently looking for this too. I have a laravel API that I currently proxy through with a fetch request on /api/ to the execute but that way im currently running 2 lambdas (the nextjs lambda for /api) and the remote lambda. So its about 400ms roundtrip.

If I could override the cloudfront origin under /api directly I could hook in my api directly instead of proxying through 2 lambdas

[2021-04-08 14:31] dmsolutionz commented on #804
Where on the roadmap is this placed at this point? It is genuinely one of the best features I've seen from Next.

[2021-04-08 17:13] techexe-code commented on #984
I have already attached dynamoDB policy with existing role

when I test lambda function from the console, I am getting this error

{
  "errorType": "Runtime.UnhandledPromiseRejection",
  "errorMessage": "UnrecognizedClientException: The security token included in the request is invalid.",
  "trace": [
    "Runtime.UnhandledPromiseRejection: UnrecognizedClientException: The security token included

[2021-04-08 19:07] jeremygottfried commented on #937
@s-kris Yeah this is a dup of https://github.com/prisma/prisma/issues/6032

[2021-04-09 08:55] vicary commented on #111
Is this feature going into future plans?

[2021-04-09 17:10] kostenickj commented on #906
this is happening to me on 1.19.0-alpha.42

I dont have any locale content

The auto generated s3 bucket also is completely empty aside from a "Build ID" file despite having several static pages in my app.

Not really sure what im doing wrong.

![image](https://user-images.githubusercontent.com/17304343/114216419-be408c00-991b-11eb-931f-3a42a8776941.png)

[2021-04-09 20:05] korn101 commented on #645
How exactly does that look/work? Can we just provision a new distribution and use that new ID?

[2021-04-09 20:34] korn101 commented on #887
Can you give some more information on how you managed to achieve this? I am getting some access denied errors which I assume has something to do with the custom bucket names.

[2021-04-09 21:32] dphang commented on #985
Looks like it's your SSR code trying to find this file which is split out from webpack `../../chunks/188.5cfa7090ba8f9961a3f8.js`. Can you elaborate what this file does and how it?

Usually we expect the entire SSR page JS to be bundled in one file, I believe Next.js should bundle it with webpack, but maybe if you are using some special library/dependency it might not be properly bundled into one

[2021-04-09 21:36] dphang commented on #984
I think it probably is related to permissions.

You should try hitting the CloudFront endpoint in browser and then post the CloudWatch logs, I think that should help more (not sure if testing from console will work since it directly invokes Lambda, not from CloudFront).

[2021-04-10 00:36] #932 closed

[2021-04-10 01:11] dphang commented on #981
Might be related to: https://github.com/serverless-nextjs/serverless-next.js/issues/525. It seems like a Lambda@Edge limitation, if returning more than 1 MB of data through CloudFront it might cause 502s. How big is the server-site sitemap?

[2021-04-10 01:15] dphang commented on #906
@kostenickj I have fixed the Windows fast-glob issue above: https://github.com/serverless-nextjs/serverless-next.js/issues/932. However I am not able to easily test it for real since I don't have a personal windows machine. Please try and see if the latest alpha version works. Hopefully it can solve others issues too if they are using Windows.

[2021-04-10 01:19] dphang commented on #906
FYI, in alpha 32 that's not working, the change was adding CDK construct which modified s3 directory read to use `fast-glob`. This broke Windows deployments due to `fast-glob` only working with posix-style paths. Unfortunately it's not caught since our tests only run on Ubuntu

(I did have a draft PR to run tests on Windows, however it looks like there are other issues that need to be fixed to mak

[2021-04-10 10:14] adamelmore commented on #804
Well, I don't know if there's a roadmap, per se; but, on my personal Trello board it's currently in the "Next Week" column 😅

I want this for my own side project, so I will be working on it; it's just a matter of when. I hope to have started in the next week or so, and then go from there.

[2021-04-10 10:28] tanaydpatel opened #987 "Remove the deployed application from AWS"
I deployed the next application on AWS with `npx serverless`.
But when I performed `serverless remove` it didn't removed the entry from cloud-front (disabled it) and I was also not able to remove the Lambda functions.

How to remove the deployed application ?

[2021-04-10 16:25] davegariepy commented on #987
@tanaydpatel I came across this yesterday. I think it happens because the lambda@edge functions are associated with a cloudfront distribution and when you remove the stack the distribution takes a few minutes to delete.

I'm using CDK and ended up manually deleting the stack in the AWS Cloudformation console. I checked the lambdas after a few minutes in the console and then manually deleted those.

[2021-04-11 04:35] MaxmaxmaximusAWS opened #988 "Serverless AWS error: AccessDenied: Access Denied (enableS3Acceleration: false)"
[code]

serverless.yml:
[code]

[code]

ERROR:

[code]

[2021-04-11 06:01] techexe-code commented on #984
Thanks @dphang

It's working fine now

[2021-04-11 06:01] #984 closed

[2021-04-11 18:18] tanaydpatel commented on #987
Okay. I'll remove the resources manually.

Thanks @davegariepy .

[2021-04-11 18:19] #987 closed

[2021-04-12 02:59] mrowles commented on #333
Are the limitations still there in AWS?

[2021-04-12 03:00] mrowles commented on #334
Any updates here?

[2021-04-12 13:06] mdsavian commented on #972
I'm facing the same issue.
I have a custom 404 page, and I'm not redirected to this page.
I'm using
@sls-next/serverless-component: 1.19.0-alpha.43
next: 10.1.2

[2021-04-12 16:08] kostenickj commented on #906
@dphang, upgrading to alpha 43 from alpha 42 fixed my issue!

thanks

[2021-04-13 18:06] jvarho opened #990 "403 AccessDenied from S3 for dynamic SSG pages when basePath is defined"
### Describe the bug
When using a base path there is a 403 from S3 when opening a SSG dynamic route that isn't in getStaticPaths paths.

### Actual behavior
Both `fallback: true` and `fallback: false` seem to result in an error.

### Expected behavior
Depending on fallback value it should either return the 404 page or the fallback page.

### Steps to reproduce
1. create-next-app
2. basic serverles

[2021-04-13 22:45] adamelmore commented on #804
I'm interested in paying a bounty to anyone that wants to take this work on. I've got a lot on my plate but really want to see this completed.

Offering $1200 USD if anyone that stumbles on this wants to take this on. Message me here or on Twitter for details.

https://twitter.com/aeduhm/status/1382093398077796357?s=20

[2021-04-14 06:38] darren-charterindex opened #991 "Using webpack 5 causes 503"
Using webpack 5, returns the following from Cloudfront:

[code]

Using versions:

[code]

[2021-04-14 07:41] giovai commented on #901
Hello,

Is there any update on this? I'm trying to achieve the same thing with `1.19.0-alpha.43` and getting the same error.

Another thing: is there any way to split build and deploy? There are inputs `build` and `deploy`, but these flags can't be passed from the command line, only through manipulation of the `serverless.yml` file.

[2021-04-14 16:14] darren-charterindex commented on #981
It is over 1MB. Now breaking it down and will report back.

[2021-04-14 18:08] dphang commented on #906
Thanks for confirming, we should be able to close out this issue now.

[2021-04-14 18:08] #906 closed

[2021-04-14 21:03] Reiiya commented on #959
Hey @jginorio, which next-i18next version did you use? I am using the latest and your fix did not do it for me :/ I am getting the same error as you. I eventually hacked around it by not using next-i18next config at all (used a differently named config file that i put into every function by hand).

[2021-04-14 21:08] jginorio commented on #959
Hi, the version of next-i18next I was "8.1.2"

[2021-04-15 04:15] #990 closed

[2021-04-15 05:05] dphang commented on #972
Strange, I tried locally on the e2e next-app but could not reproduce the issue (using Big Sur). See below:

This is using the latest 1.19.0-alpha.43 version. Created a `404.tsx` page with this content:

[code]

and tested these URLs:

https://d1s0c4beiphe7z.cloudfront.net/unmatched/nested
https://d1s0c4beiphe7z.cloudfront.net/unmatched

Both of them render the custom 404 page. Could anyone add a f

[2021-04-15 05:35] dphang commented on #991
Please post more info such as the actual logs you are seeing in the Lambda@Edge.

[2021-04-15 05:39] #34 closed

[2021-04-15 05:41] dphang commented on #197
Closing old issue - there have been many changes since this; please take a look at the new component and see if it works for you (if you are still using it).

[2021-04-15 05:41] #197 closed

[2021-04-15 05:41] #86 closed

[2021-04-15 05:43] dphang commented on #289
Closing old issue, if there are still other problems, please open a new one

[2021-04-15 05:43] #289 closed

[2021-04-15 06:03] dphang commented on #933
Closing as I believe the original issue is solved for now...feel free to add another PR if there are further improvements

[2021-04-15 06:03] #933 closed

[2021-04-15 06:08] dphang commented on #323
As mentioned above we had added function to manually disable or enable it, hopefully it should work

[2021-04-15 06:08] #323 closed

[2021-04-15 06:40] dphang commented on #605
@raffij published a forked package with the above change from @fargito under @sls-next/serverless-cli - haven't tried out yet as I just published as is but hopefully it can be used now?

[2021-04-15 06:42] dphang commented on #98
Closed since serverless-nextjs-plugin is deprecated - locale support is in the new component (Lambda@Edge for now only)

[2021-04-15 06:42] #98 closed

[2021-04-15 06:42] raffij commented on #605
That's great. As it's integral to the build process much more confidence in using your fork than someone else.

[2021-04-15 06:52] raffij commented on #988
Looks like you are using an old version 1.17.0? We've been using the latest alpha versions in production and had no issue. You could try upgrading to the latest.

However if this is a permissions issue then I'd check the section "AWS Permissions for deployment" in the readme to make sure all the permissions you need are set.

[2021-04-15 06:58] dphang commented on #210
Closing stale issue - if still occurring on the latest version, please reopen new issue

[2021-04-15 06:58] #210 closed

[2021-04-15 07:07] dphang commented on #605
actually just realized `@serverless/cli` is a dependency to https://github.com/serverless/serverless/blob/master/package.json, so not sure how we can replace that without having to also fork `serverless` package?

[2021-04-15 07:15] raffij commented on #605
You could add it as a peer dependency, but that's only a prompt to users or add it to the docs as an important step in the build.

[2021-04-15 09:19] darren-charterindex commented on #991
Will do shortly 👍

[2021-04-15 10:03] darren-charterindex commented on #991
No logs from the Lambda, the error is from CloudFront. No further logs from CloudFront.

The app runs as prod locally correctly using webpack 5, and works correctly in the Lambda using webpack 4. There is no difference except:

[code]

[2021-04-15 15:17] techexe-code opened #995 "ISR(Incremental Static Regeneration) feature not generating dynamic pages in s3 bucket"
pages are generated in s3 on this folder[static-pages/{**}.html and _next/data/{id}/*.json] build time only

when I open url like page/3 in my browser it's always show me loading state then comes up main content and this page is not being generated in s3

[code]

[2021-04-15 15:29] MaxmaxmaximusAWS commented on #988
it turned out that acceleration is not available for my account, but I disable it, and disabling does not work, should disabling work in alpha versions?

[2021-04-15 21:20] msaraac opened #996 "Undescribed Error"
I'm getting this error . Anyone understands this ?

[code]

[2021-04-15 22:21] dphang commented on #996
Most likely some page path you have has a special character that couldn't be parsed by `pathToRegexp` library during the build step (which generates all the route and page manifests). Agree the error could be more descriptive - probably could add the path it failed to parse.

[2021-04-15 22:23] dphang commented on #991
I see, are there no logs in the CloudWatch region you are accessing from? Usually 503 means there is some problem with the Lambda function itself, so it should show the exception if any.

In any case I can try to look at it later in the week

[2021-04-15 22:32] dphang commented on #995
We do have e2e test for fallback page here: https://github.com/serverless-nextjs/serverless-next.js/blob/2b9dfd8f36e751de62d3d009d740c06d5fc975b0/packages/e2e-tests/next-app-dynamic-routes/pages/optional-catch-all-ssg-with-fallback/%5B%5B...catch%5D%5D.tsx#L38-L38

`/a` and `/b` are generated at build time, rest are first with fallback page but then data request should generate and save the page/d

[2021-04-16 04:09] techexe-code commented on #995
[code]

[2021-04-16 06:47] jordie23 commented on #991
Can confirm I get the same. The lambda function is not being executed.

This is only happening for our API paths though.

[2021-04-16 07:22] dphang commented on #995
Strange, then I am not quite sure what is going on..is there any other error in the console/network tab or perhaps some S3 write permission issue?

If you are able, please try to build this component and add logs around here: https://github.com/serverless-nextjs/serverless-next.js/blob/2b9dfd8f36e751de62d3d009d740c06d5fc975b0/packages/libs/lambda-at-edge/src/default-handler.ts#L639-L660, this is w

[2021-04-16 08:19] dphang commented on #894
Sorry just got back to this now, it was a bit hard to debug at first but I finally found it's because the 404.html page is not generated by Next.js when adding the `_app.js`, the origin response handler is thus failing to find the s3 page (for fallback: false). I think you need to add a `pages/404.js` so it returns the proper 404 instead.

I'll work on improving the logic so that we check whether

[2021-04-16 09:24] techexe-code commented on #995
not getting any error in console. I don't think there is s3 write permission issue because pages are getting stored during the deployment.

[2021-04-16 09:27] giovai opened #999 "Enable passing deploy and build.enabled flags as environment variables"
**Is your feature request related to a problem? Please describe.**
I'd like to separate the build, package and deploy stages in my CI/CD pipeline. Currently, there is no packaging command available (but that's a separate issue).
It's not possible to inject the value of `deploy` and `build.enabled` flags as environment variables as they are always passed as strings.

**Describe the solution you'd l

[2021-04-16 09:38] dphang commented on #995
Yes, I was referring to if there is a runtime permission issue of Lambda itself (not AWS key used during deployment, that definitely should be fine)

[2021-04-16 10:45] #894 closed

[2021-04-16 10:50] dphang commented on #999
Merged the PR and published in latest alpha.

[2021-04-16 10:50] #999 closed

[2021-04-16 11:42] abiswas529 opened #1002 "Not able to configure PROD_AWS_ACCESS_KEY_ID and PROD_AWS_SECRET_ACCESS_KEY"
### Describe the bug
Hi Team,
I am using component: "@sls-next/serverless-component@1.18.0". I have two variable in DEV_AWS_ACCESS_KEY_ID , DEV_AWS_SECRET_ACCESS_KEY and PROD_AWS_ACCESS_KEY_ID, PROD_AWS_SECRET_ACCESS_KEY in gitlab CICD settings.

when I am using AWS_ACCESS_KEY_ID=$DEV_AWS_ACCESS_KEY_ID AWS_SECRET_ACCESS_KEY=$DEV_AWS_SECRET_ACCESS_KEY and then doing npx serverless it is not working

[2021-04-16 12:04] patricktyndall commented on #894
Too clutch!

What 404 page should we expect to see? I'm now getting an empty html page (was expecting next's default 404). It is returning HTTP 404 though, which is the important part.

[2021-04-16 14:22] techexe-code commented on #995
Is there any way to debug this issue ?

[2021-04-16 15:48] myrjola opened #1003 "Rewrites object format not supported"
### Describe the bug

The rewrites configuration also supports an object, but this does not currently work in the default Lambda. https://nextjs.org/docs/api-reference/next.config.js/rewrites

### Actual behavior

The default Lambda crashes with the following:

[code]

### Expected behavior

The rewrites should apply without any crash.

### Steps to reproduce

Add rewrites with the object format t

[2021-04-16 16:16] techexe-code commented on #995
I have created new project and deployed it to CloudFront but still same issue

build time pages

https://d3vk8t6m4jw2vm.cloudfront.net/post/first
https://d3vk8t6m4jw2vm.cloudfront.net/post/second

above two pages are served from s3

[code]

fallback pages
https://d3vk8t6m4jw2vm.cloudfront.net/post/third
https://d3vk8t6m4jw2vm.cloudfront.net/post/xxx

and these pages are not getting stored in s3 an

[2021-04-16 17:42] dphang commented on #995
As mentioned, I could not repro the same issue on my end using the latest version of this component. Either:

1. You will need to either debug this component yourself by adding log statements / etc. to the code I pointed (default handler) and build and deploy it.
2. If you can share a GitHub repo that can reproduce the issue, I can take a look at it.

Your fallback page for some reason is being ca

[2021-04-16 21:27] ignaciolarranaga commented on #830
Hi guys, I'm with the alpha.45 but the initial redirection based on the detected locale seems to be not working. Might be the case? I've it working on local but not on the deployed site, for example I send es and I does not jump to /es.
I can correctly access the Spanish site though, but I have to manually put the /es.

<img width="1675" alt="Example" src="https://user-images.githubusercontent.com

[2021-04-16 23:30] lucas-brito commented on #988
I just had the same issue, `enableS3Acceleration: false` does not work in the last stable version use the last alpha instead

Just change from `component: "@sls-next/serverless-component"` to  `component: "@sls-next/serverless-component@1.19.0-alpha.45"` and it should work

[2021-04-17 03:38] techexe-code commented on #995
No, I am using 1.18.0 version

`@sls-next/serverless-component@1.18.0`

[2021-04-17 04:43] techexe-code commented on #995
Thanks again @dphang

I have changed version to `@sls-next/serverless-component@1.19.0-alpha.45` and Yes, now page is being generated in s3 but has some problem with revalidation.

[2021-04-17 18:57] dphang commented on #1002
I don't use Gitlab so the environment might be different, but assuming you probably need to set your `AWS_ACCESS_KEY_ID` in the same line as `npx serverless`.

Something like `AWS_ACCESS_KEY_ID=$PROD_AWS_ACCESS_KEY_ID AWS_SECRET_ACCESS_KEY=$PROD_SECRET_ACCESS_KEY npx serverless`.

I use GitHub actions and they also have env variables you can set in each step, which should be exactly for use cases

[2021-04-17 19:00] dphang commented on #1003
Yes it seems Next.js might have recently added rewrites object format? I didn't recall it when I first implemented rewrites. So it would need to be implemented. I'm working on some other stuff at the moment but can tag this as good first issue / enhancement in case someone wants to pick it up.

[2021-04-17 23:21] davegariepy opened #1004 "CDK public folder assets"
### Describe the bug
Using CDK for deployment, images from the `public` folder break when using the `next/image` component

### Actual behavior
A 503 error is returned for the image network request. The lambda@edge logs show a `LambdaExecution` error where the image is being requested from s3. The image is being bundled and uploaded to s3, the `vercel.svg` using the normal html `img` tag works. Th

[2021-04-18 04:21] techexe-code commented on #995
@sls-next/serverless-component@1.19.0-alpha.45

I am facing problem with the page revalidation feature of ISR.
I have declared x seconds for revalidation of page but page is still used old content and not getting updated.

This issue is with `@sls-next/serverless-component@1.19.0-alpha.45` or from my side ?

[2021-04-18 04:25] dphang commented on #995
It's not supported yet unfortunately... https://github.com/serverless-nextjs/serverless-next.js/issues/804 I am working on releasing 1.19 this month and then hopefully we can take it up. Looks like there is a bounty too

[2021-04-18 04:34] techexe-code commented on #995
Great, I really appreciate you and waiting for next release. 😊

[2021-04-18 07:18] dphang commented on #894
@patricktyndall yeah in the `.next` folder I don't see any 404.html page generated when you just add an `_app.js` hence we are returning a blank 404 page for now. Not sure how the dev server is doing it? It might be generating it using SSRusing `_error.js` or something. We can try to look into that to improve it

[2021-04-18 14:28] adamelmore commented on #804
Upping this to $2000 USD.

[2021-04-18 19:50] davegariepy commented on #1004
I did a little more investigating and came across the popular objects tab in CloudFront. I noticed that for the 5xx errors the path does not contain the image filename. It is shown as `/_next/image` where I would expect something like `/_next/image/photo.png`.

![Screen Shot 2021-04-18 at 3 44 19 PM](https://user-images.githubusercontent.com/3921481/115158680-5eee2480-a05d-11eb-9dea-a33fb2988500.p

[2021-04-19 00:10] adamelmore commented on #995
There is! I'm offering a $2000 bounty for ISR support.

[2021-04-19 00:39] dphang commented on #995
@adamelmore great! That definitely sounds like a good incentive! I would do myself but unfortunately don't have enough time to take it on yet until I finish existing bugs / releasing 1.19. I agree it is an important feature in Next.js but I think it definitely requires more thought.

I will probably try to put that in one of the pinned issues for more visibility.

[2021-04-19 00:45] dphang commented on #970
FYI, there is a $2000 bounty from another community member on this issue: https://github.com/serverless-nextjs/serverless-next.js/issues/804 for Incremental static regeneration. I don't have the time myself for this right now as I'm working on the long-awaited 1.19 release (not really needing the bounty myself).

If someone is interested, please let us know and we could work out details with all i

[2021-04-19 12:46] Arditc opened #1006 "Migrating from serverless-nextjs-plugin but still using API Gateway"
Hey,

I was wondering if there is any support from migrated from:
`serverless-nextjs-plugin` to `serverless-next.js` but still being able to use API Gateway + lambdas. This is because we already  use a CDN which isn't cloudfront.

I wasn't able to find anything in your documentation to say that this still supports API gateway + lambda lambda integration. Has this been deprecated?

Many thanks for

[2021-04-19 16:51] jpranin-axia commented on #398
@dphang Just bumping my sipport for adding Lambda support to this old plugin

[2021-04-19 16:51] davegariepy commented on #1006
hey @Arditc, it was mentioned in #970 and #777 that there are plans to become more platform agnostic.  At the moment everything is tied to CloudFront and lambda@edge.

[2021-04-19 23:28] Ruivalim opened #1008 "Cloudfront accept more than one domainName"
Having the possibility to add more than one domainName in the project.

We are using this lib for one of our projects, and we want to add support for www in the url, for now we are creating this manually in the console, but would be nice to have the support direct in the code.

[2021-04-19 23:38] Ruivalim commented on #1008
Pull request created: https://github.com/serverless-nextjs/serverless-next.js/pull/1009

[2021-04-20 04:54] rhoiyds commented on #721
@poppein @dphang  I'm currently experiencing the `next-i18next.config.js` non-bundling error as well.
` Error: Cannot find module '/builds/<project>/next-i18next.config.js'
     at webpackEmptyContext (/builds/<project>/.next/serverless/pages/index.js:45452:10)
     at /builds/<project>/.next/serverless/pages/index.js:803:90`

   Can either of you share a solution which might help address this? I

[2021-04-20 07:43] mattvb91 opened #1010 "Runtime env not being set"
`@sls-next/serverless-component@1.19.0-alpha.45`

I currently have a setup that has this nextJS setup for the frontend. But I am using a proxy on the `/api` route that proxies through to another external lambda JSON api (Which is up and running, and accessible)

https://github.com/chimurai/http-proxy-middleware

The issue I currently have is that on pages where I am making use of the proxied exter

[2021-04-20 07:54] poppein commented on #721
@rhoiyds I unfortunately revert back to using plain react i18next and not next-18next as i couldn't get it to bundle properly

[2021-04-20 08:02] rhoiyds commented on #721
@poppein Thank you for letting me know - however that is sad to hear. I'm afraid I might have to do the same, unless @dphang has found a solution.

[2021-04-20 08:10] gouroujo commented on #721
@rhoiyds I ve managed to make it work by copying my `next-i18next.config.js` in both the root of my project (alongside next-config) and in my `/src` folder. I hope it will work for you.

[2021-04-20 08:20] pawelphilipczyk commented on #721
Great to hear that @gouroujo! Did you manually copied this or do you have some task that you could share?

[2021-04-20 08:22] rhoiyds commented on #721
@gouroujo Thanks for sharing your solution! I had really high hopes for it, however, unfortunately still no dice. The same error as always. If there's anything else you can share that might help, it would be greatly appreciated.

[2021-04-20 10:39] Arditc commented on #1006
Amazing thanks @davegariepy !

[2021-04-20 10:39] #1006 closed

[2021-04-20 11:32] adamelmore commented on #970
@dphang I may be interested in becoming an active contributor, but I do have some bandwidth limitations in the near term (hence the bounty on ISR support). Unfortunately, I don't have any expertise outside of AWS, so I may not be best suited to pushing on the multi-cloud effort. But, I do have expertise in AWS and could certainly help push the needle on that front.

I built an OSS CLI tool for dep

[2021-04-20 18:53] dphang commented on #1010
Please provide some CloudWatch logs (in the future please follow the template if possible as it has a guide). "The Lambda function associated with the CloudFront distribution is invalid or doesn't have the required permissions" is generic but normally means an exception was thrown in the Lambda. The logs would help pinpoint which code failed.

[2021-04-21 07:16] mattvb91 commented on #1010
Hi @dphang thanks for the response, thats actually part of the issue that makes it difficult to understand, The logs permissions are set as suggested in the readme for the role however on the console I just receive an error that this loggroup does not exist.

[2021-04-21 17:36] dphang commented on #970
@adamelmore great! We definitely could use more contributors. No worries, I'm also mostly familiar with AWS... but there are some improvements there too like supporting regular Lambda once again. If you want, let me know a good way to contact you and I can send you an invite to the Slack.

[2021-04-21 18:02] adamelmore commented on #970
You can email me at adam@elmore.dev

[2021-04-21 18:31] #833 closed

[2021-04-21 22:21] Ruivalim commented on #1008
Closing since it was merged

[2021-04-21 22:21] Ruivalim commented on #1008
Closing since it was merged.

[2021-04-21 22:21] #1008 closed

[2021-04-21 23:58] jonahallibone opened #1011 "Project fails to deploy on Lambda step. No changes to api code or severless config"
### Describe the bug
`The role defined for the function cannot be assumed by Lambda.` is being thrown on deployment.

### Actual behavior
I run `serverless` command and my deploy fails at the lambda step

### Expected behavior
Site should deploy

### Steps to reproduce
Run `serverless`. It happens intermittently, I cannot reliably reproduce it. Have read the solution could be to make the deploy to

[2021-04-22 02:06] davegariepy commented on #1004
ok, so I noticed a mismatch in the image URL when comparing the browser network request and logs:

the network request:
`https://redacted.cloudfront.net/_next/image?url=%2Fphoto.png&w=256&q=75`

in the lambda@edge logs in s3 I see this is logged with the lambda execution error:
`url=%252Fphoto.png&w=256&q=75`

the discrepancy is `%252Fphoto.png` vs `%2Fphoto.png`, so maybe the extra 52 is causing

[2021-04-22 07:16] kryver opened #1012 "Open Redirect vulnerability on trailingSlash redirect"
### Describe the bug
example.com//otherdomain.com will redirect with header //otherdomain.com/ when redirecting from without trailing slash to with.(Or vice versa with trailingSlash false.) Which opens up for open redirect exploits.

### Actual behavior
example.com//otherdomain.com will redirect with header //otherdomain.com/

### Expected behavior
example.com//otherdomain.com will redirect with h

[2021-04-22 14:03] afenton90 opened #1014 "@sls-next/cdk-construct - allow additional edgeLambdas to be set without overriding the default ones."
**Is your feature request related to a problem? Please describe.**
I'd like to be able to add Lambda@Edge functions to the default behaviour for the Cloudfront Distribution generated as part of `@sls-next/cdk-construct` without overriding the default Lambda@Edge functions.

**Describe the solution you'd like**
Rather than spreading over all props here https://github.com/serverless-nextjs/serverles

[2021-04-22 15:16] afenton90 commented on #1014
To be clear if people think this is a good idea I don't mind contributing this.

[2021-04-22 17:33] jonahallibone opened #1015 "Allow multiple sites to be hosted from one Cloudfront"
**Is your feature request related to a problem? Please describe.**
I am not sure if this is supported at the moment, but I have two project I'd like to host under a single domain. My company has a marketing site with our landing pages, and another site which contains our web app. Our web app contains a public view information on companies, which then requires authentication to view more detailed a

[2021-04-22 18:35] kostenickj opened #1016 "CDK Construct - Wrong s3 paths generated when deploying from windows"
### Describe the bug
A backslash instead of a forward slash is generated on the static folder, as show below
![image](https://user-images.githubusercontent.com/17304343/115767323-dbcf1600-a35d-11eb-8cd2-ac42e2797bea.png)

### Actual behavior
this causes CloudFront (and pretty much everything) to fail on everything in that folder and get 403's

### Expected behavior
slash should point the right way

[2021-04-22 18:37] #937 closed

[2021-04-23 01:44] insomenia-seongjun commented on #985
Any other changes? I am having the same problem.

[2021-04-23 05:48] dphang commented on #1016
Probably this line needs to be changed to `path.posix.relative`? https://github.com/serverless-nextjs/serverless-next.js/blob/4c8014012495d695a19e3b14a46c363742aeab0e/packages/serverless-components/nextjs-cdk-construct/src/index.ts#L368

Can you try to update this and see if it works?

[2021-04-23 14:29] otekdo opened #1017 "What is the recommended target for deployment?"
Hi im just gonna make a basic question!

![image](https://user-images.githubusercontent.com/65221868/115886189-accca900-a41e-11eb-8236-4c00b5f333c2.png)

When deploying a nextjs app with this framework...

**What is the recommended target?**

I am not sure which one i must choose

[2021-04-23 15:52] kostenickj commented on #1016
I made that change and it failed to deploy on creation of the deployment bucket. I changed it back and it deployed fine, but with the same path error as before

[2021-04-23 21:43] #1012 closed

[2021-04-23 23:46] dphang commented on #1016
I see, basically I think just some places need to use the posix path which use "/" separator, maybe it is in another line. @kirkness would probably know better since he originally wrote this?

[2021-04-24 08:54] jjanssen opened #1020 "useServerlessTraceTarget leads to copy error in building the default-lambda"
### Describe the bug
We recently were in a need to use the useServerlessTraceTarget feature as we were running into the EntityTooLarge exception.
When enabling useServerlessTraceTarget the code for the default-lambda can no longer be build due to a copy error.

[code]

### Actual behavior
Although not happening in a bare example it can be the case that the initial copyLambdaHandlerDependencies has

[2021-04-24 09:31] jjanssen commented on #1020
I actually found the combination, reproduction can be found at:
https://github.com/jjanssen/serverless-next-bare-example/tree/use-serverless-target

What is interesting, it occurs with the presence of:
- next-translate wrapped around the `next.config.js`
- next-auth being present in `/api/auth/`

If I were to leave out `nextTranslate` as a wrapper in `next.config.js`, the build does not encounter

[2021-04-25 12:47] ignaciolarranaga commented on #930
Just a side comment, the problem is not just the delete of the stack but the manipulation of the edge functions themselves.

For example I added permissions to the lambda@edge to be able to call another lambdas (specifically from the API) and finally had to move my logic to APIGateway because it was really failing almost all the time due little changes + the mentioned delete problem.

[2021-04-25 18:32] jake-chambers opened #1023 "Running serverless results in ENOENT: no such file or directory, .....serverless/components/registry/npm/@sls-next"
### Describe the bug
Following the README and running serverless errors out

### Actual behavior
[code]
- OS/Environment: MacOS
- @sls-next/serverless-component version: 1.9.10
- Next.js version: 10.1.3

### Additional context
My serverless.yml file

[code]

- I did not include @sls-next/serverless-component in my package.json
- It works fine if I refer to the local installation like:

[code]

###

[2021-04-25 18:50] raslasarslas commented on #846
I have the same error, does anyone know how to solve it?

[2021-04-25 22:07] pbassut commented on #846
Since the error is because of an environment file in the same folder you run (serverless delpoy), as a workaround, I found another way of setting my environment variables. Be creative in your setup and find your own.

[2021-04-26 01:51] davegariepy commented on #1023
shouldn't it be 1.19?

[2021-04-26 03:17] rhoiyds commented on #721
Hi all, after days of headaches I've managed to find a workaround which seems to work for me.
Here's some notable configs that managed to work for me, no guarantees for anyone else I suppose.

Removed `target: 'serverless'` from `next.config.js`. Also added i18n configs manually.

[code]

Changed the next-i18next.config file from a .js to a .ts
Updated the contents of the `next-i18next.config.ts`

[2021-04-26 13:49] kirkness commented on #1016
Hi @kostenickj, you say it failed to deploy when you made that fix, what was the error you saw in the logs?

[2021-04-26 13:53] kirkness commented on #1014
Hi @afenton90, I agree this would be a worthwhile feature! Contributions most welcome, do let me know if you'd like any pointers.

[2021-04-26 15:53] kostenickj commented on #1016
Here is where the initial failure happens:

![image](https://user-images.githubusercontent.com/17304343/116112923-e4309500-a66c-11eb-9969-b661aed9d50b.png)

[2021-04-26 16:12] kirkness commented on #1016
It's likely a simple fix, although without access to a windows machine myself it'll be a little tricky! Is the above error occurring after setting `destinationKeyPrefix` to `path.posix.relative(...)`? It looks as if its using win32 still as the formed command is copying files from a posix path to win32?

[2021-04-26 16:20] kostenickj commented on #1016
Yes, i changed it to look like this:

![image](https://user-images.githubusercontent.com/17304343/116116985-9cac0800-a670-11eb-845c-35463e08a11d.png)

[2021-04-26 21:01] jake-chambers commented on #1023
thats why im unsure what its complaining about, i didnt specify a version in the `serverless.yml`

[2021-04-27 09:01] kirkness commented on #1016
Cheers for clarifying @kostenickj. From what I can tell, it looks as if the trouble comes from the `sources` value (as well as the `destinationKeyPrefix`). The `readAssetsDirectory` returns values/paths according to the OS, however it appears those are carried through when running on distributions custom resource (based on what I can see in the error message). I'm wondering whether this could be r

[2021-04-27 10:12] kostenickj commented on #1016
@kirkness  Ill give this a go today, and let you know!

[2021-04-27 17:18] #1014 closed

[2021-04-27 20:11] darren-charterindex commented on #981
Reduced to under 1MB and works as expected. Thank you.

[2021-04-27 20:11] #981 closed

[2021-04-27 20:13] darren-charterindex commented on #991
That is correct. No relevant Cloudfront logs, either in us-east-1 or locally in eu-west-2.

[2021-04-27 20:36] dphang commented on #970
Thanks, invited!

[2021-04-28 00:21] dphang commented on #721
Thanks all for the help, let me look into it next. Unfortunately I am not using next-i18next myself yet and don't have enough time to look at various integrations (being the primary contributor to this) so I will take a look and try to repro & fix for the next minor version

[2021-04-28 07:02] dphang commented on #1016
I made possible fix, looks like invalidation paths also need to use posix path: https://github.com/serverless-nextjs/serverless-next.js/pull/1025. Though I also don't have windows machine I can use to test, hopefully it works

[2021-04-28 07:08] dphang commented on #1017
You can configure the target using the `serverless.yml` file instead with `useServerlessTraceTarget`. Serverless target just means each page bundles all dependencies. However if you have lots of pages the Lambda size can go up a lot.

Serverless trace means that there is only one set of dependencies, so your Lambda size will be smaller. However, each page JS will have to load your dependencies one

[2021-04-28 10:16] kostenickj commented on #1016
Didn't have a chance to test yesterday, but i will give it a go today.

[2021-04-28 10:36] jjanssen commented on #1020
I've been giving this issue a couple of thoughts the last few days.

When the build hits the `useServerlessTraceTarget` conditional in `buildDefaultLambda` the `nodeFileTrace` takes the `pages/api` folder into consideration. In the scenario of having `next-translate` and `next-auth` installed it still doesn't add up on why this would be flagged accordingly for `nodeFileTrace`.

Now I would happy t

[2021-04-28 11:59] kirkness commented on #1016
Agreed on this - e2e tests would be great. Not sure how the current e2e are set up but it'd be nice to have the same setup across both.

[2021-04-28 15:44] haapti opened #1027 "CDK Construct - Support for outside hosted domain"
**Is your feature request related to a problem? Please describe.**
Kind of. When the `hostedZone` is required im unable to use domain which is hosted outside of AWS (not in Route53).

**Describe the solution you'd like**

Setting only a certificate for a domain in AWS while DNS-hosting is outside of AWS.

[code]

With serverless.yml you can do this like:

[code]

[2021-04-28 16:33] kostenickj commented on #1016
I am unable to get this to build correctly, so i will wait until a new alpha release before i can test further.

[2021-04-28 19:00] kirkness commented on #804
Keen on taking you up on that offer @adamelmore 😁

Just put in a WIP PR [here](https://github.com/serverless-nextjs/serverless-next.js/pull/1028) - keen for everyone's feedback.

[2021-04-28 22:20] dphang commented on #1016
Have published it, let me know if it works.

@kirkness

Right now e2e tests work by just using a deployment script to manually execute `serverless` command, run cypress tests and then cleanup all build artifacts, you might be able to create a similar script for CDK deployment and run it as well. Maybe to avoid duplication it can be in `next-app` package and just run under a different app name to a

[2021-04-28 22:20] #1016 closed

[2021-04-29 08:59] mattvb91 commented on #1010
So it turns out my env variables aren't coming through on the lambda itself. I have the nextjs.conf setup like in the readme.

[code]
but on the lambda it never shows up?

![image](https://user-images.githubusercontent.com/11991564/116526417-ddf32080-a8d9-11eb-8579-6de22b5d64ba.png)

Am i confusing "Build" env with what i was assuming was the runtime env vars?

[2021-04-29 09:05] kirkness commented on #1027
Thanks @haapti, I wasn't aware of this behaviour on the serverless component side, sounds like it would be a valuable change on the CDK-side!

[2021-04-29 09:30] Friis1978 opened #1030 "Not compatible with nextJs > 10"
### Describe the bug
When updating to Next.js > v.10.0.0, we could not deploy the code in github actions.
If someone else have seen something similar, we really want your comments how to resolve this issue.

### Actual behavior
error:
  AccessDenied: User: arn:aws:iam::***:user/github-cli is not authorized to perform: iam:GetRole on resource: role 7kv1mz9-eng6t1i
    at Request.extractError (/home

[2021-04-29 15:23] davegariepy commented on #1027
@haapti  have you tried creating a hosted zone in route 53 and then pointing the registrar domain to the nameservers of the hosed zone?

[2021-04-29 17:52] kostenickj commented on #1027
I would love to have this, I cannot created a hosted zone in AWS because i cannot transfer our company domain outside of CloudFlare for reasons beyond my control.

For now I have doing it manually and it gets overridden on every redeploy.

[2021-04-29 18:13] elbasan commented on #1030
I'm having the same issue

[2021-04-29 22:51] otekdo commented on #1017
Ok, thanks!

[2021-04-29 22:51] #1017 closed

[2021-04-30 07:23] Friis1978 commented on #1030
@elbasan did you find any links about how to fix it?

[2021-04-30 07:33] mattvb91 commented on #184
@PaulKushch im still having issues even with this that nothing shows up in my lambda env? Currently struggling with this env issue over in #1010

Do your vars show up in the lambda config? i feel like im missing something obious

![image](https://user-images.githubusercontent.com/11991564/116663146-fe34e500-a996-11eb-9c49-cdeafba4be8c.png)

[2021-04-30 09:42] kirkness commented on #1027
It should I think be possible to handle the domain creation externally to the next-cdk-component. I'm not sure exactly what needs to be configured on AWS however you can access `new NextJSLambdaEdge(...).distribution` (amongst other things) which should give you everything you need to create any records for your domain.

[2021-04-30 12:10] afenton90 commented on #972
Don't know if this helps but I'm also getting the same behaviour with `@sls-next/cdk-construct` @dphang will continue to investigate.

[2021-04-30 13:35] shabith commented on #207
Hey @joekitaj did you find a solution for the above problem?

[2021-04-30 16:53] thiagozf commented on #721
I was experiencing the same issue @rhoiyds and @peniakoff had. Looks like it is working fine using`@sls-next/serverless-component@1.19.0-alpha.52`, `next@10.0.5` and `next-i18next@8.1.2`! Here is my setup:

[code]

[code]

[code]

[code]

[code]

[2021-04-30 23:30] ignaciolarranaga opened #1032 "Compilation issue when trying to use RecordTarget with the nextLambdaEdge.distribution on the CDK Construct"
### Describe the bug
The CDK version does not compile when using sourceTargets, for example:
[code]

### Actual behavior
[code]

### Expected behavior
To be able to create the target.

### Steps to reproduce
Just create a sample distribution and try to create an AReccord.

### Screenshots/Code/Logs
N/A

### Versions
Lastest ones currently.
[code]

### Additional context
N/A

### Checklist
- [x] Yo

[2021-05-01 07:07] jvarho commented on #1010
@mattvb91 If you use .env files for your environment variables, Next.js build will fill them in at build time: https://nextjs.org/docs/basic-features/environment-variables

If it's a plugin you use that requires the env vars, that might or might not work. The reference has to be detectable statically. If it does not work, there's nothing serverless-next.js can do about it.

[2021-05-01 07:17] mattvb91 commented on #1010
@jvarho thanks! never occured to me i can of course build it into my deployment step!! thanks again

[2021-05-02 03:46] DeerajTheepshi opened #1036 "Build fails when using serverless, but successful when running next build manually"
### Describe the bug
When I run ```next build``` from my project root, the build runs successfully without any errors. However, after this, when I run ```serverlesss``` or ```npx serverless``` the build fails in 30-50s and reports a build error that says ```Build failed because of webpack errors```

### Actual behavior
I'm using nextjs 10.0.2, and I also tried making code changes and downgrading n

[2021-05-02 14:47] #1010 closed

[2021-05-02 18:08] dphang commented on #1015
Yeah I think this has been brought up before, though I think it is not just a small task because right now the handler uses manifests from just a single Next.js app. We are working to refactor the core handler code to be more maintainable/generic, I think after that we can consider it. Definitely feel free to post some thoughts on how you think the design should be like.

[2021-05-02 18:21] #1027 closed

[2021-05-02 19:25] ignaciolarranaga commented on #995
Guys I think there is a problem with the permissions to write the generated pages in the bucket (at least in my case seems to be that - I'm currently testing to give manual permissions to the defaultLambda).

I'm using:
[code]

And Cloudfront fails with 503:
[code]

By digging into the cloudfront logs of my edge (in this case Sao Pablo / sa-east-1) I found:
[code]

By the way I'm using the CDK Con

[2021-05-02 19:38] kirkness commented on #995
Hi @ignaciolarranaga, this will be fixed in #1028, although you can solve right now using something like:

[code]

[2021-05-02 19:39] ignaciolarranaga commented on #995
Thank, yes, I was about to comment the same :)

Thanks!

[2021-05-03 09:42] flamedmg opened #1038 "Does not build with @sentry/nextjs installed"
### Describe the bug
Does not build with @sentry/nextjs installed, however build just fine with yarn build

### Actual behavior
After following first 2 steps installing @sentry/nextjs
[code]
yarn build works just fine and builds the website, however sls deployment fails

### Expected behavior
Website deploys properly with sentry configured

### Steps to reproduce
[code]

### Screenshots/Code/Logs

[2021-05-03 09:47] flamedmg commented on #1038
I just reproduced the issue by creating empty nextjs app and adding sentry to it. If you want, i can share the project, but i can't share sentry credentials.

[2021-05-03 19:18] dphang commented on #1030
I am not sure about this, it does seems like a permission issue on AWS... it seems like a mismatch between what the deployment expects your function name to be (auto-generated) vs. the actual function names. Maybe can you check `.serverless_nextjs` directory and check so see all the functions, buckets, etc are as expected?

Also does it always repro on a new project? Without that it might be hard

[2021-05-03 19:50] jonahallibone commented on #1015
@dphang Will do. I'll take a look at how the current handler is set up and whether or not I feel qualified to make a suggestion haha

[2021-05-03 21:25] j718 opened #1039 "Add custom next binary location"
**Is your feature request related to a problem? Please describe.**
I can't use yarn berry because it seems that the project tries to find the next binary at ./node_modules/.bin/next

**Describe the solution you'd like**
An ability to provide a custom next binary location.

**Describe alternatives you've considered**
A built in usage on pnp. This would be harder to implement

[2021-05-04 06:35] Friis1978 commented on #1030
@dphang thanks, I will try to setup a whole new project, and see if that will work.

[2021-05-04 11:14] suneg commented on #1030
I believe I have the steps to reproduce the problem. The error is not exactly the same as stated above, but it appears to be the same underlying problem.

NextJS upgrade scenario: 9.5.5 -> 10.2.0
sls-next/serverless-component version: 1.19

1. Clone my small sample from this repo: https://github.com/suneg/serverless-next-issue-1030-repro
2. Run `npx serverless -v` (should complete without errors,

[2021-05-05 10:31] Friis1978 commented on #1038
@flamedmg we had the same issues

[2021-05-06 05:46] jvarho commented on #1030
There is now a third lambda for [images](https://nextjs.org/docs/basic-features/image-optimization). If you define a name for `imageLambda` (see readme) which the role has access to you should be good?

[2021-05-06 08:30] suneg commented on #1030
Thanks for your input @jvarho

I was unable to repro on my small sample project, after I accidentally deployed it using AWS admin credentials. So I tried upgrading my "real" project instead. I added the `imageLambda` property, and that got me past the previous error. Now I was getting...

[code]

I had already specified a named roleArn, so I didn't understand why it attempted to use a generated na

[2021-05-06 14:31] gmontanola commented on #995
Is there a way of solving this outside the CDK Construct scope?

[2021-05-06 16:26] kirkness commented on #1032
Hey @ignaciolarranaga, it kinda looks like you have multiple versions of `@aws-cdk/core` installed somehow? Are you able to check the output of `yarn why @aws-cdk/core` or `npm list @aws-cdk/core` to verify what you have installed and why.

Failing that and out of interest does casting `nextLambdaEdge.distribution as IDistribution` resolve the issue?

[2021-05-06 17:03] flamedmg commented on #1038
@Friis1978 How did you solve it?

[2021-05-06 18:13] Friis1978 commented on #1038
@flamedmg havent solved it yet

[2021-05-06 19:24] dreamchests opened #1041 "Failed to install serverless-component in bitbucket-pipelines with same config as before"
### Describe the bug
First of all thanks to everyone who is maintaining this awesome repo!

Now to our bug: we are using bitbucket pipelines to automate deployment, the latest version of serverless and serverless-next.js. We did not change anything in our setting, however when running serverless, we are getting this error for the last few days:

[code]

I analysed the differences to the previous b

[2021-05-06 22:14] jonahallibone opened #1042 "Keep warm within Cloudwatch"
Hi guys, I have one page in my app requires me to use SSR. We have over 1,000,000 unique profiles (and don't have to resources to try and build a static build pipeline) that could possibly be used in this page. Right now if i visit the page once, it takes ~ 1s to respond, and each time after that is < 200ms. I created a CloudWatch rule in AWS to invoke the `defaultLambda` once every 5 minutes, but

[2021-05-07 07:51] tonychill commented on #1042
Are you aiming to keep the Lambda execution environment alive once a user hits that edge route?

[2021-05-07 11:33] mingbackmountain opened #1043 "AWS Access Denied"
Hi guys, I'm trying to deploy my nextjs application using serverless. However, I have encounter this error and I can not find any relevant solution. Can you please help me?

<img width="971" alt="Screen Shot 2564-05-07 at 18 30 28" src="https://user-images.githubusercontent.com/25886138/117443560-80f30c80-af62-11eb-95c7-95bbf1d79844.png">

Here is my serverless.yml

<img width="634" alt="Screen Sh

[2021-05-07 12:16] jvarho commented on #1042
You can't call lambda@edge from CloudWatch directly. What your config is doing is calling the "source" lambda that gets replicated to each region.

AFAIK you have to make an actual HTTP request through the relevant CloudFront distribution to keep the edge lambda warm. But you'd have to do that from all over the world where you care about users, because every edge location has its own lambda enviro

[2021-05-07 15:10] dreamchests commented on #1043
Hey there,

seems you are missing your AWS credentials to deploy via serverless. Check the [Getting Started](https://github.com/serverless-nextjs/serverless-next.js#getting-started) section, that should resolve it.

If you did, check if they are in the right place. When in doubt and just testing, you can set them inline when calling serverless, i.e.:

[code]

If that is not the issue, you should c

[2021-05-07 21:16] dphang commented on #1042
Yes, the above is correct, unfortunately you can't keep all the edge Lambdas warm that way, only the source one in us-east-1.

I was also trying to reduce cold starts, here are a couple hacky ways:

1. One hack is to create a dummy page that will invoke most of your dependencies. Then you can create a Lambda in each region you care about (or use a proxy). Though this can end up being somewhat expe

[2021-05-08 19:27] elliotcrawford opened #1045 "Ability to set cache behavior for _next/image*"
**Is your feature request related to a problem? Please describe.**
Hello! Is it possible to set custom values for the `_next/image*` CloudFront cache behavior?

I understand you can do:

[code]

Is there an option to target `_next/image*`?

I've tried both `image` and `_next/image*` like so:

[code]

[code]
However both error out during the deploy with:

`Error: CloudFront input failed validation.

[2021-05-09 05:25] dphang commented on #1045
Probably it was missed in an earlier PR, but it should be fixed now in: https://github.com/serverless-nextjs/serverless-next.js/pull/1046

[2021-05-09 05:37] #1045 closed

[2021-05-10 17:57] dphang commented on #1042
Yes you can just use a proxy from a single Lambda, though I guess it may cost more since you have to pay for proxy bandwidth? Lambda has a generous free tier so I was just trying to take advantage of just using the different Lambda regions

[2021-05-10 21:59] dreamchests commented on #1041
Found the problem myself, posting it here for anyone who will need it.

The issue was in the bitbucket-pipeline image, it has to be a node 15 image.

[2021-05-10 21:59] #1041 closed

[2021-05-11 10:32] IamManchanda opened #1066 "Can we enhance this project with CloudFront Functions"
**Is your feature request related to a problem? Please describe.**
No, It is instead an enhancement request

**Describe the solution you'd like**
Please have a look at
https://aws.amazon.com/blogs/aws/introducing-cloudfront-functions-run-your-code-at-the-edge-with-low-latency-at-any-scale/

[2021-05-11 11:02] Industrial opened #1067 "Starting SSR Build... Error"
### Describe the bug
All of a sudden, builds started failing. I am getting this error:

[code]

There is no more output then this. The actual error is not displayed. Nothing changed in Source Control.

Is there anything I can do to enable debug logging, for example?

### Versions
- OS/Environment: AWS Amplify
- @sls-next/serverless-component version: 1.19.1.alpha4
- Next.js version: 10.2.0

### Ch

[2021-05-11 12:11] Industrial opened #1068 "CI compatible output (spinning loader)"
**Is your feature request related to a problem? Please describe.**
Spinning loaders are not supported in all environments, namely CI environments. They log copious amounts of useless output saying "Deploying..."

**Describe the solution you'd like**
Add an option to disable the spinning loader for CI

[2021-05-11 13:22] haapti opened #1069 "CDK Construct - Support for adding Cloudfront behaviors"
**Is your feature request related to a problem? Please describe.**
Currently there is no easy way to add a Cloudfront behaviors for api routes.

**Describe the solution you'd like**
`NextJSLambdaEdge` should have a prop for adding Cloudfront behaviors. There should be also a way to set precedence / priority for added behaviors.

**Current solution**
This is for adding behavior for `api/webhooks` a

[2021-05-11 23:05] dphang commented on #1042
Anyway, I think this can be closed since there are some workarounds..most of the limitations are due to Lambda@Edge itself. Feel free to open another issue if there are other questions.

[2021-05-11 23:05] #1042 closed

[2021-05-12 09:23] pfcodes commented on #1038
hopefully this gets resolved soon

[2021-05-12 16:34] thisismydesign commented on #721
@rhoiyds' approach worked. You can see the same conclusion here: https://github.com/isaachinman/next-i18next/issues/990#issuecomment-795398532

[2021-05-14 23:07] ryanmalesic opened #1071 "Next/Image times out 503"
### Describe the bug
Call to fetch image times out in logs (increasing timeout time doesn't help)

### Actual behavior
503 on request to https://redacted.cloudfront.net/_next/image?url=%2Flogo.png&w=128&q=75
`Task timed out after 3.00 seconds`

### Expected behavior
Image loads on page

### Steps to reproduce
Create Stack
Add image
Deploy

### Screenshots/Code/Logs
All logs above

### Checklist

-

[2021-05-15 02:04] karimkawambwa commented on #184
I tried adding the `env` varaibles to the `apiEdgeLambdaInput` https://github.com/serverless-nextjs/serverless-next.js/blob/master/packages/serverless-components/nextjs-component/src/component.ts#L479-L503

[code]

But I got the error `InvalidLambdaFunctionAssociation: The function cannot have environment variables.`

[2021-05-15 11:06] techexe-code commented on #995
is this resolved ?

[2021-05-15 11:19] ignaciolarranaga commented on #995
@gmontanola what do you mean by "outside the CDK Construct scope"?.
I'm applying the CDK workaround because I'm creating my stack with CDK, it depends how you create your stack the way that you will solve the issue.

The root issue is permissions, let's say, you have to have to grant permissions to the default lambda to write in the bucket.

[2021-05-15 11:24] ignaciolarranaga commented on #721
Guys, is the automatic locale selection working for you guys in AWS/LambdaEdge?
I can access the routes by directly pointing to them but the locale selection/redirection is not working (i.e. it just stays in english, the default).

[2021-05-15 16:38] dphang commented on #721
Are you forwarding the Accept-Language header in CloudFront configuration? This is needed to detect the user's locale

[2021-05-15 18:14] #1032 closed

[2021-05-15 18:38] ignaciolarranaga commented on #721
Yes, that seems to be the problem, I'm checking how to change the Cloudfront behavior (I thought it was done :) )

[2021-05-15 18:48] Arditc commented on #721
So I tried this, and things sadly didn't work as expected.

I added Accept-Language to the nextjs serverless configuration.
When my Language is 'es' and I land on mywebsite.com/
I get redirected to `mywebsite.com/es`
and then I notice an infinite  307 redirects to `/es` after this

After I removed the Accept-Language Header in the serverless configuration, I still see it in Cloudfront  (see screen

[2021-05-15 19:08] ignaciolarranaga commented on #721
On my case it is working as expected, weird.

Leaving the CDK code just in case it is useful for someone:
[code]

[2021-05-15 19:41] Lunnatica commented on #721
It was giving me this error too when using the latest version @sls-next/serverless-component@1.19.1-alpha.7 - but I managed to fix it by downgrading to the latest stable version (@sls-next/serverless-component@1.19.0) and now it works fine.

[2021-05-15 19:57] cjoelrun commented on #843
Is there any way to use something like `postBuildCommands` when using the `@sls-next/lambda-at-edge` `Builder` through the CDK construct library.

[2021-05-15 21:36] ignaciolarranaga commented on #721
By the way, somebody found how to fallback to the most approximate locale?

Example:
[code]
When I hit with `Accept-Language: 'es-ES'` instead of falling back to 'es' it falls back to 'en' (which is a little bit awkward since locale='es' would be much more appropriate). Does it needs to be custom made?, or is there some trick we can use?

[2021-05-15 22:45] Lunnatica commented on #721
@ignaciolarranaga I'm having the same problem. It works fine locally, but not after deploying to production.

[2021-05-16 13:40] MrJadaml commented on #837
I ran into the above issue following the install instructions here: https://serverless-nextjs.com/docs/installation/

So made a PR to update them with the latest version: https://github.com/serverless-nextjs/serverless-next.js/pull/1073

[2021-05-17 08:59] millsp commented on #843
Do you have a repro for me to work on? I can try to figure it out, as I am adding templates for prisma.

[2021-05-17 16:22] davegariepy commented on #1071
hey @ryanmalesic are you using an image stored in the public folder and deploying with CDK? If so I had a similar problem documented in #1004. You can see in some of the logs I posted that the image was not being retrieved when using the next `Image` component.

The logs from lambda edge are stored in s3, maybe you can post some like I did and we can compare.

Thanks

[2021-05-17 16:25] davegariepy commented on #1066
@IamManchanda possibly a use case for rewrites / redirects? I'm not sure how that would map to the _Nextjs way_ though.

[2021-05-18 13:43] jvarho commented on #1066
10KB limit means there isn't much that can be done. The route manifests alone can be larger than that and almost everything useful will require knowing which urls are pages vs. public files. Including most redirect/rewrite logic.

The only things I can think of are domain redirects and basic auth. But those are not something all sites would use and even if you do use them I'm not sure it's better

[2021-05-18 20:03] cweekly commented on #1004
At a glance it looks like your test image has a leading space char: `%2Fphoto.png`. The `%2F` gets re-encoded as `%252F`.

[2021-05-18 22:47] dphang commented on #1030
Wondering if this can be closed right now if the original issue has been solved? @Friis1978

[2021-05-19 04:18] dphang commented on #995
This can be closed since https://github.com/serverless-nextjs/serverless-next.js/pull/1028 was released. Please help try it out and report any bugs in a new issue. Thanks!

[2021-05-19 04:18] #995 closed

[2021-05-19 05:37] Friis1978 commented on #1030
Seems like @suneg solved one of the issues, but im not sure the whole thing is solved.
@suneg can you explain the missing issues ?

[2021-05-19 07:13] suneg commented on #1030
I don't see any problem when using the latest 1.19 release, and using custom names for all three (default, api, and image) lambdas. I suggest closing this issue.

[2021-05-19 12:06] Reiiya opened #1081 "Using getStaticProps leads to RequestEntityTooLargeException"
### Describe the bug
I recently introduced `next-i18next` into my app and it requires that I use `getStaticProps` on every page. Size of my lambda exploded and I hit the dreadful `RequestEntityTooLargeException`.

### Actual behavior
I took a look at what happens in `.serverless_nextjs/default-lambda/pages` and it turns out that if the page has `getStaticProps`, it is included in lambda, therefore

[2021-05-19 17:13] jvarho commented on #1081
Yes, if you have api routes. Look for preview mode in the README.

[2021-05-19 19:25] dphang commented on #1002
Closing old issue, hopefully this has been solved, if not feel free to comment/open a new issue.

[2021-05-19 19:25] #1002 closed

[2021-05-19 19:31] dphang commented on #1081
Yes, please refer to https://github.com/serverless-nextjs/serverless-next.js#the-lambdaedge-code-size-is-too-large for potential solutions. Basically, when API routes are used then we cannot remove all JS files used for prerendering static pages, as preview mode may use any of them.

Right now I think one way is you can use `postBuildCommands` to create a script to remove the JS files you don't wa

[2021-05-19 20:00] Reiiya commented on #1081
I indeed have a single API route. For sanity's sake I did try to delete it but serverless still bundles all pages together. So I assumed there is something else going on I don't understand.

So I was meaning to ask exactly that - if its OK to remove SSG pages at `postBuildCommands`.

[2021-05-20 05:09] #1030 closed

[2021-05-20 06:36] cjoelrun commented on #843
@millsp got something working. serverless-nextjs-js's cdk construct doesn't seem to have a way to have post command.
`
export const nextConfigDir = "."
export const outputDir = "./next-build"
new Builder(nextConfigDir, outputDir, {
  args: ["build"],
  env: {
    NODE_ENV: "development",
    NEXT_PUBLIC_API_URL: `https://${process.env.DOMAIN_NAME}`,
    NEXTAUTH_URL: `https://${process.env.DOMAIN_

[2021-05-20 11:30] talaikis commented on #1038
Works fine with those two:

[code]

[2021-05-20 18:44] tim1uphealth commented on #985
@7ruth did you find a solution? I'm having the exact same error.

[2021-05-20 22:01] Arditc opened #1094 "Unable to debug why serverless command takes more than 700 seconds"
**Is your feature request related to a problem? Please describe.**
Ever since I updated to Nextjs 10.2.0 + latest serverless I have seen issues with the serverless command.
Right now it's hard to see why it takes a long time to run the serverless comannd.

Before updating to the latest versions it used to take about 150 seconds to deploy.

It would be useful to have a environment variable to see w

[2021-05-20 22:21] dphang commented on #1068
Unfortunately I think it is because of the serverless component library, until it is upgraded (or maybe we can fork and patch this specifically) then it will have the output like that in CI environments.

[2021-05-20 22:22] #1068 closed

[2021-05-20 22:22] dphang commented on #1094
Does `serverless --debug` not show you any output?

[2021-05-21 00:51] dphang commented on #1067
Did it happen randomly or did you upgrade Next.js or this component? I've updated the tests to the newest Next.js version as well just now but haven't seen it there or on my own projects.

You should be able to run `serverless --debug` to see more logs. I'm not sure I can help much unless I have a repro, does anyone have a repo with this issue?

[2021-05-21 00:56] dphang commented on #1036
Yes it makes sense because experimental serverless trace doesn't use webpack to bundle, it uses their NFT package (node file trace).

I did see some issues where webpack errors in earlier versions of Next.js 10 were fixed later, you could try to upgrade and see if it works properly afterwards.

[2021-05-21 01:18] dphang commented on #985
Strange, I did not see these chunks, maybe it is a new thing in later Next.js versions. I had just upgraded the e2e test versions (they were on 10.0.2 mostly) and came across this problem as well.

It looks like we'll need to copy the contents of chunks as well.

[2021-05-21 03:26] dphang commented on #1081
Yes, you can remove it that way, it allows you to do any arbitrary action right before deployment, it's meant for adding extra binaries (e.g 3rd party libraries) as needed. I am not sure why it did not remove it but maybe with new Next.js version something changed.

If you have time, a repro repository could be helpful so we can fix this case

[2021-05-21 05:32] dphang commented on #985
Should be fixed by https://github.com/serverless-nextjs/serverless-next.js/pull/1095

[2021-05-21 05:32] #985 closed

[2021-05-21 07:21] dphang opened #1098 "Tracking ISR issues"
Just creating this to track any bugs or issues with the newly-released Incremental Static Regeneration feature -

* Improving e2e tests (flaky tests, more test coverage for locales, basepath etc?)

[2021-05-21 07:27] dphang commented on #1098
@kirkness the ISR tests have been fairly flaky (mostly failing but sometimes 1/3 or 2/3 pass), if you have a chance please take a look otherwise I can check it out later on the weekend: https://github.com/serverless-nextjs/serverless-next.js/actions/runs/863012949

[2021-05-21 07:44] kirkness commented on #1098
Hi @dphang, keen to have a look at this, however, I won't be able to get much time on it until early next week, likely Tuesday.

[2021-05-21 10:05] kirkness commented on #1098
Related: https://github.com/serverless-nextjs/serverless-next.js/pull/1099

[2021-05-21 11:02] damanptyltd commented on #991
Same issue with `10.2.2`.

[2021-05-21 11:05] Reiiya commented on #1081
Thank you!  Removing them by hand will actually settle the issue for me, I'll need the apis in future. I cannot share the repo in question but I will try to reproduce the error in following days.

I'll use this opportunity - huge thank you for this absolutely amazing project! Don't have the skills to jump in myself, but learned quite a bit just by following it.

[2021-05-21 11:36] techexe-code commented on #995
Updated Version `@sls-next/serverless-component@1.20.0-alpha.3`

I need help.
Still, I am facing problem with the page revalidation.

fallback pages :
https://d3vk8t6m4jw2vm.cloudfront.net/post/third
https://d3vk8t6m4jw2vm.cloudfront.net/post/xxx

generated page ```Cache-Control: public, max-age=0, s-maxage=25, must-revalidate``` but api is not called after 60 second. May be SQS has some problem.

[2021-05-21 13:29] probablyup opened #1100 "Error in pathToRegexp for 1.20.0-alpha.3"
### Describe the bug

When bundling with i18n, `target: 'serverless'` and `useServerlessTraceTarget: true` I get an error:

[code]

### Expected behavior
Successful deploy

### Checklist

- [x] You have reviewed the README and [FAQs](https://github.com/serverless-nextjs/serverless-next.js#faq), which answers several common questions.
- [x] Please first try using the most recent `latest` or `alpha`

[2021-05-21 13:34] probablyup commented on #1100
I happens with `useServerlessTraceTarget` removed as well, so I don't think it's an NFT issue.

[2021-05-21 13:37] alessandro-aragosta opened #1101 "roleArn as object"
Documentation define roleArn as string|object, like runtime, but for example:

roleArn:
  defaultLambda: "arn:aws:iam::000000000000:role/defaultRole"
  apiLambda: "arn:aws:iam::000000000000:role/apiRole"
  imageLambda: "arn:aws:iam::000000000000:role/imageRole"

this seams not work with @sls-next/serverless-component@1.19.0 and NextJS 10.2

[2021-05-21 13:38] probablyup commented on #1100
I was looking at the core package and it doesn't seem like `path-to-regexp` is listed as a package.json dependency, so that might well be it.

[2021-05-21 13:39] probablyup commented on #1100
cc @dphang

[2021-05-21 16:14] damianesteban opened #1102 "Command failed with Exit Code 1 - started happening two days ago"
### Describe the bug
Up until two days ago the app never had an issue deploying. Now, I receive the following error:

[code]
### Actual behavior
Please see above

### Expected behavior
The app should deploy

### Steps to reproduce
Run `sls`

### Screenshots/Code/Logs

[code]
### Versions

- OS/Environment: macOS Big Sur
- @sls-next/serverless-component version: most recent
- Next.js version: lates

[2021-05-21 17:23] dphang commented on #1100
Yes, the code was refactored out into core but looked like path-to-regexp was not moved, it's still in lambda-at-edge package which consumes the core package. It's working in e2e tests but maybe the dependency is not properly resolved on your machine. But will add it back there.

[2021-05-21 18:43] #996 closed

[2021-05-21 19:19] #1100 closed

[2021-05-21 19:56] dphang commented on #334
In later versions @kirkness had created a CDK construct to do so: https://github.com/serverless-nextjs/serverless-next.js/tree/master/packages/serverless-components/nextjs-cdk-construct, which I think you can easily extend or customize for your own needs (e.g configuring custom cache behaviors, tags etc.) than the legacy deployer. (Unfortunately I haven't used it much myself yet, so you'd have to

[2021-05-21 20:04] dphang commented on #988
Yes, it should be in the later versions. Please always try latest alpha version if a feature is mentioned in the README but doesn't work, as the README may reflect new changes that may not be in stable versions (or alpha, but I do try to keep alpha publishes up-to-date with master as much as possible). I'll close this now, please open a new issue if there are other issues.

[2021-05-21 20:04] #988 closed

[2021-05-21 20:07] dphang commented on #837
I think this can be closed as the latest versions should have fixed the dependency pinning issues, and I've also published various patches for old versions (in case you can't upgrade yet, but it is recommended you do since there are lots of features or bug fixes since then). Feel free to open a new issue if there are other dependency related issues.

[2021-05-21 20:07] #837 closed

[2021-05-21 22:05] dphang commented on #1102
We aren't depending on mongodb at all, so not sure if it's a problem in this component. Does it work with previous component versions / Next.js versions? Are you able to share any minimal repro of the issue?

[2021-05-21 22:08] dphang commented on #1101
I think roleArn just works for all the Lambdas, like here: https://github.com/serverless-nextjs/serverless-next.js/blob/e7031355d4bf6dcac5bef6009456fbaae1f3b98c/packages/serverless-components/nextjs-component/src/component.ts#L675

Yes it would be good if we can specify a different role for each Lambda, I hadn't prioritized yet that but we can add it for future releases

[2021-05-22 00:36] #1102 closed

[2021-05-22 05:59] dphang commented on #830
Might be you need to forward Accept-Language header. If still does not work after, please open a new issue

I think this one can be resolved since the localization is implemented (hopefully with most of the bugs fixed, except perhaps improvements to better third-party integration with next-i18n etc.)

[2021-05-22 05:59] #830 closed

[2021-05-22 06:00] dphang commented on #1098
No worries, yeah it would be good to add more test coverage. The last few runs seem to not be flaky, though.

[2021-05-22 06:02] dphang commented on #311
I think this can be resolved since we have (experiment) CDK construct which has been implemented, so you can try that and hopefully it makes managing all the resources easier and more configurable.

For other issues like using Lambda@Edge vs. Lambda, I think that was original design and unfortunately the core code has been coupled with lambda-at-edge over the years. However we are working to decou

[2021-05-22 06:02] #311 closed

[2021-05-22 06:08] dphang commented on #415
I think this can be closed. With the CDK construct it should be easier to manage state via the CDK / and you can customize it, and there are other workarounds using the normal deployer (https://github.com/serverless-nextjs/serverless-next.js#cicd-multi-stage-deployments--a-new-cloudfront-distribution-is-created-on-every-ci-build-i-wasnt-expecting-that)..

Though we could possibly still upgrade to

[2021-05-22 06:08] #415 closed

[2021-05-22 06:09] dphang commented on #529
Closing old issue, if this is still relevant or unsolved please feel free to open against the newer Next.js / component versions

[2021-05-22 06:09] #529 closed

[2021-05-22 06:10] dphang commented on #542
Closing old issue, if this is still relevant or unsolved please feel free to open once you've tried the newer Next.js / component versions

[2021-05-22 06:10] #542 closed

[2021-05-22 06:11] dphang commented on #828
Closing old issue, if this is still relevant or unsolved please feel free to open once you've tried the newer Next.js / component versions.

Also 502s can happen I think if the response size is too large, then Lambda truncates it (and results in JSON error)

[2021-05-22 06:11] #828 closed

[2021-05-22 06:12] dphang commented on #804
I think this can be closed save for any bugs which I will track here: https://github.com/serverless-nextjs/serverless-next.js/issues/1098. Thanks all!

[2021-05-22 06:12] #804 closed

[2021-05-22 06:17] dphang commented on #646
I think some of the latest changes may have fixed this as the routing precedence was fixed by @jvarho. Can you try in latest one and see if it works? Then I will close it if it is fixed.

[2021-05-22 06:19] dphang commented on #660
Closing since there is a workaround as mentioned above.

[2021-05-22 06:19] #660 closed

[2021-05-22 06:23] dphang commented on #925
There is just simple example here https://github.com/serverless-nextjs/serverless-next.js/blob/1f64f3678b9142baf3876022c925852969dbc96a/packages/e2e-tests/next-app/serverless.yml but basically you can run any command to execute a script. Basically you might want to use packages like `fs-extra` to copy the right binaries as needed into your Lambda if your code requires them.

I will close it, hopef

[2021-05-22 06:23] #925 closed

[2021-05-22 06:25] dphang commented on #705
I believe this is already fixed by the linked PRs and recent commits, please reopen/recomment in case it is still an issue.

[2021-05-22 06:25] #705 closed

[2021-05-22 06:29] dphang commented on #946
Sorry I did not get to it until now, but wondering if your bucket name contains some special characters or some issue with secret key / access key pair. Maybe try to regenerate it or use a bucket name with regular characters.

[2021-05-22 06:31] dphang commented on #1066
Yes, I think until it is less limited, it may not be too useful for this project (yet). And we need to first fully refactor the core code. But as mentioned it can be useful for redirects/rewrites, basic auth. And maybe for static pages, it may be useful if we can somehow compress/optimized the manifests so it can fit within the 10 KB limitation.

I will keep open for now in case of any ideas

[2021-05-22 06:34] dphang commented on #1043
Yes, please make sure you are setting access keys correctly in the env variables and ensure your deployment user also has all the necessary permissions. From your screenshot it looks like there is some problem accessing S3 bucket.

(Also, one suggestion is to paste the logs instead of using screenshots, as it is more accessible and searchable)

I am closing as assuming it is not issue with this co

[2021-05-22 06:34] #1043 closed

[2021-05-22 06:36] dphang commented on #958
I think you can follow here: https://github.com/serverless-nextjs/serverless-next.js#when-accessing-the-host-header-in-my-ssr-pages-or-apis-i-get-an-s3-domain-instead-of-the-cloudfront-distribution-or-my-domain-name, you need to forward the host header, otherwise it is set to some S3 URL

[2021-05-22 06:36] #958 closed

[2021-05-22 06:39] #960 closed

[2021-05-22 06:42] dphang commented on #991
We fixed some 503 issues due to chunks not being copied in: https://github.com/serverless-nextjs/serverless-next.js/commit/f04fe3419915fddb2c1c898922ade859b42acbcb, wondering if it is related and this issue still occurs in the latest? (sorry, personally haven't been following all the latest incremental versions from 10.1 -> 10.2 too closely, so not sure about the webpack transition to webpack 5)?

[2021-05-22 06:45] dphang commented on #236
I think long-running issue can be closed, the newest versions of Next.js + this component are now fairly optimized and you can also add minification to solve it if it is not enough. Please check the FAQs for related tips on this.

[2021-05-22 06:45] #236 closed

[2021-05-22 06:48] dphang commented on #707
I think it can be closed since there are workaround solutions. For serverless upgrade it is a separate issue which is already tracked in other places...

[2021-05-22 06:48] #707 closed

[2021-05-22 10:45] Arditc commented on #1094
Thank you @dphang! That does the trick 🍾

[2021-05-22 10:45] #1094 closed

[2021-05-22 11:42] Arditc opened #1105 "Infinite 307 redirects on automatic locale detection when upgrading to anything greater than serverless-component@1.19.0"
Hey, there seems to be a bug with the latest serverless component with automatic locale detection.

Nextjs version: 10.2.2.
Machine: Mac OSX

This is my nextjs configuration:
[code]

Here are my steps:

I updated to the latest alpha version of serverless component.
When my Language is 'es' (configured in google chrome settings) and I land on mywebsite.com/
I get redirected to `mywebsite.com/es`
an

[2021-05-22 12:07] Lunnatica opened #1106 "i18n: NEXT_LOCALE cookie being ignored"
### Describe the bug

When setting up a NEXT_LOCALE cookie, the cookie is being ignored and the locale language is not overridden.

This works in localhost, but nothing happens when it's deployed to production.

Cloudfront is receiving the accept_locale header and I've also whitelisted the NEXT_LOCALE cookie.

### Actual behavior
- Set up browser language to Spanish.
- A NEXT_LOCALE cookie is set

[2021-05-22 12:41] ignaciolarranaga commented on #721
Hey, just migrated to 1.9.0-alpha.4 and keeps in loop when not correctly recognize the locale.
For example, My browser by default sends: `accept-language: es-419,es;q=0.9`, this forces the jump to `/es` but later keeps looping over that (like not recognizing that es-419 is Spanish also)

[2021-05-22 13:49] DanielOrtel commented on #210
I'm having the same issue with a monorepo, does this package run `next build`?

[2021-05-22 14:37] DanielOrtel commented on #210
@dphang hey, please reopen this issue. I checked, and the problem is that this package hardcodes the path to the node_modules folder, so in a monorepo environment, where the next binary is hoisted to the root, that command breaks.

Manually symlinking the node_modules in the app folder to the root of the folder fixes this, but this shouldn't be a thing. This should be fixed by the package.

[2021-05-22 23:54] walkafwalka opened #1108 "CDK v2 Construct"
**Is your feature request related to a problem? Please describe.**
The current (experimental) CDK Construct is built using v1 which is incompatible with CDK v2 (also experimental).

**Describe the solution you'd like**
Upgrade CDK Construct to v2.

**Describe alternatives you've considered**
Support both CDK v1 and v2.

[2021-05-23 07:29] dphang commented on #1105
@jvarho I think you refactored this recently, wondering if you know where the bug might be?

[2021-05-23 07:34] jvarho commented on #1105
Yeah, I can guess. I'll see if I can fix it.

[2021-05-23 09:14] IamManchanda commented on #1066
Cool decision @dphang ... cheers 🍻

[2021-05-23 12:02] KrustyC commented on #936
I am experiencing the exact same issue.
My servrless.yml looks as follow
[code]

When I build and serve locally everything works fine, but when I deploy (using the serverless command) and I access my website, everything it's fine for static routes, but API routes and SSR routes all fail with a 503 and when I look into Cloudwatch, this is what I get
[code]

my `next.config.js` is as follow
[code]

[2021-05-23 14:38] katakatataan opened #1111 "1.20.0-alpha4 Version has S3 bucket region bug when bucket region is specfied in config file."
### Describe the bug

When I specify bucket region.
InvaliadParameterValueException error is occured.
like below.
[code]

### Actual behavior

Actual behavior is written in Screenshots/Code/Logs section.

### Expected behavior

ap-northeast-1 region's S3 bucket is created and ISR works.

### Steps to reproduce

### Screenshots/Code/Logs

[code]

### Versions

[code]

[code]

### Additional context

[2021-05-23 17:44] #1105 closed

[2021-05-23 18:28] KrustyC opened #1112 "Can't see logs of Lambda@Edge"
### Describe the bug
I am trying to create a prototype using this package. My `serverless.yml` looks like this
[code]
When I deploy, everything seems fine and I can access the default route which renders absolutely fine. The DynamoDB is also created with no problem. In my app though, I have implemented a small todos API, which has 2 routes, a GET `/api/todos` and a POST `api/todos/new`, as well as

[2021-05-23 19:06] dphang commented on #1106
Yes I think it was missed (not sure how I missed in the docs). We will need to check NEXT_LOCALE cookie as well, I will look to fix for the 1.20 release

[2021-05-23 19:09] dphang commented on #1112
The logs should be in same region from where you accessed the endpoint, since it is Lambda@Edge it is replicated to multiple CloudFront regions. Also ensure sure you are checking right function (there could be 3 for Lambda@Edge: one for API, default and image lambda). For example, I am in Seattle area, even though the Lambda would show as in us-east-1, but actually logs would actually be in us-wes

[2021-05-23 20:28] KrustyC opened #1113 "Support the new Serverless Components syntax"
**Is your feature request related to a problem? Please describe.**
First of all, thanks for the great plugin! I am trying to setup a todos app, to try out the component, and I am facing some issues with using the new syntax of Serverless Components. I am not sure when this syntax has ever been introduced, but it seems as if it's the new way to go with Serverless Components, as it also support dev

[2021-05-23 20:36] erodrig commented on #846
so one year and still nothing, strong community

[2021-05-24 06:41] dphang commented on #1106
Should be fixed by linked PR.

[2021-05-24 06:41] #1106 closed

[2021-05-24 16:38] tim1uphealth commented on #985
@dphang thank you, worked on first deploy!

[2021-05-24 22:51] atrope opened #1122 "503 When deploying to CloudFront"
Hello all,

I am getting a strange 503 error when trying to deploy to CF..
on local dev everything works as it should but when we deploy it gives us 503 with the following error on CloudWatch:

[code]

We already tried with latest stable and latest alpha.

Also tried to remove everything and deploy with

`rm -rf node_modules .next .serverless_nextjs && yarn install && serverless`

but the error is

[2021-05-24 23:28] dphang commented on #1111
The stacktrace above doesn't show it but I assume it is probably this line that fails, since you mention ISR: https://github.com/serverless-nextjs/serverless-next.js/blob/e7031355d4bf6dcac5bef6009456fbaae1f3b98c/packages/serverless-components/nextjs-component/src/component.ts#L555

Wondering if there is some delay in Lambda creation in ap-northeast-1. Do you see the function created at all? Maybe

[2021-05-24 23:32] dphang commented on #1122
This looks very much like https://github.com/serverless-nextjs/serverless-next.js/issues/985, in newer Next.js versions it changed the code splitting logic and `chunks` are output as well. It is already fixed and published in `@sls-next/serverless-component@1.20.0-alpha.4`

If you are already using something on that or greater and it still has issues, can you please compare the `.next/serverless/c

[2021-05-24 23:56] atrope commented on #1122
Hi @dphang,
Again i removed all project and updated to `@sls-next/serverless-component@1.20.0-alpha.7` and now it worked 🥳

I will be closing this issue!

[2021-05-24 23:56] #1122 closed

[2021-05-25 03:21] dphang commented on #559
This can be closed now as revalidate is implemented already (using SQS queue). Please report any issues in: https://github.com/serverless-nextjs/serverless-next.js/issues/1098

[2021-05-25 03:21] #559 closed

[2021-05-25 03:23] dphang commented on #852
I think it can be closed as you can use headers as above, which will override the default cloudfront behavior

[2021-05-25 03:23] #852 closed

[2021-05-25 03:35] dphang commented on #936
@KrustyC  Sorry that I missed this issue, perhaps you can post the contents of the line it failed at in `index.js`, it's hard to understand just from the stack trace. It would be good if you can look into your JS files check that.

If it's similar to in https://github.com/serverless-nextjs/serverless-next.js/issues/819, wondering if those libraries are manipulating `event` and removing some data t

[2021-05-25 06:01] kamillle opened #1123 "Auto-increment destinations of origin-request to latest version of lambda@edge"
**Is your feature request related to a problem? Please describe.**

I tried to modify forward cookie rules of cloudfront by serverless.yml. This way cannot autromatically update lambda@edgy version specified in cloudfront, we have to manually update the version by modifing the code.

[code]

**Describe the solution you'd like**

How about that serverless.yml accepts unqualified ARN of lambda and s

[2021-05-25 06:11] dphang commented on #612
Closing as I think this can be resolved, feel free to open another issue in case of any concerns.

[2021-05-25 06:11] #612 closed

[2021-05-25 06:30] dphang commented on #846
Sorry it was missed, unfortunately I'm the only active maintainer right now (always looking for more!) and maintaining in my free time so I might miss some issues.

I could not repro the issue myself from steps above. @pbassut Do you have a minimal repro repo you can share? from the original stacktrace I couldn't see it erroring out in any code in this component (failure seems to originate from `n

[2021-05-25 06:32] dphang commented on #643
I am not sure but `jimp` is not used in our dependencies at all, so I think it is not related to this component? So it might be some webpack config that isn't playing well with jimp somehow? Might be worth to ask in webpack or Next.js community maybe?

[2021-05-25 06:33] #643 closed

[2021-05-25 06:34] dphang commented on #882
Yes this would be a nice-to-have feature, but we will need to be able to use Rollup to remove these logging statements so they don't bog down the handler. Will keep open as a good first issue.

[2021-05-25 06:36] #646 closed

[2021-05-25 09:13] KrustyC commented on #936
@dphang thanks for coming back to me. After some more debugging, I had to remove webpack5, and that sorted out the issue. I may come back to test it again with webpack 5 and update you here in case I have more issues

[2021-05-25 18:26] #1081 closed

[2021-05-25 18:33] jvarho opened #1127 "Unsupported/partially supported features as of Next.js 10.2.0 and component 1.20-alpha.10"
Here's a list of unsupported features I've gathered so far while working through refactoring:

- [ ] Customer headers, redirects and rewrites are missing the new `has` matching from 10.2: https://nextjs.org/blog/next-10-2#header-cookie-and-query-matching-for-rewrites-and-redirects
- [ ] Rewrites missing the new object format from 10.1 #1003
- [ ] Static 500 page is unsupported: https://nextjs.org/

[2021-05-25 18:51] Arditc commented on #1105
Hey @jvarho and @dphang,
Thanks both for fixing the issue!
I now noticed the same issue infinite 307 redirects when a user has the NEXT_LOCALE cookie setup.
The issue can be seen on the latest alpha version.

What's currently happening:

Give I have the NEXT_LOCALE cookie with the value of `es`
  and defaultLocale of 'en' within the nextjs configuration
When I land on `/`
Then I see the infinite 3

[2021-05-25 19:03] dphang commented on #1105
Yes, I think I forgot to check to redirect only when on the root URI, I will fix it and add some tests for it

[2021-05-25 19:09] Arditc commented on #1105
@dphang I've just seen the MR with the changes! That was speedy! Thank you for looking into the issue.

[2021-05-26 06:47] alessandro-aragosta commented on #1101
thanks for the support, great job.

Daniel Phang ha scritto il 25/05/21 alle 20:38:

[2021-05-27 10:41] myrjola opened #1131 "Rewritten SSR page with dynamic route missing query for default locale"
### Describe the bug

For a localised site, the SSR can't resolve dynamic path parameters for the default locale if the page is a rewrite e.g. `/path-rewrite/slug` -> `/ssr-page/slug`. Adding the locale prefix to the URL fixes this. It also works when running Next.js without deploying it to AWS.

### Actual behavior

The dynamic path parameters e.g. slug is `undefined`.

### Expected behavior

The

[2021-05-27 14:03] vitoorgomes commented on #995
I'm facing the same issue, I was testing with some dumb example creating a new Date() on the staticProps and passing to the component and seeing the time revalidate based on the amount of seconds that I set up, this way is working fine, like it was supposed to. But I'm having the same problem as if the function is not calling the API and refreshing the data, it only happens if I make a new deploy.

[2021-05-27 18:00] #1131 closed

[2021-05-27 21:18] AbhiPrasad commented on #1038
For those of you still encountering this problem, try switching from `target: serverless` to `target: experimental-serverless-trace` in your next config. This helped resolve build errors in our test apps.

We are still taking a look to see if there is a workaround when using the `target: serverless` config option, but so far nothing yet.

See https://github.com/getsentry/sentry-javascript/issues/3

[2021-05-28 00:38] Musashi-Sakamoto commented on #1067
@Industrial
I had the same problem.
Looks like you have to configure your app to be detected as SSG.
https://github.com/aws-amplify/amplify-console/issues/412#issuecomment-849992472

[2021-05-28 08:05] dennisroethig commented on #1112
Yep, it's likely this ☝️ caught be out initially too. AWS isn't really smart when you start looking at their monitoring in the lambda section and your traffic is coming in in a different region. I usually go to Cloudwatch, switch to the region I want to look at, and then search within the log-group for the function name

[2021-05-28 08:15] KrustyC commented on #1112
thanks for the reply! I went to look onto AWS, but I can't find the logs in any region. I am London and I looked for logs (for the API Lambda) in every region in Europe and I wasn't able to find them anywhere. I will keep investigating over the weekend and come back to you if I find something new.

[2021-05-28 08:42] dennisroethig opened #1134 "Unable to catch error in Next.js application when using custom handler"
### Describe the bug
We are using a custom handler and it seems like we can't catch an error coming from the original handler (triggered in the Next.js app). We are able to see the error bubbling up into the Cloudwatch logs, but neither Bugsnag nor a try/catch block seems to recognize them.

I'm not 100% certain that it's an issue within this library but I narrowed down the issue and wanted to sha

[2021-05-28 09:41] dennisroethig commented on #1134
The more I think about it, I get feeling it might be an issue with Next.js handling errors internally and just outputting them as logs? In case it's totally unrelated to this package, how is everyone else in here dealing with error handling on the Lambda side? Are there any elegant workarounds to capture them? 🤔

[2021-05-28 12:23] jvarho commented on #1134
Exceptions are caught before they make it to your custom handler so that [error pages](https://nextjs.org/docs/advanced-features/custom-error-page) can be shown.

You should probably handle them in application code. For example, have a look at how [Next.js sentry example](https://github.com/vercel/next.js/tree/canary/examples/with-sentry) does it.

[2021-05-28 16:31] talaikis commented on #991
Same for `10.2.3`

[2021-05-29 06:02] dphang commented on #1127
Static 500 pages should be supported in: https://github.com/serverless-nextjs/serverless-next.js/pull/1135

[2021-05-29 22:34] MangoChris opened #1137 "Save the CloudFront appUrl to a file post deploy"
**Is your feature request related to a problem? Please describe.**
I need to retrieve the CloudFront appUrl as part of my CI/CD build

**Describe the solution you'd like**
I would like to access the CloudFront appUrl post deploy in a similar way to what can be achieved with Export-Env in regular Serverless or aws-config.js in Amplify

**Describe alternatives you've considered**
Writing a script to

[2021-05-31 00:11] dennisroethig commented on #1134
Thanks for the swift comment, will check that out later today or tomorrow. WIth the default Bugsnag implementation within the app it seems like the lambda shut down before things are sent out, but maybe I missed a part there. Will see if that example brings me closer :)

[2021-05-31 02:51] ignaciolarranaga opened #1138 "The SSG pages throw an error after revalidation"
### Actual behavior
I have a SSG pages deployed to Cloudfront using CDK. The pages are generated correctly the first time, but after the revalidation happen they start failing indicating that a SQS queue is not available (see detail below).

Here is the getStaticProps and getStaticPaths for reference:
[code]

### Screenshots/Code/Logs
[code]

### Versions
I build the web with:
- @sls-next/lambda-a

[2021-05-31 10:17] Industrial commented on #1067
Thanks!

[2021-05-31 10:17] #1067 closed

[2021-06-01 12:15] Miroko commented on #1098
Not sure if I should open an issue about this or write straight to this thread...

We are getting the following debug log information when trying to deploy the `"@sls-next/serverless-component": "1.20.0-alpha.16"` (at the time of writing the latest alpha version) to AWS.

Our deploy script uses an existing serverless state made with previous deployment. That successfully deployed version uses SSR

[2021-06-01 17:52] jvarho commented on #1137
You can already find the url from the templates under .serverless/ – search for cloudfront.

[2021-06-01 20:56] MangoChris commented on #1137
Thanks @jvarho!

[2021-06-01 20:56] #1137 closed

[2021-06-02 14:41] roeniss opened #1146 "S3 static file is not found when filename includes non-alphabet/number"
### Describe the bug

If the file name is affected by [percent encoding](https://en.wikipedia.org/wiki/Percent-encoding), like `서버리스.jpg` (It's Korean), then the webpage can't access that file.

/public/iamges/serverless.png --> properly accessible
/public/iamges/서버리스.png --> Error: `$DOMAIN/public/iamges/%EC%84%9C%EB%B2%84%EB%A6%AC%EC%8A%A4.png Not Found`

I think this is serverless-next.js' issu

[2021-06-02 14:42] roeniss commented on #1146
Oh, I pressed enter by mistake. Let me edit issue.... in 5 minutes.

[2021-06-02 14:44] valurhrafn commented on #1098
Some issues I have come across implementing the ISR functionality:
* Cannot set a specific region in serverless.yml
   * tried setting `eu-west-1` as a region and got an error
* if `trailingSlash: true` is set in next.config.js then the regeneration lambda does not know what file to update and in some cases creates a .html file which gets updates
    * I fixed it by changing the regex in the regen

[2021-06-02 15:19] kirkness commented on #1098
I think its this line which is run on deployment: https://github.com/serverless-nextjs/serverless-next.js/blob/d5bbdc6d395ae732ec0757744482bf8bc25e820f/packages/serverless-components/aws-sqs/serverless.js#L70

I'll put in a fix for this.

[2021-06-02 19:16] ckjoris commented on #1111
i'm seeing same error with 1.20.0-alpha.16, in eu-central-1 region.
[code]

[2021-06-02 19:26] ckjoris commented on #1111
added some logging before `await sqs.addEventSource(regenerationLambdaResult.name); ` in `serverless-next.js/packages/serverless-components/nextjs-component/src/component.ts` but it doesn't seem to go there, no logs printed

[2021-06-03 08:56] a-game commented on #222
I just encountered the same problem with `@sls-next/serverless-component@1.19.0`

Error log:
[code]

[2021-06-03 16:53] dphang commented on #222
@a-game That is due to newer Next.js versions changing their code-splitting, it should be fixed in the latest alpha version (note for future issues please first try to use the latest alpha as it might fix the bug you are encountering)

Also it is recommended to not comment on closed issues (unless its related and was not resolved) as it's hard to track (I might miss the notification as I only get

[2021-06-03 17:10] dphang commented on #1146
Seems like encoding related issues should be fixed in https://github.com/serverless-nextjs/serverless-next.js/issues/822? Though this was released after 1.18. So I think 1.19 and later should have this fixed

[2021-06-03 18:39] Nemo64 opened #1149 "cdk default memorySize and timeout"
### Describe the bug
According to https://serverless-nextjs.com/docs/lambdaatedgeconfig, the lambda@edge runs with 512 mb ram by default.
It doesn't by default though making the default configuration slow at best and timeout at worst.

### Actual behavior
The lambda@edge runs with 128mb with 3 second timeout

### Expected behavior
The lambda@edge should run with 512mb memory and 10 second timeout

[2021-06-03 19:31] aluokkal opened #1150 "Custom handler location"
Bug:

Custom handler is forced to be located in same folder with serverless.yml.

Case 1. This works:

Let's assume we have project root => /build and there we have /build/serverless.yml and custom handler as custom.js.

  inputs:
    handler: "custom.handler"

Case 2. This does not work:

Let's assume we have project root => /build and there we have /build/serverless.yml and custom handler
as /bu

[2021-06-04 00:03] Reiiya commented on #972
I ran into issue that 404.tsx do not work with `notFound: true`, but otherwise nested page errors work just fine (latest version).

[2021-06-04 00:14] Reiiya commented on #972
For me nested routes totally work on latest releases as well. Its just that `notFound: true` somehow does not work as redirect to 404. But it seems that it is next.js issue, because I can reproduce this locally.